[2020-11-30 13:28] avital commented on #690
We should first understand the consequences, but yes that seems like a reasonable path. I think @levskaya had some more nuanced thoughts about what it would take to get to a vmap-first future.

[2020-11-30 15:31] jheek commented on #690
I think we should be careful here as well. VMap does not always make things clearer to understand. It definitely hurts inspectability of modules because the modules inside are no longer vectorized so you would have to re-vectorize them. For example when you use just the decoder from a transformer.

Also the Jax team might still make some major changes with vmap/pmap being replaced by a generic map

[2020-11-30 17:00] henry-prior commented on #692
Thanks for taking a look, you're right I accidentally passed an optimizer somewhere where I meant to pass in the target/parameters. Going to close

[2020-11-30 17:00] #692 closed

[2020-11-30 17:24] Marvin182 opened #697 ""Build" workflow too slow"
Our "Build" workflow now takes over 20min. This means that it takes over 20min to merge a pull request into the master. This is too long to iterate fast.
We should aim to get back down to 10-15min. Main contributors seem to be the tests in the linen_examples. I suggest that we change these to run <5min and also make sure that the example tests all run in parallel.

[2020-12-01 06:45] rwightman commented on #676
@jheek I created an EmaState dataclass and got that working in a less hacky fashion. Still have a bit of an issue, allowing training to start with ema active and then disabling or other way around seems to require custom serialization due to the way None values are handled.

So a question about handling None in either serialized state or target. Is the current behaviour ever correct or useful? On

[2020-12-01 13:14] avital commented on #686
Actually, the workaround I just described doesn't work either, because in `__post_init__`, we set `parent` based on the `module_stack` (which is designed for `nn.compact` methods).

We should try, as part of this change, to set `parent` only when assigning the module to an attribute. I think that will make the workaround described in my previous comment work.

Here is the best workaround I could v

[2020-12-01 13:42] avital commented on #686
See also the discussion on #665

[2020-12-01 14:43] avital commented on #697
See also #639

[2020-12-01 15:40] avital commented on #668
Closed by #669

[2020-12-01 15:40] #668 closed

[2020-12-04 05:24] levskaya commented on #690
I think we should make sure that we support "vmap first" in the sense that the core layers allow for single-example layers/models.  eg. adding our fix to Conv that allows single-example, and maybe a pass-through for batchnorm?

I agree w. Jonathan that I'm not yet convinced we should switch all the models and examples over to this style yet though, esp. given the jax changes coming up, though perh

[2020-12-04 10:10] j-towns opened #705 "Requesting support for arbitrary pytrees of Module params"
As mentioned in the docs, `Module.__setattr__` allows for assigning arbitrary pytrees of submodules in `setup`. I would like to assign a list of `param`s during setup. The following fails:
[code]
with
[code]
Setting the names of each list element manually also fails:
[code]
this gives a different error though:
[code]
Would it be possible for an appropriate name string to be automatically inferred

[2020-12-04 10:42] j-towns commented on #705
A workaround for lists is to define a list of name strings, and then iterate over it, assigning params directly to the Module. This seems to work but obviously is quite cumbersome.
[code]

[2020-12-04 12:38] avital commented on #705
Yes, this exposes a problem with our current design for `setup` (that's related to #686, from a different angle).

Here's the gist of the problem: At what point should parameters (or, in general, variables) be bound (meaning -- have a parent and a name -- giving them a location in the variable tree)? Our current solution says "give it a parent and a name during the call to `self.param` and then wh

[2020-12-04 13:01] avital commented on #705
Hi @j-towns -- could you check if this PR resolves your problem? https://github.com/google/flax/pull/706

[2020-12-04 15:55] j-towns commented on #705
Yes it does, thanks!

[2020-12-04 18:38] andsteing opened #707 "Publish pretrained models for examples"
Publishing pretrained examples on a public GCS bucket would help users to quickly get started with trained models for finetuning, for using them directly for inference etc.

[2020-12-05 05:13] n2cholas opened #709 "Single Device prefetch_to_device"
[`prefetch_to_device`](https://flax.readthedocs.io/en/latest/flax.jax_utils.html#flax.jax_utils.prefetch_to_device) is great when doing distributed training, but can be a hassle for non-pmap use cases since you need to add then remove a dummy sharding dimension at the front. A convenience function to prefetch data onto the device in single GPU training would be helpful.

Also, `prefetch_to_device`

[2020-12-09 13:15] avital opened #719 "`Module.apply` should accept vanilla dictionaries for variables"
Actually the current behavior is a bit strange I agree. We accept a dict of collections but the collections themselves have to be frozen.
It's a little stubborn if the api doesn't just accept a dict here. After all you can just freeze it and it will accept. The api should first freeze the deep-copy the dict before using it thought to avoid potential silent errors!

_Originally posted by @jheek in

[2020-12-10 09:25] andsteing commented on #639
Current timings from test when run on Github:

[code]

[2020-12-10 11:19] bastings commented on #572
FYI will finish this in January after coming back from vacation and moving. Sorry for the wait.

[2020-12-10 13:36] SauravMaheshkar opened #722 "Add Named Entity Recognition Example using Transformers"
### Description of the model to be implemented
I want to implement different variants of the [Transformer Architecture (Vaswani et al., 2017)](https://arxiv.org/abs/1706.03762) perhaps along with [Reformer](https://arxiv.org/abs/2001.04451) or [Performer](https://arxiv.org/abs/2009.14794) for Named Entity Recognition

### Dataset the model could be trained on

[Annotated Corpus for Named Entity Re

[2020-12-11 06:09] VIVelev opened #725 "pytype breaks on macOS"
The following issue relates only to the **development** of *Flax*, not the usage. In essence, it is a *pytype* issue ([Pytype fails on MacOSX(Mojave-10.14.9) when inferring types.](https://github.com/google/pytype/issues/661)), but it negatively impacts the development of *Flax* on macOS.

### Problem you have encountered:

Upon following the instructions from [contributing.md](https://github.com/

[2020-12-11 10:03] jheek commented on #725
We were not aware of the cross-platform issues with PyType before.
We will probably switch to using mypy in run_all_tests by default if it turns out pytype is too brittle.

[2020-12-11 10:28] marcvanzee opened #726 "foo"
bar

[2020-12-11 10:28] #726 closed

[2020-12-11 16:05] VIVelev commented on #725
@jheek @avital Can I try myself in incorporating *mypy* into the workflow and making *pytype* optional? Or is it a task to be done by the Core Team?

[2020-12-11 16:07] jheek commented on #725
A PR is very much welcome actually! Here is the "PR welcome" issuet tracking this: https://github.com/google/flax/issues/688

[2020-12-11 17:16] gmittal opened #728 "Feature request: early stopping for model training"
Opening this feature request based on #711.

### Description of the feature to be implemented
Object to stop training when a monitored metric (e.g. validation loss, etc.) has stopped improving.

### Specific points to consider
- Whether this should live in `flax.training`
- Should this stop the training loop early or should it stop checkpointing early (but continue the train loop)? If so, how shou

[2020-12-12 17:34] avital commented on #659
Hi @8bitmp3 -- just checking if you are looking at this. I'd love to see this in, one of us could do it instead if you're too busy.

[2020-12-12 17:37] 8bitmp3 commented on #659
Hey @avital 👋 Thanks for checking in. It's been a week of NeurIPS2020 😆. I'll show you what I got real soon, can open as a WIP PR 👍

[2020-12-12 17:42] 8bitmp3 commented on #661
@avital I see there're only Adam and Momentum here:
https://flax.readthedocs.io/en/latest/flax.optim.html?highlight=optimizer#optimizers
So, is this about adding more optimizers and/or documenting them? I've done the latter for another OS lib, so can reuse that material. Cheers 👋

[2020-12-12 18:28] #483 closed

[2020-12-12 18:31] avital commented on #452
IIUC, this is no longer an issue in Linen because we no longer have `init_by_shape`. I'll convert this to a discussion for posterity, but if there are any related issues in Linen please feel free to open a new issue.

[2020-12-12 18:31] #452 closed

[2020-12-12 18:37] avital commented on #309
We have (perhaps temporarily, not sure yet) deprecated HOWTOs after the move to Linen, so I'm closing this. We'll be trying to add more short "pattern notes" that aren't formally tested and simply live as small markdown files.

[2020-12-12 18:37] #309 closed

[2020-12-12 18:59] avital commented on #432
Hi @BoyuanJackChen -- I'll close this issue for now since it's been a while. If you can share more details on how to reproduce this issue, we're happy to take a look.

[2020-12-12 18:59] #432 closed

[2020-12-12 19:03] avital commented on #261
At the moment, we haven't ported our HOWTOs to Linen and are considering instead using small design notes for these, so I'll close this issue for now.

[2020-12-12 19:03] #261 closed

[2020-12-12 19:04] avital commented on #260
At the moment, we haven't ported our HOWTOs to Linen and are considering instead using small design notes for these, so I'll close this issue for now.

[2020-12-12 19:04] #260 closed

[2020-12-12 19:15] avital commented on #176
Closing this as it's being taken care of by #231

[2020-12-12 19:15] #176 closed

[2020-12-12 19:15] avital commented on #171
We no longer have `init_by_shape1 in Linen, so I'll close this issue.

[2020-12-12 19:15] #171 closed

[2020-12-12 19:21] avital commented on #161
This is no longer relevant since Linen has landed, so I'm closing this for now.

[2020-12-12 19:21] #161 closed

[2020-12-12 19:25] avital commented on #160
This has been resolved (with an improved shape check) in #530

[2020-12-12 19:25] #160 closed

[2020-12-12 19:26] avital commented on #138
@andsteing Do you know if we've already made this update in the Linen examples?

[2020-12-12 20:13] avital opened #729 "Document common_utils.py and consider reorganizing them."
These utilities are helpful for many models, yet currently undocumented. It's worth also considering whether they should all live in one bucket "utils" file -- instead we could try to group different sets of utilities under a more explicitly grouped set of utilities (e.g. "replication")

[2020-12-12 20:13] avital commented on #156
I'll close this issue because it's related to the old `flax.nn` API and we've now switched to Linen.

@lisa-1010 I filed your comment about common_utils in a separate issue: #729

[2020-12-12 20:13] #156 closed

[2020-12-12 20:35] 8bitmp3 commented on #689
@avital my 2 cents: I noticed that there's some good material in your team's _Linen: a comfortable refinement of FLAX_ doc. For instance, for `### Absorb the Complexity` (like in React):

...all of which kind of revolves around researchers' UX. There're talk of flexibility (composable JAX transformations), functionality (➡️ `### UI Before API`).

[2020-12-12 22:07] avital commented on #661
Yes, we need to add the other optimizers to this list and make sure they have good docstrings.

[2020-12-12 22:07] avital commented on #661
It'd be great if you wanted to give this a shot!

[2020-12-12 22:40] avital commented on #722
Hi @SauravMaheshkar -- we generally don't accept new official flax/examples unless they cover an important new class of models, to make sure that Flax works well for those use-cases. We would love to see such a model, and would be happy to link to an external github repo from https://flax.readthedocs.io/en/latest/examples.html, feel free to file a pull requests against our docs to showcase your mo

[2020-12-12 22:40] #722 closed

[2020-12-12 22:43] 8bitmp3 commented on #661
@avital As for the former - adding optimizers - are you considering porting the common optims like RMSProp, Adagrad, etc from [`jax.experimental.optimizers`](https://jax.readthedocs.io/en/latest/_modules/jax/experimental/optimizers.html)?

[2020-12-12 22:46] avital commented on #661
We have those, they're just not documented: https://github.com/google/flax/tree/master/flax/optim

[2020-12-12 23:03] avital commented on #658
This is the last remaining way that people accidentally start using `flax.nn` so we should do this soon. The one issue is that we haven't ported LM1B yet. The easiest thing is to keep an `examples/lm1b/deprecated` directory with the `flax.nn` implementation until we have some way to train LM1B in Linen -- either as a standalone example, or as a configuration option for the WMT example as @levskaya

[2020-12-13 10:08] andsteing commented on #520
This is a duplicate of #707

[2020-12-13 10:08] #520 closed

[2020-12-14 02:18] BertrandRdp commented on #661
Hey, actually we have a PR for this issue #672 that was missing review (only adressing RTD and some docstrings). Thanks for working on Adam!

[2020-12-14 02:31] 8bitmp3 commented on #661
That's awesome 👍 @BertrandRdp Let's have your PR reviewed first (@avital PTAL https://github.com/google/flax/pull/672) - you address more things and throw a wider net, including the addition of `autoclass` for all optims so that users can see them on the site. Then, we can add Adam-only stuff (a chunk of a docstring from https://github.com/google/flax/pull/733). I'm planning to update all optims o

[2020-12-14 10:03] jheek commented on #658
I think lm1b also uses a deprecated tokenizer? I guess it would stop working anyway?

[2020-12-14 10:08] keunhong opened #735 "Gradient and Jacobians inside a Module"
I'd like to compute gradients and Jacobians inside a module e.g., compute the Jacobian of the outputs of an MLP wr.t. the inputs.

Currently, using the vanilla `jax.jacfwd` does seem to work as intended:

[code]

but it would be nice to be able to 'wrap' a module to compute the Jacobian/gradients of the module the same way you can with `nn.vmap` (with the option to return both the output and the J

[2020-12-14 10:47] andsteing commented on #658
IIRC @levskaya mentioned recently that he would refactor the `wmt` example so it can also be used as a `lm1b` LM.

so moving to `.../deprecated` and then deleting once `wmt` is updated SGTM

[2020-12-15 06:18] levskaya commented on #658
Yeah I'm porting and combining lm1b into wmt example right now to minimize pointless code duplication (it just results in two training loop implementations in the example vs cloning all the modeling code).  It's pretty far along I just need to test a bunch of stuff.

[2020-12-15 20:19] andsteing commented on #639
@avital is there a way to see Github VM CPU usage during the build workflow? How many cores do we have?

When running locally, expensive tests like `wmt` and `imagenet` that make most of the test time max out a single core, so parallelizing would only make sense if we have multiple cores on Github.

[2020-12-15 20:49] avital commented on #639
My guess is that the default is one cure, but I'm not sure. Looks like we can use ["self-hosted runners"](https://docs.github.com/en/free-pro-team@latest/actions/hosting-your-own-runners/about-self-hosted-runners) if we want to.

@jheek knows more than me about GitHub actions, maybe he knows how we can find the VM specs for the free GitHub action build machine

[2020-12-16 09:48] jheek opened #739 "Pooling layers still assume batch dimension"
The standard modules (Conv, Dense, attention...) all work with and without batch dimension to support the single example model pattern. However, pooling layers still enforce a batch dimension and there's no easy way to pool a single input at the moment.

[2020-12-16 14:58] jheek commented on #639
The specs of the machine seem to be 2 Cores with 7Gb ram.
We could start using `pytest -n auto` to automatically parallelize to the number of CPUs available.

[2020-12-16 15:14] jheek commented on #639
I also noticed we are spending most time compiling. I'll try disabling the heavy LLVM optimization in the longer tests

[2020-12-16 15:44] jheek commented on #639
Filed #741 for disabling LLVM optimization in some tests

[2020-12-17 09:59] marcvanzee commented on #729
I'll take a look at this!

[2020-12-17 10:58] avital commented on #739
(See #690 for broader context)

[2020-12-17 11:01] avital commented on #728
Curious how this relates to [CLU](https://github.com/google/CommonLoopUtils) library (cc @andsteing @Marvin182)

[2020-12-17 11:03] marcvanzee commented on #728
Copying @jheek comments from PR #711 for reference:

"My suggestion would be to consider the following though:
We generally try to avoid "inversion of control" APIs (a somewhat vague term). In this case the EarlyStopping class takes control of checkpointing even though it only adds the logic to decide whether we should stop or not.
I think a proposal that decouples checkpointing from the early sto

[2020-12-17 11:07] avital commented on #728
My main question is whether we need `EarlyStopping` to itself call `save_checkpoint`. Is there a simple way to devise an API that simply returns true/false as to whether training should stop? Then adding it into an existing training loop is just adding two lines regardless of how that training loop was handling checkpointing.

What do you think @gmittal? Would you be OK trying this out and showing

[2020-12-17 11:11] marcvanzee commented on #728
It would be useful to shows how your code works somewhere, perhaps in an example, or just with a test.

[2020-12-17 11:15] avital commented on #725
@VIVelev do you want to give a shot at making pytype optional and getting mypy running on Flax? We are discussing with the pytype team in Google as to why it passes internally but fails externally, but probably using mypy in OSS is a better idea anyways. If you want to give it a shot, feel free to do so! Nobody on Flax Core is currently looking at mypy.

Is it better to keep the conversation about

[2020-12-17 11:17] avital commented on #709
Hi @n2cholas -- very sorry for the late reply! I'll rope in @jheek who has thought about this much more carefully.

[2020-12-17 11:18] #705 closed

[2020-12-17 14:24] avital opened #742 "Add best practices page for using JAX transformations like `jit`, `pmap`, `vmap`"
Originally discussed in https://github.com/google/jax/discussions/5199

[2020-12-17 15:04] avital opened #743 "Add documentation/patterns/abstractions for printing from within a jitted function"
Build on top of JAX's `id_print`

[2020-12-17 15:05] avital opened #744 "Port an internal"

[2020-12-17 15:06] avital opened #745 "Release a "JAX profiling and debugging" Colab"
cc @levskaya who wrote one that may be ready to release

[2020-12-17 15:08] avital opened #746 "Describe pattern for extracting intermediate outputs"
One can use a new variable collection named "intermediate" to expose intermediate values of a module with only small code modifications. We should write a short pattern note about this.

[2020-12-17 15:11] avital opened #747 "Write note about how to guarantee fully reproducible runs"
cc @Marvin182 who has some notes on this. Need to think about reproducible use of RNGs and reproducible datasets (especially given preemption).

[2020-12-17 15:12] avital opened #748 "Port any recent changes to flax/examples to flax/linen_examples"
We should do this before we remove flax/examples in #658

[2020-12-17 15:13] avital opened #749 "Add "DotGetter" style variable and submodule accessors?"
This would allow accessing variables defined in a `nn.compact`-wrapped method via `module.kernel` rather than `module.variables['param']['kernel']`

Notably, we already have a check that disallows defining variables with the same name in different collections, or submodules with the same name as a variable, so this should be safe.

[2020-12-17 15:15] avital opened #750 "Consider "bound modules"/"interactive mode""
Currently, Flax modules are generally "unbound" -- they are just wrappers around attributes that expose purely functional methods. But we could easily support a `module.bound(variables)` method that returns a bound module on which you can call methods directly. The question is what to do with mutable collections, e.g. "batch stats".

Leaving this issue here to clarify intent, but the next step is

[2020-12-17 16:29] VIVelev commented on #725
@avital Yeah, gladly. I am currently working on it in my spare time. But, isn't using both mypy and pytype a bit redundant? I mean, if Flax passes mypy, shouldn't it also pass pytype, at least at a sufficient level.

I agree with the issue coordination.

[2020-12-17 17:18] #739 closed

[2020-12-17 18:06] gmittal commented on #728
@avital: One thing that might be worth exploring is having `EarlyStopping` as an iterator that we wrap around the training loop and have that terminate early when the validation metric does not improve:

[code]

I'll put together a couple of examples and post them here soon.

[2020-12-17 19:17] Marvin182 commented on #747
If anyone it interesting in this feel free to drop a comment. The current solutions work but aren't as user friendly. Stay tuned for a better API that is easy to use :)

[2020-12-17 20:46] avital commented on #725
pytype and mypy differ in various fine details, but we need pytype to pass for the internal Google build system. Looks like Google-internal pytype and open source pytype also differ in some ways, though.

[2020-12-18 14:34] kamalesh0406 opened #753 "Differentiate between Adam and AdamW Optimizer"
I have noticed that the code for the Adam Optimizer is actually implementing the weight decay in a manner similar to the one proposed in the [AdamW](https://arxiv.org/pdf/1711.05101.pdf) paper. Should we write it as two different methods if someone wanted to test their models with Adam Optimizer rather than AdamW?

[2020-12-18 14:40] 8bitmp3 commented on #753
+1 @kamalesh0406

DeepMind's Optax library (JAX) also includes Adam and AdamW (https://github.com/deepmind/optax/blob/master/optax/__init__.py) and PyTorch has `torch.optim.Adam` and `torch.optim.AdamW`.

[2020-12-19 12:46] yashkhasbage25 commented on #623
Hi I wish to contribute to flax. Since this is labeled as "good first issue". Shall I take up this?

[2020-12-21 17:19] sxjscience opened #756 "Example about different learning rate for different layers"
First of all, thanks for writing this amazing package! I'm recently trying out flax linen and find it's really easy to use. For my use case, I'm going to implement the layerwise decay learning in the BERT finetuning. Basically, I will need to assign smaller LR to layers that are closer to the input, as described here https://github.com/google-research/electra/blob/f93f3f81cdc13435dd3e85766852d00ff

[2020-12-21 18:34] gmittal commented on #728
@avital @marcvanzee I've rewritten `EarlyStopping` as an iterator and have pushed some simple tests as well: https://github.com/google/flax/pull/711/files

[2020-12-22 09:53] jheek commented on #728
What is the benefit of writing this as an iterator?

I would expect a simple api that can do 3 things:
1) `did_improve = early_stop.update(...)` - incorporate eval metric and return True if it's the best one so far.
2) `early_stop.should_stop` -- tells me if the early stop criteria is met.
3) EarlyStop itself is a flax.struct.dataclass which can be part of a checkpoint.

The train loop would look

[2020-12-22 18:01] cgarciae opened #762 "Framework agnostic layers"
Recently Jraph came out with some functional framework agnostic layers and that got me thinking that maybe it would be nice if as a community we could have some functional framework-independent layers that all frameworks could build their framework specific layers on-top.

This could include:
- Parameter initializers
- Pure functional layers
- Regularizers
- Losses
- Metrics
- etc

Basically all t

[2020-12-23 11:19] jheek commented on #762
Too a large extend I think the JAX ecosystem is already moving in this direction. For example activation functions and initializers used to be part of every NN library but now they are part of jax.nn. Another great example is  [CLU](https://github.com/google/CommonLoopUtils) which helps with metric reporting and other common training loop utilities.

In general I think that because JAX is function

[2020-12-24 05:55] rwbfd commented on #753
If I am correct, setting weight decay to 0 you will get back to Adam. It has been a while, I might be wrong

[2020-12-24 13:00] Daulbaev opened #765 "Linen: error with self.name in setup function"
Hello! I was exploring the new Linen API and found an error.
This is a toy example that differs from the tutorial in only two lines in the `setup` function ([colab](https://colab.research.google.com/drive/1_QXgzZGoKHzWjgaGJNO-xrQV3OvNgrU7?usp=sharing)):

[code]

The error message:
[code]

[2020-12-24 14:54] #765 closed

[2020-12-24 15:01] #762 closed

[2020-12-25 07:56] #744 closed

[2020-12-26 01:26] gmittal commented on #728
Thanks for the feedback. I've updated the object definition and tests accordingly.

[2020-12-26 16:34] rwbfd commented on #753
I think you should use an option for whether to degrade to SGD. Then it should be equivalent.

[2020-12-28 23:28] sjmielke opened #769 "Reading incorrect memory on TPU (ft. `flax.linen.transforms.scan`)"
### Problem you have encountered:

Simple RNNLM-esque example (based on distributed seq2seq example) seems to read wrong/unallocated memory, resulting in nondeterminism on Google Colab TPUs. Using `flax.linen.transforms.scan` and `jax.value_and_grad`, both seem necessary to get this behavior, as is the sketchy looking use of multiple LSTM cells after one another (`LMCell.__call__`)...

### What yo

[2020-12-29 14:53] avital commented on #746
This is being done as #771

[2020-12-29 15:03] avital commented on #769
Hello and welcome @sjmielke! Wow, this is an odd issue, let me ask some folks that know more about JAX and TPUs to see if can start teasing this apart. A bunch of folks are on vacation now, so perhaps it will take a bit of time.

Have you been able to find any workaround? Or are you using GPUs for now?

[2020-12-29 15:09] avital commented on #769
I tinkered with your Colab and by adding `jax.jit` outside of `jax.value_and_grad`, it seems to work. (I changed `__call__` to use `jnp.ones` so that I see a non-zero value). Not the most satisfying answer, but please let me know if this unblocks you.

[2020-12-29 15:14] sjmielke commented on #769
Interesting... First of all I should've said I'm not in a hurry at all---there's plenty other stuff to be done for this project, I probably got some old pretrained RNNLMs lying around I can just swap in and even if not GPUs are indeed just fine for training the little LM I need---but thanks for the quick take up!

My predominant worry with this issue is that this looks like I did something I "wasn

[2020-12-29 15:26] avital commented on #769
Nothing seems obviously wrong to me in your code, though I've never personally trained an LSTM! I'm assuming you plan to actually pipe through inputs to your layers (now you seem to be defining the inputs as parameters inside of them?)

All built-in modules use shape inference. In this case, `LSTMCell` deduces its output parameter shapes based on the last dimension of the hidden state passed in, a

[2020-12-29 15:59] sjmielke commented on #769
Yeah, the original code had a bunch more complexity and was vmapping and all of that fun, I tried to reduce as much as possible, hence the nonsensical setup ;)

And of course, the hidden states! I had completely forgotten, those *do* determine things! Nice! Thanks!

[2020-12-29 19:50] avital opened #780 "Write design note about variable dicts, different variable collections, and the `mutable` argument to `Module.apply`"

[2020-12-29 21:10] avital opened #782 "Write design note on `nn.compact` and shape inference"

[2020-12-29 21:32] avital opened #783 "Port checkpointing HOWTO off of old diff system"
And instead, use a standalone doc with tests like in #771

Here is the old (pre-Linen) HOWTO diff, for reference: https://github.com/google/flax/blob/master/howtos/diffs/checkpointing.diff

[2020-12-29 21:34] avital opened #784 "Port distributed training HOWTO off of old diff based system"
And instead, use a standalone doc with tests like in #771

Here is the old HOWTO diff, for reference: https://github.com/google/flax/blob/master/howtos/diffs/distributed-training.diff

[2020-12-29 21:35] avital opened #785 "Port ensembling HOWTO from old diff based system"
And instead, use a standalone doc with tests like in #771

Here is the old (pre-Linen) HOWTO diff, for reference:
https://github.com/google/flax/blob/master/howtos/diffs/ensembling.diff

[2020-12-29 21:35] avital opened #786 "Port Polyak Averaging HOWTO from old diff-based system"
And instead, use a standalone doc with tests like in #771

Here is the old (pre-Linen) HOWTO diff, for reference:
https://github.com/google/flax/blob/master/howtos/diffs/polyak-averaging.diff

[2020-12-29 21:36] avital opened #787 "Port scheduled sampling HOWTO from old diff-based system"
And instead, use a standalone doc with tests like in #771

Here is the old (pre-Linen) HOWTO diff, for reference:
https://github.com/google/flax/blob/master/howtos/diffs/scheduled-sampling.diff

[2020-12-29 21:37] avital commented on #660
Split into issues:
#785
#787
#786
#784
#783

[2020-12-29 21:37] #660 closed

[2020-12-29 21:45] avital opened #788 "Improve Documentation: Add MutliOptimizer documentation to RTD"

[2020-12-29 22:25] avital opened #789 "Add links to fine-tuning examples (e.g., HuggingFace)"
May be good to first resolve #686

[2021-01-04 21:40] rwightman commented on #753
@kamalesh0406 FWIW you get normal Adam behaviour if you set weight_decay arg to the optimizer to 0 (the default) and apply L2 penalty (if desired) to the loss.

I think a pattern where weight_decay applied in the optimizer == decoupled decay (AdamW/SGDW style), otherwise apply L2 (or other) penalty to loss (TF/Keras style) would make sense. You'd have less duplication of optimizer code like you ge

[2021-01-05 15:05] PhilipVinc opened #805 "Complex-valued layers (e.g: dense)"
Hello.
I am one of the main contributors of the [netket](https://github.com/netket/netket) project, a machine-learning for quantum physics package.
Together with other developers, we have migrated most of our code to jax, and I am considering to deeply integrate with flax too.

Note: this issue is a sister issue to [jax#5312](https://github.com/google/jax/issues/5312)

However, in netket we make e

[2021-01-06 09:53] jheek commented on #805
I don't think anyone considered complex valued networks before. But I don't see a reason why they should not work.
As far as I can see `jax.random` and `jax.random.initializers` always generate real valued arrays.

In Flax we let the initializer decide the dtype of the paramaters. The dtype of a Module determines only the dtype of the output. This makes sense for most use cases because typically w

[2021-01-06 10:08] PhilipVinc commented on #805
Thanks for chiming in.

Indeed Flax works just fine with complex parameters, but that is not my problem: in quantum physics we often mix and match several layers, some of which are only real, some of which have complex weights, and it would be handy if it was easy to only specify a complex `dtype` and let flax dispatch to a different initialiser.

I see now what dtype is supposed to mean, thank yo

[2021-01-06 11:18] jheek commented on #805
We might end up making dtype more advanced at one point. One could imagine having a FlaxDType that has a .compute_dtype and .param_dtype (and potentially more). In that case we could prompte simple dtypes to the flax variant whenever a normal dtype is passed to a layer.

On a more pragmatic node: One way to avoid cumbersome repetition of keyword args is to use partial application of Modules. So fo

[2021-01-06 15:50] jheek commented on #769
Looks like an XLA TPU bug to me.
A pretty strange one though. I can reproduce it only with the number of LSTM stacks being >= 3.
Using jit seems like a sensible workaround but it is good to report this bug with the repro to JAX as well so they can take a closer look at the miscompilation (or autograd bug but that seems unlikely to me).

LSTMs are a little funny because the output features can be i

[2021-01-06 16:07] avital commented on #769
@blakehechtman suggested that it may be a silent TPU OOM bug that isn't captured correctly. @jheek 's point about it not reproducing with smaller nets may suggest this as well. Probably the 20000x20000 array, the negative and the log are filling up device memory (1.5GB each)

[2021-01-07 15:35] andsteing commented on #756
Hi Xingjian

Did you have a look at the `MultiOptimizer`?

https://github.com/google/flax/blob/e9ccc3945e2085b45504306f0b01f9065067a742/flax/optim/base.py#L395-L417

This lets you specify different optimizers (or the same optimizer with different learning rates) for different parts of your model.

I don't think we currently use it in any of the examples, but that we might add it eventually.

[2021-01-07 15:45] sxjscience commented on #756
No, I haven't found this class but thanks for offering this pointer!

[2021-01-07 17:19] sxjscience commented on #756
FYI @Cli212

[2021-01-08 06:57] Cli212 commented on #756
Thanks for mentioning, this is very helpful to me.

[2021-01-08 17:57] chris-tng opened #818 "Declare linen submodule in dataclass-style?"
Hi all,

First of all, thank you for your work on flax. This is not an issue but a question.

As a pytorch user, sometimes I want to create a submodule, then pass it as an attribute to another module. This is quite common because people want to have flexibility about how to pick submodules and assemble them into the model. For instance:

[code]

the modules are defined as

[code]

However, this fa

[2021-01-10 01:17] patrickvonplaten opened #821 "[flax.linen] Disable dropout in SelfAttention dynamically when using `setup`"
### Problem you have encountered:

Dropout allows to be enabled/disabled within the forward call since `flax.linen.Dropout` accepts the boolean `deterministic` in its `__call__` function, see: https://flax.readthedocs.io/en/latest/_modules/flax/linen/stochastic.html#Dropout .

However the `flax.linen.SelfAttention` class does not allow its dropout layer to be enabled/disabled in the `__call__` met

[2021-01-11 06:11] avital commented on #697
#737 and #741 seems to have improved things. Looks like tests now take 11m15s (e.g. https://github.com/google/flax/actions/runs/474491706). And we'll soon be removing `examples/` (#801) which will make things even faster. So I think we can close this issue.

[2021-01-11 06:11] #697 closed

[2021-01-11 07:41] Marvin182 commented on #658
From my side it would be good to make this change this week. I don't plan to submit any changes to the examples (that could create merge conflicts).

[2021-01-11 21:08] avital commented on #658
OK. I will probably just re-make this PR with the most recent changes indeed in the next few days.

[2021-01-11 21:52] avital commented on #818
Hi @chris-tng -- this is unfortunate and indeed clearly is a surprising and bad user experience. I wonder if we can find a clean way to fix this generally and still preserve some of the guarantees we currently have, and this may interact with  #686 (which will be a pretty serious change), so I'm not sure off the top of my head what the full solution is.

In the meanwhile, here's a workaround that

[2021-01-11 22:27] avital commented on #769
I'll close this since JAX is the right place to discuss this, and there's a workaround for now. (https://github.com/google/jax/issues/5355). Thanks @sjmielke for reporting!

[2021-01-11 22:27] #769 closed

[2021-01-11 22:55] chris-tng commented on #818
Hi @avital ,

Thanks for your reply. Indeed, it's working

[code]

Personally, I find this is a bit hacky not a great user experience, since I find myself passing around "big" module like

[code]

If we have many hierarchy of modules, this makes the code hard to read with many nesting functions.

I skim through the proposal in #686  , the idea is appealing to me. It would be great to have `setup()

[2021-01-11 23:05] avital commented on #818
Let's not close this issue just yet -- I'd like for whoever works on #686 (probably me or @jheek) to keep this use-case in mind.

I agree this is suboptimal. It may be solvable separate from #686.

[2021-01-12 03:43] Zhu-haow opened #825 "How to freeze layer or detach a layer in training stage."
I have read the flax and jax docs. I have not found api can be used to freeze or detach some layers in training stage.
In pytorch, this api is attribute 'require_grad'. In keras, this api is attribute 'trainable'.
My mission is freeze some layers in my model at beginning and train the whole model after a while. So I need to freeze some layers and avoid parameters update.

Does there any examples o

[2021-01-12 03:44] AkashGanesan opened #826 "Gradient accumulation on the linen WMT example."
Hey, we'd like to accumulate gradients.  Is there a barebones example (for  multi-GPU training) for this that we can follow?

### Description of the model to be implemented
Transformer-base.  Potentially other transformer models as well.

### Dataset the model could be trained on
WMT.*

### Reference implementations in other frameworks
https://stackoverflow.com/questions/53331540/accumulating-grad

[2021-01-12 03:45] AkashGanesan opened #827 "Gradient accumulation example on WMT"
Hey, we'd like to accumulate gradients.  Is there a barebones example (for  multi-GPU training) for this that we can follow?

### Description of the model to be implemented
Transformer-base.  Potentially other transformer models as well.

### Dataset the model could be trained on
WMT.*

### Reference implementations in other frameworks
https://stackoverflow.com/questions/53331540/accumulating-grad

[2021-01-12 06:30] murphyk opened #828 "typos in mnist example"
I have some very small suggestions for cosmetically improving this example:
https://github.com/google/flax/blob/master/linen_examples/mnist/train.py

- line 31, 122: onp -> np

- line 55: `init_shape = jnp.ones((1, 28, 28, 1), jnp.float32)` is not a shape tuple, it's a tensor of data.
Consider renaming to `init_val' or `input_val`.

- line 131. ` eval_model(model, test_ds):`. The model argument is

[2021-01-12 07:02] andsteing commented on #827
here's a simple example gradient accumulation from the `vision_transformer` codebase:

https://github.com/google-research/vision_transformer/blob/ba9a85bdc430daf4da7b9da67b486a4e0f5bb278/vit_jax/train.py#L63-L66

[2021-01-12 09:53] PhilipVinc commented on #805
I'm still experimenting and i think that at the moment the situation it's quite a bit messy :

The `__call__` code for dense is:
[code]
 - If I don't change `dtype`, but initialise the parameters to be complex, I get a warning telling me that the imaginary part has been ignored, due to that `jnp.asarray` call. I think that if you explicitly initialised the weights to be complex, you don't want the

[2021-01-12 10:16] PhilipVinc opened #830 "Dataclasses: `struct.field(pytree_node=False)` with default value"
Is it possible to define a dataclass with a default value on a field which is not a `pytree_node`?

for example

[code]

[2021-01-12 10:28] PhilipVinc commented on #830
Nevermind, I had not realised that you are just forwarding to python's dataclasses module so it is `default` instead of `default_value`

[2021-01-12 10:28] #830 closed

[2021-01-12 16:42] DiffeoInvariant opened #834 "ONNX support"
Hi Flax devs--I would like to be able to convert Flax models to and from ONNX (my group is considering using Flax as our default neural network library, but we need to be able to convert our models to ONNX). I found a template for converting ONNX to XLA at https://github.com/google/jax/blob/master/examples/onnx2xla.py, but I couldn't find any indication that Flax models can be converted to ONNX. I

[2021-01-13 03:56] AkashGanesan commented on #827
Thanks!! That worked!

[2021-01-13 03:56] #827 closed

[2021-01-13 09:58] jheek commented on #834
It's unclear to me at this point whether there's anything to gain from adding ONNX support at the Flax level.
Once Jax support a transformation to ONNX, All Flax models should be supported as well.

As your example indicates there has at least been some effort to support onnx -> XLA in Jax. The reverse shouldn't be too difficult either.
You could also use the more indirect Jax -> tf -> onnx. The j

[2021-01-13 09:59] #834 closed

[2021-01-13 14:17] avital commented on #821
Hi @patrickvonplaten -- this is precisely what has been discussed in #683. (See the proposal doc here: https://github.com/google/flax/blob/ca7d13ccb73d81724de1f106f47730cb2fab96cc/docs/notes/parameters.md). I think that proposal would resolve your concern, if so maybe you could write a quick comment there and we can close this issue. If there's more to do, please let us know.

[2021-01-13 14:19] avital commented on #821
Hi @jheek -- assigning this to you, a vote in support of #683

[2021-01-13 15:13] patrickvonplaten commented on #821
Hey @avital,

Yes this PR definitely proposes a design that if applied to `SelfAttention` would solve the problem :-) I commented on the PR. Thanks!

[2021-01-13 15:44] #674 closed

[2021-01-13 16:18] avital commented on #821
Out of curiosity, in your example, have you considered having `deterministic` also be an attribute in `DummyAttention`? In PyTorch I guess each module has a top-level hidden state -- train vs eval, but you could assume that you module has those defined explicitly at the top and piped through?

[2021-01-13 16:31] patrickvonplaten commented on #821
or am I missing something?

In Pytorch one can just switch by doing:

`model.train()` or `model.eval()`

[2021-01-13 16:38] avital commented on #826
Looks like this was answered in #827

[2021-01-13 16:38] #826 closed

[2021-01-13 16:43] avital commented on #821
Yes precisely, PyTorch "solves" this with hard-coded mutable state (train vs eval) which is both incomplete (what if you have a third mode?) and also a bit dangerous (what if you forget to switch between the modes).

@jheek also makes the point that if you have a bound module instance that you tinker with in Colab it's pretty weird to have to clone the instance and replace the variables with the v

[2021-01-14 15:38] avital commented on #828
This will be fixed by #829

[2021-01-14 15:38] #828 closed

[2021-01-14 15:53] avital commented on #825
Hi @Zhu-haow, BTW we typically use [GitHub Discussions](github.com/google/flax/discussions) for questions.

Take a look at the `focus` argument to [`OptimizerDef.create`](https://flax.readthedocs.io/en/latest/flax.optim.html#flax.optim.OptimizerDef.create). You can easily define Traversals using [`optim.ModelParamTraversal`](https://flax.readthedocs.io/en/latest/_modules/flax/optim/base.html#Model

[2021-01-14 15:53] #825 closed

[2021-01-15 11:15] GJBoth opened #844 "Mutable / Unmutable state when training"
Hi Flax team,

I'm working on a model with an internal state which gets updated during training. When calling the model during validation, I do not want to update these variables. I could technically introduce a training variable, but I feel it could be more elegantly (and much simpler!) by simply checking if a state is mutable:

1 ) Is there an easy way to check if a variable is mutable, so that

[2021-01-15 13:19] jheek commented on #844
The code for this is already there it is just not exposed as an API. This will be pretty easy.

We decided not to return state that isn't updated. the reasoning is that it becomes easy to accidentally store the same variables twice or return a copy of variables from a compiled function that you don't need.

[2021-01-15 13:23] GJBoth commented on #844
I'd be happy to give it a try and implement / write an example if you could give me some pointers; I couldn't find anything in the source code when I looked at it though...

Alright, I understand, but still a shame. Adding a keyword also goes against the design?

[2021-01-15 13:24] marcvanzee commented on #62
I'm removing myself from this issue again since I didn't find time to work on it, so if anyone would like to give this a try, please go ahead!

[2021-01-15 13:34] marcvanzee opened #846 "How to initialize part of a model from a checkpoint in JAX/Flax?"

[2021-01-15 13:38] marcvanzee opened #847 "Improve Error Message: Naming a module in setup"
The error `TypeError: Module instance is frozen outside of setup method.` is thrown  at any time you assign module attributes somewhere other than within setup. It is not always clear to users how to resolve this.

-- Example 1

This code
[code]

Throws the error `TypeError: Module instance is frozen outside of setup method.`, which confuses users.

-- Example 2
See: #936

[2021-01-15 13:49] marcvanzee opened #848 "Add HOWTO: implement global norm clipping?"

[2021-01-15 13:56] avital commented on #844
Hi @GJBoth take a look at the discussion we're having on #845

[2021-01-15 13:59] marcvanzee opened #849 "Improve Documentation: clarify the consequences Modules subclassing dataclasses better"
Subclasses Linen Modules is a bit tricky, which come from the fact that Module subclasses dataclasses. We do try to support simple subclassing, and even use it e.g. in defining selfattention as a subclass of more general multiheaded attention. but you have to be careful w. dataclass args - the subclass dataclass "appends" its own dataclass args after the parent dataclass args. So if parent has opt

[2021-01-15 14:00] marcvanzee opened #850 "Improve Documentation: Synchronized Batch Normalization"
`axis_index_groups` can be used to set for vanilla batchnorm (aggregate from a single device) or synchronized batchnorm (aggregate from all devices). It controls how large a device group you want to sync over. The current example in the comment is a bit confusing.

If you just want to aggregate over all devices in the axis you don't need to pass axis_index_groups though

[2021-01-15 14:10] marcvanzee opened #851 "Improve Error Message: initializing with self.param and self.variable"
It is not always clear to users that `self.param` should be used differently from `self.variable`. For instance the following code tries to create some state variables in nn.Module with random initialization following the batch_norm example:

[code]
This throws the following error messages: `"init() missing 1 required positional argument: 'shape'"`, which is not very informative.

We should improv

[2021-01-15 14:16] marcvanzee opened #852 "What is the difference between Module.param() and Module.variable()?"

[2021-01-15 14:20] marcvanzee opened #853 "Improve Error Message: Jitting linen.Module"
Example code:

[code]

Throws the following general JAX error:

[code]

Modules in Linen aren't "pytypes" thus they can't be flattened/unflattened as needed when entering and exiting JAX transformations. The common pattern is to use static_argnums to jit which is equivalent to having the module instance behave like a constant inside the transformed function

We should consider registering Modules

[2021-01-15 14:22] marcvanzee opened #854 "Improve Documentation: How to cite Flax"
We should have some section in the README similar to [JAX](https://github.com/google/jax#citing-jax) explaining how to cite Flax.

From @avital: "we'll happily take a PR adding a section like that. The author order would probably more or less what you see in GitHub.com/google/flax/contributors"

[2021-01-15 14:34] marcvanzee commented on #524
@levskaya since this issue came up again recently for Kevin Murphy, and it is quite an annoying sharp edge of Linen, I've increased the priority from P2 to P1.

Also I think you mentioned in the chat that it would be a good short-term solution to at least freeze the list/dict/... assigned to self so we can present a better error message. Do you think this is feasible, or do you think it may be a l

[2021-01-15 14:37] marcvanzee opened #855 "How to do Batch Normalization in Flax?"

[2021-01-15 14:42] marcvanzee opened #856 "Add HOWTO: Modifying a variable during the backwards pass"
Possible motivation: The algorithm relies on keeping track of statistics of activation gradients over multiple training steps.

(Below is input from @jheek)

Using a lifted `custom_vjp` is an "odd duck". We can't add auxiliary outputs to a grad so we don't have a way to mutate collections during the backward pass. So we freeze the state such that you can access is but not update it

There's a spec

[2021-01-15 14:45] marcvanzee commented on #847
Similarly, users can be confused about the error message `ValueError: In setup, assign names of Modules via self.<name> and not using keyword argument name="<name>"`. We should provide a more elaborate error message with an example.

[2021-01-15 14:56] jheek commented on #524
Actually the recent Frozen modules PR https://github.com/google/flax/pull/823 turns lists and dicts to tuples and frozen dicts. Not sure about a custom error message though

[2021-01-15 14:57] jheek commented on #524
Actually we could of course make a ModuleDict and ModuleList that are mutable during setup and afterwards frozen (and track the modules correctly)

[2021-01-15 15:02] marcvanzee opened #858 "Add HOWTO: Get per-example gradients"
All layers accept batch dimension free inputs. Example:

[code]

[2021-01-15 15:05] marcvanzee opened #859 "Add HOWTO: Gradient clipping"
We currently don't have a canonical implementation in Flax. Some optimizers have it built in.

Possible implementation:

[code]

[2021-01-15 15:21] marcvanzee opened #860 "Add HOWTO: Construct a Flax Linen model from a (nested) ConfigDict"
(Input from @tkipf and @jheek)

Suppose you have the following ConfigDict:

[code]

You can use a template here so you can do things like:

[code]

This way you can also pass in templates that need to be constructed multiple times like normalisation layers

[2021-01-15 15:26] marcvanzee opened #861 "Add HOWTO: Finetune only a part of a Flax model"
The easiest way is to use `MultiOptimizer`, which optimizes subsets of paramaters:
[code]

[2021-01-15 15:35] marcvanzee opened #862 "Add HOWTO: Get output of intermediate layers"
For user-defined or user-forked layers you can always stick intermediates into a reporting/debug collection:

[code]

[2021-01-18 05:36] levskaya commented on #818
@chris-tng @avital this has been a commonly cited pain-point, and I've tried to remedy it with PR #864 - I believe your example should work fine with this change.  (For the record I don't think this is actually so related to #686 - that's more of an interactive use-case question of inspecting instantiated parameters, etc.  whereas this is simply wanting to define modules made from simpler ones at

[2021-01-18 09:18] marcvanzee opened #865 "Allow at most 5 commits on a single PR"
Having too many commits kills history, we should allow a maximum amount of 5 commits.

[2021-01-18 11:17] marcvanzee opened #866 "How to load PyTorch checkpoints into JAX/Flax?"
Pytorch checkpoints contain a `state_dict` with all the weights/parameters for the models, and converting it to Flax involves:

1. Defining the model using Flax modules
2. Renaming the dictionary items to line up, and use the `NCHW` dimensions for conv weights.

Often `flax.traverse_util.flatten_dict` is useful, because you only need to operate on a flat dict instead of a nested dict. Once they al

[2021-01-18 11:26] marcvanzee opened #867 "Write design note for nn.transforms"
Currently it is difficult to understand this code, and how to use it. We should either improve the documentation or write some tutorial explaining how the transforms work. Some things that can be explained (collected from user chats):

- Give an example of how to wrap a function with `transforms.scan`.
- Explain how to (or maybe support) transforming instances.
- Explain better what `transforms` d

[2021-01-18 12:11] avital commented on #862
See #771

[2021-01-18 13:02] marcvanzee opened #868 "Add HOWTO: Initialize an RNN's carry with learnable parameters"
Since `initialize_carry` is a `staticmethod`, it requires passing the classes to the module. Example code:

[code]

[2021-01-18 13:38] marcvanzee opened #869 "How to do autoregressive decoding in Flax?"

[2021-01-18 14:52] marcvanzee opened #870 "How to do device memory profiling in Colab for Flax?"

[2021-01-18 15:02] marcvanzee opened #873 "Add HOWTO: Implementing a Squeeze and Excite block"
pre-Linen code (should be easy to port to Linen):

[code]

[2021-01-18 15:07] marcvanzee opened #874 "Add HOWTO: How to define hyperparameters in Flax"
We define them using ConfigDict in our examples, but it can also be done using gin or even a dataclass. We do not put restrictions on this and we try not to be too opinionated about this.

[2021-01-18 15:10] marcvanzee opened #875 "Add HOWTO: Implement beam search"
We currently have implemented this in our WMT example in [decode.py](https://github.com/google/flax/blob/master/examples/wmt/decode.py). It presumes a function that takes integer tokens and returns logits. It has been optimized for TPUs.

[2021-01-18 15:31] marcvanzee opened #877 "Add HOWTO: BatchNorm in a multi-device setup"
Every device updates its normalizing parameters (`ra_mean` and `ra_var` in the code) based on its own batch statistics (unless we specify `axis_name` which makes it global). However, these parameters are only stored in `batch_stats` and not `params` so they are never synced across devices unless specifically done so.

If they aren't synced, they can theoretically diverge, but if your data is fairl

[2021-01-18 15:43] marcvanzee opened #878 "Improve Documentation: Explain how Linen manages RNGs"
Flax automatically splits RNGs for submodules by folding in the name of the submodule: https://github.com/google/flax/blob/master/flax/core/scope.py#L63

I couldn't find a place in the documentation where we explain this, but it seems quite useful to have it documented somewhere outside of `flax.core`.

[2021-01-18 15:51] marcvanzee opened #879 "Improve Documentation: Jitting init()"
In some of our examples we `jax.jit` the `init()`, for instance in the [WMT example](https://github.com/google/flax/blob/master/linen_examples/wmt/train.py#L472), and in other examples we don't.

@Marvin182 mentioned in a chat: "Jitting the model.init() of the PixelCNN example takes forever (>5min) but runs without jitting in <20s. " [on TPU]

@jheek replied: "jitting init is a difficult thing. On

[2021-01-18 15:57] marcvanzee opened #880 "Add HOWTO: Save/Restore only the inference variables"
For instance, one may want to drop the Adam and optimizer variables.

To save only the params:

[code]

To restore only the params:

[code]

Note: the optimizer now has `optimizer.state.step = 0` after restoring the checkpoint, so you probably want to checkpoint `(step, optimizer.target)` to avoid resetting things like learning rate schedules.

[2021-01-18 16:00] marcvanzee opened #881 "How to use shape-dependent variables without @nn.compact in JAX/Flax?"

[2021-01-19 10:19] avital commented on #567
@levskaya -- note that the lm1b example now fails tests with:

[code]

[2021-01-19 10:22] avital opened #885 "LM1b example test fails"
[code]

We aren't sure about the future of LM1b -- does it stay an independent example or get folded into WMT? But in the meanwhile we should at least fix the breaking test.

cc @andsteing

[2021-01-19 10:22] avital commented on #567
I filed that as a separate issue: https://github.com/google/flax/issues/885

[2021-01-19 10:59] marcvanzee opened #886 "Add HOWTO: Early Stopping"
Based on https://github.com/google/flax/pull/711

[2021-01-19 11:11] marcvanzee opened #887 "Add HOWTO: Load trained parameters into another Module"
Based on this discussion: https://github.com/google/flax/discussions/857#discussioncomment-284950

[2021-01-19 12:06] marcvanzee commented on #869
Some more explanation from @levskaya:

[code]

[2021-01-19 12:29] marcvanzee opened #888 "Add HOWTO: Soft replace Module parameters"
Typically one replaces parameters with `self.target_network = self.target_network.replace(params=self.online_network.params)`.

Suppose you would like to do a soft update with smoothing coefficient `t`, so for every param `x` it does something like `self.target_network.x = t * self.target_network.x + (1-t) * self.online_network.x`.

Note that `nn.Model` is a "pytree" so you can use `jax.tree_multi

[2021-01-19 12:42] marcvanzee opened #889 "How to avoid OOM when restarting training in JAX/Flax?"

[2021-01-19 12:49] marcvanzee commented on #788
The canonical example is as follows:

[code]

If you want to update the learning rates of both optimizers online with different learning rate schedules, you should use the following code:

[code]

[2021-01-19 13:01] marcvanzee opened #890 "Improve Documentation: Applying a different Module function than __call__ (e.g., an encoder of a Transformer)"
You should use the `method` argument to `apply`. Suppose you have `Transformer` with an `encode` function:

[code]

This is used in our WMT example in [train.py](https://github.com/google/flax/blob/master/examples/wmt/train.py) (search for `method=`.

Let's add this to the docstring of `Module.apply()`

[2021-01-19 13:39] marcvanzee opened #893 "Improve Error Message: Calling a method without initializing"
Example code:

[code]

Gives error:

[code]

The problem is that you should run `init` or `apply`, but the error message does not specify this.

This code does work:

[code]

[2021-01-19 13:52] marcvanzee opened #894 "How to use bucketing for a dataset in a multi-host setting"
Some notes from @levskaya:

- You have to be very careful using bucketing with multihost pmap. Each host must always receive the same bucket size.
- if they ever receive buckets of different sizes you'll get a deadlock.
- JAX is working on improving this aspect of multihost pmap.
- If you need to do multihost buckets, I'd recommend creating a dataset per-bucket (with the right length filters to ke

[2021-01-19 13:54] marcvanzee commented on #880
Restoring only part of a model is very simple as well:

[code]

[2021-01-19 14:11] marcvanzee opened #895 "Improve Error Message: Need PRNG for "params""
This error occurs when a user isn't passing `rngs` during `apply`, e.g.:

[code]

Passings RNGS is forced during `init` but not during `apply`.

The error message is `AssertionError: Need PRNG for "params"`, which is not very informative and should at least contain the explanation above.

[2021-01-19 14:14] marcvanzee opened #896 "Add HOWTO: Flax equivalent of tf.name_scope()"
Uutting anything inside a new Module would have that effect. You can also always give submodules a name explicitly with the `name=... kwarg` to the submodule constuctor.

[2021-01-19 14:16] marcvanzee opened #897 "Add HOWTO: Custom gradients in Flax"
The PixelCNN has an example of using custom gradients: [pixelcnn.py](https://github.com/google/flax/blob/master/examples/pixelcnn/pixelcnn.py#L422).

[The Autodiff Cookbook](https://jax.readthedocs.io/en/latest/notebooks/autodiff_cookbook.html) by the JAX team is very useful for background reading as well.

[2021-01-19 14:22] marcvanzee opened #898 "Improve Documentation: Add link to jax2tf guide"
It seems we currently have no documentation for jax2tf. [Haiku](https://dm-haiku.readthedocs.io/en/latest/notebooks/jax2tf.html) does have a nice explanation, and it would be good if we can show users how to use jax2tf for Flax models.

[2021-01-19 14:30] marcvanzee opened #899 "What is the Flax equivalent of Tensorflow functions?"
For reference, I'm listing some Tensorflow functions below for which users asked what the equivalent is in Flax.

| TF Function  | Flax/jax Function |
| ------------- | ------------- |
| `tf.identity`  | `lambda x: x`  |
| `tf.name_scope()`  |   "Create submodule" [1] |
| `tf.print`  |  [`host_callback.id_print`](https://jax.readthedocs.io/en/latest/jax.experimental.host_callback.html#jax.experime

[2021-01-19 14:32] marcvanzee commented on #896
Merged with https://github.com/google/flax/issues/899

[2021-01-19 14:32] #896 closed

[2021-01-19 14:42] marcvanzee opened #900 "Writing asynchronous checkpoints"
Currently checkpoints are not written asynchronously in Flax, which means that by default, the program waits with execution until the checkpoint is saved. Writing a checkpoint asynchronously should be as simple as launching a new thread on a function that saves the checkpoint:

[code]

Important: copy optimizer to CPU before calling `apply_async`, otherwise it may happen that you need 2x TPU memor

[2021-01-19 14:47] marcvanzee opened #901 "Improve Documentation: Clarify that an optimizer accepts a container of models"
This could be added to the docstring of `OptimizerDef.create()`. Given modules `m1`, `m2`, and `m3`, you can pass things like `(m1, m2, m3)` and `{'mod1': m1, ..}` to the optimizer.

[2021-01-19 14:53] marcvanzee opened #902 "Improve Documentation: Clarify CIFAR example's use of batch norm"
The cifar flax example doesn't sync the batch norm moving averages across replicas when computing them. This makes sense since usually it makes things worse due to the regularization effect that the mini batch noise provides. However, it would be good if the example would point this out explicitly, though. People tend to copy and paste code, and even if this is fine on Cifar10, not synchronizing m

[2021-01-19 14:58] marcvanzee opened #903 "Add HOWTO: Circular Convs"
XLA convs natively do not support this, but you can always manually concat a kernel/2 per dim amount of data on the edges to achieve it at some data layout cost.

Example code from @levskaya (in old API, but should be trivial to modify to Linen):

[code]

[2021-01-19 15:02] marcvanzee commented on #861
Duplicate of https://github.com/google/flax/issues/788

[2021-01-19 15:02] #861 closed

[2021-01-19 15:06] marcvanzee opened #904 "Improve Documentation: Clarify when to use np and jnp"
The [JAX for the impatient](https://flax.readthedocs.io/en/latest/notebooks/jax_for_the_impatient.html) doc compare onp with jnp but doesn't explain when to use which. Some notes from users:

- Is it supposedly better to use onp instead of jnp for 'trivial' computations on shapes? Yes. It avoids compiling and excuting shape computations on device
- It is always better to use np for shape computati

[2021-01-19 15:10] marcvanzee commented on #879
Another comment from Daniel Johnson:

"if you expect to create some expensive value and then immediately throw it away. In the case of flax models, if you call model.init it actually runs a forward pass through the model, which can be expensive. Putting it in jit means jax will trace through it, then dead-code-eliminate the forward pass and only keep the parameters."

[2021-01-19 15:11] marcvanzee opened #905 "Improve Documentation: Clarify logic in common_utils.get_metrics"
Question from a user: In flax.training.common_utils.get_metrics, what is the purpose of the first line that selects only `x[0]`?

Answer from @levskaya : I'm guessing the intent to grab a single copy of a device-replicated metric??

We should clarify this in a comment in the code.

[2021-01-19 15:27] avital opened #906 "Add explicit deprecation warning for flax.nn"
`flax.nn` is planned to be officially no longer supported during May 2021 (in favor of `flax.linen`). Let's start putting deprecation warnings now, so that people aren't surprised too much later. /cc @marcvanzee

[2021-01-20 11:07] marcvanzee commented on #788
@jheek mentioned that we actually have a good explanation in the docstring of MultiOptimizer: https://github.com/google/flax/blob/master/flax/optim/base.py#L397

However, it does not appear on readthedocs, so I am renaming this issue accordingly.

[2021-01-20 15:57] marcvanzee commented on #661
Slightly related: https://github.com/google/flax/pull/909

That PR doesn't change the docstrings on optimizers but does make them appear nicer on RTD, and clarifies the user of the base optimizer classes Optimizer, OptimizerDef, and MultiOptimizer.

[2021-01-20 16:52] PhilipVinc opened #912 "4x slowdown in evaluation of RBM (Flax.linen vs jax.experimental.stax)"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
I compare a simple implementation of an RBM with flax against a similar implementation with `Jax.experimental.stax`. See [this gist notebook](

[2021-01-20 19:18] levskaya commented on #686
@avital - How would this work w. `self.param('foo', init_fn, (1,2,3))` in setup()?  that returns a jax array, so we can't proxy accessing it.

[2021-01-20 20:03] levskaya commented on #686
@avital - I mean I guess, going back to the motivating example, what do we get by being able to grab `Resnet.Backbone()` over just instantiating `Backbone()`?  You're not going to get automatic parameter subsets from this suggested change alone, as there would be no parameters at init time.  What are we trying to simplify?

the other issue is that
[code]

with 'strict setup()' behavior, we'd be ab

[2021-01-21 09:16] #788 closed

[2021-01-21 09:29] jheek opened #915 "Respecting input dtype"
Currently we use a default `dtype=float32` in the standard layer implementations.
We would like to switch this to something more closely resembling numpy semantics.
This means the default is `dtype=None` and in this case the input dtype is respected.

Some layers might have multiple inputs in which case determining the output dtype is less straightforward.
In this case the docstring of the module

[2021-01-21 09:39] #899 closed

[2021-01-21 10:18] jheek commented on #912
Python is surprisingly slow indeed. We don't actually spend much time trying to improve the dispatch overhead of Flax because of 2 reasons:
1) Jax & XLA itself have very significant overhead when running op by op.
2) Flax has zero runtime overhead when the model is compiled using jit or pmap because Flax is only touched when the function is compiled but not when it runs.

As you pointed out the Ja

[2021-01-21 10:24] PhilipVinc commented on #912
I was aware that Jax & Xla have significant overheads, and I expect Flax to add to that overhead, so I was not surprised to see a higher overhead for flax.

However, I expect this overhead to be constant with respect to the size of the problem, do you agree? if I increase the size of the matrices, the overhead should not change.

I measured above that Jax/Stax has an overhead of about `60` microse

[2021-01-21 10:26] marcvanzee commented on #852
Looking at this again, I think we can resolve this by improving the documentation on `Module.param` and `Module.variable`. We can explain better that `param` is a special case of `variable` and what the assumptions are.

[2021-01-21 10:35] marcvanzee commented on #869
I don't think we have to explain what autoregressive decoding is in a HOWTO, since there are many tutorials out there.

We should just make sure:

1. It is clear from the documentation that our WMT example does autoregressive decoding. If I Google "autoregressive decoding flax" now, I only get the deleted LM1B example, so we should make sure we mention it in the example.
2. The autoregressive deco

[2021-01-21 10:38] avital commented on #912
Putting aside the specifics here, you should always use `jax.jit`. Is there
still a performance difference then?

On Thu, Jan 21, 2021, 11:24 AM Filippo Vicentini <notifications@github.com>
wrote:

[2021-01-21 10:41] jheek commented on #912
It's not obvious to me how to interpret the measurements. One thing to keep in mind is that Jax is async which makes interpreting the timings harder. The python overhead overlaps with the computation itself so as long as python stays ahead in scheduling the ops you don't measure any overhead.

[2021-01-21 10:42] PhilipVinc commented on #912
Yes it's all jitted. The exact call is this:

[code]
(I wrap jax modules in a class that exposes the apply)

[2021-01-21 10:45] jheek commented on #912
Oops I missed the jit. I was assuming op-by-op execution. So in that case this is strange

[2021-01-21 10:49] marcvanzee commented on #878
This is actually something we link in a comment of `Module.make_rng()` as well: https://github.com/google/flax/blob/master/flax/linen/module.py#L664

[2021-01-21 10:55] PhilipVinc commented on #912
Hmm, I'm not sure I follow.
If I do operations on tiny array, what I am measuring should be mainly the `python` cost, that is... `flattening`, `un-flattening`, checking the cache for a method already compiled and dispatching to that method, right? So that's exactly a measurement of the overhead.

It only happens once because the function is jitted.

Check the updated gist. I went to large sizes of

[2021-01-21 10:55] PhilipVinc commented on #912
Ah, wait, that's consistent: Flax adds 200 microseconds to the dispatch overhead. It is always ~200 microseconds

[2021-01-21 11:03] PhilipVinc commented on #912
Interesting.
On jax's repo I saw the developers (mainly @mattjj ) mention several times that their overhead for jit-calls is around 70 microseconds. Here I measure something around 60, which is consistent.

It would seem that lax adds ~200 microseconds, for a total of ~250 microseconds dispatch cost.

Might I ask what are you doing that adds so much? If I call reapeatedly the jitted functions with

[2021-01-21 11:07] jheek commented on #912
Strange actually you aren't really touching much of Flax at all. The first arg is just a function that will be hashed and used to cache the jitted function, that's completely up to Jax. The only part of Flax you touch is the FrozenDict but you actually used that in the other snippets as well and I measured to overhead in this case to be 2 microseconds. In the end you are jitting the same function

[2021-01-21 11:11] PhilipVinc commented on #912
I'm not even jitting. I'm just calling something that is already jitted.

Even, I'd expect flax to be faster because `FrozenDict` stores it's hash after computing it once.

[2021-01-21 11:23] jheek commented on #912
Yes that's what I would expect as well. You also use the FrozenDict in the other cases so it can't really make a difference. The only difference I can see is that the paramater structure is different between the 3 versions. This shouldn't result in a huge difference though. Within the frozen dicts there are only tuples and dicts which are all handled by the C++ implementation of Jax.

[2021-01-21 11:31] jheek commented on #912
Here is a version using the Jax model that is just as slow as the flax version:

[code]

I'm surprised that dictionary structure in Flax is so much more expensive here especially because the Stax model has all these useless empty tuples. This is outside the scope of Flax though so you would have to open a Jax ticket to see if the performance can be improved.

[2021-01-21 11:37] PhilipVinc commented on #912
`f_w` is the flax model, not the jax one.
(`j_` is a jax model without flax whatsoever, `w_` is a jax model wrapped in a `nn.Module`, which has performance comparable to `j_` and `f_` is my `RBM(nn.Module)` implementation)

And you are converting to a FrozenDict inside the jitted function, so after jitting that code is never executed.

Since I believe only the arguments to the outmost jitted funct

[2021-01-21 11:56] PhilipVinc commented on #912
Upon inspecting the execution under a sampling profiler (py-spy) I see the following traces.

jax and wrap_jax give similar traces. However, they are very different from flax...
Curiously, they are very different.

It seems that flax hits `cache_miss` continuously. however he is not re-jitting the function so I don't really know what is going on.
I'll try to migrate this issue to jax's repo.

[cod

[2021-01-21 13:24] marcvanzee commented on #848
This was actually a question on Optax so not relevant for us.

[2021-01-21 13:24] #848 closed

[2021-01-21 13:35] marcvanzee commented on #855
Closing this since I expect users will be able to search our examples for BatchNorm, and if not we can point them to it. This doesn't seem to require a HOWTO.

[2021-01-21 13:40] marcvanzee commented on #862
Closing this since it is a duplicate of #771

[2021-01-21 13:40] #862 closed

[2021-01-21 13:44] marcvanzee commented on #874
Closing this since our examples already show ways in which to use hyperparameters, but if users want to do it in a different way there is nothing keeping them from doing it, but i don't see directly how we could turn this into a useful HOWTO.

[2021-01-21 13:44] #874 closed

[2021-01-21 13:55] #875 closed

[2021-01-21 14:02] PhilipVinc commented on #915
Is dtype only about the type used for calculation or it will also influence the dtype of the parameters?

Related: #805
When you make the switch please keep in mind us poor people stuck with complex numbers.

[2021-01-21 14:04] #870 closed

[2021-01-21 14:09] #852 closed

[2021-01-21 14:13] #869 closed

[2021-01-21 14:22] #855 closed

[2021-01-21 14:28] marcvanzee commented on #850
Closing since I've added this content to the discussion post of #921

[2021-01-21 14:28] #850 closed

[2021-01-21 14:29] marcvanzee commented on #877
Closing since I've added this content to the discussion post of #921

[2021-01-21 14:29] #877 closed

[2021-01-21 14:49] jheek commented on #805
Respecting input dtypes: https://github.com/google/flax/issues/915

I'll leave this issue open for considering more complex dtype promotions when the kernel is complex.

[2021-01-21 15:34] marcvanzee commented on #846
Suppose you have a model called `BigModel`. You want to load part of the weights of this model from a checkpoint, and you want to initialize the rest of the weights randomly. For instance, you may want to use BERT-encoded text as input.

You can do this by initializing the entire model with random weights, and then replacing the subtree of parameters corresponding to the parameters from your check

[2021-01-21 15:35] #846 closed

[2021-01-21 15:46] marcvanzee commented on #880
Closed by #923

[2021-01-21 15:46] #880 closed

[2021-01-21 17:40] myagues commented on #904
google/jax#5426 will probably cover most of the general cases.

[2021-01-22 05:08] dcjones opened #924 "When jax_enable_x64 is set Adam promotes everything to float64"
### Problem you have encountered:

When `jax_enable_x64` is set, Adam's `apply_gradient` method will promote all float32 arrays to float64, potentially unexpectedly degrading performance.

This is due to jax's wonky type promotion semantics. The offending line is:
https://github.com/google/flax/blob/3e36db3e5e3b8e6e1777d612f270e7948238aa9c/flax/optim/adam.py#L82

which promotes like:
[code]
and th

[2021-01-22 12:42] #866 closed

[2021-01-22 13:32] #881 closed

[2021-01-22 13:34] #889 closed

[2021-01-22 13:39] #894 closed

[2021-01-22 13:46] marcvanzee commented on #898
There is actually already a guide written by the JAX team that uses Flax, so we should just make sure we link to it from our RTD: https://github.com/google/jax/tree/master/jax/experimental/jax2tf

[2021-01-22 14:51] marcvanzee commented on #789
We could do BERT, although then we would have to implement the model. We could do something fun like fine-tuning on some comments of reddit or something like that.

Some useful resources:

- BERT model implementation by Nikita: https://github.com/nikitakit/flax_bert/blob/master/modeling.py
- GH Discussions: https://github.com/google/flax/discussions/927, https://github.com/google/flax/discussions/

[2021-01-22 14:51] marcvanzee commented on #860
Closeing this since it is not really clear to me whether this will be a useful HOWTO.

[2021-01-22 14:51] #860 closed

[2021-01-22 15:02] marcvanzee commented on #887
Closing this since I filed this specific question as #923 , and there's a more general HOWTO proposal for finetuning (#789)

[2021-01-22 15:02] #887 closed

[2021-01-22 15:08] marcvanzee opened #932 "Add HOWTO: Batch Normalization"
Batch Normalization is more complicated than most layers because of the mutation of moving averages during training.

There is a Discussion on this already (#921), but it may be nice to add a HOWTO for this since we could add the code below as well. The code below is copied from a Colab by @levskaya, which highlights the general state management API you use for any state-computation in a NN.

[cod

[2021-01-22 15:17] marcvanzee commented on #904
Thanks for pointing this out @myagues! That guide looks very good so I'm closing this issue.

[2021-01-22 15:17] #904 closed

[2021-01-22 15:20] avital commented on #789
I am not sure whether there's a Hugging Face JAX/Flax fine-tuning example yet but if so we can link to it. There's also https://github.com/rolandgvc/flaxvision. I think we should also consider an extremely simplified example as a HOWTO.

[2021-01-22 15:56] marcvanzee commented on #902
Closing this since we don't have the cifer example in our repo anymore.

[2021-01-22 15:56] #902 closed

[2021-01-22 16:00] andsteing commented on #789
https://github.com/google-research/vision_transformer/ is another fine-tuning example. I heard it will probably soon be ported to Linen. It also has a Colab that downloads pre-trained checkpoints and uses TPUs for fine-tuning.

[2021-01-22 17:39] avital commented on #686
I was thinking it would end up looking like this:

[code]

where `nn.variable()` returns an "unbound variable" that derives its name via `__setattr__`, like submodules. This removes the wanky logic we have to try to match variable names with attributes when defined during setup.

Not sure though yet how deep this change would have to be.

Another totally different use-case is:
[code]

Right now th

[2021-01-25 13:30] marcvanzee commented on #849
It seems we say clearly in the documentation of Modules that we are subclasses dataclasses, and the error that one gets in the problem I described above also appears in regular dataclasses, so I don't think we have to improve anything here.

[2021-01-25 13:30] #849 closed

[2021-01-25 14:38] marcvanzee commented on #308
Closing this since we are moving towards a simpler HOWTO system.

[2021-01-25 14:38] #308 closed

[2021-01-25 14:47] marcvanzee commented on #222
@joaogui1 are you still planning to do this? We are currently using a simpler HOWTO system, where we write them as markdown in readthedocs. Here is [an example](https://flax.readthedocs.io/en/latest/howtos/state_params.html) and [here is the source](https://github.com/google/flax/blob/master/docs/howtos/state_params.rst), but we are actually planning to use a slightly different setup in which we m

[2021-01-25 14:50] marcvanzee commented on #783
I wonder if we really need this HOWTO. We are doing this in many of our examples, and I expect that if it is clear to anyone they will ask in Discussions. Did anyone ever ask this? I think it is actually a very clear part of Flax.

[2021-01-25 15:11] avital commented on #783
Originally the idea was to use this to demonstrate the ease of "forking and adding behavior" but you're right -- people seem to have been able to figure it out from the examples and docs.

[2021-01-25 21:42] joaogui1 commented on #222
@marcvanzee I'm happy to do it, is it ok if I open a PR around Friday?

[2021-01-26 09:00] marcvanzee commented on #222
Yes, that would be great, thanks a lot!

[2021-01-26 11:01] marcvanzee opened #944 "Improve Error Message: Creating module attributes outside of setup()"
See #936 .

[2021-01-26 11:07] avital commented on #944
The error isn't only if you assign to attributes inside `@nn.compact` -- it's at any time *other* than within `setup`

[2021-01-26 11:12] marcvanzee commented on #944
Yes good pointed, updated the title.

[2021-01-27 09:52] jheek opened #948 "Consider deprecating common_utils.shard"
The following pattern is common is user code and our examples:
[code]

The shard utility is part of `flax.common_utils`.

This pattern has 2 issues:
1. It complicates the training loop because part of the preprocessing is done async in tf.data while shard operates in the training loop
2. The code works both on NumPy and JAX arrays but has completely different performance characteristics. On numpy

[2021-01-27 10:39] #879 closed

[2021-01-28 15:08] avital commented on #847
A bit more color here:

For submodules defined in-line within a `@nn.compact` method, you either explicitly pass names to submodules via a `name` argument to the submodule constructor, or they are automatically generated if not, e.g.:

[code]

For submodules defined inside `setup`, names are always explicit and are derived from the name of the attribute on which they are assigned (via `__setattr__

[2021-01-29 12:36] marcvanzee opened #957 "Error Classes: tracking issue"
This is a tracking issue for the effort of raising custom error classes in Flax and documenting them property.

Below is a TODO list.

- [x] Start using `errors.py` for custom error messages and make sure they are documented on RTD (#949)
- [x] Move all of our error messages to `errrors.py`. We should make a clear separation between user-face errors (which should provide clear error messages using

[2021-01-29 19:49] joaogui1 commented on #222
Hi, I got sick on Wednesday (not Covid thankfully) and so I may end up delaying this, sorry

[2021-01-29 23:31] JamesAllingham opened #963 "Differences between PyTorch and Flax model predictions"
Hi all,

Here is a bit of a weird one that has me stumped!

### Problem you have encountered:

I've been trying to convert ResNet models trained in PyTorch to Flax and I've run into a strange issue. The PyTorch and Flax models tend to make the same class predictions but the class probabilities are slightly different. I've realised that each layer is producing slightly different outputs and that th

[2021-01-30 04:35] cccntu commented on #932
Hey, thanks for the guide. This is useful.

I found something unintuitive:
[code]
`params['params']` gives me:
[code]
and `params.pop('params')` gives me a tuple:
[code]
Why are they different?

BTW, I found this usage here:
https://github.com/google/flax/blob/d068512a932da3e05b822790a591bac391aeab36/examples/imagenet/train.py#L69

[2021-01-30 23:44] VolodyaCO commented on #903
Will this be added as a `padding="CIRCULAR"` option as in [neural-tangents](https://neural-tangents.readthedocs.io/en/latest/_modules/neural_tangents/stax.html#Conv)?

[2021-01-31 12:17] ayush-1506 commented on #900
@marcvanzee Hi! Can I work on this issue? If so, anything in particular I should be aware of? (Apart from the details mentioned in your comment above).

[2021-02-01 02:06] levskaya commented on #963
@JamesAllingham - I don't think your colab is shared publicly.  Thanks for the detailed report!  Are you evaluating this on GPU
 or CPU (or even cloud TPU?).

[2021-02-01 03:13] levskaya commented on #963
You've actually seen class-label changes resulting from the propagated errors in a Resnet50 model?

[2021-02-01 06:42] levskaya commented on #924
Sorry for the delay - thanks so much for letting us know, we'll try to fix it (and same issue in LAMB) in #965

[2021-02-01 08:24] #854 closed

[2021-02-01 08:24] #890 closed

[2021-02-01 08:24] #898 closed

[2021-02-01 08:24] #901 closed

[2021-02-01 08:24] #905 closed

[2021-02-01 09:57] avital commented on #932
Hi @cccntu -- what do you mean by "different"? `pop` returns two parts: the variable collection that you popped, and the remaining collections still all grouped together, e.g.:

[code]

Maybe the docstring for `FrozenDict.pop` isn't clear enough? But this is working as intended.

(BTW in your example you wrote `params = model.init(rng, dummy_input)` -- it should probably be `variables = model.init

[2021-02-01 10:05] jheek commented on #963
For CPUs we cannot really guarantee much because XLA and PyTorch use completely different code paths.
As for GPUs this can also be complicated. XLA is by default stochastic on GPU so even running the same code twice can result in numerical differences.
Producing the same code would at least need XLA and PyTorch to end up calling the same CuDNN api's and use the same format for inputs and weights.

[2021-02-01 10:12] marcvanzee commented on #903
@VolodyaCO interesting suggestion! If you think this would be generally useful, could you create a feature request issue proposing this?

[2021-02-01 10:17] cccntu commented on #932
@avital  Thanks for the reply.
I said different because I expect it to behave like python `dict`.
But I get it now, since flax/jax is functional, it make sense to return the remaining dictionary. Thanks for the help and the naming suggestion!

I didn't find the doc for FrozenDict from google search and readthedocs search is extremely slow. So I didn't read the doc.
I just found it by searching Git

[2021-02-01 10:20] marcvanzee commented on #900
Hi @ayush-1506, definitely, please give it a try! Thanks for picking this up.

[2021-02-01 10:21] avital opened #969 "Add reference documentation for FrozenDict on ReadTheDocs"

[2021-02-01 10:21] avital commented on #932
@marcvanzee -- another data point for "slow RTD" ;)

I don't think we even have reference dosc for FrozenDict on RTD, we probably should. I filed an issue: https://github.com/google/flax/issues/969

[2021-02-01 10:26] marcvanzee commented on #932
@cccntu could you tell me a bit more about the slowness of readthedocs? Do you think it is slow in general, or only when you search? What search string did you try? I'd like to see if I can reproduce this.

@avital yes I also noticed we don't have `FrozenDict` in RTD, thanks for filing the issue!

[2021-02-01 10:26] JamesAllingham commented on #963
@levskaya I think I've fixed the sharing settings. Sorry about that. This was being evaluated on the CPU. I should clarify that the class label change I saw with ResNet-50 was for a random input, which is obviously outside of the distribution of the training data and may not be that relevant in practice. (I should also say that I can't rule out the possibility of a bug in my code which causing add

[2021-02-01 10:29] marcvanzee opened #970 "Add documentation for flax.training to ReadTheDocs"

[2021-02-01 10:38] cccntu commented on #932
@marcvanzee I think it's slow in general from my experiences with different packages on RTD. But right now search seems to take forever. (the 'search...' has been running for several minute now.)
 Here are some string I just tried: 'BatchNorm', 'FrozenDict',  'dense', 'compact'
(My internet speed is ~100Mbps rn.)

Here is the link produced by using the search box for `dense`
https://flax.readthedo

[2021-02-01 10:50] marcvanzee commented on #932
Hi @cccntu, that is surprising. I've heard similar complaints from @apaszke from the JAX team as well, but I haven't experienced it myself (your queries are fast when I try it) and also heard from other Flax users they have no problems with it.

In any case, thanks for reporting it, we will see if this is something that occurs more often, and if so, how we can resolve it.

[2021-02-01 13:08] VolodyaCO opened #971 "Circular padding in convolutional neural networks"
### Description of the model to be implemented

In many areas such as physics, it is convenient to have convolutional layers with periodic boundary conditions (e.g. see [netket](https://github.com/netket/netket))

Therefore, it would be nice to add a "CIRCULAR" padding option to convolutional layers, just as they do in [neural-tangents](https://neural-tangents.readthedocs.io/en/latest/_modules/neu

[2021-02-01 13:13] VolodyaCO commented on #903
Hey @marcvanzee I just opened [it](https://github.com/google/flax/issues/971)

[2021-02-01 14:57] j-towns commented on #458
Based on some other generative modelling work which I've been doing on TPU lately, it seems the `precision` parameters to layers like `Conv` make a small but noticable difference to training stability and to test performance. It might be worth finding out whether this affects PixelCNN++ performance and perhaps adding a command line argument to enable higher precisions.

[2021-02-01 15:22] marcvanzee commented on #971
I think it would be quite nice to add this, since it doesn't seem to complicate the API much (no additional parameters etc). @levskaya what do you think of this proposal? I recall you were involved in a discussion around this before, and I'm curious whether you think it makes sense to add this.

[2021-02-02 00:24] JamesAllingham commented on #963
@jheek @levskaya here is an updated collab which shows the difference between predictions of a PyTorch pretrained (default implementation) ResNet50 (+ 18) and the (almost) default Flax implementations when making predictions with the PyTorch params: https://colab.research.google.com/drive/1oSp_9zooyrihaFi6AoqQ3k7lk6dIFunN?usp=sharing

As mentioned before, the ResNet50 can often get the class wrong

[2021-02-02 10:00] jheek commented on #971
It would be even nicer if the jax conv op would support this out of the box. They already have 'same' and 'valid'.

[2021-02-02 12:30] marcvanzee commented on #912
Blocked by google/jax#5485

[2021-02-02 12:32] marcvanzee commented on #903
Thanks! I'll lower the priority of this HOWTO since it may be possible we (or JAX) will actually add this as a feature.

[2021-02-02 12:34] marcvanzee commented on #878
@jheek I'm assigning this to you since I think you mentioned once you were planning to write such a note. Feel free to assign to someone else or clarify here why it is no longer needed.

[2021-02-02 12:35] marcvanzee commented on #867
@levskaya I'm assigning this to you since I think you mentioned once you were planning to write such a note. Feel free to assign to someone else or clarify here why it is no longer needed.

[2021-02-02 13:46] Conchylicultor opened #972 "[Doc] Missing doc for ConvTranspose"
I was fairly surprised to not found a conv transpose op on flax: https://flax.readthedocs.io/en/latest/flax.linen.html#linear-modules.
After investigation, it seems that the operation exists in the code, but do not appear on the doc.

https://github.com/google/flax/blob/b112b1128bd275bc5380b8370887f3c791209712/flax/linen/linear.py#L290

Is it expected ?

[2021-02-02 13:48] marcvanzee commented on #972
No, that isn't expected, thanks for catching this! I will add it soon.

[2021-02-02 20:42] #924 closed

[2021-02-03 04:38] MiladInk opened #975 "Clearer Error message when Module's __call__ is not implemented"
Hi All!

It has been just a few days that I have been using Flax. Once, I forgot to write the `__call__` of a function of my neural net class for a very funny reason.

This is what I wrote:

[code]

Flax raises a warning in this settings that I did not find informational:

`ValueError: parent must be None, Module or Scope`

It does not point out that I should just write the `__call__` function.

[2021-02-03 07:13] marcvanzee commented on #975
Hi @MiladInk, thanks a lot, this input is very valuable to us! I'm working on an effort to improve error messages in Flax this quarter, so I'll include this issue as well. As a sneak peak: we basically want to make sure that all error thrown are error classes that can be found here: https://flax.readthedocs.io/en/latest/flax.errors.html

[2021-02-03 13:31] avital opened #977 "Improve "No parameter named ... exists ..." error when not passing in a variable collection in `Module.apply`"
Originally reported by @jessicayung -- With the following code:

[code]

one gets the following error:
[code]

The error can be clarified, e.g. "no collection named `"lstm_stats"` passed in -- check the variables passed in to `Module.apply`".

Follow #957 for guidelines for how to create new error classes and documentation for a better user journey once hitting the error.

Also consider, in the do

[2021-02-03 13:38] avital commented on #906
Also good to add deprecation messages to all docstrings. I just searched for "Flax Batch Norm" and found this: https://flax.readthedocs.io/en/latest/_autosummary/flax.nn.BatchNorm.html

A lot of users won't notice the small "(deprecated)" at the top in the nav bar

[2021-02-03 13:43] marcvanzee opened #978 "Readthedocs search slow"
We've heard from different users that readthedocs search is slow. Please reply to this issue if you are experiencing this as well.

Copying a discussion with @cccntu on #932 here (I removed the content there since the discussion was about something else):

@cccntu said:

" I think it's slow in general from my experiences with different packages on RTD. But right now search seems to take forever. (

[2021-02-03 16:57] ayush-1506 commented on #900
@marcvanzee Thanks! I'm wondering what the API should look like over here: We want to continue training while also saving the checkpoints, since these two are independent of each other. Ideally the user could spawn a new process that saves the checkpoint, but this is going to be manual. What kind of a utility function are we looking at over here? (What should this look like?)

[2021-02-03 17:25] joaogui1 commented on #222
Sorry for the delay, opened the pr @marcvanzee

[2021-02-03 21:05] myagues opened #982 "Attention in float16 produces NaNs when using mask"
### Problem you have encountered:
Using attention + mask with `jnp.float16` produces NaNs.

### What you expected to happen:
Works correctly for `jnp.float32` and `jnp.bfloat16`. The problem might be when setting attention bias:
https://github.com/google/flax/blob/278df51cb97a4dcec05ab1b3b047e21bda72aa0b/flax/linen/attention.py#L233-L236

### Steps to reproduce:
[Colab link](https://colab.research

[2021-02-04 02:08] cccntu commented on #978
Can confirm that's what I said.

Also wanted to update: I just tried again on my phone and it worked fine. (Didn't work on the same phone last time)

[2021-02-04 07:51] marcvanzee commented on #900
Actually, thinking about this some more, I think writing a utility function that writes the checkpoint asynchronous safely would require a full copy of the parameters, which seems a like a bad idea. Otherwise, as you say, we should somehow disallow modifying the parameters, but I'm not sure if there is a clean solution for this.

So on second thought I'd actually be somewhat hesitant to implement

[2021-02-04 10:06] jheek commented on #900
Generally you want to copy the params from device to host in the main thread (to avoid OOM). Then use a async thread to do the serialisation & IO. It's mostly safe there is just the one edge case where you should block the save_checkpoint if the previous one is still busy.

[2021-02-04 14:03] marcvanzee opened #984 "Make sure codediff code is tested"
Currently the code in our [codediff directive](https://github.com/google/flax/blob/master/docs/_ext/codediff.py) is using Sphinx `codeblock`, however we would like it to use Sphinx `testcode` so we can make sure the code compiles.

Unfortunately the testing logic of Sphinx [doctest.py](https://github.com/sphinx-doc/sphinx/blob/284d9e703bf9919c34414353afd5992218518745/sphinx/ext/doctest.py#L436) re

[2021-02-04 14:10] marcvanzee commented on #984
So to give an example, if we have the following code in our RTD:

[code]

If you then simply transform this code so it creates two tables and the code is written using the `testcode` directive, then the test will run on all the content in the `codediff` block, and it breaks.

A better solution is to create a TestCode node programmatically in `codediff.py`, and make sure the lines to test are the o

[2021-02-04 15:42] marcvanzee commented on #524
Today salayatana66@ ran into this issue again, and they indeed ran into the new error message referring to the frozen dicts. Still I think it took a while for them to understand it so improving the error message is definitely still high priority.

[2021-02-04 15:42] marcvanzee commented on #524
Today @salayatana66 ran into this issue again, and they indeed ran into the new error message referring to the frozen dicts. Still I think it took a while for them to understand it so improving the error message is definitely still high priority.

[2021-02-04 15:43] marcvanzee commented on #847
This issue is very closely related to #524.

[2021-02-04 15:46] marcvanzee commented on #780
Some possibly useful discussion on variable dicts: #932

[2021-02-04 15:48] marcvanzee commented on #944
Duplicate of #847

[2021-02-04 15:48] #944 closed

[2021-02-04 16:19] LysSanzMoreta opened #986 "Trouble understading error message : ValueError: Can't call compact methods on unbound modules"
Hi!

I am following the Seq2Seq example [https://github.com/google/flax/blob/master/examples/seq2seq/train.py](url) to implement my own little Decoder and I am having some issues with how to place the classes and decorators appropiately, so any help is appreciated. I do **not even need to do time series** (although the example is a time series), in this case I would like to feed the **entire batch

[2021-02-04 17:10] avital commented on #986
We absolutely need to improve this error message (being tracked at #893 -- I think the error may have changed, but it's the same issue). In short, you have to pass the variables (parameters and other state) via `Module.apply` (or use `Module.init` to get initial variables)

In your case, instead of
[code]

you should do:
[code]

Constructing a module instance does not give it variables, this is th

[2021-02-04 17:10] #986 closed

[2021-02-05 14:55] marcvanzee commented on #977
Interesting, when I run the following code:

[code]

I get a different error:

[code]

In any case, we can still improve this. I think it should say something about how this could happen. So here it should explain that this error can occur if you are trying to access a variable that does not exist in the passed params, which can happen if you forget to pass it to `Module.apply()`.

[2021-02-05 15:36] #785 closed

[2021-02-05 15:44] #222 closed

[2021-02-05 16:39] joaogui1 commented on #906
Opened a PR fixing this @avital

[2021-02-05 17:05] avital commented on #906
go for it @joaogui1!

[2021-02-06 03:40] cccntu opened #1004 "Improve documentation for `Dropout` and `rngs` argument in `linen.Module.apply()`"
Here is an example of `Dropout` in a model definition:
https://github.com/google/flax/blob/d068512a932da3e05b822790a591bac391aeab36/examples/nlp_seq/models.py#L211

Here is the `apply()`, where `rngs` is passed in
https://github.com/google/flax/blob/d068512a932da3e05b822790a591bac391aeab36/examples/nlp_seq/train.py#L206-L207
However the `rng` is not very clearly explained in `apply()`
https://gith

[2021-02-08 15:30] andsteing commented on #756
Closing the issue since the question seems answered. Feel free to re-open if that's not the case...

[2021-02-08 15:30] #756 closed

[2021-02-08 16:33] andsteing opened #1009 "New Optimizer API"
This FLIP discusses a new Optimizer API that is to replace the [current API].

[current API]: https://github.com/google/flax/blob/master/flax/optim/base.py

[2021-02-10 13:51] ingmarschuster opened #1014 "Raise clearer Exception when calling method of unbound module"
Using this minimal example
[code]

### Problem you have encountered:
The last line raised the rather opaque error message `AttributeError: 'MultipleForw' object has no attribute 's1'`

### What you expected to happen:
The raised Exception should contain a hint that makes clear that calling a linen-Module correctly is by using `mf.apply(parameters, input)`. See Discussion #1013

[2021-02-10 23:19] joaogui1 commented on #670
I believ #647 should have closed this

[2021-02-11 11:10] avital commented on #847
In short, as summarized by @salayatana66, "really in `setup` the attribute name is the name of the module."

[2021-02-11 15:31] Conchylicultor opened #1019 "Visualize the model/params structure"
### Problem you have encountered:

Currently it is not clear how to inspect a model structure. For example to see whether some imported model uses dropout, batch-norm,... Or to find out which weight we want to freeze vs fine tune.
Similarly the `params` returned by `model.init` is difficult to inspect, as extracting the structure require writing some custom code.

### What you expected to happen:

[2021-02-11 20:25] n2cholas commented on #963
I've noticed that padding can cause differences between JAX and PyTorch, I recently ported ResNeSt weights from PyTorch to Flax and needed to manually control the padding of all my layers (instead of using `SAME` or `VALID`). I noticed the code you posted uses the default padding everywhere, so that may be one source of the differences. [Here](https://github.com/n2cholas/jax-resnet/commit/f52cfa07

[2021-02-12 10:55] jheek commented on #1019
I think it makes sense for the `__repr__` to print the variable structure (name+shape+dtype). This shouldn't be very difficult to add

[2021-02-13 09:58] bastings commented on #619
+1 to prioritizing this. We have a project for which it would be super useful :)

[2021-02-13 10:43] avital commented on #619
@bastings -- would a pattern like the one proposed in https://github.com/google/flax/blob/2eb7b985d0abc5a6b78b4cbd22409cb4fe496d69/docs/howtos/extracting_intermediates.rst#store-intermediate-values-in-a-new-variable-collection work for you? You would have to clone a model definition.

[2021-02-13 11:38] avital commented on #687
Hi @jheek, I was going over my assigned tasks and found this one, if you plan on writing a document on how lifted transformations work in functional core/Linen, would that also include examples using `lift.transform` like a Tied Autoencoder? (if it's easy and makes sense to include that as part of the same documentation...)

[2021-02-13 11:39] avital commented on #659
#764 closes this. Thanks again @8bitmp3!

[2021-02-13 11:39] avital commented on #658
Done.

[2021-02-13 11:39] #658 closed

[2021-02-15 07:54] n2cholas opened #1022 "Examples for traverse_util module"
First off, loving the new linen api 🎉!!!

The `traverse_util` module looks useful for manipulating parameters/state, but I could not figure out how to use it effectively (apart from `unflatten_dict` and `flatten_dict`, which are both extremely useful). The simple examples in the docs make sense, but it'd be nice to see how to use this in a real setting. Perhaps the power of this module can be illu

[2021-02-15 13:56] avital commented on #1022
Our users mostly use `traverse_util` indirectly, via `ModelParamTraversal` that they pass into the `focus` argument to an optimizer, or via `MultiOptimizer`.

Perhaps there is a simpler and more powerful way to do it via Haiku's `data_structures`? If you've tried both I'd appreciate learning from your experience, perhaps we would also be better off using something like `data_structures` (and perha

[2021-02-15 15:26] jheek commented on #1022
`traverse_util` isn't used much in practise. `flax.optim.ModelParamTraversal` does a similair thing compared to haiku data_stractures (map & filter)

[2021-02-15 18:36] n2cholas commented on #1022
Thanks @avital  and @jheek. It looks like I can use `flax.optim.ModelParamTraversal.update` with the identity function in order to do the filter I want (not quite sure how to do the merge, though).

[Here](https://colab.research.google.com/drive/1-0K2K8VQWwFhggtDK_2IecwhSwA89IGo?usp=sharing) is my previous project, where I'm doing transfer learning. Perhaps you can recommend a more idiomatic way t

[2021-02-16 21:41] joaogui1 commented on #906
I think this can be closed :D

[2021-02-16 21:42] avital commented on #906
Yup! Closed by #1001

[2021-02-16 21:42] #906 closed

[2021-02-16 22:56] joaogui1 commented on #972
I believe this can be closed: [docs](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.ConvTranspose.html?highlight=convtranspose)

[2021-02-17 15:51] #972 closed

[2021-02-18 02:46] 8bitmp3 commented on #659
@avital Let's also move it into RTD and ensure it appears in a good place in the ToC as per your suggestion here: https://github.com/google/flax/pull/764#issuecomment-769284045

[2021-02-18 07:43] avital commented on #659
sounds good @8bitmp3 -- so to be clear, will you be opening a new PR moving the annotated MNIST example into RTD?

[2021-02-18 09:59] #844 closed

[2021-02-19 15:25] andsteing opened #1034 "Linen upgrade guide"
It would be great to have a short document that explains in some detail how to
upgrade a model from the old API to the new Linen API.

[2021-02-19 17:09] RodrigoAVargasHdz opened #1035 "Save and Load parameters"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

### Description of the model to be implemented
I created a vanilla MLP trained with Adam. I will like to save the parameters into a file so I can read them for future usage.

### Dataset the model could be trained on

### Specific points to consider
H

[2021-02-22 12:45] marcvanzee commented on #1035
Hi @RodrigoAVargasHdz, what is it exactly your are proposing in this issue? Do you want know how to save/load parameters to/from a file for a model you created?

[2021-02-22 13:53] avital commented on #1034
Is that not covered in the "upgrade guide" linked to from https://github.com/google/flax/tree/master/flax/linen? Is there more we're missing? Or is it hard to find this link?

[2021-02-22 14:18] andsteing commented on #1034
Yes htat is what I was looking for!

I would say it's not exactly easy to discover.

I think we want to avoid having a main RTD documentation and then a parallel Github-README documentation.

Maybe we should add a new main menu point "Linen" to RTD and add subpages there (brief intro, upgrade guide, design principles)?

Note also that we have both a Google doc [Linen Design Principles](https://doc

[2021-02-22 17:07] n2cholas commented on #1019
Haiku has excellent model summary functionality (documentation [here](https://dm-haiku.readthedocs.io/en/latest/api.html#haiku.experimental.tabulate)). I think equivalents to `haiku.experimental.tabulate` and `haiku.experimental.eval_summary` would be very helpful.

[2021-02-23 09:42] joelgarde opened #1039 "Correct Linen Module Documentation"
The example in the documentation for Linen.module uses a parameter list to hold its features:
https://github.com/google/flax/blob/master/flax/linen/module.py#L370

This is not compatible with dataclasses and trying to run the example throws a Value Error "mutable default <class 'list'> for field features is not allowed: use default_factory."

Changing from a list to a tuple (as hinted by the type

[2021-02-23 13:02] marcvanzee commented on #1039
Thanks for finding this @joelgarde ! Do you want to file a PR fixing this isssue?

[2021-02-23 15:07] joelgarde commented on #1039
Yes, would be nice.
I just have to sign the contributor agreement and then submit the PR?

[2021-02-23 16:09] marcvanzee commented on #1039
You should indeed sign the agreement, then send the PR for review and we can merge it once it is approved.

[2021-02-23 18:20] joelgarde commented on #1039
Thanks for the help for my first PR!
PR is here: https://github.com/google/flax/pull/1040

[2021-02-24 11:53] avital commented on #1034
I agree that we should move all docs into RTD. There are a few other stranglers, like https://github.com/google/flax/blob/master/docs/design_notes/arguments.md

I think your proposal to add a "Linen" section in RTD is good, and unify the design principles under there.

[2021-02-25 13:53] andsteing commented on #1004
We could mention that `Dropout()` requires an `rng` with the name `dropout` in its module documentation. The code is currently very short and it's easily visible, but I agree it would be better discoverable if it was mentioned in the class pydoc as well.

I also think that extending the `Module.apply()` could be extended with something like

[code]

would be reasonable, since this is quite common

[2021-02-25 14:28] cccntu commented on #1004
@andsteing  Thanks for the suggestion. I will give it a try in a few days. :)

[2021-02-25 15:31] marcvanzee commented on #1039
Fixed

[2021-02-25 15:31] #1039 closed

[2021-02-25 23:14] Zumbalamambo opened #1045 "Self supervised learning example"
### Description of the model to be implemented
Training on unlabelled data

[2021-02-26 09:09] jheek commented on #619
Fixed in https://github.com/google/flax/pull/1043

[2021-02-26 09:09] #619 closed

[2021-02-26 09:10] jheek commented on #746
Fixed with https://github.com/google/flax/pull/1043

[2021-02-26 09:10] #746 closed

[2021-02-26 12:44] marcvanzee opened #1049 "Improve Modules __call__ and method arguments on RTD"
(from @bastings):

The docstring of [Dense](https://github.com/google/flax/blob/master/flax/linen/linear.py#L140) is pretty good but it doesn't not show up nicely on [RTD](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Dense.html). The `__call__` method seems to be missing.

Also the arguments to some modules are represented badly, e.g.: https://flax.readthedocs.io/en/latest/_autosu

[2021-02-26 15:59] myagues commented on #1019
You can use [`parameter_overview`](https://github.com/google/CommonLoopUtils/blob/fc344ef78f24758a96a1518500d08d0a5f01a6cd/clu/parameter_overview.py#L199-L231) in [`clu`](https://github.com/google/CommonLoopUtils) for params visualization:

<details>
    <summary>Commands</summary>

[code]
</details>

[code]

[2021-02-28 21:50] andsteing opened #1053 "Replace flax.optim with Optax in examples"
See https://github.com/google/flax/blob/master/docs/flip/1009-optimizer-api.md#update-plan

The following examples need to be updated

- [x] imagenet #1251
- [x] mnist #1302
- [x] nlp_seq #1916
- [x] pixelcnn #1413
- [x] ppo #1404
- [x] seq2seq #1396
- [x] vae #1361
- [x] wmt #1476
- [x] lm1b #1479

[2021-03-01 10:56] PhilipVinc opened #1057 "[Feature] Allow changing Module construction attributes in setup"
Consider the following snippet, where I have a linen Module which has two module attributes.
One of those (`dtype1`) has a default, the other one, `dtype2`, I'd like to default to `dtype1`, unless it's specified.
To achieve this, I give it a default value of None and in `setup` I change it accordingly.

However, since Flax==3.1, I believe because of #938 , this behaviour is disallowed.
As the modu

[2021-03-01 11:18] jheek commented on #1057
Keeping Modules frozen guarantees some important invariants that we need for the Module abstraction to work correctly (especially when interacting with JAX transforms):

1. Cloning, we clone Modules based on their attributes and by allowing mutations on the attribute we cannot guarantee that a clone behaves the same (we also want to avoid deep cloning trickery).
2. setup is called lazily so access

[2021-03-01 12:50] avital commented on #1057
More concretely, I believe the following should work:

[code]

[2021-03-01 12:51] avital commented on #1057
(You can't change attributes that are defined in the dataclass because we need those to stay constant for cloning modules, but you can define new attributes)

[2021-03-01 13:30] PhilipVinc commented on #1057
I was indeed not advocating for unfreezing modules, but from the docs it seemed to me it should be possible to change module attributes in setup...
Indeed I understand why that is not possible.

Thank you for your explanation

[2021-03-01 13:30] #1057 closed

[2021-03-01 14:34] philippeller opened #1064 "NN DeprecationWarning"
When `from flax import linen as nn` I get the following deprecation warning:

```DeprecationWarning: The `flax.nn` module is Deprecated, use `flax.linen` instead. Learn more and find an upgrade guide at https://github.com/google/flax/blob/master/flax/linen/README.md```

Under that link I find that instead of the old `from flax import nn` I should use  `from flax import linen as nn` - which is what

[2021-03-01 15:51] avital commented on #1064
Hi @philippeller -- sorry for that, the 0.3.2 upload to pypi is stalled on GitHub actions: https://github.com/google/flax/actions/runs/610119419

Can you confirm that `pip install --upgrade git+https://github.com/google/flax.git` resolves the problem for you?

I'll get the build out shortly.

[2021-03-01 15:59] avital commented on #1064
OK -- 0.3.2 [is released](https://pypistats.org/packages/flax). I have verified that `from flax import linen as nn` doesn't lead to an error there. (And on v0.3.1 it did).

[2021-03-01 16:39] philippeller commented on #1064
Great! Can confirm that with the updated version it doesn't show the warning anymore :+1:

[2021-03-01 16:47] avital commented on #1064
👍

[2021-03-01 16:47] #1064 closed

[2021-03-01 17:10] JamesAllingham commented on #963
Thanks, @n2cholas – the padding was indeed the issue!

I've updated the notebook with specified padding and the predictions are now all the same.

I'd be happy to make a PR to update the Flax example ResNet code with padding to match Pytorch if that is something that would be useful? I guess the question is whether or not PyTorch is doing this right or wrong?

[2021-03-01 18:44] n2cholas commented on #963
Glad it helped @JamesAllingham!

I don't think either Flax or PyTorch is "wrong", just different default conventions. I believe the [TensorFlow ResNet50](https://www.tensorflow.org/api_docs/python/tf/keras/applications/ResNet50) uses the same padding convention as Flax, while many recent ResNet advancements in PyTorch stick with the PyTorch default.

[2021-03-01 19:50] andsteing opened #1065 "Extend examples/imagenet/ with illustration of fine-tuning"
Something along the lines : download pretrained resnet, replace head with a new initialized head, train first head, then whole network.

This would illustrate some model surgery & multi optimizer.

[2021-03-01 19:50] andsteing commented on #1065
See also related issue #1022

[2021-03-02 07:40] andsteing commented on #1053
Run finished:
https://tensorboard.dev/experiment/w4PcKXloQMG7gXJhjskVjw/

- final test accuracy 0.7640
- total run time 5h4m

Compared to previous run using `flax.optim.Adam` (from `examples/imagenet/README.md`):
https://tensorboard.dev/experiment/iJzNKovmS0q6k5t6k5wvOw/#scalars&_smoothingWeight=0&regexInput=v100_x8_mixed_precision

- final test accuracy 0.7647
- total run time 4h51m

Note that th

[2021-03-02 08:39] PhilipVinc commented on #1057
@avital , Am I allowed to use dataclass's `__post_init__` for that? that should not be called lazily?

[2021-03-02 09:38] avital commented on #1057
The limitation isn't due to a technicality, it's a fundamental limitation -- for Modules to be directly convertible into pure functions and for them to interoperable with JAX transformations, it must be possible to clone any module instance by looking at its attributes alone, and creating a new instance from them, and be guaranteed that what you got is identical to the original.

If you modify att

[2021-03-02 09:39] avital commented on #1057
Think about module attributes like a `let` directive in some programming languages (in particular many functional programming languages) -- you can assign the variable a value only once.

[2021-03-02 09:45] avital commented on #1053
Nice! Where is the branch of the code that you ran that used Optax?

[2021-03-02 10:10] #984 closed

[2021-03-02 11:28] #873 closed

[2021-03-02 14:46] andsteing commented on #1053
Another finished run with the Optax code:
https://tensorboard.dev/experiment/xOpycRYnT7m3inYbEuNMxw/

- final test accuracy 0.766
- total run time 5h1m

[2021-03-02 16:29] 8bitmp3 commented on #659
@avital I think I should experiment with porting optimizers to DeepMind's Optax first as per https://github.com/google/flax/issues/1053 👍

[2021-03-03 11:19] marcvanzee opened #1074 "Bug in error catching"
The following code throws an error at the indicated line:

[code]

The error is: `Module instance is frozen outside of setup method.` This seems odd: if `dense` were frozen, why are we allowed to modify the existing attribute `features`, but we aren't allowed to add a new one called `new_attr`? It seems we should not be allowed to modify `dense.features` are all and we should already throw an erro

[2021-03-03 15:09] GJBoth opened #1077 "Shape-dependent initialization gives concretization error at apply."
I'm working on implementing Hadamard Transforms. I use the following function to build a hadamard matrix:
[code]
I cannot lower this to a fori_loop or while, because the shape changes every iteration. I then put it in a simple dense layer:
[code]

I can initialize this model and my parameters look fine (i.e. its a pytree with a device array):
[code]

However, when I want to do the forward pass wit

[2021-03-03 15:50] GJBoth commented on #1077
It's definitely an issue with initialization. For example, using setup, this doesnt work:

[code]

but this workaround I came up with does:
[code]

[2021-03-03 16:06] jheek commented on #1077
The error is not super informative here but it comes from JAX so we cannot fix that.
The issue is that you try to use a jax value which is dynamic in a place where you can only use static (python or numpy values). The jnp.arange() expects a constant because otherwise it has a dynamic shape which XLA does not support (yet).

So in general shapes should be static so you should use normal python or n

[2021-03-03 16:07] #1077 closed

[2021-03-04 11:34] GJBoth opened #1080 "Flax overhead"
I'm comparing the speed of performing a simple dot product with a fixed matrix 'naked' or in a flax layer. I noticed that by using flax, I'm seeing a massively decreased performance: from approximately 350 microsecond to 5-10ms. Here's a [colab](https://colab.research.google.com/drive/1A6fczIz02zruboM7JpujNjUqao6PrWVx?usp=sharing) where I reproduce the issue. I compare a naked approach, flax (both

[2021-03-04 13:26] jheek commented on #1080
Unlike for example PyTorch we haven't put much effort in reducing overhead. This has a few reasons:
1. Python is slow, so fast code eventually tends to move to c++ making the implementation much more complex
2. Jax itself has large dispatch overheads
3. Most importantly, the dispatch overheads disappear  once you compile you code. So using `jax.jit` on any of the examples you gave should lead to t

[2021-03-04 13:26] #1080 closed

[2021-03-05 12:41] #1074 closed

[2021-03-05 15:43] avital commented on #1045
Hi @Zumbalamambo, we'll need something more descriptive if we want people to be able to contribute and help.

[2021-03-05 15:43] #1045 closed

[2021-03-05 15:50] avital commented on #1022
I wonder if we should pause on this as work work through #1011 as that might lead to deprecating `traverse_util`. WDYT @n2cholas?

[2021-03-05 16:24] jheek opened #1087 "HOWTO use nn.apply and bind"
It would be good to have a howto explaining the various patterns involved in using nn.apply and bind.
In particular:

- HOWTO combine apply with transforms (and why you should probably always jit the init/apply)
- HOWTO rewrite usage of bind to apply
- HOW-NOT-TO combine jax transforms with Modules (eg. jit+bind) and closure over modules.

[2021-03-05 21:07] n2cholas commented on #1022
@avital sounds good to me!

[2021-03-06 02:10] cgarciae commented on #443
@mortner31 I've thought about using `new` as a standard `@classmethod` constructor but its not nice to the eyes. I love dataclasses for simple stuff but I don't see a good fit here.

[2021-03-06 02:50] cgarciae commented on #932
Hey!

I am very interested in the best practices for BatchNorm (or `batch_stats` in general I guess) when used inside a `pmap`. Is the recommendation to use `lax.pmean` to synchronize them? Are there example available?

Thanks!

[2021-03-06 13:39] cccntu commented on #1049
I just noticed the same issue when doing #1090. Look like every linen module has the same issue.

This seems to be the reason: https://stackoverflow.com/a/62161540
Hope that helps.

[2021-03-07 14:03] AlexiaJM opened #1091 "flax.training.checkpoint.save_checkpoint with keep=1 leads to "file already exists" error"
I'm using Jax latest, Tensorflow latest, Jaxlib 0.1.59.

Let say I run a python code which does a save_checkpoint with keep=1 once. Then, I rerun the python code again, it will give me a "tensorflow.python.framework.errors_impl.AlreadyExistsError: file already exists". This is really annoying because this means that I have to manually delete the checkpoints if I want to reuse the same python code

[2021-03-08 14:29] jheek commented on #932
See the ImageNet example for the canonical example of combining BatchNorm and pmap. There indeed we sync the statistics before evaluation with `pmean`.

[2021-03-09 11:49] AlexiaJM commented on #1091
There could be an option called "overwrite" which defaults to False.

[2021-03-10 07:02] andsteing commented on #748
Examples have been moved with #884

[2021-03-10 07:02] #748 closed

[2021-03-11 10:25] marcvanzee commented on #975
Hi @MiladInk, I resolved your issue in #1084. I also added a test there showing the desired behavior.

[2021-03-11 10:25] #975 closed

[2021-03-11 10:27] marcvanzee commented on #895
Closed by #1072

[2021-03-11 10:57] marcvanzee commented on #851
Looking at this example some more, I don't think we have to provide a better error message here. The user should simply understand how to use `self.variable`. In this cae `normal()` returns a function that expects at lest 2 arguments, but only one is provided: `(1, self.features)`.

Looking at the documentation of [Module.variable](https://flax.readthedocs.io/en/latest/flax.linen.html#flax.linen.M

[2021-03-11 10:57] #851 closed

[2021-03-11 14:45] jheek commented on #1091
We could add an overwrite option. But I think the current implementation has more issues when you reuse the same checkpoint directory. It might also store let's say at step 10 while you also have a checkpoint at step 100 leading to the new checkpoint at step 10 to be removed.

[2021-03-12 00:21] brettkoonce opened #1114 "pixelcnn.py: README is outdated and bug in dataset downloading"
python3 main.py --workdir=./pixelcnn --config=configs/default.py

fails on

    TypeError: __init__() got an unexpected keyword argument 'deterministic'

rolling back #683:

     git reset --hard feb9119d76b0e23d89670ba752caa414c5a7ade2

works again.  ping @jheek

[2021-03-12 07:19] marcvanzee commented on #1114
Thanks @brettkoonce for catching this! I can fix this today.

[2021-03-12 13:54] marcvanzee commented on #1065
Nice idea! Maybe we can consider doing a HOWTO and marge this issue with #789?

[2021-03-12 19:40] brettkoonce opened #1122 "vae demo: AttributeError: module 'flax.linen' has no attribute 'apply'"
produces

[code]
walking back 05aab84e0650f006b45b4bff0262ca9d26ca088f, eg

    git reset --hard 917f447057c93aa0e10708743d7a7d913255a6ad

works again:

[code]

[2021-03-14 14:15] vasudevgupta7 opened #1124 "Add tutorial for fine-tuning BERT"
I would like to add tutorial on fine-tuning `BERT` in `flax`. Would you like to have that example in this library?

[2021-03-14 18:18] marcvanzee commented on #1124
Hi @vasudevgupta7 a tutorial would be awesome! Do you have the code in a repository already that we could take a look at it? We have an experimental version in another library [google_research/flax_models/bert](https://github.com/google-research/google-research/tree/master/flax_models/bert) but we didn't get around to finishing that.

I am not sure whether we will add it to our main examples, sinc

[2021-03-14 21:23] vasudevgupta7 commented on #1124
Hi @marcvanzee, I'm glad you replied!

I am planning to fine-tune `BERT` in `flax` this week for diving deeper into flax. So, don't have code now but will have by the end of next weekend. `HuggingFace` is having [implementation of BERT](https://github.com/huggingface/transformers/blob/master/src/transformers/models/bert/modeling_flax_bert.py) in flax. So, I was thinking of picking it up for fine-t

[2021-03-15 08:56] marcvanzee commented on #1124
Awesome, we are aware of the HuggingFace implementation (we helped
reviewing it and rewriting it to Linen), and I think it would be a great
idea to use their version!

On Sun, Mar 14, 2021 at 10:24 PM Vasudev Gupta ***@***.***>
wrote:

--
---
Marc van Zee

[2021-03-15 09:44] jheek commented on #1122
You probably forked the example from master and installed flax via pip install.
We directly merge into master so the examples you see on this branch might use features that are not yet released on pip.

[2021-03-15 14:17] brettkoonce commented on #1122
fair enough, after reinstalling from master, eg

    pip install --upgrade git+https://github.com/google/flax.git

things work.  thought I had upgraded, sorry!

[code]

[2021-03-15 14:17] #1122 closed

[2021-03-15 14:37] brettkoonce commented on #1114
per discussion in #1122, upgrading to 0.3.2 fixes this, closing!

[2021-03-15 14:40] marcvanzee commented on #1114
Actually I tried running it and it didn't work since the dataset wasn't downloaded. Also the README instructions were outdated, so I'm reopening and attaching a PR that fixes it.

[2021-03-15 14:49] brettkoonce commented on #1114
kk, i had something similar in https://github.com/brettkoonce/flax/commit/84faadf6070b9df5aebcc29562ee063ab864badf, but yours is fancier!

[2021-03-15 15:08] #1091 closed

[2021-03-15 16:56] marcvanzee commented on #1014
In #1072, I tried fixing this by creating a custom error class for Module AtttributeError, but after a discussion with @avital we found that this is not a very natural solution because users expect a normal `AttributeError` when they are trying to access an unknown attribute in a Module.

Solving this issue is a bit more work, and probably not our highest priority. For now I'm lowering the priorit

[2021-03-16 17:15] thomkeh commented on #443
I think using dataclasses is a fine idea. For doing things in the `__init__`, dataclasses have [`__post_init__`](https://docs.python.org/3/library/dataclasses.html#post-init-processing).

But I also observe that my IDE doesn't get any type information for the Linen module constructors. The problem is that the `@dataclass` decorator isn't used. I think all modern IDEs can understand dataclasses now

[2021-03-16 20:14] avital commented on #443
Hi @thomkeh -- I think that's a good idea. If you get it to work with and without an explicit `@dataclass`, with good tests, I think we could probably merge it. @jheek is on vacation this week but I'd like to get his review on the idea as well.

If better IDE support is very important, perhaps we could consider changing our example patterns as well.

[2021-03-16 20:31] RodrigoAVargasHdz opened #1136 "Problems with Dense for Linear regression"
Hi,

I am trying to optimize linear regression and  NN using FLAX. Both models were created with the Dense function from flax.linen.
However, even for a simple 1D linear regression, I haven't managed to converge to an optimal solution.
I created a repo that contains my example, https://github.com/RodrigoAVargasHdz/lr_flax.git

Could you please point me to what are my mistakes?

[2021-03-16 20:37] #1136 closed

[2021-03-17 07:11] marcvanzee opened #1139 "Add an explicit error message when trying to set Module.name"
From @avital :

Maybe we should also make a separate explicit error for when you try to assign to module.name
Looks like this comes up pretty regularly, and this leads to a different need than the more general "module instances are frozen"

[2021-03-17 16:03] marcvanzee opened #1155 "Implement a Sequential Module"
Users often ask for this so it would be good to just add it. I can be as simple as this:

[code]
Example usage:

[code]

[2021-03-17 16:36] #1114 closed

[2021-03-18 14:49] baheytharwat commented on #1155
Hi @marcvanzee,
I am interested in working on this issue. is that possible?

[2021-03-18 16:13] akolesnikoff opened #1157 "np.array parameters may lead to a silent failure"
Passing np.array parameters (instead of jnp.array) to a linen module may lead to a silent failure, see the following example:

[code]

Output:

[code]

[2021-03-19 08:50] marcvanzee commented on #1157
Thanks for catching this!

When you map the embedding to an `np.array`, what will happen when applying the `Embed` module is that the embedding (which is now a Numpy array) is indexed with a `jax.numpy` array. This causes Numpy to treat the `jnp.array` as a tuple, which is not what we want:

[code]

We can verify the `jnp` is cast incorrectly by changing its type:

[code]

Actually this also throw

[2021-03-19 09:16] avital opened #1161 "Deprecate flax.jax_utils.replicate"
`flax.jax_utils.replicate` should no longer be necessary and superceded by `jax.device_put_replicated`. We need to update our tests and use-cases accordingly, and add a clear and useful deprecation warning (or, perhaps even an error simply asking users to switch to the JAX API -- since as far as I can tell the function signature is identical)

[2021-03-19 20:17] andsteing opened #1170 "Return key from `traverse_util.Traversal.iterate()`"
Currently `traverse_util.Traversal.iterate()` only returns the traversed values. In some cases we need access to the traversed keys as well, for example when checking that two `ModelParamTraversal` do not overlap in their keyspace (#1135).

Thus, the interface should be updated to
[code]

And all uses of `traverse_util.Traversal.iterate()` updated accordingly.

[2021-03-23 08:17] jheek commented on #443
The main issue I'm seeing is that @dataclass will change the class after init_subclass. Perhaps init_subclass will fire again afterwards? I'm not sure but I think this could get messy...

[2021-03-23 12:50] jheek opened #1177 "Invariant state for MultiOptimizer"
It would be more user friendly to keep the parameter structure in optimizer.state instead of flattening the paramaters for each sub optimizer. This is especially useful for sharded_jit and friends which are often used with a fine-grainted partitioning of the model params and optimizer state.

[2021-03-23 21:57] cgarciae commented on #443
@thomkeh post init doesn't cover certain cases:

[code]
Using normal classes you could do:
[code]

[2021-03-23 23:03] PhilipVinc opened #1178 "[Request] Conda recipe"
Would it be possible for you to release a conda-forge recipe of flax?

We officially released the beta of netket 3, and I was trying to update our conda recipe and since we depend on flax, we need flax to be packaged for conda too.

It's rather an easy process: just run `conda skeleton pypi flax` (flax is just a source package so everything should be smooth) and then open a PR against the right co

[2021-03-24 10:35] PhilipVinc commented on #1178
I tested a recipe already and it works:

[code]

[2021-03-24 10:50] #847 closed

[2021-03-24 10:50] #893 closed

[2021-03-24 10:50] #895 closed

[2021-03-24 10:50] #977 closed

[2021-03-24 10:56] jheek commented on #1178
I tried your recipe but for me it isn't working

[2021-03-24 11:45] PhilipVinc commented on #1178
I had pasted the wrong snippet, sorry.

You should name the file `meta.yaml` and put it in a folder named flax.
Then you do `conda build flax`.
You will also need to add the LICENSE file to that folder because your source distribution on
pypi does not package it.

I set up the recipe already in this [repository branch](https://github.com/PhilipVinc/staged-recipes/tree/flax/recipes/flax )
according

[2021-03-24 13:44] jheek commented on #1178
We want package publication to be done by the core maintainers. We use a GH actions for publishing so ideally we want the conda package to be released as part of our current CI pipeline (see https://github.com/google/flax/blob/master/.github/workflows/pythonpublish.yml).  Also I see you commented out the python version constraint for the dataclass polyfill. We would have to figure out how to fix t

[2021-03-24 14:09] PhilipVinc commented on #1178
The way Conda-forge releases work is that first you create a PR with your recipe to [conda-forge/staged-recipes](https://github.com/conda-forge/staged-recipes), and once this is merged a repository is created. See for example [jax-feedstock](https://github.com/conda-forge/jax-feedstock). This is all automatic.
Then, this repository houses the build script to produce your releases.

Once your feeds

[2021-03-24 14:44] jheek commented on #1178
Clearly I am a complete conda noob :)
This is very nice though!
Could you add a few more maintainers from the core team (marcvanzee, avital, levskaya, andsteing)?
Feel free to make the PR, I was assuming a process like pypi where the maintainer has a secret used to publish but here the release is completely transparent so there's no issue contributing

[2021-03-25 10:25] marcvanzee commented on #1049
Interesting, thanks for noting this @cccntu! Indeed there seems to be a problem with all Modules. I've changed the title and changed the priority from P2 -> P1.

[2021-03-25 10:26] marcvanzee commented on #1035
Close this since the issue is too vague.

[2021-03-25 10:26] #1035 closed

[2021-03-25 10:27] marcvanzee commented on #1014
Also unassigning myself since I don't plan to work on this soon.

[2021-03-25 11:07] marcvanzee commented on #957
Closing this since after #1072 the bulk of the work is done.

[2021-03-25 11:07] #957 closed

[2021-03-25 11:07] marcvanzee commented on #865
Not sure how to act on this so closing it.

[2021-03-25 11:07] #865 closed

[2021-03-25 11:08] marcvanzee commented on #729
Unassigning myself since I didn't do this and not planning to in the short term.

[2021-03-31 11:30] #1177 closed

[2021-04-01 08:39] levskaya opened #1192 "super().__call__ not generally safe to call in subclass __call__"
[code]
returns
[code]

This happens because the parent `super().__call__` is wrapped to mark itself as "compact" upon entry, clearing the "compact" state upon exit, leading to any remaining variable/submodule instantiations in the subclass `__call__` causing an error because the function no longs "looks compact".

I think we could fix this by adding a bit of logic to the `wrap_method_once` functio

[2021-04-01 09:15] PhilipVinc commented on #1178
Done. `condo install flax` will now work, and the recipe is setup to autorelease new versions unless dependencies change.

[2021-04-01 09:15] #1178 closed

[2021-04-01 09:17] jheek commented on #1178
That's really cool, thanks for pushing this!

[2021-04-01 12:49] avital commented on #1192
(copying from an offline discussion -- if we "formally" support module inheritence and test it rigorously, i think it may be fine to disallow the base class from having optional attributes. otherwise we'd have to reorder the base class optional attributes and put them at the end -- but that would be very confusing for folks who use positional args as opposed to kwargs)

[2021-04-01 14:12] jheek commented on #1192
An alternative fix would be to allow nested compact calls

[2021-04-04 14:23] relational commented on #818
I have tested the example above and can confirm it works now:
[code]
prints out:
[code]

However, it breaks if I try to give `dummy` a name:
[code]
(Tested with jax==0.2.11 jaxlib==0.1.64 flax==0.3.3 )

[2021-04-06 06:51] marcvanzee commented on #818
@jheek it seems we can close this now since @levskaya's change seems to have fixed it, or was there something else you still were planning to do?

[2021-04-06 09:02] levskaya commented on #818
@relational - sorry about that and thanks for noticing this edge-case.  #1201 is an attempt to fix it.

I note that we fix it by _ignoring_ the name given to the outer submodule.  In Flax we try to follow a "single unique namespace" policy for the flax submodule tree, specifically: if you're attaching a new, unattached submodule to a self attribute, it will use that attribute name as its name.  So

[2021-04-06 12:03] #1009 closed

[2021-04-06 15:12] jheek commented on #670
Fixed by #647

[2021-04-06 15:12] #670 closed

[2021-04-06 19:04] phoenix-meadowlark opened #1205 "Expanding flax.linen with common ML primitives."
I had to translate some TensorFlow models into JAX and found the following layers didn't exist:

- `nn.flatten`: In TensorFlow as [`tf.keras.layers.Flatten`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Flatten) and Torch as [`nn.Flatten`](https://pytorch.org/docs/stable/generated/torch.nn.Flatten.html#torch.nn.Flatten). Could also be implemented with `start_dim` and `end_dim` as in

[2021-04-06 22:28] levskaya commented on #818
Please feel free to re-open the issue if you have more thoughts or concerns, given the existing fixes for bookkeeping's sake I'm going to close it for now.

[2021-04-06 22:28] #818 closed

[2021-04-07 10:16] #1192 closed

[2021-04-08 12:16] Numeri opened #1218 "Incredibly slow transformer code"
I'm working on a project with a deadline, and seem to have hit a wall. My code is running many orders of magnitude slower than I had hoped, and I don't understand why.

I'm making a Transformer model, and need

I tried to profile it using `jax.profiler`, but just got a 40 byte file that doesn't seem to work as a Tensorboard profile.

I really do apologize for the lack of a minimal working example,

[2021-04-08 12:35] jheek commented on #1218
Looking at the code my first guess is that your problem is the placement of `jax.jit`. Note how you end up [calling](https://github.com/Numeri/non-linear-transformer/blob/main/train.py#L53) jit each iteration.

The second problem is that the jit does not capture the full train step so you are missing some optimization opportunities.
Please try to rewrite your train code like this:
[code]

[2021-04-08 12:58] marcvanzee opened #1223 "Should Flax return FrozenDicts or regular dicts?"
This topic is discussed regularly internally, and I feel we haven't reached a consensus here. Below are some arguments collected from users for both positions, feel free to add.

**Arguments in favor of FrozenDict**

- @avital: If you use normal dicts, it is easy to mutate them, which means the behavior may differ depending on whether the function in which the modification is made is jitted or not

[2021-04-08 13:48] andsteing opened #1227 "Module.sow() should fail if collection provided as input"
It's very easy to accidentally mis-use `flax.linen.Module.sow()` by calling `apply()` and feeding the intermediate values back in. This results in ever growing:

[code]

Note that appending values is desired behaviour because the same module can be called multiple times and we would want to recover all the values, not only the last value. Note also that `variables = variables.copy(mod_vars)` is a

[2021-04-08 14:06] Numeri commented on #1218
@jheek Thank you so much for the help! That sped things up considerably, after the `jit` compilation. In an effort to speed up the compilation and training steps, I also replaced the Python `while` loop [here](https://github.com/Numeri/non-linear-transformer/blob/c9750971ad2ac7d6753c206d5e1628f0a23dca9a/decode.py#L37) with a `jax.lax.scan`.

The compilation itself takes a whole 10 minutes (611 sec

[2021-04-08 14:09] marcvanzee commented on #1227
Tagging @jheek who implemented this and may also have an opinion on it

[2021-04-08 14:41] jheek commented on #1218
I'm surprised the compilation is that slow!
With the while you end up unrolling the entire model seq_length times, the scan should fix that.
But in general, are you sure the scan is actually what you want? Normally you use masking & teacher forcing to train a transformer decoder model in parallel. Training a transformer model like this by recursive way by feeding back the argmax is fundamentally a

[2021-04-08 15:22] jheek commented on #1227
Feeding back the intermediates is not always a problem:
For example if you use apply inside another module then feeding back the intermediates is probably the right thing to do.
In general you could have a finite number of apply calls that you want to track something on with sow.

Also in the current sow api appending is the default behaviour but users can override this. For example you could also

[2021-04-08 18:38] Numeri commented on #1218
Oh, dear, so I misunderstood something fairly essential to transformers then. That's unfortunate. Is a beam search still performed in that token-by-token manner?

[2021-04-09 07:43] #1218 closed

[2021-04-12 01:17] n2cholas commented on #1223
I think the Python saying "We're all consenting adults here" is pretty fitting. In my view, trading convenience for safety is reasonable here because JAX users should know (or will quickly come to learn) that under the JAX transformations, they should not mutate state. Since `FrozenDict`s are not as ergonomic as normal `dicts`, I tend to `unfreeze` them as soon as they're returned from `init` anyw

[2021-04-12 09:21] relational opened #1234 "Surprising behaviour for integer kernel_size in linen.Conv"
I was quite surprised with how `linen.Conv` treats `int` as an argument for `kernel_size`

[code]

This errors on the last line with
[code]

And I can see it creates a kernel for only 1 spatial dimension.

So it seems it says `5 == (5,)`

Changing to `conv = flax.linen.Conv(features=48, kernel_size=(5,5))` fixes the error.

Overall I find:
a) the error is cryptic
b) if this is the desired behaviou

[2021-04-12 12:06] #728 closed

[2021-04-12 13:43] avital opened #1239 "Add HOWTO: Early Stopping"
We recently merged https://github.com/google/flax/pull/711, which gives a simple non-(inversion of control) API for early stopping in a user-defined training loop.

It would be good to showcase a HOWTO with side-by-side diffs like in https://flax.readthedocs.io/en/latest/howtos/lr_schedule.html showcasing how this would be integrated into a real (sample) training loop.

[2021-04-13 12:48] #969 closed

[2021-04-13 12:48] #970 closed

[2021-04-13 13:07] jheek commented on #1223
Hidden state is notoriously hard to reason about and I think all ML frameworks are struggling with it currently. See for example the widely made mistake of mixing the default numpy rng and multiprocessing [(link)](https://tanelp.github.io/posts/a-bug-that-plagues-thousands-of-open-source-ml-projects/).
It's a hard issue to fix though because mutability "infects" all of your code and Python isn't a

[2021-04-13 16:08] n2cholas commented on #1223
This is a good point, especially as a codebase grows it can sneak past you. ​Personally, if `FrozenDict` better matched the ergonomics of `dict` outside of mutation, I would not see it as a burden, at least for my own use cases.

I actually quite like the immutable dataclasses, since the `.replace(...)` API is similar namedtuples. In my view, the inconveniences that arise with FrozenDict don't hap

[2021-04-13 19:49] ayush-1506 commented on #1239
@avital I'm not sure how early stopping is working here. The API example [here](https://github.com/google/flax/issues/728#issuecomment-749454920) says that `early_stop.update` returns a bool, but the implementation [here](https://github.com/google/flax/blob/master/flax/training/early_stopping.py#L58) returns a tuple. Am I missing something?

[2021-04-14 08:04] marcvanzee commented on #1223
Thanks for the input @n2cholas! After chatting with @jheek offline, the consensus is that it is indeed useful to return regular dicts, but that we block implementing this on merging the chex and flax dataclasses.

[2021-04-14 15:03] JamesAllingham opened #1247 "How to vmap stateful single-example models"
Hi all,

I'm a little stuck with how to define models which work on single examples and then `vmap` them across a batch, when that model has some modifiable state (e.g. BN layers).

For a stateless single-example model, I can do something like this:

[code]

However, I am not sure how this should be adapted to handle stateful models. Unfortunately, [the guide for handling state](https://flax.readt

[2021-04-14 15:47] #1247 closed

[2021-04-15 13:15] marcvanzee commented on #1234
Your input is of shape `(8, 256, 256, 3)`, and when you specify a 1D kernel you are applying a 1D convolution. This doesn't work on your input shape, which expects 2D convolutions (your have 2 spatial dimensions). So you can fix this by reducing your input to one special dimension:

[code]

Closing this for now but please re-open if you think I missed something!

[2021-04-15 13:24] marcvanzee commented on #1205
Hi @phoenix-meadowlark sorry for the late reply! I'm personally fine adding them if they make using Flax easier and they don't complicate our API, which in this case doesn't seem to be happening.

I'd also like to hear what @jheek thinks of this.

[2021-04-15 16:34] JamesAllingham opened #1250 "Re-used BatchNorm layer with named axis can't be initialised in train mode"
### Problem you have encountered:

When trying to initialise a model with a re-used `BatchNorm` layer a failure occurs when `use_running_average=False` and I've set a named axis (e.g. `axis_name="batch"`). Here is a minimal example which will fail:

[code]

### What you expected to happen:

I'd expect the initialization to be successful since this works if any of these three conditions are not met

[2021-04-15 20:21] levskaya commented on #1234
I think we want to keep this open as we want to get rid of flax's magic integer --> tuple conversion here

[2021-04-16 07:51] n2cholas opened #1252 "Cannot use linen.Dropout inside linen.scan"
I would like to use linen.Dropout inside of a scanned module. Below is a minimal example based on the linen.scan documentation ([here](https://colab.research.google.com/gist/n2cholas/4ae0dfe7863ebd3e2f7a06bb9a165108/scratchpad.ipynb) is a colab version).

[code]

This produces the following error (the full stack trace is in the linked colab):

[code]

If you set `lstm_dropout = False`, the code ru

[2021-04-16 07:51] jheek commented on #1205
Currently we only define something as a Module if it actually has variables or rngs. So in this case flatten, global_avg_pool, and zero_pad would become functions and not Modules (this makes them more widely applicable). They very closely match existing NumPy functions. So far our philosophy has been to write code that looks like numpy more than make code that looks like PyTorch.

For DepthwiseCon

[2021-04-16 07:54] #1252 closed

[2021-04-16 08:41] jheek commented on #1250
This is indeed a known bug and it has existed for a long time I'm working on a fix now.

The reason why it hasn't been fixed before is that re-using a BatchNorm layer is rarely the correct behaviour because two inputs share batch statistics even if they aren't i.i.d..

[2021-04-16 08:54] JamesAllingham commented on #1250
Yeah, to be honest, posting this issue did make me think carefully about whether what I was doing was reasonable – and I am still not too sure! But I thought that it would be worth fixing since it took me a while to figure out what the problem actually was. My use case is a little more complicated than this minimal example and the error message didn't immediately make it clear what I was doing wro

[2021-04-16 10:37] jheek commented on #1250
Your example is a nice minimal repro indeed. But just be aware that composing BN doesn't really make sense because the output of BN is mean 0 std 1 so for the iid assumption to hold your original input should also be mean 0 std 1 but if that were true than why are you using BN in the first place because it acts as a no-op

[2021-04-16 13:00] lucasb-eyer commented on #1223
Gear, very happy about this decision. I'd just like to add that

Is a complete red herring. This is about hidden global state, whereas this discussion is specifically about explicit, non-global state. It's actually more about rng design than anything else, and what we are talking about doing here is already the "better" rng design where the user explicitly is given, and trusted to correctly handle

[2021-04-16 16:29] #1250 closed

[2021-04-21 20:11] patrickvonplaten opened #1261 "Saving/Loading parameters changes weight format and can lead to silent errors"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

If one saves & reloads a `state` as follows:

[code]

The `state` previously contained weights of type `jaxlib.xla_extension.DeviceArray`, bu

[2021-04-21 20:11] patrickvonplaten commented on #1261
This also seems to be linked to: https://github.com/google/flax/issues/1157

[2021-04-22 05:36] marcvanzee commented on #1261
Thanks for the nice repro!

This is indeed unexpected: we use indexing in the Embedding module, but that doesn't work well if the indexer and indexee are of different types. In your case the indexee is np.array and the indexer is jnp.array, which doesn't seem to work.

I'll look into a fix for this, but in the meantime to unblock you, you can just map your params to `jnp.array` after reading them

[2021-04-22 07:54] jheek commented on #1157
I think we want to use `jnp.asarray` here to avoid unnecessary copies but guarantee that the embedding is a jax numpy array.

[2021-04-22 08:17] marcvanzee commented on #1157
@jheek I think that may still break if the params aren't jax numpy arrays, which can happen if you load weights from a file. See also #1261.

[2021-04-22 10:38] patrickvonplaten commented on #1261
Thanks a lot for the pointer @marcvanzee !

I think the function is called `jax.tree_util.tree_map` instead of `jnp.tree_map` no?

[2021-04-22 10:41] marcvanzee commented on #1261
Yes sorry about that, `jax.tree_map` also works, I've updated the example. By the way, @jheek fixed this issue in #1262.

[2021-04-22 10:49] #1157 closed

[2021-04-22 10:49] #1261 closed

[2021-04-22 10:52] patrickvonplaten opened #1263 "[Question] How to tie/share weights in a flax neural network"
Sorry this is not really a bug report but more a question. Lots of language models tie their word embedding matrix to the output logits matrix (This both saves quite some memory since vocab_sizes can be huge & can lead to better results). In PyTorch it's quite easy to do so - one can simply do the following:

[code]

This will simply make sure that both weights point to the same weight node in the

[2021-04-22 11:24] #1263 closed

[2021-04-24 20:34] yashs97 opened #1270 "Step #5 in How to Contribute"
git command specified in Step 5 in the How to Contribute documentation (https://flax.readthedocs.io/en/latest/contributing.html) returns an error.

`git add remote upstream http://www.github.com/google/flax` is an incorrect git command.

Correct git command would be something like this:
`git remote add upstream http://www.github.com/google/flax`

[2021-04-24 20:42] yashs97 opened #1271 "Pip installing from source throws an error"
I created a fresh miniconda environment and followed the steps in How to Contribute documentation (https://flax.readthedocs.io/en/latest/contributing.html).
Installing from my fork (Step 4) returns the below error :

[code]

[2021-04-25 02:29] yashs97 commented on #1271
Ah for zsh, the square brackets must be escaped(:
`pip install -e  .\[testing]\` (removes the extra dot)
Also FYI,  python. version must be <=3.7 for the. requirement `tensorflow-cpu>=2.4.0` to. be satisfied.
Let me know if this info should be included in the documentation

[2021-04-26 07:30] #1270 closed

[2021-04-26 07:38] marcvanzee opened #1273 "Revert masking logic from seq2seq example"
The seq2seq example is currently the only place where JAX masking is being used. However, JAX masking it highly experimental and very likely to change completely, so we should encourage users to use masking. Therefore, let's remove it from our example.

It seems we can start by trying to rollback https://github.com/google/flax/pull/454, since not much has changed in the example since then.

[2021-04-26 09:41] jheek commented on #1271
I created a PR that should fix the instructions for zsh.

Let me know if this info should be included in the documentation

This I'm not sure about? From what I can see tensorflow-cpu should be supported for 3.6 to 3.8?

[2021-04-26 13:05] yashs97 commented on #1271
Yeah you're right about that, I was using 3.9. My bad!

[2021-04-26 18:09] igrekun opened #1277 "Correct way to initialize a model on TPUs"
When module init call is wrapped with jax.jit XLA compiler takes a long time to create the model.

Medium sized transformers with 512 dim and 12 layers hit compilation time limit of 1 hour.
Without JIT the model compiles in seconds, but examples do wrap the call.

What is the correct way to initialize the model and what's the reasoning behind wrapping the call with jax.jit?

EDIT: I expanded the e

[2021-04-27 14:25] igrekun commented on #1277
Using WMT example the issue with difference between jit and non jit versions can be illustrated by these lines:

[code]

which outputs

[-0.02371583  1.0241227   1.1573081  -0.69314075  0.00546649  0.47282943
 -0.1721289   2.0183356  -1.8775052   1.3018961 ]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

[2021-04-27 19:26] marcosrdac commented on #16
I plan to use Flax in my research on RNNs, but I'm struggling to understand some ideas behind Flax implementation for days. I really wanted to see an example of someone using the documented RNN cells, it would help me a lot!

Anyway, I tried  to use the lambda trick, but it ended up not working, I get an error like this: `ValueError: Jax transforms and modules cannot be mixed.` when the cell is be

[2021-04-27 20:19] igrekun commented on #1277
I found the culprit. Somehow passing params dict to jitted function breaks the execution.

Snippet below works fine:

[code]

While that solves the problem, it is still interesting to know why this happens and why one should or should not JIT the init call.

[2021-04-29 08:06] jheek commented on #1277
This looks like a compilation bug in XLA. What device did you use?

[2021-04-29 08:07] avital commented on #1277
Hi @igrekun -- this may be a JAX or XLA bug. Behavior under jit should not change the results in this way. Could you share a simple stand-alone repro?

Also your second example (where you close over `init_variables`) isn't good -- that way the variables are compiled as constants leading to really larged compiled programs, as well as inability for the jitted function to behave different when parame

[2021-04-29 08:27] marcvanzee commented on #16
Hi @marcosrdac, it seems you replied on a very old issue that wasn't using Linen yet. Also, it seems your questions is better suited for a Github Discussion. Would you mind asking your question there? https://github.com/google/flax/discussions/new

Happy to help you further there! (then it is also easier for users to find the answer).

[2021-04-29 08:33] igrekun commented on #1277
Used the TPU.

Added the simple example at the end of the original colab that I linked. Here it is
https://colab.research.google.com/drive/1wIE4h4duj0J5dX0angN2fm0vFkRLPqa2?usp=sharing

The weird part is that the bug manifests itself when the model becomes large enough. Under 6 layer depth it works fine.

If colab is not convinient here is all the code

[code]

The output is
[nan nan nan nan nan n

[2021-04-29 08:59] marcvanzee commented on #16
Hi @marcosrdac! I've copied your question to Github Discussion #1283 so it is easier accessible for other users. Let's continue the discussion there!

[2021-04-29 11:09] igrekun opened #1285 "Remat decorator doesn't save memory under JIT compiled functions"
### Problem you have encountered:

@nn.remat decorator doesn't save memory under JIT compiled functions.

### What you expected to happen:

Expected compiled and vanilla functions to complete successfully.

### Logs, error messages, etc:

OOM on TPU device when JIT compiled version is executed.

### Steps to reproduce:
https://colab.research.google.com/drive/1_XbQ_oq8APHmlJT-1oo_tU4CwCHj4BNZ?usp=s

[2021-04-29 11:47] jheek commented on #1277
Could you try initialising with random noise like `random.normal(random.PRNGKey(1), (128, 128, 512))`?

[2021-04-29 12:04] igrekun commented on #1277
Expanded example to include noise init as well as noise test input. Doesn't seem to make NaNs go away though ):

[2021-04-29 12:20] jheek commented on #1285
I reproduced the problem. Adding remat increases memory from 8Gb -> 11Gb.
I rewrote it to use jax.remat directly and the problem persists.
So my guess is something in JAX or XLA is going wrong. I'll investigate some more

[2021-04-29 12:29] igrekun commented on #1285
Must be JAX or XLA, since I got OOM reimplementing the test in Haiku too. Most likely it's not the wrapper problem.
In case Haiku team needs the test case it is below

https://colab.research.google.com/drive/1V6vR64PYeuh1dFLOZ0VM3jJwMwq292Bw?usp=sharing

[2021-04-29 13:10] jheek commented on #1285
The problem doesn't reproduce on a normal TPU machine (non-colab) either. Actually on a normal TPU the model without remat uses 2x less memory and the remat version 10x less.

I'll close this for now because this is clearly not Flax related but some problem in JAX/XLA. Please open an issue on the JAX repo

[2021-04-29 13:10] #1285 closed

[2021-04-29 13:15] jheek commented on #1277
@igrekun are you hunting down XLA bugs or are just having bad luck today? ;)

I cannot reproduce this issue on a normal TPU machine also so this also seems related to Colab TPU somehow.

[2021-04-29 13:26] igrekun commented on #1277
@jheek XLA proved to compile more efficient code for the type of models I'm working with so I went to porting all my code from pytorch to JAX.

I guess just bad luck (:

Also, seems like this one might be related to the recent one on JAX repo
https://github.com/google/jax/issues/6558

Seems very similar to me.

[2021-04-29 13:36] jheek commented on #1277
Ah good catch it's probably that. Have you tried the single device pmap workaround? In that case we would be certain

[2021-04-29 13:45] igrekun commented on #1277
Yeah, it is the case. Single device pmap produces matching outputs. The code is at the end of the original colab notebook. (:

[2021-04-29 13:51] jheek commented on #1277
Nice, I'll close this issue because it will be fixed int the upcoming jaxlib release

[2021-04-29 13:51] #1277 closed

[2021-04-29 19:48] parasj opened #1287 "Flax segfaults immediately on a Cloud TPU with the LM1B example"
The LM1B example segfaults when running with a Cloud TPU v3-8. I followed the linked instructions to start a new tf-2-4-1 instance and ran the example with a TPU v3-8 in `europe-west4-a`. I can reproduce this error with a fresh instance and Cloud TPU. I am using a TFRC allocation.

### Problem you have encountered:
Immediate segfault upon calling `p_train_step`. Error seems to still occur even aft

[2021-04-29 20:17] parasj commented on #1287
Including results of a pip freeze: https://gist.github.com/parasj/949585942a4f6b96553de0c0910696fa

[2021-04-29 20:38] parasj commented on #1287
GDB backtrace: https://gist.github.com/parasj/d02f48d7ee6cc0a17d1428af2bc6db22
[code]

[2021-04-29 23:43] relational opened #1289 "Improve Error Message: catch invalid initializers earlier?"
Consider the following snippet, adapted from the flax examples, which has a minor bug ( can you spot it? )
[code]

If we look at the stack trace, it is pretty long and ends at:
[code]

Reading the stack trace, it sound as if the problem is related to the lax dot product, but the actual problem is that `kernel_init` should have been set to `nn.initializers.lecun_normal()` with `()` at the end ( in

[2021-04-30 08:03] jheek commented on #1289
The benevolent dictator orders his subjects to rely on deep stack traces and spurious type assertions rather than readable type errors. If you want good error messages go to the Rust community instead! ;)

On a more serious note:
Unfortunately, we cannot check in Flax that the init function you passed has the correct type signature.
Of course we could pattern match on whether you passed in this sp

[2021-04-30 08:05] #1289 closed

[2021-04-30 12:15] avital commented on #1287
Hi @parasj -- Just as a quick check -- do you still get a segfault with a smaller batch size?

[2021-04-30 21:08] PhilipVinc opened #1292 "[REQ] Allow overriding `__init__` of struct.dataclass"
Python data classes allow the ovverriding of frozen data classes `__init__` methods, that essentially just set all the relevant fields correctly.

I would like to ask that you expose that kwargument in your data class wrapper.

This is useful if a frozen data class is usually constructed starting from object_A but does not store object_A itself, but rather something computed starting from it.
We c

[2021-04-30 21:17] PhilipVinc commented on #1292
To give a more concrete example, we have a series of LinearOperator-like objects called `FMJacobian` and `FMOnTheFly` and `FMJacobianPyTree` (for example) which are lazy encodings of the fisher matrix (~hessian/natural gradient).

From an high level API they all take as input a model, the training data and the parameters, to be constructed.
However `FMJacobian` computes the `jax.grad(model, pars,

[2021-05-02 07:57] n2cholas opened #1294 "Misleading flax.linen.scan example"
Below is the example provided for [`flax.linen.scan`](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.scan.html#flax.linen.scan):

[code]
The default `in_axes` for `nn.scan` is `0`, so it seems like this example is scanning over the batch dimension instead of over a sequence.

I believe `xs` needs a sequence dimension in axis 0, as below:

[code]

Is this correct? I've read https://g

[2021-05-03 08:49] jheek commented on #1292
This question pops up quite often but there is a major issue. A smart `__init__` method (that is one where args don't map 1:1 to attributes) typically don't support clone & replace properly.

So in practice:
For a functional dataclass we want to update fields by calling cls(**dataclass_fields_as_dict(instance), **updates). This is only well defined if __init__ simply maps the constructor args to a

[2021-05-03 09:39] jheek commented on #1294
Yes that looks good. Want to make a PR?

Nit: it's customary to put the batch dim first and putting the sequence length second demonstrates that we can scan over non-leading axes :)

[2021-05-03 09:52] PhilipVinc commented on #1292
Ah, makes sense. Though it remains annoying.

I guess you need to flatten/unflatten the data class, right?
Because an alternative would be for you to add a custom flatten/unflatten_init function.

[2021-05-03 09:53] PhilipVinc commented on #1292
cc @femtobit @attila-i-szabo with whom we were discussing this

[2021-05-03 10:12] jheek commented on #1292
You can always define a vanilla dataclass with a custom flatten/unflatten. But in this case it's your own responsibility to reconstruct without a trivial `constructor(*fields)` call.

Disclaimer I'm a big Rust fanboy:
But I think "smart" constructors are not a good pattern. I think a constructor should always be simple and what you want instead is a classmethod that creates your dataclass from som

[2021-05-03 12:31] n2cholas commented on #1294
Will do!

[2021-05-03 18:38] parasj commented on #1287
@avital I can confirm the segfault will still occur with a batch size of 64 and 16.

[2021-05-03 20:47] avital commented on #1287
Looking at your run again, why are you using Colab configuration options? I don't think you should need those if you're running on a Cloud TPU.

[2021-05-04 04:22] parasj commented on #1287
I updated main.py to call into `jax.tools.colab_tpu.setup_tpu()` to set up the TPU configuration. I changed main.py to set up the TPU following the instructions on https://github.com/google/jax/blob/master/cloud_tpu_colabs/README.md#running-jax-on-a-cloud-tpu-from-a-gce-vm and still get a segfault.

[code]

[2021-05-04 08:07] avital commented on #1287
Do other example (not LM1b) work?

[2021-05-04 11:27] marcvanzee commented on #1292
@jheek Would it make sense to move this to a GH Discussion?

[2021-05-04 11:31] #1271 closed

[2021-05-04 11:41] #1292 closed

[2021-05-04 15:36] Haxxardoux opened #1303 "flax.errors.ScopeParamNotFoundError: No parameter named "kernel" exists in "/Conv_0"."
`Model.apply({'params':params}, batch)` in the loss function seems to throw the error above. I pretty much followed the examples in the docs line-by-line with no luck.

Here is a minimal example of the issue reproduced in google colab - https://colab.research.google.com/drive/12mRim_N4cWmv4nmeuknq8RT2VWUA5egB

[2021-05-04 16:21] andsteing commented on #1303
you wrote

[code]

but you probably meant

[code]

[2021-05-04 16:21] marcvanzee commented on #1303
You have to make sure you take the `params` of the variable dict returns by `init`. So when you create your optimizer you should do:

[code]

The error message is not very clear, so thank you for bringing this up! 👍

We should consider improving the error message to something like "Maybe you passing in an incorrect variable dict"?

[2021-05-04 16:22] marcvanzee commented on #1303
Wow, @jheek beat me to it with an identical code snippet 😄

[2021-05-04 16:28] andsteing commented on #1303
hah you clearly spent that 1 minute on a much better explanation !

👍  👍  👍

[2021-05-04 17:10] parasj commented on #1287
I tested the MNIST example (with the same modifification as above to set the `jax_backend_target` configuration setting. The MNIST example works:

[code]

[2021-05-06 12:58] #1294 closed

[2021-05-06 19:29] parasj commented on #1287
@avital Wondering if you have any updates on this or ideas how to debug LM1B?

This is a GDB backtrace after the segfault: https://gist.github.com/parasj/d02f48d7ee6cc0a17d1428af2bc6db22
[code]

[2021-05-06 19:34] avital commented on #1287
Honestly, debugging TPU segfaults isn't something I'm knowledgable about. @skye is the expert on this, she may have some insight. To help bisect the problem, could you try some of the other examples that use pmap (like lm1b does)?

[2021-05-06 20:20] skye commented on #1287
Hi, lemme try to repro this myself before you spend too much time debugging. I'll use the same setup as in your initial post (thanks for the detailed information, it helps!).

[2021-05-07 01:52] skye commented on #1287
Just wanted to let you know that I'm able to repro. I'll need to dig in to see where the issue is.

[2021-05-07 03:20] parasj commented on #1287
Thank you for looking into this @skye! Glad to hear the issue was clear.

[2021-05-07 12:51] bastings opened #1308 "Rename `master` branch to `main`"
In line with https://github.com/github/renaming it'd be good to rename the default branch to "main".

[2021-05-07 17:45] bastings commented on #1308
Could we make a list of things that need to make done so that nothing breaks? Any integrations?

- [ ] Read the docs

[2021-05-08 06:33] tirkarthi opened #1310 "threading.Condition.notifyAll has been deprecated in favour of notify_all in Python 3.10"
### Problem you have encountered:

 `threading.Condition.notifyAll` has been deprecated in favour of `notify_all` in Python 3.10. Ref : python/cpython#25174

### What you expected to happen:

use `notify_all` in below places.

[code]

[2021-05-12 23:11] skye commented on #1287
We've released jaxlib 0.1.66, which should include this fix. Give it a shot?

[2021-05-13 14:53] avital commented on #1308
I added two things that came to mind. Maybe @marcvanzee @andsteing or @jheek have thoughts for more. Also looks like GitHub retains the old branch names (printing a warning when you use them) so I don't think things will break...

[2021-05-13 15:23] patrickvonplaten opened #1317 "AutoRegressive Decoding currently fails if input prompt > 1"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

### What you expected to happen:

### Logs, error messages, etc:

### Steps to reproduce:
Whenever possible, please provide a *minimal exampl

[2021-05-13 15:27] patrickvonplaten commented on #1317
This issue could be solved with this PR: https://github.com/google/flax/pull/1316

[2021-05-14 06:30] marcvanzee commented on #1308
I also added two things that came to mind!

[2021-05-14 10:35] marcvanzee commented on #1317
Apologies if I am misunderstanding, but for fast decoding we deliberately only feed 1 token at a time and assume the caller iterates over the input and maintains the cache. So you could do something like this in your code:

[code]

Are you saying that this approach doesn't work for your use case? If so, could you please explain why not?

[2021-05-14 10:56] patrickvonplaten commented on #1317
Okey, I see! Thanks a lot for the explicit example @marcvanzee.

This would work for me, but wouldn't it be quite inefficient to do it this way?

*E.g.*, If someone wants to continue generating text from an input prompt that has lots of tokens, but only a few tokens are to be generated *e.g.* few shot prompting (in GPT3-style):
[code]
Let's say the prompt has a token length of 100. In this case, w

[2021-05-14 11:10] marcvanzee commented on #1317
Ah ok, interesting! I think we haven't yet done this kind of decoding, since in our use cases each token is always generated autoregressively, so you have to do to token by token. However, it this is not a requirement then initializing the cache at once seems more efficient.

@levskaya what do you think?

[2021-05-14 18:52] patrickvonplaten commented on #1317
Maybe for some context, I'm currently implementing this for `FlaxGPT2` [here](https://github.com/huggingface/transformers/pull/11556/)

I have a working solution where I split generation into 2 steps:
1. Run the input_prompt to generate the next token and initialiize the cache
2. Run auto-regressive decoding with query_length always equal to 1

An examplary test is [here](https://github.com/huggin

[2021-05-14 22:53] levskaya commented on #1317
Hey! I commented on #1316 but hadn't seen these comments when writing that.  So I think it sounds like you want to do a single-pass "teacher-forced" cache-initialization.  We'd need to add a third "operating mode" for the attention layer (basically, run normally but then stuff the keys and values for the first N tokens into a cache).

[2021-05-15 04:23] n2cholas opened #1319 "AttributeError: module 'flax.linen' has no attribute 'merge_param'"
[This guide](https://flax.readthedocs.io/en/latest/design_notes/arguments.html) suggests using `nn.merge_param` to combine arguments, but `merge_param` is only available through `nn.module.merge_param`. I believe it needs to be added to the import line [here](https://github.com/google/flax/blob/4ae9143f7ef46ffab6d9123ba1b2e4f3303e68d1/flax/linen/__init__.py#L28). I can open a PR if this is the cas

[2021-05-16 23:41] thisiscam opened #1322 "lm1b sampler update is out of bound?"
Hi,

_Disclaimer: I'm not confident if this is some intended behavior._

I think in the lm1b example, the prediction sampler could write to indices out of bound of the result.
The particular offending line is:  https://github.com/google/flax/blob/master/examples/lm1b/temperature_sampler.py#L109.

Since `i <= max_decode_len` according to https://github.com/google/flax/blob/master/examples/lm1b/temp

[2021-05-17 09:23] jheek commented on #1319
Good catch! Please do open that PR

[2021-05-17 09:36] marcvanzee commented on #1322
Hmm yes, this code looks a bit odd to me. It seems we should stop 2 iterations earlier, so `not_at_end` should be defined as follows:

[code]

@levskaya who I think wrote this code: what do you think of this?

[2021-05-17 10:25] #1310 closed

[2021-05-17 20:11] parasj commented on #1287
@skye I had a chance to try it again and it seems to be working! I'm now getting a training loss. Thank you for looking into this and getting a fix pushed!

[2021-05-17 20:11] #1287 closed

[2021-05-18 00:03] n2cholas opened #1325 "Make documentation examples runnable without changes"
UPDATE: Updated title based on discussion to make examples runnable without changes as opposed to just including imports.

Many of the self contained examples in the documentation do not include imports, which can make getting started tough for new users. For example, many examples use `nn.Module`, and a new user may try `from flax import nn` instead of `import flax.linen as nn` when trying to run

[2021-05-18 01:35] 8bitmp3 commented on #1325
What do you think about doctests with `pytest`? https://github.com/google/jax/pull/6330/files by @jakevdp, and also this https://github.com/google/jax/pull/2994/files @avital @andsteing

[2021-05-18 05:35] andsteing commented on #1325
Actually, these examples are run with the Sphinx [doctest extension](https://www.sphinx-doc.org/en/master/usage/extensions/doctest.html):

https://github.com/google/flax/blob/491ce18759622506588784b4fca0e4bf05f8c8cd/docs/conf.py#L54

Maybe we should transform the `testsetup` blocks into `testcode` blocks so the imports are shown in the docs as well?

@n2cholas would you really want every snippet t

[2021-05-18 06:29] n2cholas commented on #1325
@andsteing I think the top of the file would do for the longer examples.

When I was opening this issue, I was mostly motivated by the code snippets in docstrings, e.g. for `linen.scan`, adding the imports + some other boilerplate made the docstring example easier to work with (dc78886b46a0e1bc918aa7fb9fb07d8d6e27e317). Similarly, for [`Module.bind`](https://flax.readthedocs.io/en/latest/flax.line

[2021-05-18 06:41] marcvanzee opened #1326 "pip dependency conflict makes our CI build fail"
Our CI builds are currently failing, example: https://github.com/google/flax/runs/2582750675?check_suite_focus=true

It takes ~6h to resolve pip dependencies and download all the versions.

It seems the problem is with the latest version of Tensorflow, which is released 2 days ago. `pip install --upgrade tensorflow tensorflow-text` causes pip to keep installing different versions. When we use the

[2021-05-18 06:48] andsteing commented on #1325
I think it's great if we can extend our pydoc examples to make them runnable. So whenever you see snippets where something is missing, feel free to open PRs to extend/fix them...

(Even better would be to have something similar to doctest to run them automatically as part of `pytest`)

[2021-05-18 06:54] n2cholas commented on #1325
Cool, I'd be happy to open PRs for the specific links I mentioned.

Would it ok to keep this issue open until we can figure out how to run specific docstring code snippets as a part of pytest? In my view, this should be the default, so new docstrings must be runnable unless there is a reason not to (e.g. too much boilerplate).

[2021-05-18 07:01] marcvanzee commented on #1326
#1327 provides a temporary fix, but I've also filed https://github.com/tensorflow/tensorflow/issues/49253. Once that is fixed we should remove the TF version in `setup.py` again.

[2021-05-18 07:01] #1326 closed

[2021-05-18 07:50] n2cholas commented on #1325
@andsteing I noticed the examples include `testsetup::` code, is there any way to make this (optionally) visible in the documentation webpage? Perhaps under a dropdown, e.g. below is the setup from [extracting intermediates](https://github.com/google/flax/blob/master/docs/howtos/extracting_intermediates.rst):

# Extracting intermediate values
<details>
  <summary>Setup code</summary>

[code]

</de

[2021-05-18 08:54] avital commented on #1325
@n2cholas -- That would be awesome if we could pull it off. I guess we'd need to make a plugin for Sphinx?

[2021-05-18 09:52] avital commented on #1325
It's because we re-export `flax.nn` in `flax/__init__.py` so that `import flax` `flax.nn.<...>` works. But that seems like a bad answer. We should get rid of that, but honestly it's probably time to remove `flax.nn`.

[2021-05-19 06:41] thisiscam opened #1331 "Solution to slow jit for `Module.init` on TPU"
I'm experiencing very slow `jit` for a very small 3 layer Transformer model on TPU.
Without `jit` (using op-by-op mode), I can initialize my parameters within a minute.
I wonder why that's the case? Here's my guess: with `jit`, all the Dead Code Elimination is done by XLA compiler, which is known to be slow.

I see that several related issues/PRs: #879 , #910  #1277, but it seems like none of them

[2021-05-19 06:44] thisiscam commented on #1331
Another idea I had is to leverage jax's abstract evaluation to extract out all the shapes of the parameters, without doing any actual computation. This sounds like a much less hacky approach, but I'm not sure how feasible it is.

[2021-05-19 10:23] jheek commented on #1331
This problem is caused by compiling random init routines over-and-over. XLA inlines everything so code isn't shared between initializer calls that create the same shapes.

A lazy init is indeed an option. There is a util in flax that can do this: https://flax.readthedocs.io/en/latest/flax.jax_utils.html#flax.jax_utils.partial_eval_by_shape

Feel free to try and see if it speeds up the call

[2021-05-19 11:45] #1319 closed

[2021-05-19 16:22] thisiscam commented on #1331
@jheek Thanks for pointing out that function.
It's unclear to me how I can use it to handle initialization with rng? Those are considered data dependent by JAX right?

[2021-05-20 07:43] marcvanzee commented on #1331
Thanks for creating this issue @thisiscam! I agree the issues you mentioned do not explain it sufficiently, and I personally would like to understand this better as well.

@jheek your solution of using `partial_eval_by_shape` makes sense, but are we still doing this in Linen? It seems in our Transformer examples we simply do:

[code]

which, according to the [comment on Module.init](https://github

[2021-05-20 12:15] #1331 closed

[2021-05-20 13:06] marcvanzee commented on #750
I think @jheek implemented this, so seems we can close it?

[2021-05-20 13:13] jheek commented on #750
Yes

[2021-05-20 13:13] #750 closed

[2021-05-21 22:44] peterjliu commented on #948
Might still be useful for people who don't use tf.data?

[2021-05-25 09:25] rohit901 opened #1341 "UserWarning: enable_omnistaging() is a no-op in JAX versions 0.2.12 and higher"
### Problem you have encountered:

I just started out with Flax and was following this tutorial [here](https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html), by running it on Google Colab, but I'm getting this warning after running the second code cell, i.e

[code]
The warning is:

I do not understand what does that means, could someone please explain what implication does this warning

[2021-05-25 10:49] marcvanzee commented on #1341
Omnistaging is relatively new in JAX, and for some time it was disabled by default. Linen requires it to be enabled, so we had to enabled it manually. Currently, omnistaging is enabled by default, so we no longer have to manually enable it. However we forgot to remove it in this Colab.

The bottom line is: we should remove the last two lines from the Colab. Do you want to file a PR for this?

[2021-05-25 10:51] rohit901 commented on #1341
Sure, I can try doing that if you want

[2021-05-25 10:51] jheek commented on #1341
I already did a quick search-and-replace so you don't have to bother ;)

[2021-05-25 10:52] rohit901 commented on #1341
Thank you for the help :) maybe then this issue can be closed, thank you for making it clear.

[2021-05-25 11:47] #1341 closed

[2021-06-07 14:01] zpolina opened #1355 "[Feature request] To be able to intercept module calls for an existing model."
We are interested in enabling a ‘hook’(‘interceptor’) into calls to Flax modules to add functionality for various purposes. For example, hooks would make it possible to intercept module function calls by changing the input or perturbing the output. It can also be used to access or modify the module gradients. The main motivation for this is to avoid forking existing off-the-shelf  models and creat

[2021-06-08 11:22] andsteing opened #1357 "Update documentation to `optax`"
Examples are currently being refactored to use `optax` #1356

This issue tracks updating the documentation (readthedocs, pydoc) to mark `flax.optim` as deprecated, and to introduce new documentation for using `optax`.

[2021-06-09 14:59] thomkeh commented on #1239
Duplicate of #886?

[2021-06-09 16:20] avital commented on #886
Copying content from the duplicate #1239:

We recently merged #711, which gives a simple non-(inversion of control) API for early stopping in a user-defined training loop.

It would be good to showcase a HOWTO with side-by-side diffs like in https://flax.readthedocs.io/en/latest/howtos/lr_schedule.html showcasing how this would be integrated into a real (sample) training loop.

[2021-06-09 16:21] avital commented on #1239
Thanks @thomkeh -- yes, this is a dupe of #886

[2021-06-09 16:21] #1239 closed

[2021-06-10 12:38] Depersonalizc opened #1360 "Wrong moving average from `BatchNorm`"
The `BatchNorm` module falsely calculates the running average by a weighted sum (with the initial mean=0, var=1) for the first batch it receives. Should just be the mean/var of the batch.

[2021-06-10 13:58] jheek commented on #1355
Thanks for your proposal! Hooks are indeed very powerful and seem to be used quite a bit in the PyTorch ecosystem.
Historically, we have been hesitant to add hooks because they allow for injecting arbitrary side-effects at function boundaries unlike the "passive observing" done by `capture_intermediates`.
We decided that a big feature like this needs a [FLIP](https://github.com/google/flax/tree/ma

[2021-06-12 22:03] thomkeh commented on #443
@cgarciae with a more verbose syntax you can achieve something very close to that:

[code]

[2021-06-14 23:42] levskaya opened #1364 "Add a dummy __call__ method to nn.Module base class for typechecking"
for pytype and other checkers we should have something like:

[code]

at the very least to remove a class of existing false-negative type-check issues in pytype (when passing modules / module factories as attributes).

[2021-06-15 00:26] levskaya commented on #1360
Arguably this just comes down to whether or not you wish to presume a prior for the mean and variance of the running averages.  Since BatchNorm running statistics are exponentially weighted in the expectation of calculating them over a large number of batches, the choice of a zero-mean / unity-variance prior doesn't in practice matter much at all, and keeps the implementation much simpler.

[2021-06-15 07:27] levskaya commented on #1364
A minimal example of one current issue w. the pytype checker is:
[code]
results in `... in __call__: 'Module' object is not callable [not-callable]`

[2021-06-17 07:16] marcvanzee commented on #1049
Another issue with RTD from @andsteing

"I was just checking Flax docs for something... Has it always been like this?
https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Conv.html
I find that super confusing to navigate."

I agree this looks terrible, so I'm extending the scope of this issue to also resolve that.

[2021-06-20 13:54] lu-ming-lei opened #1373 "how to change this torch to flax?"
optimizer = torch.optim.Adam([variable1, variable2], 0.001)

how to change this torch to flax?

I try this but no success:  optimizer = flax.optim.Adam([variable1, variable2], 0.001)

[2021-06-21 08:05] patrickvonplaten opened #1374 "How to pass dtype to `self.param(...)` in `flax.linen.Module`"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

For a specific layernorm implementation, I'm tryning to pass `dtype` to `self.param(....)`, but it seems that this is not possible.
I would l

[2021-06-21 09:11] jheek commented on #1374
Not sure if it is still the case but in the past the jax.nn.initializers couldn't produce half types.
So you had to init a float32 weight and cast it manually afterwards.

In Flax each layer allows you to store intermediates in a specified dtype but params are in float32 by default. This is because parameters in half precision tend to be really difficult to optimize.

It is possible to take the pa

[2021-06-22 19:30] joaogui1 commented on #1373
Hey @lu-ming-lei can you provide a longer code snippet? In Flax we don't pass the variables we want to optmize when initialising the optimizer

[2021-06-23 10:58] thomkeh commented on #443
The [pyright](https://github.com/microsoft/pyright) team has [a proposal](https://github.com/microsoft/pyright/blob/main/specs/dataclass_transforms.md) for how to specify **"dataclass-like semantics"** for custom classes, which would solve the problem in this issue. They intend to submit this as a PEP, but they have also already implemented this spec in pyright and pylance, so VS Code users can di

[2021-06-23 11:07] gerdm commented on #735
As a followup to @keunhong's question, is the "proper" way to work with both the MLP and the Jacobian of the MLP in Flax to define the same class twice but with different `__call__` method? For example, having

[code]
for the MLP and,

[code]

for the Jacobian of the MLP.

[2021-06-23 12:08] avital commented on #443
@thomkeh This sounds very promising to me! I use VS Code myself so that'd make me happy. Not sure what other editors people use, hopefully they can also be supported. But I see no strong reason to avoid improving even if it isn't an industry standard yet.

Curious also to hear from @jheek and @levskaya who know more about the broader devtools ecosystem than me.

[2021-06-23 12:08] avital commented on #443
(And would you want to submit a PR adding this support?)

[2021-06-23 14:08] jheek commented on #443
Let's give this a try. I hope we can also get this supported in pytype

[2021-06-23 23:36] billmark opened #1382 "Documentation tweak -- actual behavior of 'mutable' is not made clear for apply and init"
The API docs for apply() and init() state that the mutable parameter controls which variable collections are mutable, but it doesn't state exactly how the behavior changes when a variable collection is considered to be 'mutable'.

I suspect it just means that all variables in those collections are returned by the apply or init function (even if those variables haven't actually been changed), and t

[2021-06-24 14:10] yaping1119 opened #1383 "how to make a single variable update in model backword"
for example,  we can use  ' jax.value_and_grad(loss_fn, has_aux=True)(state.optimizer.target)' to update model variable,
how can update single variable?

[2021-06-24 14:14] #1383 closed

[2021-06-24 14:51] lu-ming-lei commented on #1373
optimizer = torch.optim.Adam([
  {'params': variables1, 'lr':0.1},  
   {'params': variables2, 'lr':0.01}, 
  ])
how to change this code into flax?

[2021-06-24 15:04] #1373 closed

[2021-06-24 17:06] billmark opened #1386 "nn.Dense bias_init is poorly documented and can"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

### What you expected to happen:

### Logs, error messages, etc:

### Steps to reproduce:
Whenever possible, please provide a *minimal exampl

[2021-06-26 11:34] marcvanzee commented on #1355
Hi @zpolina @bastings, any updates on this? I think converting this to a FLIP would be nice so we can discuss it in more detail.

To give an example of the usefulness of FLIPS: we had some vague ideas of using Optax for our optimizers, but there were a number of unanswered questions. @andsteing started FLIP #1009 , which lead to a detailed discussion that helped us to resolve all the questions, an

[2021-06-28 14:53] zpolina commented on #1355
Hi @marcvanzee, thank you for checking on. We are about to start writing it and will get in touch soon.

This is a great positive example! Thank you for sharing. Hopefully it will also help us answer all the questions.

[2021-07-01 23:54] dhgarrette opened #1402 "Error when specifying type parameter of a nn.Module that inherits from typing.Generic"
### Problem you have encountered:

When a `nn.Module` inherits from `typing.Generic`, a Flax error is triggered if the type parameter is specified when declaring an attribute or return type.

### Logs, error messages, etc:

[code]

### Steps to reproduce:

Generic Module as a return type:

[code]

Generic Module as an attribute:

[code]

[2021-07-02 01:32] levskaya commented on #1402
The #1403 PR fixes the proximal issue, but there's something deeper going on...

It seems multiple inheritance from a `Generic[T]` and another parent with any `__init_subclass__` can cause issues, likely due to some clash with the metaclass machinery of `Generic`.  e.g.

[code]

[2021-07-02 01:58] levskaya commented on #1402
The obvious issue in retrospect in the example above and in our `Module` implementation is that our `__init_subclass__` wasn't being hygienic and wasn't calling `super().__init_subclass()` which was clobbering the Generic metaclass machinery.  The updated PR should fix this I think.

[2021-07-02 11:53] BirgerMoell opened #1405 "Bad magic number error when following huggingface setup TPU totorial"
I followed the huggingface tutorial for setting up a repo for huggingface
https://github.com/huggingface/transformers/tree/master/examples/research_projects/jax-projects#how-to-install-relevant-libraries

[code]

[code]

### Problem you have encountered:
I get a bad magic number error

### What you expected to happen:
Get a device count

### Logs, error messages, etc:
python3 jax-setup.py
Tracebac

[2021-07-02 11:57] avital commented on #1405
Did you maybe first run with python2 and then python3? You'll need to delete your `.pyc` files.

[2021-07-02 11:59] BirgerMoell commented on #1405
Yes, I did that by accident, where is the.pyc file located?

[2021-07-02 12:00] BirgerMoell commented on #1405
I deleted the jax.pyc file and now it's working! Thanks for the incredibly quick help!

[2021-07-02 12:00] #1405 closed

[2021-07-04 17:04] BirgerMoell opened #1406 "Error while running rn_clm_flax.py huggingface training script"
Ran the run_clm_flax script with the following parameters.

./run_clm_flax.py \
    --output_dir="${MODEL_DIR}" \
    --model_type="gpt2" \
    --config_name="${MODEL_DIR}" \
    --tokenizer_name="${MODEL_DIR}" \
    --dataset_name="oscar" \
    --dataset_config_name="unshuffled_deduplicated_sv" \
    --do_train --do_eval \
    --block_size="512" \
    --per_device_train_batch_size="64" \
    --pe

[2021-07-04 18:22] patrickvonplaten commented on #1406
Thanks for the issue @BirgerMoell - that looks very similar to what we've seen with @patil-suraj before

[2021-07-04 19:38] peregilk opened #1407 "Non working model when exporting to Huggingface"
I have trained a RoBERTa base Norwegian according to instructions given at https://github.com/huggingface/transformers/tree/master/examples/flax/language-modeling#masked-language-modeling.

The final mlm accuracy is 0.63, indicating a working model.

I am trying to load the model, and export til to PyTorch (or TF) for using the inference widget on Hugging Face.

The following code runs without err

[2021-07-05 07:19] patil-suraj commented on #1406
@jheek pointed out that the fragmentation/OOM is caused by storing training metrics (on device) in the `training_metrics` list. If the number of steps per epoch is really large (which is the case bigger datasets) then we should periodically fetch the metrics to memory or do logging periodically rather than at the end of epoch so the device metrics won't get accumulated in `training_metrics`. (cf h

[2021-07-05 08:24] avital commented on #1407
Hi @peregilk, can you please file this again the huggingface transformers repo?

[2021-07-05 08:24] #1407 closed

[2021-07-05 09:01] marcvanzee commented on #1406
Closing this since as @patil-suraj says, this issue should be filed in the transformer repo.

[2021-07-05 09:01] #1406 closed

[2021-07-05 11:13] peregilk commented on #1407
Of course. For reference, here is the link to the new post: https://github.com/huggingface/transformers/issues/12506

[2021-07-05 13:36] avital opened #1409 "Multiple Inheritance -> doesn't recognize as Module throws ValueError: parent must be None, Module or Scope"
### Discussed in https://github.com/google/flax/discussions/1390

<div type='discussions-op-text'>

<sup>Originally posted by **SauravMaheshkar** June 26, 2021</sup>
I'm working on a Flax implementation for [ProteinBERT: A universal deep-learning model of protein sequence and function](https://www.biorxiv.org/content/10.1101/2021.05.24.445464v1). My work so far is in [SauravMaheshkar/ProteinBERT](

[2021-07-05 13:37] avital commented on #1409
@marcvanzee will be investigating this.

A few guiding questions:
1. Why would einops be implemented as a Module instead of just a function?
2. Why is multiple inheritance needed here?
3. Regardless, this error shouldn't happen. So even if we answer (1) and (2) in a way that means there's a workaround, we should still fix this bug.

[2021-07-07 13:39] marcvanzee commented on #1273
Closed by #1396.

Thanks @andsteing , you're a hero! 🎉

[2021-07-07 13:39] #1273 closed

[2021-07-07 13:44] marcvanzee commented on #1124
@vasudevgupta7 any update on this? Since HuggingFace currently has some training scripts, I'm not entirely sure whether a tutorial will still be necessary, but if you have finished something I'm curious to see what it is!

[2021-07-07 16:09] vasudevgupta7 commented on #1124
Hello @marcvanzee, I am so sorry that I disappeared after creating this issue. I actually added fine-tuning script of BigBird on [natural questions dataset](https://ai.google.com/research/NaturalQuestions/leaderboard) in Huggingface Transformers ([see this](https://github.com/huggingface/transformers/tree/master/examples/research_projects/jax-projects/big_bird)).

Can we have the same link referre

[2021-07-08 08:12] marcvanzee commented on #1124
Wow, awesome! Do you want to add your example to this list? https://flax.readthedocs.io/en/latest/examples.html#using-linen

You can simply modify this file: https://github.com/google/flax/blob/master/docs/examples.rst

We have a number of HOWTOs we would still like to add, so if you are interested in writing one, please go ahead! https://github.com/google/flax/issues?q=is%3Aissue+is%3Aopen+HOWTO

[2021-07-08 09:38] vasudevgupta7 commented on #1124
Sure, will create a PR for adding link to the example.

Thanks for sharing HOWTOs, I will create a PR soon on one of them.

[2021-07-08 09:40] marcvanzee commented on #1124
Great! Closing this issue then, and looking forward to your PRs! 😄

[2021-07-08 09:40] #1124 closed

[2021-07-09 14:37] marcvanzee commented on #1386
Hi @billmark , thanks for your issue! Could you tell me in a bit more detail what you were missing from the description of `kernel_init` and `bias_init` arguments?

[2021-07-09 23:39] jennyjin19 opened #1417 "Example request for teacher-student / distillation style network training (e.g. BYOL, dino, etc.)"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

### Description of the model to be implemented
teacher-student style network training (momentum update of student weights to teacher) which is widely used in self-supervised training

### Dataset the model could be trained on
any dataset, e.g. ImageNe

[2021-07-11 20:53] isaaccorley opened #1418 "jax.nn.initializers.constant implementation"
There doesn't seem to be a `jax.nn.initializers.constant` function. I would like to gauge the interest of adding this in a PR.

I have an example implementation below from another [project](https://github.com/isaaccorley/jax-enhance) of mine which simply initializes some ndarray using `jnp.ones` and then multiplies it by the constant value.

[code]

[2021-07-11 20:53] isaaccorley opened #1419 "PReLU activation implementation"
I wanted to gauge interest on adding a PReLU activation. I noticed that `flax.linen.activations` are simply aliasing `jax.nn` activation functions which also doesn't have a PReLU implementation.

To add some background, PReLU is simply Leaky ReLU where the alpha (slope) parameter is trainable and not fixed. This makes it simple to implement as a Module if desired.

Here's an example implementation

[2021-07-11 20:54] #1418 closed

[2021-07-12 03:14] marksandler2 opened #1420 "flax.core.FrozenDict copy broken when the new dictionary contains some names"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
Adding a dictionary which contains 'cls' key fails,
![image](https://user-images.githubusercontent.com/6980056/125225456-33f22600-e284-11eb-8b

[2021-07-12 07:22] marcvanzee commented on #1420
Thanks for catching this bug!

Your code snippet on line 98 resolves to: `return FrozenDict(self, cls='abc')`. This will invoke `__new__` of a superclass in the `Typing` library, which has `cls` as its first argument. So since you also pass it as a kwarg, the interpreter complains that you passed the same argument twice.

It seems dangerous to me that the current code just expands all key-value pa

[2021-07-12 07:23] RohanVKashyap opened #1422 "I would like to include a colab tutorial on training a flax CNN model(using linen) that demonstrates training using colab TPU's effectively using pmap."

[2021-07-12 07:24] RohanVKashyap commented on #1422
I would like to include a colab tutorial on training a flax CNN model(using linen) that demonstrates training using colab TPU's effectively using pmap.Would you like to have this example in your library?

[2021-07-12 07:27] marcvanzee commented on #1422
Thanks for your issue! What dataset and architecture you are planning on using?

[2021-07-12 07:28] RohanVKashyap commented on #1422
I am working on others examples as well.This is the colab notebook I wish to include in the flax examples(can be included in the community examples),it would be great if you could have a look at this.
https://colab.research.google.com/drive/1FHhOAqBpcT4IZyDhgiZJWfdxcOPwOo-h?usp=sharing

[2021-07-12 07:29] RohanVKashyap commented on #1422
MNIST dataset and a simple CNN model.This is basically to demonstrate the simple training pipeline on multiple devices on TPU's.Hope my notebook helps.

[2021-07-12 07:34] RohanVKashyap commented on #1422
Moving forward I would like to include a few more examples relating to transformer based models.Looking forward to these as well.

[2021-07-12 07:47] marcvanzee commented on #1422
Is there are difference between your Colab and our HOWTO on ensembling? https://flax.readthedocs.io/en/latest/howtos/ensembling.html

[2021-07-12 07:49] marcvanzee commented on #1419
Given that all current activation functions reside in JAX, it seem more fitting to add this JAX. Do you want to file an issue against their repo?