[2021-07-12 07:50] RohanVKashyap commented on #1422
Its the same,I just thought of gathering things together so that,it would be easier to run it as a single colab notebook.

[2021-07-12 07:51] RohanVKashyap commented on #1422
I just thought to include this in the community example section,so that everyone can easily run it on the fly.

[2021-07-12 07:53] RohanVKashyap commented on #1422
Please do suggest on what other things I could work on to contribute to the community examples section ,I would love to implement things and contribute there.

[2021-07-12 08:03] jheek commented on #1420
Oh my Python! :)

@marcvanzee your solution looks like the easiest workaround

[2021-07-12 09:59] #1420 closed

[2021-07-12 15:44] #1374 closed

[2021-07-12 18:02] isaaccorley commented on #1419
Thanks for the suggestion. The main reason I filed the issue here was because it seems like PReLU is a special case where it has a trainable param and, if I'm not mistaken, all other jax activations do not.

[2021-07-13 21:25] billmark commented on #1386
As I said in the original bug, "In particular, it's not clear what the parameters to the callback need to be."..  That is, what are the args passed to the kernel_init and bias_init callbacks?  How many of these args?  What types/shapes?  What do they mean?  etc.  There is *no* such information in the documentation.

[2021-07-13 23:28] arampacha opened #1429 "Deserialized TrainState dosn't pass `_check_tree_and_avals` check triggered by jax control flow"
### Problem you have encountered:
Training fails to run with restored `TrainState` when `jax.lax.cond` is in the loop. Specifically the `true_fun` and `false_fun` return type check fails because of having `optax._src...<TypeName>` vs `flax.serialization.<TypeName>` for updated and not-yet-updated branches respectively.

### What you expected to happen:
Resume training without having any issues.

#

[2021-07-14 10:08] jheek commented on #1429
This is definitely a bug on our side. We are essentially recreating named tuples. I will fix this.

[2021-07-14 14:55] riven314 opened #1435 "[Ask for Advice] Enforcing an expensive function to be only called in host during training loop"
I am one of the participant of Huggingface Community Week. I got a question about pmap and training loop, would really appreciate if someone could offer me some advice on that:

I have an memory & time expensive step that needa run per N iterations, e.g.:
[code]

**Questions**
1. will this `run_expensive_step` create a big bottleneck on `pmap_train` call, or it wont be blocked (maybe becoz of asyn

[2021-07-14 15:53] zpolina opened #1436 "Module Interceptor."
This FLIP discusses adding a new module interceptor API into calls to Flax modules to add functionality for various purposes. For example, interceptors would make it possible to change the input of a Module call or to perturb its output. Interceptors can also be used to access or modify the gradients that pass through a Module and expose those.

[2021-07-15 07:19] andsteing commented on #1435
1. Yes this would be blocking - `run_expensive_step()` needs to wait for the computation of `state` to finish first before transferring it to the host memory. And then your training loop is blocked until `run_expensive_step()` finishes. If that's an issue you could run `run_expensive_step()` in a separate thread.

2. Inside `run_expensive_step()` you could use `numpy` for the computation. That wou

[2021-07-15 07:20] #1435 closed

[2021-07-15 11:21] #1429 closed

[2021-07-22 04:16] ckt624 opened #1449 "Automatic Speech Recognition Example Request"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

### Description of the model to be implemented
RNN-Transducer

### Dataset the model could be trained on
LibriSpeech

### Specific points to consider

### Reference implementations in other frameworks
https://github.com/mlcommons/training/tree/master/

[2021-07-22 06:48] sigeisler opened #1450 "Initialization documentation for Conv seems to be wrong"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

The [docs](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Conv.html) say that the default `kernel_init=<function variance_scal

[2021-07-22 07:33] jheek commented on #1450
This is really just a limitation of auto-generated docs. The lecun initializer in JAX is defined as something like:
[code]

The downside of these shortcut definitions is that now le_cun is not a function with the name "le_cun" but the weird string you mentioned above. I don't think there's an easy way for us to infer a proper name for these partially applied functions that come from JAX. You could

[2021-07-22 16:04] #1234 closed

[2021-07-23 09:36] #1450 closed

[2021-07-25 12:54] ghosh-r opened #1454 "Add flax logo in SVG format"
Hi,

It would be really helpful if you add a logo for the Flax library.

A similar request was made for JAX [here on Issue#4389](https://github.com/google/jax/issues/4389) and was granted in [this commit](https://github.com/google/jax/commit/ebf7c1b6127d6df3a64a4d969297ca70e126a341).

It would be really helpful to have an official Flax logo.

[2021-07-26 06:59] deasmhumhna opened #1455 "remat: wrapper() got an unexpected keyword argument 'use_running_average'"
### Problem you have encountered:

The transformed module returned by `remat` does not expect same keyword arguments as original when used as a submodule in `@compact` decorated `__call__` method.

### What you expected to happen:

The transformed module expects the same keyword arguments.

### Logs, error messages, etc:

[code]

### Steps to reproduce:
Whenever possible, please provide a *minimal

[2021-07-26 08:07] andsteing commented on #1454
@8bitmp3 who was working on the SVG logo recently IIRC

[2021-07-27 03:03] ZYHowell commented on #1455
Same. This seems because pack [here](https://github.com/google/flax/blob/095517e679d1687b13e106354e966e418756e535/flax/core/lift.py#L73) returns function(see L83 in the same file below) does not accept keyword arguments. When I manually adds **kwargs to the parameter list of the wrapper and L177-L180, the problem is solved.

[2021-07-27 17:34] deasmhumhna commented on #1455
When I tried this in my actual code where I jit the `apply` function, I get a `ConcretizationTypeError` error, while in the minimal example it throws `IndexError: list assignment index out of range`.

[2021-07-28 03:30] ZYHowell commented on #1455
I can reproduce the problem. Now the problem seems from jit+remat, since when I remove all my modification and turns kwargs into args like [this](https://gist.github.com/ZYHowell/b441e209717fbd715b46d4ca5c572a5a), there is still a likewise problem. But leaving either alone can work well. I also tried `nn.jit`, but still no progress.

[2021-07-28 08:17] deasmhumhna commented on #1455
I'll try looking through the error stack trace and associated functions more thoroughly soon. Maybe somewhere in the wrapping function the `args` and `kwargs` unintentionally get converted into jax arrays? I wonder if the behavior is reproduced with a type like `str` that cannot be forced into a jax object?

[2021-07-29 14:32] FelipeMartins96 commented on #1386
I found myself having the same problem reported when trying to reproduce the DDPG algorithm and an error was raised when trying to use the `lecun_uniform()` on bias initialization of `nn.Dense` params.

Is there a reason why the on the kernel initialization it sends inputs and outputs `(inputs.shape[-1], self.features)` and on bias only inputs `(self.features,)`?
https://github.com/google/flax/blo

[2021-07-29 14:39] borisdayma opened #1464 "FactoredState considered different in optax and flax.serialization"
### Problem you have encountered:

When serializing/deserializing optax state, the Pytree identifies nodes as `namedtuple[<class 'optax._src.factorized.FactoredParameterStats'` while when the optimizer applies gradients, those nodes are set as `flax.serialization.FactoredState`.

This creates a problem of compilation when trying to load a previous optimizer state if we use `jax.lax.cond` and apply

[2021-07-29 15:16] borisdayma commented on #1464
I tried to create a separate `train_step` only for the first step (that does not include any condition) to force the state to always be consistent but this extra function causes a memory error since I already use completely the TPU, even if I just keep one function and use `static_broadcasted_argnums` on my pmap function.

[2021-07-29 15:55] FelipeMartins96 commented on #1386
Had the same issue. I found this issue on jax repo which I think is relevant, the initializer functions are intentionally made to not work for 1D shapes.
https://github.com/google/jax/issues/2075#issuecomment-578465814

I think maybe a page on the docs explaining the initializers would be interesting, or maybe link to the jax docs which lists the available functions. An example notebook explaining

[2021-07-31 14:12] cgarciae commented on #1019
I think something native equivalent to what @n2cholas showed from Haiku provides would be very nice!

[2021-07-31 16:33] cgarciae opened #1467 "Cannot pickle linen Modules"
I am using `0.3.4` and I am getting an error when trying to pickle flax modules, specifically `Dense` seems to be the problem but other might have similar issues.

### Problem you have encountered:
[code]

  File "test.py", line 8, in <module>
    model = pickle.dump(linen.Dense(10), f)
AttributeError: Can't pickle local object 'variance_scaling.<locals>.init'

While the previous is solved with `c

[2021-07-31 19:42] cgarciae commented on #1467
Ok, this exact example seems to work with `cloudpickle` but I am getting another error serializing a `flax.linen.Module` object. I will try to get a reproducible example.

[2021-07-31 20:09] cgarciae commented on #1467
So I found an example that doesn't work with `cloudpickle`, see updated issue.

[2021-08-02 08:04] jheek commented on #1467
(cloud)pickle issues are a little tricky. For some reason cloudpickle tries to serialize Flax internals. I spend some time before looking into it but my main issue with cloudpickle is that there doesn't seem to be a specification of their algorithm and of course the implementation is black-magic Python. I think the minimal thing we need to officially support a library like cloudpickle is a guide t

[2021-08-02 20:54] cgarciae commented on #1467
@jheek You happen to know which Flax internal object its trying to serialize? I am a bit hesitant to ping cloudpickle without a reproducible example that doesn't involve a whole library (flax) as part of it.

If flax users are not using pickle, what is the current recommended way to serialize flax models?

[2021-08-03 09:38] jheek commented on #1467
Yeah I agree we should try to minimize the repro. I tried out your pickle example and I was able to remove Flax from the equation:
[code]
So here it's really JAX that is producing a partial function that cannot be pickled.

For cloudpickle I'm not so sure what's going on but it essentially finds an internal ThreadLocal object and decides that it needs to serialize it. This I think doesn't make sen

[2021-08-03 15:51] cgarciae commented on #1467
@jheek thanks for looking into this!

Its very weird as you say since both `elegy` and `haiku` Modules use `ThreadLocal` but only `flax` is having issues with `cloudpickle`. I am more interested about `cloudpickle` than `pickle` since its generally more robust and pickle doesn't work for `haiku` and `elegy` either so its not really an option.

I will send a PR to `flax` with a test using `cloudpic

[2021-08-03 19:41] avital commented on #1467
I am curious indeed why other libraries that use `ThreadLocal` don't have this problem...

[2021-08-03 20:31] INF800 opened #1473 "Tutorials webpage"
Hi, there are multiple examples available in the repository (in notebooks or scripts) but they are not available online as a webpage in documentation.

Can I send some PRs so that these examples are explained thoroughly and displayed in separate webpage like famous "keras examples" page.

Thanks!

[2021-08-04 08:48] jheek commented on #1467
@cgarciae I found the issue. cloudpickle will not serialize functions that are part of a library but it does serialize other globals. I guess this is a python limitation (missing __qualname__ I suppose?). We use the threadlocal inside a decorator function which will get serialized. All we have to do is factor out the body of the decorator into a method so cloudpickle doens't serialize its closure

[2021-08-04 17:49] matthias-wright commented on #1467
I had a similar issue with `pickle` recently and then simply switched to [dill](https://github.com/uqfoundation/dill).

[code]

[code]

Both of these examples work with `Flax 0.3.4` and `Jax 0.2.18`.

[2021-08-05 06:29] andsteing commented on #1473
Hi Asapanna

@avital FYI

Thanks for reaching out! We're always very interested in improving on our examples, so let's try to figure out together how to best do this.

Note that we already have a (very simple) page in our RTD: https://flax.readthedocs.io/en/latest/examples.html

When you refer to "Keras examples" I assume you mean this page: https://keras.io/examples/

It seems they have all their

[2021-08-05 07:45] INF800 commented on #1473
Sure, yes. I saw the page. But can we have more examples. Especially targeted for beginners so that experienced as well and new researchers / practitioners can start training models with ease. The idea is to have least entry barrier as possible.

Yes !!

I think the examples should **NOT** be focused on covering as many "use-cases" as possible like keras-examples-page. And we do **NOT** need to im

[2021-08-05 10:13] andsteing commented on #1473
Thanks for the additional explanations.

IIUC then you propose to mainly rework our [examples page](https://flax.readthedocs.io/en/latest/examples.html), leaving the full-fledged examples ("depth") as is, but adding more small notebooks to the examples ("breadth"), similar to our "How do I ...?" series, but shorter and more self-contained.

Let's maybe first sketch a short list of such examples in

[2021-08-05 13:24] cgarciae commented on #1467
@jheek that is great news!
@matthias-wright I'll give `dill` a try :)

[2021-08-05 19:32] cgarciae commented on #1467
According to [this answer on SO](https://stackoverflow.com/a/32925601), `cloudpickle` seems to more aggressively pick up objects from the context than `dill`, which seems to be hurting in this case.

[2021-08-05 20:29] cgarciae commented on #1467
Just tested `dill` and it seems to fail for complex cases similar to regular `pickle` for `flax`, `haiku`, and `elegy` modules.

[2021-08-06 02:40] levskaya commented on #1467
We recommend that people serialize _data_, not _code_.  Our native serialization API only deals with model data, not model code.

 - for corporate users the use of libraries like pickle is often not allowed since it can enable arbitrary-code-execution payload vulnerabilities.
 - any pickle-like library leads to extreme brittleness in my experience as even small changes to code can break the import

[2021-08-06 08:06] jheek commented on #1467
+1 to the comments by @levskaya

Especially remote code execution is really overlooked. This is of course intended for RPC protocols like (but we really don't want a protocol with remote code execution as the standard way of distributing Flax models. I'm really curious how the PyTorch worlds thinks about this. The remote code execution problems is not mentions in the torch.save/load docs.

[2021-08-06 11:17] jheek opened #1481 "Test pickle support"
PR #1475 fixes cloudpickle support  but doesn't support add any testing.

Our current test setup seems to import dill indirectly which is incompatible with cloudpickle. Ideally we want to setup testing such that both are tested but don't get in the way of each other. Also we will need to think about how we can test that internal Flax state isn't serialized like was previously the case.

[2021-08-06 12:21] #1467 closed

[2021-08-06 15:29] INF800 opened #1482 "Wrong link for annotated MNIST"
Hi, I was going through already available examples so that I can list them down in #1473.

Found out that [MNIST example](https://colab.research.google.com/github/google/flax/blob/main/examples/mnist/mnist.ipynb#scrollTo=wquAnPg0p4Y8) has wrong link for annotated notebook in first cell.

- existing wrong link: https://colab.research.google.com/github/google/flax/blob/main/docs/notebooks/annotated_

[2021-08-06 16:09] INF800 commented on #1473
You read my mind :) I am going through the already implemented examples. Once I go through all, will draft the list.

**Please note:** I am talking about examples in google colab only. So that we can also convert them to webpages on the go.

These are the categories that I am thinking to cover. Please let me know if there are any categories that we can add/remove.

- **Modelling:** Modelling (diff

[2021-08-12 10:09] #1482 closed

[2021-08-12 12:43] jheek commented on #1402
Closing for now, please re-open if subclassing Generic is still an issue

[2021-08-12 12:43] #1402 closed

[2021-08-13 06:31] levskaya opened #1489 "Improve batchnorm docs."
Based on some conversations I've had with users and their frustrations, we should:
 - add a small invocation usage example for batchnorm inside the batchnorm docstring - showing the use of `mutable=['batch_stats']`, etc.
 - either add BN to the mnist example, or make a small intro document outlining how to use BN in a training loop - given that it's the most likely "state variable" usage that peop

[2021-08-13 08:28] levskaya commented on #1489
Added a docstring note at #1490

[2021-08-13 15:29] jatentaki commented on #735
What do you mean by not working? I just tried this code with `jax==0.2.16, jaxlib==0.1.68` and it seems to work on my side. Has this issue been resolved meanwhile?

[2021-08-13 23:26] billmark opened #1491 "Variance can be negative in BatchNorm computation, leading to NaN's"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

Although variance is mathematically non-negative, the way it's computed in normalization.py it can be slightly negative due to round-off erro

[2021-08-15 00:24] INF800 opened #1492 "jax.jit causes type error"
I used annotated mnist notebook for cifar10 dataset. Removing `@jax.jit` decorator for `train_step` and `eval_step` runs everything fine (but slow).

But keeping the decorator (as in annotated MNIST example) raises following error:
[code]

Error is reproducible in this notebook: https://colab.research.google.com/drive/1T4qJ-nxvYZsVMzA8NZJ7ZdFtC92RiaYO?usp=sharing

Note that `train_step` without de

[2021-08-15 00:26] INF800 commented on #1492
Does it have something to do with `# TODO(necula): this duplicates code in core.valid_jaxtype`? May be type check with `core.valid_jaxtype` will not cause this error?

[2021-08-15 21:07] jatentaki opened #1495 "nn.Embed cannot be hashed -> doesn't work with jax.jit static_argnums"
### Problem you have encountered:
There is some issue with hashing of `nn.Embed` which means it cannot be used as input to methods annotated with `jax.jit`. An example situation is when one wishes to have a `train_step` function which is generic over the actual network executed: when you try to pass the model as a static argument, it works with stuff like `nn.Dense` but not `nn.Embed`.

### What y

[2021-08-15 21:35] jatentaki opened #1496 "Implementing a custom lifted transformation: jax.experimental.ode.odeint"
### Description of the model to be implemented
My request regards not a model but rather an example of how to lift new transformations. There are [design docs](https://flax.readthedocs.io/en/latest/design_notes/lift.html) on lifted transformations and they explain the rationale behind lifting, but fall short of explaining how to go about implementing one "in the wild" (or perhaps I fall short of u

[2021-08-15 23:55] pharringtonp19 commented on #1496
@jatentaki I would be interested in helping to work on this. Looks useful/interesting!

[2021-08-16 07:24] jatentaki commented on #1496
@pharringtonp19 great, what kind of input are you expecting from me at this point?

[2021-08-16 07:24] andsteing commented on #1495
In Flax, we would not usually pass around function references as static argnums, but instead pass them in as part of a PyTree with the annotation that they should not be transformed.

In you case, the simplest solution would be to extend `TrainState` and add the `apply_embed_fn` attribute with that annotation:

[code]

Then you can initialize the state like this:

[code]

Which will reduce the par

[2021-08-16 07:42] andsteing commented on #1495
As for a minimal repro we could say

[code]

The difference is due to a field that is not initialized and then the `dataclass`-generated `__hash__` function fails...

https://github.com/google/flax/blob/e30b7f5fff03df0840e7da40a9f8923aee6fb42b/flax/linen/linear.py#L402

As shown by

[code]

Tagging @jheek here who introduced above `embedding: Array = field(init=False) ` in #643

[2021-08-16 07:42] jatentaki commented on #1495
@andsteing thanks, that looks like a solution. May I ask for the rationale behind adopting this pattern though? I'm thinking of pytrees as a way to store the state of computation and while it may be convenient to be able to have non-transformed fields for some edge cases, the approach above feels to me like a hack. After all, if we put both the state and implementation in pytrees, what is the purp

[2021-08-16 08:03] andsteing commented on #1495
Yes, it's a convenience way of passing a mix of parameters and functions through transformations like `jit()` and `pmap()` - note that even though you don't specify `apply_fn` you're already making use of this pattern when calling `state.apply_gradients()` which uses `state.tx` internally:

https://github.com/google/flax/blob/e30b7f5fff03df0840e7da40a9f8923aee6fb42b/flax/training/train_state.py#L5

[2021-08-16 08:13] andsteing commented on #1492
You can fix this error with `del test_ds['id']`

[2021-08-16 08:25] #1492 closed

[2021-08-16 09:38] jatentaki commented on #1495
Thanks once again. I suppose I leave this issue open in case @jhee decides there's something to be changed about nn.Embed but on my side the issue is resolved.

[2021-08-16 12:12] pharringtonp19 commented on #1496
@jatentaki You mentioned that you might make a tutorial on this. I think it would be helpful to have more examples/tutorials involving odes. So if you need help with this, I would be happy to lend a hand

[2021-08-16 12:22] jatentaki commented on #1496
I see, what I meant is that if I get help in an "unpolished" way (as in some code with comments, a collection of pointers, etc) I can then transform it into something more presentable and doc-quality. That said, right now I'm completely at loss with how to approach this problem.

For starters, I would like to ask
1. Why is the exception being thrown in the first place? Is it because of odeint bein

[2021-08-19 21:28] Zawarud opened #1498 "A self-organizing map example"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

1.  A self-organizing map example(SOM Net, for unsupervised clustering )
2. image or data
3.  use competitive learning rather than backpropagation
4. There are many examples on GitHub using python vanilla, but I need to work with images, with CPU and

[2021-08-21 04:52] levskaya commented on #1491
Thanks so much for the report!  Do you happen to know how badly the epsilon-guard was off in your example that raised a NaN?  We might just add the positivity guard anyway, but I'm curious how "off" your case was.

[2021-08-23 18:32] manifest opened #1503 "New Training and Evaluation API"
This FLIP discusses a new Training and Evaluation API.

[2021-08-23 21:24] billmark commented on #1491
If I remember correctly, changing the epsilon guard from 1e-6 to 1-e4 made the NaN go away, but changing it from 1e-6 to 1e-5 did not.

My sense is that the primary purpose of the epsilon should be to prevent divide-by-zero errors, since of course variance can mathematically be zero.  It seems appropriate to use a different mechanism (e.g. clamp to zero) to deal with negative variance that arises

[2021-08-24 13:39] #1498 closed

[2021-08-24 21:00] levskaya commented on #1496
Hey @jatentaki - so sorry for the delay:

There's a lot of outstanding work 1) getting lifted versions of all the JAX AD machinery for Modules and/or 2) making some simpler tools for allowing end-users to "lift" custom functional recipes without having to dive into all the esoteric bookkeeping of our internal lifting machinery.  So our apologies that this wasn't just a finished thing already, it's

[2021-08-24 21:25] jatentaki commented on #1496
@levskaya thanks for your answer :) I'm not sure what you mean by "a fixed set" of parameters. It's fixed in terms of pytree shape, nothing dynamic, but their value will be subject to updating via gradient descent, if that's your question. To best of my understanding the minimal example I provided should generalize to whatever actual use cases I may have.

[2021-08-28 05:08] levskaya commented on #1489
also see #932 for old notes

[2021-08-29 12:07] levskaya commented on #1496
@jatentaki - sorry for the delay!
@jheek - you may be interested in this too.

I think I have a reasonable draft of a "lifted" version of odeint here in a fork of your colab notebook:
https://colab.research.google.com/drive/1WEg4xb2xbFU4KuiGknp52JztvIpWLDis?usp=sharing

I tried documenting some of the ideas to make things -slightly- less opaque and demonstrated how to use an "nn.odeint" on your to

[2021-08-31 05:11] levskaya commented on #1495
@jheek - see above request for comment from jatentaki (your handle was mis-spelled)

[2021-08-31 09:26] jheek commented on #1495
Thanks, I created a PR to fix the issue

[2021-09-01 08:13] #1495 closed

[2021-09-01 09:49] INF800 commented on #886
Anyone working on this? I can send a PR.

[2021-09-02 11:32] avital commented on #886
@INF800 not that I know of, want to give it a shot?

[2021-09-04 21:27] rongcuid opened #1520 "Propose to change how make_causal_mask works"
The current `make_causal_mask` API is overly restrictive because it requires one to have an array of shape `[B, *, L]`, but `MultiHeadAttention` requires `[B, *, L, H]` as input. This causes a great amount of confusion (as the examples do not have shape annotation/comments) when created mask contains features in its shape and cause shape mismatch errors down the road.

I propose to change the `mak

[2021-09-06 09:41] #1455 closed

[2021-09-06 10:13] levskaya commented on #1520
`make_causal_mask` accepts an input with an arbitrary number of batch dimensions, but a single terminal "length" position, as you said `[B..., L]` it then generates a `[B..., 1, L, L]` causal mask which will broadcast to the attention shape of `[B..., H, L, L]` when masking the actual attention matrix.

It accepts inputs rather than a tuple shape spec to follow the API of the other general masking

[2021-09-06 12:06] marcvanzee commented on #1386
Thanks for the feedback, I've updated the issue description. Indeed, we don't seem to have our initializers on RTD, while we do have the activation functions. We can simply add them here as well: https://github.com/google/flax/blob/main/docs/flax.linen.rst

[2021-09-06 12:09] marcvanzee commented on #1454
@8bitmp3 @avital Do you perhaps have the logo in SVG format?

[2021-09-06 12:11] marcvanzee commented on #1223
Sorry for the delay, -- I was on parental leave.

@jheek could you tell us whether any progress has been made on merging the chex and flax dataclasses?

[2021-09-06 12:13] marcvanzee commented on #1464
Closing this since it is fixed in our main branch.

[2021-09-06 12:13] #1464 closed

[2021-09-06 12:18] marcvanzee commented on #735
The code works, but I think @keunhong is asking whether we can also create a lifted transform for computing Jacobians, rather than putting it into `__call__`. @jheek is this something we currently have on our radar?

[2021-09-06 12:23] marcvanzee commented on #1489
@levskaya given that you improved the docstring, I guess what remains is to write some intro doc. Shall we then merge this issue with the old one at #932?

[2021-09-06 12:24] marcvanzee commented on #886
@INF800 I assigned it to you, thanks for helping! Feel free to send me the PR once it is done.

[2021-09-06 12:34] marcvanzee commented on #1422
Hi @RohanVKashyap, I think it may indeed be useful to add a link to the Colab in the Ensembling HOWTO. Could you create a PR adding this? I've updated this issue title and assigned it to you.

[2021-09-06 17:35] rongcuid commented on #1520
The thing is, my input shape is `[B, L, H]`, and this requires me to do `make_causal_mask(input[:, :, 0])`. This can cause trouble because in my input pipeline I filter out bad samples, so if by chance a 0-sized batch comes in it can crash the training... five days after starting.

I do not think `make_causal_mask` should have the same API as `make_attention_mask`, because the input value really i

[2021-09-06 17:42] rongcuid commented on #1520
I argue this from [The Flax Philosophy](https://flax.readthedocs.io/en/latest/philosophy.html), which says:

[2021-09-07 02:48] levskaya commented on #912
_Tempore omnia vulnera sanabuntur_

I wanted to re-check the results here given how much work has gone on in JAX this year concerning dispatch overheads.

Across the board JAX dispatch times are down -a lot-.  The overhead of using flax vs stax is now extremely slight in dispatch-sensitive tests (lots of tiny launches) and non-existent on any reasonably large computation.

on my macbook, small set

[2021-09-07 02:48] #912 closed

[2021-09-07 02:53] levskaya commented on #1308
I believe we've switched everything over at this point.  The only remaining occurrences of `master` in the repo are references to external repository branches.  I'll tentatively close this issue, please feel free to re-open if we've missed something.

[2021-09-07 02:53] #1308 closed

[2021-09-07 06:45] #1454 closed

[2021-09-07 08:01] levskaya commented on #91
Closing this issue as the old `nn` library is deprecated and we hopefully have a better pattern here in the newer "linen" api:

Just define a non-static `initialize_carry`  e.g. `def initialize_carry(self, rng, batch_dims, size, init_fn=zeros):` in linen and it will have access to the Module constructor args on `self`.

Please feel free to re-open (or better make a new issue) pertaining to any per

[2021-09-07 08:01] #91 closed

[2021-09-07 08:13] levskaya commented on #138
Closing this issue as none of the existing linen examples still use the old tfds subsplit API.

[2021-09-07 08:13] #138 closed

[2021-09-07 08:33] levskaya commented on #1364
Closing - this was resolved by #1365

[2021-09-07 08:33] #1364 closed

[2021-09-07 08:35] levskaya commented on #567
Closing - we do have a new linen lm1b example now.

[2021-09-07 08:36] levskaya commented on #885
Closing, new linen lm1b has been updated.

[2021-09-07 08:36] #885 closed

[2021-09-07 08:41] levskaya commented on #567
I realize there's more on the above checklist than just getting it to work... so I'll re-open until we decide what fraction of these changes we want to do across examples.

[2021-09-07 08:48] levskaya commented on #690
Closing as  #740 #564 resolved this issue as far as I understand.

[2021-09-07 08:48] #690 closed

[2021-09-07 09:07] jheek commented on #735
I have been wanting to implement this for quite a while. It's not a big issue it's just that not a lot of people have asked for gradient calculations to be lifted

[2021-09-07 09:39] #210 closed

[2021-09-07 09:47] #62 closed

[2021-09-07 09:57] 8bitmp3 commented on #1454
Nice @levskaya 👍

[2021-09-07 10:53] gerdm commented on #735
+1 for the implementation. I have been following this thread for a while, but I wasn't aware that an implementation might be possible.

[2021-09-07 13:03] cgarciae commented on #1489
Is `mutable=True` to mutate everything no longer valid?

[2021-09-08 10:12] levskaya commented on #1419
@isaaccorley - hey so sorry for the slow feedback on your suggestion here.

2 points:
 - instead of defining a constant init func, we can just declare a jnp scalar array of the correct dtype.
 - I think an -activation- "function" should strictly follow the dtype of its argument, so no dtype attribute, just derive it from `x`

So what if we added something like this?

[code]

[2021-09-08 14:06] isaaccorley commented on #1419
I'm indifferent on the implementation. I think the only thing to point out would be since we are inheriting from Module and other Modules have a dtype param, should we stray from that standard even though it is an activation function?

I created a constant init func because jax itself seemed to be lacking one, however I haven't received a response to the issue I posted in the jax repo requesting t

[2021-09-08 17:44] INF800 commented on #886
Thankyou. Picking up the task now.

[2021-09-08 19:33] INF800 commented on #886
@marcvanzee added the `docs/howtos/early_stopping.rst` file *manually*. Is it the right way of doing things?

[2021-09-08 19:47] INF800 commented on #886
This test (https://github.com/google/flax/pull/1528/checks?check_run_id=3548808026) is failing as I tried to use `.. codediff::`.

[2021-09-08 21:48] jatentaki commented on #1496
Hello again, thanks for labeling this as high priority and sorry for the delay - this is my side project and it was busy for me as well :( I just tested the code and it worked with my usecase, although I had to do some adaptation. My remarks are as follows:

1. In initialization mode it returns directly the output of (a single evaluation of) `fn`, whereas during runtime it would prepend a leading

[2021-09-08 22:54] levskaya commented on #1419
- Other Modules have a dtype param to control the precision of their -intermediate- values, and a simple activation function like this doesn't have intermediates.  We don't require modules to surface a `dtype=` attribute - it's just convention for the core layers to do so to give users the ability to control the floating-point types of the "insides"

 - The "constant" functions you're looking for

[2021-09-08 23:06] isaaccorley commented on #1419
1. Makes sense thanks for clarifying that.
2. Thanks for pointing me jnp.full. I wasn't aware of that.

Shall I make a PR then?

[2021-09-09 06:52] rsepassi opened #1530 "`FLAX_PROFILE=1` changes the computation"
### Problem you have encountered:

[code]

### What you expected to happen:

I would expect a profiling option like `FLAX_PROFILE` to not change any computation.

[2021-09-09 07:01] jheek commented on #1530
Ah yes the RNGs get split differently as a side effect of named_call we should definitely fix that

[2021-09-09 13:59] avital commented on #886
@INF800 -- yes the docs actually run their code to make sure it runs correctly. you can use testsetup:: if you need to initialize things at the top that aren't defined in the code, but we mostly use that for imports. You probably want to get your code in the codediff:: (specifically the right hand side, which is what's tested) to run without failures. You can also run tests locally, see docs/READM

[2021-09-09 14:00] avital commented on #886
In your case perhaps you can add a testsetup:: block with `num_epochs = 10` to get the code to run...?

[2021-09-09 19:22] levskaya commented on #1419
Yeah if you'd like to make a PR we could add the above to `activations.py` I think (after all the passthrough function imports).  (but no pressure - if you don't have time we can add it soon ourselves.)

[2021-09-09 20:27] isaaccorley commented on #1419
I'll try to take a first stab at it since it will be my first time contributing to flax.

[2021-09-09 22:57] #1530 closed

[2021-09-10 04:32] levskaya commented on #1520
Hey - sorry for the delay.

The existing utility fns are not meant to be in any way the "final word" on transformer APIs.  One of the problems w. transformers is that these days there are ~100 variants of all sorts that tweak just about everything.  So we mainly offer a few super classical self-attention layers to illustrate important general techniques like how to do autoregressive decoding in fl

[2021-09-10 06:00] romanngg opened #1534 "Avoid rank promotion in Flax codebase"
Silent rank promotion can conceal errors that would otherwise throw exception, so I always prefer to run my code with
[code]
This way an exception is thrown if rank promotion happens anywhere (https://jax.readthedocs.io/en/latest/rank_promotion_warning.html).

Unfortunately this appears incompatible with flax, since it uses rank promotion in biases, normalization, some examples etc, so I can't use

[2021-09-10 07:34] jheek commented on #1534
I agree, explicit rank promotions are more readable/maintainable so definitely worth it for Flax

[2021-09-10 10:19] levskaya commented on #1409
Just noticing this issue for the first time... I've seen similarly weird issues with Mixins and Flax resolved in the past by simply changing the order of the multiple inheritance - e.g. `class Reduce(nn.Module, ReduceMixin):` to put `nn.Module` first.  I'm not 100% sure this is the same kind of issue that I've seen before w. mixins, but I'd certainly be curious if that would have fixed the issue..

[2021-09-10 13:17] rongcuid commented on #1520
I was actually generating masks only once at top level. However, my training data, from the beginning, is in the shape of `[B, L, H]`. I am OK with the current implementation, but its documentation probably need some clarification.

[2021-09-10 19:25] rsepassi commented on #1530
Thanks!

[2021-09-11 05:40] levskaya commented on #982
This would have been fixed by #1527, but was fixed by the more comprehensive gpu-training changes in #1414 .  Closing now.

[2021-09-11 05:40] #982 closed

[2021-09-13 00:20] INF800 commented on #886
I notices that `testsetup::` actually hides it's code contents, so added the variables there along with a dummy training function.

After building the html files, I am not seeing link to my page in left side navigation pannel. Should I make changes somewhere?

[2021-09-13 01:03] INF800 commented on #789
There are numerous fine-tuned examples from hugging face community day challenge. May be we can use them?

[2021-09-13 01:04] INF800 commented on #789
Can we add one among numerous examples from HF community day challenge

[2021-09-13 01:06] INF800 commented on #568
Anyone working on this? I can take it up.

[2021-09-13 06:38] bohnetbd commented on #568
I commited to update it and promised to do it. However, I am on holiday for the next two weeks. What would you like to do? The config needs to be replaced and the optimizer updated.

[2021-09-13 09:30] #1534 closed

[2021-09-13 10:02] INF800 commented on #568
Oh. I was looking to learn flax by sending some PRs. This issue seemed perfect to familiarise myself with flax way if doing things.

I can pick up the two tasks above. May need some help at some places.

[2021-09-13 11:27] bohnetbd commented on #568
Cool. Sounds good to me. Personally, I would recommend to take on one task at a time :) so it is easier to review.

[2021-09-13 12:43] marcvanzee commented on #789
I agree @INF800. I changed the title saying we should simply link to existing fine-tuning examples. It seems unnecessary to me to add a new fine-tuning HOWTO, given that so many exist already now.

[2021-09-13 13:14] marcvanzee opened #1538 "Add HOWTO: Non-tfds data loading (e.g. HF datasets, torchvision)"

[2021-09-13 13:40] avital commented on #1489
@cgarciae that should work fine, but generally it's somewhat of an antipattern. Because if folks then add another collection, e.g. for intermediate outputs, users will probably want to be explicit about whether they expect those to be mutated. Otherwise you may end up with an accidental footgun where you weren't aware that things are mutating and you're ignoring the new output collections, or leak

[2021-09-13 13:40] avital commented on #1489
@marcvanzee yes, I will close this and reference it from #932

[2021-09-13 13:40] #1489 closed

[2021-09-13 13:45] avital commented on #821
Resolved with #683

[2021-09-13 13:45] #821 closed

[2021-09-13 13:55] avital commented on #867
We now have this here: https://flax.readthedocs.io/en/latest/design_notes/lift.html, so I think a first version of this is done, but perhaps there are improvements we can make?

[2021-09-13 13:58] cgarciae commented on #1489
Hey @avital ! I was having an error with `mutable=True` so I arrived here.

Also, when you pass `mutable=["params", "batch_stats"]` BatchNorm returns the initial batch_stats, is this expected?

[2021-09-13 14:02] avital commented on #1489
@cgarciae -- let's take this to a new thread on github discussions? (in short: with batch norm you have to pass `use_running_average=False` in either the constructor or `__call__` for it to update the stats.

[2021-09-14 17:38] manifest opened #1542 "PEP484-compatible export of names in Flax"
Now that [Flax provides a marker file according PEP 561](https://github.com/google/flax/pull/1483), mypy is able to find type annotations. The issue is that nothing is exported at the moment – mypy requires public API of a package being exported using either `__all__` or `import ... as ...` syntax.

[code]

Currently, projects that are using Flax need to set`--no-implicit-reexport=False`.

There a

[2021-09-15 12:35] mjsML opened #1543 "`flax.training.checkpoints.save_checkpoint` is blocking"
[flax.training.checkpoints.save_checkpoint](https://github.com/google/flax/blob/1dfc64b6203ab4e69d55bd9e9365c5410c5fdad6/flax/training/checkpoints.py#L93) default behavior is blocking, this becomes a problem as we scale up, specially if we save the checkpoints to GCS or any high latency storage. if we scale up by "napkins math" for a v3-2048 it can be up to 40% of the total wall time (my reference

[2021-09-17 12:45] Nils-Hoffmann opened #1550 "Training Imagenet Example when restoring from checkpoint fails with ValueError"
When optimizer state is restored from a checkpoint the resulting state has different flax.serialization types instead of the expected optax ones. Gradient application works fine with these types [but the conditional application of new optimizer state using tree_map in the example ](https://github.com/google/flax/blob/d098f2514d008ac5798fa5ad1e09a18485d4188e/examples/imagenet/train.py#L155) fails w

[2021-09-20 08:19] andsteing commented on #789
For your reference: I recently added a link to a fine-tuning example here: ad6a4aedb9b78a5a445426901072d9785329f468

[2021-09-20 08:23] andsteing commented on #568
One task at a time LGTM.

When doing non-trivial changes (e.g. updating to Optax), thanks for adding links to before/after metrics like in #1476

[2021-09-20 12:52] andsteing commented on #1464
For reference: this was fixed in #1432

[2021-09-20 12:53] andsteing commented on #1550
This was fixed in #1432 ... which is not yet included in the latest release - expect that to be updated soon

In the meantime you can fix it by install `flax` from head:

[code]

[2021-09-20 12:53] #1550 closed

[2021-09-20 14:06] akolesnikoff opened #1552 "`apply` requires a PRNG key when it is not needed."
### Problem you have encountered:

`apply` call requires to provide a PRNG key, which is only used in `setup()` for `Variable` initialization. As far as I can tell the key is not really needed and providing it makes code more complicated and less intuitive.

### What you expected to happen:

I expect `apply` not to require a PRNG key.

### Steps to reproduce:

Minimal example:
[code]

Error:
[code

[2021-09-20 14:36] jheek commented on #1552
This is expected behavior: setup is called during apply but should normally not create PRNGKeys outside of variable initialization.
The make_rng API is independent of variable initialization for example you could use it like `dropout_rng = self.make_rng("dropout")`.
For initializers we normally use something equivalent  to`self.variable('state, 'state', lambda *args: init_fn(self.make_rng("state")

[2021-09-20 14:44] akolesnikoff commented on #1552
Thanks, calling make_rng in the initializer on demand solved it for me.

[2021-09-20 14:44] #1552 closed

[2021-09-21 20:52] levskaya opened #1556 "fix checkpointing handling of giant msgpack array leaves"
We added "chunking"/"unchunking" of giant array leaves in our msgpack serialization format to get around msgpack's 32-bit limits on leaf-sizes.  However python msgpack has a safety `max_buffer_size` kwarg in unpacking that we don't handle.

We should capture `BufferFull` exceptions and reraise w. a user-friendly error pointing to a `max_buffer_size` kwarg that we should add for setting this in our

[2021-09-23 20:18] AkashGanesan opened #1566 "Loop in a pmapped function"
We have the following step function that we are pmapping.  It iterates over optimizers specified for different branches of the model and updates the parameter.  However, in this the below code, when we are calling ` _update, _state = _opt.update(_grads, _state, _params)`, we get the following type for _update

[code]

Is the `Traced<ShapedArray(float32[])>with<DynamicJaxprTrace(level=0/1)>` coming

[2021-09-24 09:42] andsteing opened #1567 "Showcase "transfer learning" with imagenet example"
The existing [`examples/imagenet/notebook.ipynb`](https://colab.research.google.com/github/google/flax/blob/main/examples/imagenet/imagenet.ipynb) could be extended to showcase how to do transfer learning, i.e. use a pre-trained imagenet model, remove some layers, and then train with some other layers frozen.

#1565

[2021-09-27 10:31] avital opened #1571 "Need to add a "lifted while_loop""
Originally requested by @sharadmv: "Is there a `flax.while_loop` like there is `scan`?"

@levskaya responded with "not yet, there should be. or something more general that doesn't assume what you're trying to do..."

In particular, this would be useful/necessary if people use [`Module.sow`](https://flax.readthedocs.io/en/latest/flax.linen.html#flax.linen.Module.sow) for logging/printing from deep

[2021-09-27 10:49] 8bitmp3 opened #1575 "Feature request: Gradient checkpointing in Flax - examples or HOWTO"
A HOWTO or examples of gradient checkpointing in Flax (as requested by @jwieting cc @avital)

[2021-09-27 10:56] avital opened #1576 "Add doc: "Flax Module lifecycle""
Should cover:

- When/why does setup() get called?
- When/why do module instances get cloned -- and relatedly why do we freeze module instances outside of setup?
- What happens to Flax modules inside a JAX transformations?
- Why/when is it safe to override `__post_init__`
- How does construction of submodules know to attach itself to parent
- How to use functional "submodules", e.g. `Dense(parent=

[2021-09-27 11:20] avital opened #1577 "Need to update the LR schedule HOWTO to use Optax and TrainState"
Currently it uses the deprecated `flax.optim` Optimizer pattern.

[2021-09-27 11:58] jheek commented on #1571
sow in particular could be problematic because we cannot statically allocate an array for the outputs of a dynamic loop (e.g.: while)

[2021-09-27 14:55] conorheins commented on #1386
I've been having this same issue as well; namely I'm not sure what the argument to `kernel_init` should be. Shouldn't I be able to do this when creating a `nn.Dense()` layer, for instance?

[code]

This throws the following error when doing `model.apply(params, input)`:

[code]

It only works if I either A) don't provide an input argument to `nn.initializers.lecun_normal()` or B) use the following

[2021-09-27 16:40] jheek commented on #1386
I agree it's a bit frustating that you can only rescale the variance_scaling and not lecun_normal, kaiming, etc. These initializers come from the `jax.nn.initializers` module though so it's best to open an issue in google/jax about this

[2021-09-27 16:42] jheek commented on #1571
There's just no way in JAX to create a dynamically sized array at the moment. Effectively you want to turn the following into XLA:

[code]

with scan we know the number iterations so we can preallocate an array with a bunch of zeros and update a slice of it in each iteration which is what scan does under the hood.

[2021-10-14 05:45] levskaya opened #1616 "[Documentation]: clarify mutability of collections rather than variables"
Just making a note so we don't forget it - several people have been confused by the existing documentation around mutability, `mutable=` kwarg, variables, collections - and on top of that how `sow`, `capture_intermediates` work.

One thing that sticks out is that we may not be making it clear enough in docs that mutability is about the mutability of the _collections_ and not the _variables_ - as o

[2021-10-14 18:36] billmark opened #1617 "Improve documentation of key concepts behind initialization in nn.Module"
This bug is for improving documentation for a particular aspect of Flax.  Specifically I (and several other people I've talked to), find the existing documentation to be very confusing when we try to understand the fundamental concepts behind how nn.Module initialization works, particularly when nn.compat is not used.

The following email from Flax engineer Anselm Levskaya was very helpful (Thanks

[2021-10-15 21:46] ckt624 opened #1620 "ogbg_molpcba example doesn't run on multi GPU machine"
When I try to run ogbg_molpcba example on a multi GPU machine by default config:

python main.py --workdir=./ogbg_molpcba --config=configs/default.py

I get error

Traceback (most recent call last):
  File "main.py", line 65, in <module>
    app.run(main)
  File "/opt/conda/lib/python3.7/site-packages/absl/app.py", line 303, in run
    _run_main(main, args)
  File "/opt/conda/lib/python3.7/site-pa

[2021-10-16 07:51] andsteing commented on #659
The updated [annotated MNIST][(https://flax.readthedocs.io/en/latest/notebooks/annotated_mnist.html) example is using `flax.linen` and `optax`.

So closing this issue (also created #1621).

[2021-10-16 07:51] #659 closed

[2021-10-16 07:54] andsteing commented on #661
Since

https://github.com/google/flax/blob/11f8151d29fc37051d5a2221d8ec39b5b47e388f/flax/optim/__init__.py#L15-L24

I don't think we need to document these "effectively deprecated" optimizers in RTD. Closing.

[2021-10-16 07:54] #661 closed

[2021-10-20 08:31] GJBoth opened #1628 "Documentation - Struct initializing with __post__init not possible"
Hi,

I'm trying to create a dataclass with an initialization method, a la
[code]

`__post_init__` is called, but I can't update `u` because the dataclass is immutable, as it's defined as frozen dataclass. This is not strictly a flax issue, but it took me a while to figure this out. An (ugly) workaround is to use:

[code]
However, in this case we can't `vmap` the initialization. It might be benefic

[2021-10-20 08:40] jheek commented on #1628
I don't think this will work as you expect because __post_init__ will be called every time this dataclass is tree_mapped (e.g.: when passing it to a JAX functions like vmap). What makes dataclasses easy to use in combination with pytrees is that they are vanilla data structures so basically they are immutable and constructor args == instance fields.

Personally I generally prefer explicit smart co

[2021-10-21 08:46] jheek opened #1631 "checkpoints.restore_checkpoint` should raise an error for explicit paths that don't exist"
### Discussed in https://github.com/google/flax/discussions/1612

<div type='discussions-op-text'>

<sup>Originally posted by **PgLoLo** October  9, 2021</sup>
From documentation of `flax.training.checkpoints.restore_checkpoint`:

Why silently hiding the checkpoint absence (which is a great potential for a bug: by path misspecification, step misspecification, etc.) is a good idea? Makes no sense t

[2021-10-21 14:33] #1566 closed

[2021-10-23 10:35] pfeatherstone opened #1636 "Example C++ inferrence"
Is there a way to infer Flax models in C++ using a minimal library?
If so, could you provide an example?

[2021-10-23 19:28] AkashGanesan opened #1637 "for loops in a module"
We have a top level module that has several submodules that can be executed in parallel.  In the following code, we loop over the branches.  However, we are afraid that these won't be optimized by jit and will execute sequentially.  Can you confirm if this is fine or if it, provide an example on how to actually achieve this?

[code]

[2021-10-23 22:18] #1637 closed, assigned to nobody

[2021-10-27 09:27] #1628 closed, assigned to nobody

[2021-10-29 11:34] grahamgower opened #1652 "flax.linen.Conv docs don't mention channel dimension nor dimension numbers generally"
The [Conv API docs](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Conv.html#flax.linen.Conv) don't indicate the convention used for axes ordering. I expected to see something like "we use the channels-last convention (NHWC for a 2d convolution)". Did I miss something obvious?

I eventually figured it out from staring at the flax sources and some jax [conv](https://jax.readthedocs.i

[2021-11-03 15:43] borisdayma opened #1658 "Avoid OOM on TPU"
Hi,

I've been able to solve an OOM on a TPU v3-8 with an ugly hack that I don't understand.
I feel like it has to do with flushing the memory.

### Problem you have encountered:
When running my training script on a TPU v3-8, I get `RuntimeError: RESOURCE_EXHAUSTED`.

### What you expected to happen:
Due to my quick hack (see below), it should run with no problem.

### Logs, error messages, etc:

[2021-11-03 22:55] sgrigory commented on #971
If this is still relevant, I'd be happy to raise a PR, reusing the code from https://github.com/google/flax/issues/903#issue-789095219 and adding some tests

[2021-11-04 15:06] VolodyaCO commented on #971
I'd love it if you do that Grisha!

On Wed, 3 Nov 2021 at 17:55, Grisha Oryol ***@***.***> wrote:

--
Best wishes,

Vladimir Vargas-Calderón
<https://www.researchgate.net/profile/Vladimir_Vargas-Calderon>
PhD Physics Student @ Universidad Nacional de Colombia

--
*Aviso legal:* El contenido de este mensaje y los archivos adjuntos son
confidenciales y de uso exclusivo de la Universidad Nacional de

[2021-11-08 09:08] SuwoongHeo opened #1665 "flax.errors.InvalidRngError: rngs should be a dictionary mapping strings to `jax.PRNGKey`."
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
I`m getting the error with a tutorial example in [20] at https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html. Specifically, the f

[2021-11-09 17:34] EngineerKhan commented on #1652
I faced the same issue and took me a long time to figure it out myself (thanks to the flax guy for answering, but it was too late and already took my time). Yeah, it should be part of the docs.

[2021-11-10 13:48] jheek commented on #1652
I see your point. Actually we do mention the axis ordering in the __call__ docstring but do an issue with the doc generation __call__ so it doesn't show up on ReadTheDocs.

cc @marcvanzee can we fix the doc rendering anytime soon or should we just add the important stuff in the Module docstring as a workaround?

[2021-11-10 16:56] borisdayma commented on #1658
So I think the issue is due to the following:
* model parameters are initialized by default (in the huggingface/transformers library)
* then we replace them with parameters from a checkpoint
* the memory gets fragmented, somehow printing the parameters fixes it

Another solution I had considered is move all the weights to CPU and move them back to TPU again. Is there a cleaner way to handle TPU me

[2021-11-11 08:12] marcvanzee commented on #1652
Yes i will work on this first thing during our next Flax Docs Tuesday!

[2021-11-11 08:27] jheek commented on #1652
And this is fixing the missing `__call__` from RTD?

[2021-11-11 12:33] gnecula commented on #1636
One method to try is to convert the inference function of your model to a TF function [using jax2tf](https://github.com/google/jax/tree/main/jax/experimental/jax2tf). Then you can use standard TensorFlow tooling for loading the SavedModel and running it from C++ (some pointers from [TF SavedModel documentation](https://www.tensorflow.org/guide/saved_model#load_a_savedmodel_in_c)).

[2021-11-11 12:35] pfeatherstone commented on #1636
Is this the standard method for deploying Flax models? For example, deploying to a mobile device? Or is Flax not really designed for deployment, more for experimentation?

[2021-11-11 18:08] mattjj commented on #33
It sounds like the `--xla_gpu_deterministic_reductions` flag is now gone (or it will be when we push an updated jaxlib) because it's now effectively always on by default. So hopefully this will get less surprising...

[2021-11-11 20:13] lokmantsui opened #1671 "Weight Norm wrapped optimizer returns nan gradients when a row of weights has zero norm"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
WeightNorm wrapped optimizer returns nan gradients when a row of weights has zero norm

### What you expected to happen:
optimizer should retu

[2021-11-12 07:57] marcvanzee commented on #1652
Indeed, I actually have an open PR for this but there were some comments that I should address: #1416

[2021-11-12 08:08] marcvanzee commented on #1665
Thanks for reporting this, but I can't reproduce it:

- The [Flax basics Colab](https://colab.sandbox.google.com/github/google/flax/blob/main/docs/notebooks/flax_basics.ipynb) executes successfully.
- A [Colab I created myself with this code](https://colab.research.google.com/drive/1sAZSkirM_MbK6FiMGqkbTxObuuTbQMs9?authuser=1#scrollTo=fWtj1Oioofqt) also executes successfully.

Could you please ver

[2021-11-12 08:09] grahamgower commented on #1652
In addition to having the `__call__` docstring appear in the docs, I think that docstring could probably be a bit more detailed. The dimensions for `flax.linnen.Conv` are different to the defaults used in `jax.lax.conv_general_dilated()`, and this should probably be highlighted too. The docstring is currently quite terse (when looking in the sources for this info, I either didn't grok it enough to

[2021-11-12 08:19] marcvanzee commented on #1652
Yes, I agree. I've improved it in #1672. Thanks for the feedback! I'll keep this issue open until my other PR is in.

[2021-11-12 09:22] SuwoongHeo commented on #1665
@marcvanzee Thanks for the reply, I moved to version `jax 0.2.20` with `CUDA 11.1` and it works fine now. I think the problem was a version mismatch between the compiled version of `jax` and `CUDA`. I was using multiple `CUDA` in my path variable `(10.2, 11.1, 11.3)`. After removing `11.3` and install using pip with `[cuda111]==0.2.0`, the error isn't shown anymore.

FYI, I tried to run the code o

[2021-11-12 09:22] #1665 closed

[2021-11-13 11:28] marcvanzee commented on #1636
For deploying Flax models on mobile you could try using jax2tf, and then use the TFLite converter to convert your model to a TFLite model. This is still experimental, and not all ops will work, but there is an example in the JAX repo that you could use as a starting point: https://github.com/google/jax/tree/main/jax/experimental/jax2tf/examples/tflite

[2021-11-13 11:28] #1636 closed

[2021-11-17 11:03] marcvanzee opened #1676 "Further improve Flax Modules on ReadTheDocs"
Following #1416 we should further improve Flax Modules on ReadTheDocs.

(Content below from @andsteing)

We now have an `Parameters` section with only names/types:
![image](https://user-images.githubusercontent.com/16050001/142163481-2c386e17-e53b-49b0-a04c-053335bf9783.png)

And then the attributes after the return type:
![image](https://user-images.githubusercontent.com/16050001/142163590-d733ca

[2021-11-17 11:53] #1652 closed

[2021-11-17 15:16] marcvanzee commented on #1049
This is finally resolved after #1416! (FYI @bastings)

We added some planned follow-up work in #1676 .

[2021-11-17 15:16] #1049 closed

[2021-11-17 15:17] marcvanzee commented on #978
Closing this since there haven't been any complaint for >9 months now.

[2021-11-17 15:17] #978 closed

[2021-11-22 12:35] #971 closed

[2021-11-23 09:02] kamalkraj opened #1677 "RNN Layers"
### Description of the model to be implemented
Is there a plan to add a simple RNN cell and a Layer wrapper that can take an RNN Cell, output an RNN Layer like in TensorFlow

### Reference implementations in other frameworks
https://www.tensorflow.org/api_docs/python/tf/keras/layers/RNN

I am interested in contributing this feature

[2021-11-24 13:46] cjLiu666 opened #1681 "About the computational graph mechanism of flax"
As we know, pytorch is based on dynamic graph and tensorflow is based on static graph.
So what about flax? I run the CNN example, and insert print statement in the __call__ method, the result is the same as pytorch,
the media result can be seen. Is it means flax is based on dynamic graph, like pytorch?
Thanks for your reply.

[2021-11-24 15:19] #1681 closed

[2021-11-24 23:44] kho opened #1683 "flax.linen.Module without __call__ can't initialize params"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

[The flax documentation on flax.linen.Module](https://flax.readthedocs.io/en/latest/flax.linen.html#flax.linen.Module) says `You can define a

[2021-11-25 03:18] cgarciae commented on #1683
Hey! You have to use the `method` argument e.g.

[code]

[2021-11-25 03:21] kho commented on #1683
Thanks for the tip! Sorry for missing that in the docs.

[2021-11-25 03:21] #1683 closed

[2021-11-25 11:06] marcvanzee opened #1685 "Improve Error Message: Consider extending AttributeError on Flax Modules"
@untom was surprised about the error from this example:

[code]

`AttributeError: "MyClass" object has no attribute "myvar"`.

While we are planning to write a "Module Lifecycle" Doc (#1576), I think it could still be useful to improve this error message. It seems like a case that users familiar to Pytorch will hit often, so we could consider extending `AttributeError` on `Module` with a custom er

[2021-11-26 20:25] ptigwe opened #1687 "Support `unrolled` steps in `jax_utils.scan_in_dims`"
Motivated by [jax#3094](https://github.com/google/jax/issues/3094), [jax#3738](https://github.com/google/jax/pull/3738) and [jax#3076](https://github.com/google/jax/pull/3076), `jax.lax.scan` currently supports specifying the number of scan iterations to unroll into a single iteration of the loop using the argument `unrolls`.

It would be nice to be able to control this from `jax_utils.scan_in_dim

[2021-11-27 04:06] cgarciae commented on #1677
Interested in this topic as well.

[2021-11-29 09:43] PhilipVinc opened #1688 "[Feature Request] scaling factor for initializers"
Machine-Learning practitioners are aware that initialisation functions must be properly rescaled depending on the variance of the output of the nonlinearity.

Howvever, scientistis like Mathematicians/Biologists/Physicists and many others who start looking into _Differentiable programming_ and/or _Scientific Machine Learning_ (or, as I call it, let's throw Neural networks at our problems and see h

[2021-11-29 09:56] PhilipVinc commented on #805
cc @jheek @marcvanzee
Here are some examples that could be used as tests: https://gist.github.com/PhilipVinc/72fb6d451dc40db4f0cdf15cf585cc3a

I explain things below:

We run tax with `jax_enable_x64=True`.
[code]

### Inconsistency due to x64

When running with x64 mode enabled, there are some inconsistencies in Flax: initialisers by default switch to `float64` but the `dtype` of flax layers is f

[2021-11-29 09:57] PhilipVinc commented on #1688
Maybe, a `DenseActivation` layer which automatically rescaled the initialiser depending on the nonlinearity, if it is known?
That wouldn't work all the time, and maybe is too smart, but it would be very beginner friendly.

[2021-11-29 12:56] jheek commented on #1688
I don't think this is still an up-to-date statement. There was a time when network training was very sensitive to the initializers because there were no skip connections or normalization.
Nowadays both of these techniques are almost universally applied and have made tuning the initializers largely irrelevant. It's been quite a while since I have seen a network that *did* have proper initialization

[2021-11-29 13:09] jheek commented on #1658
This is quite odd for sure. Fragmentation and being close to the limit in terms of memory could off course result in errors that appear almost randomly. One thing you could try is to initialize the model on CPU `jax.jit(model.init, backend="cpu")` The params are moved to TPU automatically during training or during replication of the state (eg `jax_utils.replicate`)

[2021-11-29 13:09] #1658 closed

[2021-11-29 16:06] jheek commented on #1677
There's nothing concrete on the roadmap right now. I think such an abstraction could be helpful and pretty lightweight in Flax as well. Do you want to make a proposal?

[2021-11-29 16:26] jheek commented on #1620
I don't think this is related to the GPUs. Did you install the requirements.txt in the example dir? From the stack trace it looks like you are running with an outdated version of clu?

[2021-11-29 19:21] kamalkraj commented on #1677
Sure @jheek.

[2021-11-30 08:19] #963 closed

[2021-12-02 14:58] #1671 closed

[2021-12-04 19:56] Dsantra92 commented on #1170
Can I work on this?

[2021-12-06 09:44] marcvanzee commented on #1170
@Dsantra92 sure, feel free to give it a try. We would have to run it against all our internal tests as well, but we can do that once all our public tests pass.

[2021-12-06 10:00] #1687 closed

[2021-12-06 20:28] NeilGirdhar commented on #1223
What does merging the dataclasses consist of?  Are flax dataclasses going to be inheriting the mapping interface?

[2021-12-07 07:57] jheek commented on #1223
The merging of dataclasses is taking much longer than originally anticipated. I'll bring this up in our next sync meeting because I think we should start to move towards allowing mutability independently of actually merging the implementations witch chex

[2021-12-07 09:27] NeilGirdhar commented on #1223
Sorry, but why would you do that?

[2021-12-07 10:13] jheek commented on #1223
We won't be removing features like frozen, static fields, and replace.
We do however want to be less strict about enforcing functional patterns.
Many users find it difficult to deal with frozen dataclasses/dicts. At the end of the day Python is not a functional language and partially making it behave like one can be awkward.

As for the mapping interface. This is actually what's blocking a merge.

[2021-12-07 10:21] NeilGirdhar commented on #1223
I understand.  But the issue with that is that you open users to bugs by allowing impure methods.

Instead having a gigantic interface and passing the dataclass `d` to `tf.nest`, can't users pass `dataclasses.asdict(d)`?

I see.  Why not create an `asdict` function that removes the keys corresponding to static fields?

Yes!  Thank you!

[2021-12-07 10:31] PhilipVinc commented on #805
Hey @jheek, any news on this front?

[2021-12-07 11:17] jheek commented on #1223
Yes, this is the tradeoff we have to think about and this we will discuss this further before making a final decision.

[2021-12-07 11:19] avital commented on #1223
What is a particular form of this problem? Typically the code in the main training loop isn't pure anyways (and isn't meant to be pure, as it reports metrics, saves checkpoints, etc). I understand the need to ensure frozen data structures *within* modules (and we're not proposing this changes -- `module.apply` will still have a `mutable` argument and use FrozenDicts based on that). The only propos

[2021-12-07 11:24] PhilipVinc commented on #1223
By the way, I also think that Flax returning frozen dictionaries is extremely annoying. Changing this behaviour would also address https://github.com/deepmind/optax/issues/160

Moreover, our (NetKet) users and students learning Jax/Flax find it often confusing why they keep getting this object that they have to _melt_ to edit.

[2021-12-07 11:32] NeilGirdhar commented on #1223
Sorry, I'm not actually discussing the topic of the issue. I just noticed a comment about merging `chex.dataclass`, and I wanted some clarification on that.

I can't the example, but I saw one with treex (which doesn't enforce frozen dataclasses) where someone was doing
[code]

Could you point me to an example?  It seems that in that case, you can use an ordinary dataclass from the standard librar

[2021-12-07 16:29] jheek commented on #489
At head the colab now raises:
[code]

So I think this issue no longer occurs

[2021-12-07 16:29] #489 closed

[2021-12-07 17:29] Justin-Tan commented on #1685
Just ran into this error - could you explain briefly why this error occurs? I'd expect the call to `__init__` to involve the `setup` method.

[2021-12-07 19:03] marcvanzee commented on #1685
Flax Modules are stateless. The call to `__init__` invokes `setup` on a clone of the module, which initializes the parameters returns them, and is then destroyed again. So the original `model` does not contain a state. See [Flax basic](https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html#Model-parameters-&-initialization) for some more details.

[2021-12-07 19:03] marcvanzee commented on #1685
Flax Modules are stateless. The call to `__init__` invokes `setup` on a clone of the module, which initializes the parameters returns them, and is then destroyed again. So the original `model` does not contain a state. See [Flax basic](https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html#Model-parameters-&-initialization) for some more details.

[2021-12-08 06:42] ultrons opened #1702 "logical_to_mesh_axes does not process rules with repeated array dim names correctly."
### Problem you have encountered:
Current implementation of logical_to_mesh_axes function results in incorrect annotation propagation incase logical_axis_rules have more than one entry for a logical axis. For example:
 logical_axis_rules = (('batch', 'data'),
      ('vocab', 'model'),
      ('mlp', 'model'),
      ('heads', 'model'),
      ('joined_kv', None),
      ('kv', None),
      ('embed', '

[2021-12-09 00:25] #1702 closed

[2021-12-09 06:59] sudhakarsingh27 opened #1704 "GroupNorm default argument `group_size` value incorrect"
### Problem you have encountered:
As default argument `group_size` is not set to `None` [link](https://github.com/google/flax/blob/390c7cfbecb5989cee01a06e6308464d0ee6a0e1/flax/linen/normalization.py#L296) the [logic here](https://github.com/google/flax/blob/390c7cfbecb5989cee01a06e6308464d0ee6a0e1/flax/linen/normalization.py#L320-L323) fails. Here's a small code to repro:

[code]
### What you exp

[2021-12-09 09:50] marcvanzee commented on #1704
The documentation of `num_groups` stats:

[code]

So if one sets `group_size`, then both of them are set, which isn't allowed according to the check.

Are you saying this is incorrect?

Another option is to keep things are they are but to improve the error message so that it outputs the values of `num_groups` and `group_size`, and maybe even state something like "(Note: `num_groups` has a default

[2021-12-09 15:53] tvieijra opened #1705 "DenseGeneral does not use dtype of initializer"
I tried intializing a DenseGeneral layer with a kernel_init and bias_init function that initializes the parameters as float64 instead of the default float32.  However, the layer ends up creating float32 parameters.  The problem can be reproduced with following MWE
[code]

This yields the following parameters:
`FrozenDict({
    params: {
        kernel: DeviceArray([[1.4876375, 1.4234805]], dtype=f

[2021-12-09 21:55] timdhondt1 opened #1707 "Initializing a module with both a forward and inverse pass"

[2021-12-09 22:20] #1707 closed

[2021-12-10 00:59] sudhakarsingh27 commented on #1704
Ah, I see. If the `num_groups` is intended to be `32` by default then it makes sense to just update the error check and the message.

Right now, it gives the impression that setting `group_size` alone should be sufficient since `num_groups` could be derived but then we have a `non-None` default value for `num_groups` which is contradictory.

In summary, only `num_groups` should be allowed to be sp

[2021-12-10 12:45] marcvanzee commented on #1704
Great, thanks for noting this!c Do you want to file a PR?

On Fri, Dec 10, 2021 at 2:00 AM Sudhakar Singh ***@***.***>
wrote:

--
---
Marc van Zee

[2021-12-11 16:51] NeilGirdhar opened #1712 "How do I lift the parameters out of a module?"
I've been considering switching from Haiku to Flax, but I ran into a couple of things that seem to be impossible in Flax.  One thing is the ability to "lift" parameters within a transformation, as described in https://github.com/deepmind/dm-haiku/issues/98.

In my code, I do something like:
[code]

(Incidentally, how do I port over the `init_rng` definition?)

[2021-12-11 17:00] NeilGirdhar opened #1713 "Please consider lifting custom_vjp"
According to the [documentation](https://flax.readthedocs.io/en/latest/design_notes/lift.html), there is no `flax.custom_vjp` yet.  Are there any plans to implement it?

I love the design of `flax.vmap`, which adds `variable_axes` and `split_rngs`.  If a similar approach were taken with `custom_vjp`, then the ability to lift parameters that I requested https://github.com/google/flax/issues/1712 mi

[2021-12-11 20:18] cgarciae commented on #1712
Hey Neil! I don't fully understand your code but if you need a `vjp` function compatible with Flax modules you would use [flax.linen.vjp](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.vjp.html?highlight=vjp#flax.linen.vjp).

[2021-12-11 20:27] NeilGirdhar commented on #1712
@cgarciae did you understand the linked issue?

[2021-12-13 07:55] nikhilanayak opened #1719 "How To Use max_pool In Flax"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

### Description of the model to be implemented
I'm trying to use flax's `max_pool` function with a CNN.

### Dataset the model could be trained on
Using `jnp.zeros` should work, the example isn't about the data itself, more about the shape of the data

[2021-12-13 09:55] andsteing opened #1721 "Checkpoints stored before `0.3.6` have incompatible `GroupNorm` weights"
Since #1545 (and #1553 ), `GroupNorm` layer stores weights differently.

Old code before `0.3.6`:

[code]

outputs

[code]

New code after `0.3.6` outputs

[code]

Now when new code loads checkpoints created with old code, the `GroupNorm` fails with

[code]

[2021-12-13 11:33] marcvanzee commented on #1705
Looks like a bug! The init wrapper takes a `dtype` argument but that one is never set, so the default `float32` is always used. I'll file a PR for this.

[2021-12-13 14:10] marcvanzee commented on #1712
I don't fully understand your code, but if you want to define a param in your Module you don't have to provide any RNGs, you just provide an init function and the RNG gets split from the top-level RNG that you provide when you initialize a Module. If this is still unclear, please file the question in a separate Github Discussion, to avoid confusion!

[2021-12-13 14:10] marcvanzee commented on #1712
Duplicate of #1713

[2021-12-13 14:10] #1712 closed

[2021-12-14 06:52] marcvanzee commented on #1705
Reopening this since my proposed solution didn't work and @levskaya may have some thoughts on this.

[2021-12-16 00:37] sudhakarsingh27 commented on #1704
Sure, I'll try to create one during the weekend. Just that I haven't got a chance to set up the environment to test the changes. Will post an update soon

[2021-12-16 08:12] marcvanzee commented on #1704
Thanks! For more help see our [How to contribute guide](https://flax.readthedocs.io/en/latest/contributing.html)

[2021-12-16 09:24] longbowzhang opened #1729 "How to l2-normalize the embedding feature in flax.linen.Embed"
Hi,
I am quite new to Jax/Flax, and I am looking forward to an example about flax.linen.Embed

- I would like to know how to normalize the embedding features with unit-norms when init the module?
- how to renormalize after each update during training?

Thanks a lot in advance!

[2021-12-16 09:42] jheek commented on #1712
@NeilGirdhar there's a pattern in Flax that is very similair to haiku.lift that you could try in the meantime: https://flax.readthedocs.io/en/latest/design_notes/lift.html#functionalization

this doc explains how the lifted transformations work in Flax and how you can do something like this manually (in simple cases).

For example (snippet from the doc):
[code]

[2021-12-16 13:55] matthias-wright commented on #1729
Hi @longbowzhang,

Here is one way of achieving this:

Suppose you have the following simple network:

[code]
Then you could apply the following normalization after each training step (either in your training loop or directly in your update function):
[code]
Of course you can apply the same normalization after initializing your parameters.

Let me know if you need more details, I could create a sm

[2021-12-16 14:06] mattiasmar opened #1731 "\examples\imagenet\models_test.py fails on GPU (8 x Titan-m):"
### Problem you have encountered:
Running [flax\examples\imagenet\models_test.py](examples/imagenet/models_test.py)  hits runtime error.

### What you expected to happen:
Test to exit with OK status.

### Logs, error messages, etc:

Log trace says:
[code]

**Full log trace:**

[code]

### Steps to reproduce:
Run command:
`/usr/bin/python3 -u /workdisk/jax/FlaxExamples/flax/examples/imagenet/models

[2021-12-16 15:12] avital commented on #1223
@NeilGirdhar I just mean things like [updating state and params and reporting metrics ](https://github.com/google/flax/issues/1729#issuecomment-995839207) -- it's totally fine to directly manipulate the variables dict in the main training loop, and people have to jump through (IMHO unnecessary) hoops to achieve this: https://github.com/google/flax/issues/1729#issuecomment-995839207.

[2021-12-16 15:40] NeilGirdhar commented on #1223
@avital Fair enough.  I need to learn Flax better before I can really suggest something.  A couple other options:

An `at` operator that does this under the covers, so that you can write:
[code]
The `at` operator would return a handle like the one in `jax.index_ops`.

Or maybe a context manager that provides the handle and automatically rolls it back in when it ends:
[code]
You'd still be jumping

[2021-12-16 15:48] avital commented on #1223
I guess another way to put it -- if someone *really* wants immutable data structures, they can always do, e.g. `FrozenDict(module.init(...))`. So the question is: which default serves the users best?

[2021-12-16 23:54] nikhilanayak opened #1733 "XLA Padding Causing OOM"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
Flax does 32x and 128x expansion, causing the TPUs to run out of memory.

### What you expected to happen:
Flax should be able to successfully

[2021-12-17 03:41] #1729 closed

[2021-12-17 07:54] marcvanzee commented on #1733
Hi, could you add a code snippet? Doesn't have to be Colab, you can just put it in a codeblock here and I will run it mysef.

[2021-12-17 08:09] nikhilanayak commented on #1733
Here's some code that should recreate the same issue:
[code]
I'm running this on the TPU v2-8. I also got a similar issue using Tensorflow XLA (it didn't OOM, but it was really slow and was mallocing a lot of memory).

I also read this from [A Google Cloud Performance Guide](https://cloud.google.com/tpu/docs/performance-guide):

My data has a shape of (8, 2048, 1952, 2, 1), so this shouldn't be an

[2021-12-17 08:19] marcvanzee commented on #1733
I have a few clarifying questions:

- It seems you aren't `jit`ing your code, is this intended? You should `jit` it for the code to compile on TPU. However, your stack trace does seem to compile for TPU so I guess your code snippet is not correct?
- Why are you expecting this to work? Did it work on GPU, if so, on which GPU?

[2021-12-17 08:35] nikhilanayak commented on #1733
Hmm, the code I sent doesn't seem to be working.
Try this out, this works on my 3070 in the tensorflow-gpu docker container:
[code]
However, it doesn't work on the TPU and gives me the OOM error.

[2021-12-17 08:43] marcvanzee commented on #1731
It seems your kernel image is invalid, which makes me suspect there is something wrong with your selected docker image `nvidia/cuda:11.3.0-cudnn8-devel-ubuntu20.04`, perhaps it isn't supported by the XLA compiler, or perhaps there is a mismatch with jaxlib.

It would be useful if we can determine that this is independent of Flax, so you can file an issue against the JAX repo. It seems the error ha

[2021-12-17 08:45] nikhilanayak commented on #1733
Will non-jitted code not run on the TPU?

[2021-12-17 08:47] marcvanzee commented on #1733
Yes it does run it on the TPU, but you should always jit the code so it can be optimized by the XLA compiler. You should try to `jit` compile large code chunks (e.g., a train step function), so the XLA compiler is able to apply optimizations such as fusions so your code will run faster and consume less memory.

[2021-12-17 08:50] marcvanzee commented on #1704
I've updated the issue title and assigned to you @sudhakarsingh27. Please let me know if this doesn't work for you anymore then I can help / take it over. Thanks a lot for helping!

[2021-12-17 08:54] mattiasmar commented on #1731
That test ran successfully. the jit'ed conv returns a DeviceArray of dimensions (2, 3, 6, 6).

[2021-12-17 09:09] marcvanzee commented on #1731
Hmm ok, on what machine are you running this and what GPU does it have?

[2021-12-17 09:15] mattiasmar commented on #1731
I run it within a K8S environment, with a pod assigned with 40 CPU cores, 80Gi RAM and 8 GPU's (NVIDIA GeForce GTX TITAN X)

[2021-12-17 09:25] nikhilanayak commented on #1733
I jitted all the big code blocks and it runs fine, so my initial question is answered. However, when I do this, I also want to track the loss after each batch. The issue is that with jit, I can't coerce the Traced<ShapedArray>s to ints, so I can print them. Is there a way I can do this?

[2021-12-17 09:28] marcvanzee commented on #1733
Great, happy to hear it is resolved!

If you want to output the loss you can return it from the jitted function and output it then. This is done in all our example, I would recommend taking a look at the [mnist example](https://github.com/google/flax/blob/main/examples/mnist/train.py) and the [Annotated MNIST](https://flax.readthedocs.io/en/latest/notebooks/annotated_mnist.html) which contains mor

[2021-12-17 09:28] #1733 closed

[2021-12-17 09:30] marcvanzee commented on #1731
Ok, thanks for the details. Unfortunately I will be OOO for the coming two weeks so I can't help you further, but perhaps @jheek  can take a look at this next week since he should still be around.

[2021-12-17 09:31] nikhilanayak commented on #1733
I looked over the FLAX examples, but with my code:
[code]
I never actually return the loss, so I don't have a way to get the loss itself. Am I using the wrong Jax/Flax functions?

[2021-12-17 09:33] marcvanzee commented on #1733
If you have taken a look at the examples, then you must have noticed that they don't use `jax.grad`, but `jax.grad_and_value`, which returns the gradient and the value. In your case you only return the gradient so you don't have the actual loss.

[2021-12-17 09:48] nikhilanayak commented on #1733
Thanks, that seems to get the loss **and** the grad.
Sorry to keep bothering you (especially since these questions aren't completely on topic) but this code
[code]
which was in the main code (not in a function), was causing an OOM, so I wrapped that in a jitted main. However, now I can't print out the loss because I'm still inside jitted code. I tried creating the state in a jit function and getti

[2021-12-17 20:05] lucasb-eyer commented on #1223
And the answer is just plain dict, at least for this user here :)

[2021-12-17 21:29] cgarciae commented on #1223
+1 for this! I have a lot of code that immediately calls `.unfreeze()` right after `init` and `apply`.

[2021-12-17 21:39] cgarciae commented on #1223
Hey @NeilGirdhar! I believe you're looking for this example from [Treex's User Guide](https://cgarciae.github.io/treex/user-guide/state-management/#what-is-the-catch).

[2021-12-22 23:36] INF800 opened #1740 "Building JAX port of Detectron2"
Hi, I have been using Detectron2 for almost a year for training large scale models and their results (mask rcnn) always fascinate me. Like FastAI it is one of the most flexible frameworks I have used for deeplearning.

I wanted to understand internals of both JAX and Detectron2 for some time and I think building flax port for Detectron2 will get me there.

Timeline:

6mos to 1year starting from Fe

[2021-12-22 23:39] INF800 commented on #1740
Linking discussion from Detectron2 https://github.com/facebookresearch/detectron2/discussions/3817

[2021-12-23 14:12] avital commented on #1740
Hi @INF800 -- we'd love to see something like Detectron2 ported to JAX/Flax. (Though I personally don't know almost anything about that project).

What kind of support would you be looking for? Then we can ask around and see if someone can help in the best way.

[2021-12-23 14:35] INF800 commented on #1740
Hi thank you for the response. I will NOT be needing any help for
understanding the already implemented code in Detectron2 (or any python
code as such).

But Instead, I will be needing help in porting pytorch code to JAX (i.e
FLAX) with best practices. In JAX you can consider me at beginner level and
for pytorch I am at beginner level.

On Thu, 23 Dec, 2021, 7:42 pm Avital Oliver, ***@***.***>
wro

[2021-12-23 14:37] avital commented on #1740
Folks on our GitHub discussion board are pretty helpful, and both folks that work on JAX and Flax, as well as knowledgable community members can help. The upside this way is that other people can benefit from the learning. I propose we start with that, and if you start making progress and would benefit from more intensive support we can see what we can do. How do you feel about that?

[2021-12-23 14:43] INF800 commented on #1740
Perfect! I will open up related issues/discussions and  link them to this issue to keep track of them. As said before I will be starting it actively from Feb 2022. Until then will try to understand more about JAX and Detectron2 and you can expect me to open up multiple discussion topics related to JAX :)

[2021-12-23 14:52] avital commented on #1740
Great! One possible first step is only to port one particular model in a standalone codebase, such as Mask R-CNN, and see what we need to do from there.

[2021-12-23 14:53] INF800 commented on #1740
Makes sense I was planning to do the same

[2021-12-30 07:56] levskaya opened #1746 "Complicated aliasing issue when passing modules as arguments in transforms"
For a setup-style module with helper methods, under named_call or other transforms we raise a name-reuse error when a helper-method takes a `self.some_submodule` as a method argument.

For instance the simplest breaking example, reduced from a user bug, is:
[code]
Here, we pass local submodule `self.inner` as a helper-method argument.  This means that inside a transform `dedup_scopes` will already

[2021-12-31 01:48] levskaya commented on #1746
I believe #1745 handles this issue correctly.  We need to evaluate static checks on `setup` immediately via abstract evaluation for name-collision, but under transforms allow scope-name aliasing by calling `push` with `reuse=True`.

[2021-12-31 07:18] levskaya commented on #1705
#1739 should hopefully fix this issue by offering a second `param_dtype` parameter for determining the dtype of variables stored in memory/disk (separate from activation dtype).

[2021-12-31 07:18] #1705 closed

[2021-12-31 07:21] levskaya commented on #1713
I'll let @jheek comment on his own work, but FYI he merged in #1738 recently.

[2021-12-31 09:41] NeilGirdhar commented on #1713
@levskaya That was impressively fast!!  I'd like to try to integrate it with my work over the next few days to see if the interface solves my problem.  Would it be okay if I left the issue open?

[2021-12-31 12:11] levskaya commented on #1713
yeah no worries, let us know if it works for you.

[2022-01-03 09:05] jheek commented on #1713
Lol I linked the PR to itself instead of to this issue. Thanks for mentioning @levskaya

[2022-01-04 06:25] saberkun commented on #1740
https://github.com/google-research/scenic is a flax computer vision code base as a reference.

[2022-01-04 11:29] INF800 commented on #1740
Thanks. Detectron2 internally uses fvcore https://github.com/facebookresearch/fvcore. Is this project similar to fvcore?

[2022-01-05 01:47] mohamad-amin opened #1755 "Inconsistent network behaviour when using different batch sizes for `model.apply` on CPU"
Hey, thanks for the great work!

I'm using BatchNorm in my network, but have set the `use_running_average` parameter of BatchNorm layers to true, which means it will not compute any running mean/stds using the input data that is passing through the network and it will use the pre-computed parameters. Thus, the network's behaviour doesn't change among different batches (Ideally, I guess, but it sho

[2022-01-05 05:12] mohamad-amin commented on #1755
Update:

This problem persists even in [Flax's ImageNet example](https://colab.research.google.com/github/google/flax/blob/main/examples/imagenet/imagenet.ipynb). In **Inference** section, add this code after computing the logits:

[code]

Moreover, the difference is rather big IMO:

[code]

[2022-01-05 05:49] mohamad-amin commented on #1755
Another update:

It's probably not a BatchNorm issue! I tried the same thing with the [Flax's MNIST example](https://colab.research.google.com/github/google/flax/blob/main/examples/mnist/mnist.ipynb) which doesn't have BatchNorm and the issue still persists!

[code]

This time though, the difference is smaller, which is probably due to smaller number of parameters I think:

[code]

I believe that

[2022-01-05 09:20] marcvanzee commented on #1755
Thanks for your analysis!

This difference originates from XLA, and it is probably due to the fact that the batch implementation and single instance implementations of some of the JAX primitives used in the CNN Module are different. Below is a minimal example that only uses `conv_general_dilated` from JAX but still has the discrepancy you observed.

Can you please file an issue in the [JAX repo](h

[2022-01-05 09:27] jheek commented on #1755
My guess is this happens in conv/dense layers indeed. Passing in a different shape will cause the additions to be done in a different order, leading to pretty big discrepancies. To make matters worse it behaves slightly differently on each device

TPUs tend to operate in higher precision for the batch size 1 case, GPUs tend to do stochastic reductions so even running the same forward pass twice gi

[2022-01-05 18:12] mohamad-amin commented on #1755
I also thought about different order of sums, but I checked PyTorch's ResNet18 and the difference when I was evaluating a 128 batch at once and in loop was from order of 2.5e-11. There still is some difference, but it's 1e5 times smaller, which is a huge number in my opinion. Is there any difference between Jax's CUDA usage and Torch's CUDA usage?

[2022-01-05 18:26] marcvanzee commented on #1755
Thanks for filing the issue in the JAX repo! Closing this one since there doesn't seem to be anything Flax related (but feel free to re-open if you think I am wrong).

[2022-01-05 18:27] marcvanzee commented on #1755
@mohamad-amin I recommend copying your last message in the JAX issue.

[2022-01-05 18:37] mohamad-amin commented on #1755
@marcvanzee

I think there is a small problem with your example. `logits` and `logit` don't have the correct shape. Did you mean:

[code]

(I'm not familiar with this operator, so I'm not sure if they should result in the same thing.)

[2022-01-05 18:46] marcvanzee commented on #1755
Oh yes, I'm sorry! Indeed, your code is correct.

[2022-01-05 18:57] mohamad-amin commented on #1755
@marcvanzee I just ran that code and it outputs True! 😿

[2022-01-05 19:01] long1216 opened #1760 "How to handle multiple inputs in flax, is there any example as referece?"
![keras_multi_input_arch](https://user-images.githubusercontent.com/19679343/148273523-70ee46fe-1c19-4d52-8b31-e2ec3ce3fe43.png)
Is there any way to handle two inputs in flax(like the keras example showing above). Would there be any example showing how to do this? Thank you so much.

[2022-01-05 19:30] marcvanzee commented on #1755
Hmm I guess one conv is not sufficient to create the difference. If you chain them after each other it does work. I tested it on a v3-8 TPU and a public Colab with a single GPU, both output `False`:

[code]

[2022-01-05 19:34] marcvanzee commented on #1760
The seq2seq model has two inputs: https://github.com/google/flax/blob/main/examples/seq2seq/train.py#L262

You simple have two arguments to the `__call__` function of your Module.

Then when you want to run the forward pass you simply provide both arguments to the `apply` function of the Module.

[2022-01-05 19:52] mohamad-amin commented on #1755
Are you sure everything is alright with this code? It gives me NaNs, but I'm not sure if it's supposed to do so.
[code]
I'm not sure about what I expect from `np.allclose` when its outputs are NaN.

[2022-01-05 20:00] marcvanzee commented on #1755
Argh you are right, it is also quite late here. I will go to bed now and investigate it in more detail tomorrow. I've re-opened this issue.

[2022-01-06 09:36] jheek commented on #1755
Here is a slightly simpler example that I think reproduces your issue:
[code]

The previous example uses stdev=1 weights for the kernels which gives you infinities/NaNs if you stack a bunch of them.
In this example you get a relative error of approximately 10^-6 stacking more will make the errors larger

[2022-01-06 13:09] mattiasmar opened #1763 "PJit example of ImageNet"
### Description of the model to be implemented
ResNet18

### Dataset the model could be trained on
tensorflow_datasets mock_data, e.g.
[code]

### Specific points to consider

- The existing ImageNet example uses pmap. It is not trivial to replace pmap with pjit in the existing example. A pure pjit example would be great to learn from.
- The example should be functional also on a GPU host for the

[2022-01-06 14:20] ChikaYan opened #1764 "MultiOptimizer is not sufficient to freeze layer/separate training of different components"
I'd like to use Adam to train a model with two separate sets (A and B) of layers in an alternative fashion. I.e., for batch 1 only the layers in set A are trained and set B is frozen, for batch 2 set B is trained and set A is frozen. (Batches are carefully designed so batch 1,3,5... contain specific data that should only contribute to the training of set A)

The issue [here](https://github.com/goo

[2022-01-06 21:31] mohamad-amin commented on #1755
Thanks! I think this is now reportable to the JAX team, right? @jheek

[2022-01-07 09:02] jheek commented on #1755
Yeah this is using vanilla JAX. But I am not sure what there is to report to JAX? From this I would conclude that this is just "implementation variance".

My guess is that your use case might be very sensitive to the numerical precision (not uncommon for eigenvalue decomposition). Perhaps you could try to run your code in float64 to check if the lack of precision is the issue? I think that the mos

[2022-01-07 09:26] mohamad-amin commented on #1755
I actually have been using float64 as my default config but it doesn't help. I understand that there might be some numerical error, but 1e-6 to me looks way bigger than numerical error. It might be that I'm not that experienced with numerical computations, but `np.nextafter(0, 1)`gives me a `5e-324`, which is, let's say somewhat smaller than 1e-6. Also, the same computation in PyTorch results in ~

[2022-01-07 10:33] andsteing commented on #1764
We recommend using `optax` for optimization. The `flax.optim` package is effectively deprecated.

In `optax` you could achieve what you want via `optax.masked()` or `optax.multi_transform()`. See the function pydoc for examples.

[2022-01-07 13:14] jheek commented on #1755
Is that comparing to NumPy or comparing PyTorch batched vs unbatched?

I tried the repro above again with float64 but in that case I get an error of 1e-15. Are you sure code is really running in float64? Note that you need to pass a flag to JAX to enable it and just using jnp.float64 is not enough

[2022-01-07 14:12] ChikaYan commented on #1764
Thx a lot!

[2022-01-07 14:12] #1764 closed

[2022-01-07 19:24] mohamad-amin commented on #1755
Just PyTorch batched vs unbatched.

Hmm, interesting. If you look at [this notebook](https://colab.research.google.com/drive/1a_SheAt9RH9tPRJ1DC60yccsbYaFssDx?usp=sharing#scrollTo=axNwe7tK7Mq4), I've used `from jax import config; config.update('jax_enable_x64', True)` as the first line of the code to run, but seems like the results of `apply_fn` or `model.apply` have `float32` dtype. I just checke

[2022-01-07 21:08] franchesoni commented on #1552
Hello, I don't quite get the idea.
I went through the documentation but I couldn't understand the behavior of `make_rng` or even `nn.compact`, it seems that it is doing some magic I can not easily reproduce in a `setup(self):` definition

[2022-01-07 21:58] mohamad-amin commented on #1755
Well now I see that at least [BatchNorm](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.BatchNorm.html) and [Conv](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Conv.html#flax.linen.Conv) have 2 to 3 parameters for controlling accuracy (dtype, param_dtype and precision), but is this working as expected? I don't see anything regarding setting these params in the docum

[2022-01-07 22:36] franchesoni opened #1767 "`nn.compact` and `setup` giving different results"
### Problem you have encountered:
I am trying to understand the behavior of `nn.compact` and `setup`. They give different results. + the documentation and source code are not very clear: where should I use `make_rng`? what's the difference between the approaches?

### What you expected to happen:
Give the same results

### Logs, error messages, etc:
None

### Steps to reproduce:
https://colab.rese

[2022-01-08 23:10] Arcanous98 opened #1768 "flax.errors.ScopeParamNotFoundError: No parameter named "kernel" exists in "/MLP_0/Dense_0" when attempting to use Jax2TF with a pre-trained JAX NeRF Model"
**Redirected from the JAX repo  (https://github.com/google/jax/issues/9139#issue-1096888310)**

Tensorflow vers: 2.7; JAX vers: 0.2.24; jaxlib vers: 0.1.72+cuda111; FLAX vers: 0.3.6

The following code is based on the MNIST FLAX jax2tf example, which I adapted for JAX NeRF:

[code]
In order to simplify the inputs to the network, and since I am only interested in running inference in TF, I initiali

[2022-01-09 00:23] levskaya commented on #1768
This looks like the error that happens when the top-level "packaging" of the `params` pytree is off slightly - e.g. passing in the bare `params` tree or `{'params': {'params': params}` rather than `{'params': params}`...  (I say this as we're getting an error here at what looks like the very first parameter lookup into the pytree.)

Can you add these imports
[code]
and before the final call to `sa

[2022-01-09 01:26] Arcanous98 commented on #1768
Hi, @levskaya, thanks for your prompt response! I did as you said and this is what I am getting:

[code]

Also, as you pointed out `nerf.models.get_model_state` is not an existing function in JAX NeRF; it's just a small helper, sorry I didn't include it in the first place. It's this function:

[code]

You should be able to reproduce with this. I am using a slightly different code to JAX NeRF but I

[2022-01-09 02:45] levskaya commented on #1768
And what about `utils.check_flags(FLAGS)` (also doesn't exist in original repo)  and `utils.update_flags(FLAGS)`?  I have no idea what config you're actually running here?  Is there a link to your code and whatever FLAGS are actually being used?

[2022-01-09 03:04] levskaya commented on #1768
If `get_model(key, args)` is `jaxnerf.nerf.models.get_model` it doesn't have the right signature.

Did you define this helper as well?  How are you specifying the example_batch that `jaxnerf.nerf.models.get_model` needs, which is ultimately calling `jaxnerf.nerf.models.construct_nerf(key, example_batch, args) --> model, init_variables`

[2022-01-09 03:19] levskaya commented on #1768
Sorry, one more question - what do you mean you "initialize the RNG keys" to `None`??  you can't just set things like `key` `rng_0` and `rng_1` to `None` in the original JAX Nerf code... those are JAX deterministic PRNG keys that have to be provided.

If you have something running at all you must have heavily altered the original `__call__` function - I really need to see your code to have any ide

[2022-01-09 11:09] Arcanous98 commented on #1768
Hi, a few things regarding your comments:

1) For reproducibility, I used the lego config from the jaxnerf code. This is what `utlis.update_flags(FLAGS)`  loads. This gets me the following params map:

[code]

2) `utils.check_flags(FLAGS)` does indeed not exist in the original jaxnerf, sorry about that. It's just a helper to check whether the user has set training and data dirs. Can be removed wit

[2022-01-09 13:55] mattiasmar opened #1769 "Installation failure with GPU: DNN library is not found"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:
The installation instructions are not complete.
Installing Flax in a TF docker container according instructions are not enough to avoid  `Runt

[2022-01-09 14:49] mattiasmar commented on #1769
When using the alternative jax installation:
`pip install jax[cuda11_cudnn805] -f https://storage.googleapis.com/jax-releases/jax_releases.html`

A different error appears:
[code]

[2022-01-09 23:17] srush opened #1771 "Scan with split parameters"
### Description of the model to be implemented

If I have 6 layers stacked of a model (think transformer style), I would like to have their setup be batched by Flax linen. So for example in `setup` I could call.

[code]

However it seems more natural to do this with scan.

[code]

In theory (?) this would batch the setup call for each of my SeqInternal layers.

However when I try to do this, thing

[2022-01-10 07:22] levskaya commented on #1768
@Arcanous98 - thanks for providing the extra info!

Actually I just noticed something from my first request that I should have noticed immediately:

if the output of the inserted printout:
[code]

has this structure:
[code]

The `params` object shouldn't itself have an extra `params:` layer inside it, since in your `predict_fn` function you write:
[code]

which is adding an extra nesting layer und

[2022-01-10 07:41] Arcanous98 commented on #1768
It does! Thanks for the help @levskaya. I'm closing the issue now 👍

[2022-01-10 07:41] #1768 closed

[2022-01-10 07:44] levskaya commented on #1768
Great!  Happy to Help!  Happy NeRFing. ;)

[2022-01-10 13:33] marcvanzee commented on #1767
You should make sure the names of your submodules are the same, because Flax generates RNGs for submodules by folding in the module name. In your case when you use `setup` the names of the submodules are equal to the names to assign to `self` (`dropout1` and `dropout2), while when you use compact they are auto-generated and something like `Dropout_0`, `Dropout_1`. If you explicitly set those to `d

[2022-01-10 19:43] SarthakYadav opened #1772 "PyTorch Dataloading doesn't work with >0 workers"
Hi!

I'm new to the JAX ecosystem, have used PyTorch and TensorFlow extensively for over 5 years.

My issue is that I can't get PyTorch data loading to work with jax/flax with `num_workers>0`.
Following is a minimal example to reproduce my issues

[code]

### Problem encountered:
I've tried running the script on both `TPU` and `GPU`: it works fine when `num_workers = 0`, but doesn't work with  `nu

[2022-01-10 20:24] mattiasmar commented on #1769
These errors were due to incompatibility between the preinstalled cudnn of the docker image and the jax wheel.
Resolved by using the docker image `nvidia/cuda:11.4.1-cudnn8-devel-ubuntu18.04` and installing jax with:
`pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_releases.html`

[2022-01-10 20:24] #1769 closed

[2022-01-10 20:31] mattiasmar commented on #1731
If one
- uses the docker image `nvidia/cuda:11.4.1-cudnn8-devel-ubuntu18.04`, and
- install jax by calling `pip install --upgrade "jax[cuda]" -f https://storage.googleapis.com/jax-releases/jax_releases.html`, and
- run the  flax test script [flax\examples\imagenet\models_test.py](flax\examples\imagenet\models_test.py) with `XLA_FLAGS=--xla_gpu_force_compilation_parallelism=1`

then the scripts com

[2022-01-11 10:27] jheek commented on #1772
This seems unrelated to Flax. Could you open an issue in the JAX repository?
My guess is both processes are trying to grab the GPU/TPU for some reason. You could try a CPU only pytorch as a temporary workaround perhaps?

[2022-01-11 10:27] #1772 closed

[2022-01-11 14:12] jheek opened #1777 "FLIP: default dtype"
FLIP discussing a default dtype mechanism for linen layers

PR: #1776

[2022-01-11 14:17] jheek commented on #915
@PhilipVinc  Please take a look at the default dtype proposal https://github.com/google/flax/pull/1776 which should fix your complex number use case among other things

[2022-01-12 10:34] marcvanzee commented on #1767
Closing this, feel free to re-open if I misunderstood something.

[2022-01-12 10:34] #1767 closed

[2022-01-13 15:12] jheek commented on #1771
Scan isn't batching but looping. It will generate an XLA loop which mainly saves compilation time but it does block some optimization and can have significant overhead.

Another problem could be that it isn't exactly doing what you expect. SeqInternal now becomes the scan body (with different params in each iteration) but you do have to take a carry argument and return a tuple of (carry, scan_outp

[2022-01-13 15:40] srush commented on #1771
Hi @jheek

Thanks for the response. Yes, I setup seqinternal to have a carry and a null scan outputs.

When I say batching, I mean I want my `setup` method to be batched. In this particular example all of my `SeqInternal` have a complex setup, and a fast `call`. I know the `call` needs to be sequential but I feel like the setup can and should be batched.

I don't mind the extra compile time, but i

[2022-01-13 15:51] srush commented on #1771
Here's an example, adapted from https://srush.github.io/annotated-s4/#an-ssm-neural-network.
[code]

[2022-01-18 01:49] qsh-zh opened #1790 "First accelerator takes much more memory than over accelerators when parallel training"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### Problem you have encountered:

The context is similar to the one in [the tutorial](https://flax.readthedocs.io/en/latest/howtos/ensembling.html). I want to take advantage o

[2022-01-18 08:46] marcvanzee commented on #1790
Do you want to shard your model weights (i.e., model parallelism), or replicate them (i.e., data parallelism) over your devices? The way you are describing it sounds like you want to do model parallelism, but DDP in PyTorch is for data parallelism. From the [DDP docs](https://pytorch.org/tutorials/beginner/dist_overview.html):

"Distributed Data-Parallel Training (DDP) is a widely adopted single-p

[2022-01-18 12:20] avital commented on #202
@georgedahl -- I think [Scenic](https://github.com/google-research/scenic) has object detection models, have you taken a look there?

[2022-01-18 12:23] marcvanzee commented on #231
@andsteing do you think this issue should say open, and if so why?
If not, shall we move the "Example Guidelines" into another doc and close this one?

[2022-01-19 09:53] andsteing commented on #86
Is this superseded/implemented in #1776 ?

[2022-01-19 11:02] jheek commented on #86
Yes, superseded by #1776, closing

[2022-01-19 11:02] #86 closed

[2022-01-19 14:22] NeilGirdhar commented on #443
FYI: The dataclass transform PEP is now in [draft](https://mail.python.org/archives/list/typing-sig@python.org/thread/EAALIHA3XEDFDNG2NRXTI3ERFPAD65Z4/).

I mentioned Flax's dataclass during the discussion, and they agreed to support applying the decorator to classes directly (instead of just to metaclasses), and pyright has already implemented that suggestion.

[2022-01-19 14:26] NeilGirdhar commented on #805
@PhilipVinc As an aside, I'm pretty sure I read somewhere that `jax.enablex64` is going to disappear soon?

[2022-01-19 14:48] jheek commented on #443
Thanks @NeilGirdhar, it's nice to see how they updated the PEP based on the Flax example you gave :)
Apparently, it's not very well known that init_subclass is usually a lightweight alternative to metaclasses

[2022-01-19 15:45] PhilipVinc commented on #805
Yes I'm aware. jax will transition to using float32 by default in most applications, but most of those inconsistencies will still be there.

#1776 solves most of them

[2022-01-24 13:53] jheek commented on #1771
I don't think there's a super clean solution for this right now.

cc @levskaya, I think this is another argument for scan-over-layers. Because the carry is forced to be statically shaped and the activations are normally discarded during init we can make scan-over-layers a vmap-over-layers during init. Probably behind an optional kwarg

[2022-01-24 23:54] srush commented on #1771
Neat thanks! I'll have to parse a bit why this hack works, but its neat that you can do it.

[2022-01-25 08:30] jheek commented on #1771
See our design note on lifting: https://flax.readthedocs.io/en/latest/design_notes/lift.html
for this trick (and it's limitations)

[2022-01-25 14:17] andsteing commented on #567
Closing this since most issues from the checklist are resolved.

Adding a Colab would be nice, but I don't think it's a hard requirement. Might also be more interesting to add the Colab to the `wmt` example instead.

[2022-01-25 14:17] #567 closed

[2022-01-25 14:25] andsteing commented on #623
- `test_requires` has been removed from `setup.py`
- `examples/requirements.txt` doesn't exist anymore
- as per #1726 examples' `requirements.txt` can now be updated with less pain

[2022-01-25 14:25] #623 closed

[2022-01-25 16:01] #480 closed

[2022-01-25 16:03] #479 closed

[2022-01-25 18:44] reshinthadithyan opened #1810 "How to effectively do Gradient Accumulation to train_state ?"
I have a `train_step` that looks roughly like this,
[code]

 What is the most effective way of adding gradient accumulation to this? Thanks. I had implemented a rough version with `jax.lax.cond` [Based on [this](https://github.com/google/jax/issues/1488)] writing an additional accumulation attribute to `flax.training.train_state`. Is this the right way to do it?
 Thanks, much. An example with grad

[2022-01-25 19:20] NeilGirdhar opened #1816 "Consider using keyword-only parameters"
It would be really useful for modules to support [keyword-only parameters](https://www.python.org/dev/peps/pep-3102/).  The major advantages would be:

- Eliminating the rejuggling of parameters in [flax.linen.module](https://github.com/google/flax/blob/main/flax/linen/module.py#L544).  It would simply be necessary to mark `name` and `parent` as keyword-only, and they would not interfere with non-

[2022-01-26 10:47] marcvanzee commented on #458
Closing this since we've decided to drop the PixelCNN++ example. @j-towns please let us know when you move it to a personal repo, then we will make sure to link to it from here!

[2022-01-26 10:47] #458 closed

[2022-01-26 10:48] marcvanzee commented on #569
Closing this since we dropped the example.

[2022-01-26 10:48] #569 closed

[2022-01-26 10:48] marcvanzee commented on #1053
Updated the checklist since PixelCNN++ doesn't exist anymore.

[2022-01-27 10:15] mattiasmar opened #1823 "Fail to execute regression tests"
### Problem you have encountered:
Following the instructions of https://flax.readthedocs.io/en/latest/contributing.html at the step ./tests/run_all_tests.sh the error `jinja2.exceptions.TemplateNotFound: flax_module` is encountered.

### What you expected to happen:
Tests to execute from A to Z.

### Logs, error messages, etc:
[code]

### Steps to reproduce:
Follow the instructions of https://flax

[2022-01-28 13:55] SarthakYadav opened #1829 "flax.linen.pool returns array with 0 dimensions"
Hi!

### Problem you have encountered:
`flax.linen.pool` can return array with 0 dimensions, depending on the input array shape and the kernel/stride parameters.

Minimal example taking `flax.linen.avg_pool`:

[code]

### What you expected to happen:

- An exception should be raised if any dimension of the output is evaluated to `< 1` for the given arguments (It is raised for dimensions `< 0` by `

[2022-01-31 14:15] marcvanzee commented on #1022
@n2cholas  @avital  it seems this wasn't deprecated after #1011, so shall we pick up this issue again?

[2022-01-31 15:02] andsteing commented on #231
Good idea. Let me summarize this into a standalone RST file that we can reference and close the issue here.

[2022-01-31 19:21] n2cholas commented on #1022
@marcvanzee Sounds good! The [`MultiOptimizer`](https://github.com/google/flax/blob/78d9aa0d68a1135c6fb01834ad3846cdfc45d718/flax/optim/base.py#L444-L449) docstring example is pretty good, perhaps one more example with composing `ModelParamTraversal`s would be helpful.

On a side note, since this wasn't deprecated, does that mean flax won't fully migrate to optax optimizers?

[2022-01-31 19:37] marcvanzee commented on #1022
I think @avital suggested to remove this API all together, since most of the logic can be done with tree_maps, and all the optimizations we thought we would get with this library can mostly be handled by XLA, which does a lot of graph optimization, at the cost of more compile time.

[2022-01-31 19:47] n2cholas commented on #1022
Got it, I agree that it makes sense to remove this API altogether. I think the equivalent tree_map code is easier to understand as well. In this case, should I close this issue?

[2022-01-31 19:48] marcvanzee commented on #1022
Yes, but maybe we should create a new one for removing the traverse_util API. Since you started this issue as well, do you want to do that?

[2022-01-31 20:00] n2cholas opened #1839 "Deprecate/Remove traverse_util module"
As per @marcvanzee's comment on #1022, most of the traverse_util logic can be done with tree_maps without losing any run time optimizations. The trade-off is the compile times will be longer, but tree_map code is easier to understand.

[2022-01-31 20:00] #1022 closed

[2022-01-31 20:00] n2cholas commented on #1839
I think `flatten_dict` and `unflatten_dict` are helpful utilities, perhaps they can be moved to `jax_utils`?

[2022-02-01 09:37] #570 closed

[2022-02-01 09:37] #571 closed

[2022-02-01 09:38] andsteing commented on #571
as discussed in last week's meeting, we don't really need a benchmark/colab in every example, we don't require mypy annotations, and very simple examples don't need configs.

[2022-02-01 09:38] andsteing commented on #572
as discussed in last week's meeting, we don't really need a benchmark/colab in every example, we don't require mypy annotations, and very simple examples don't need configs.

[2022-02-01 09:38] andsteing commented on #574
as discussed in last week's meeting, we don't really need a benchmark/colab in every example, we don't require mypy annotations, and very simple examples don't need configs.

[2022-02-01 09:38] #574 closed

[2022-02-01 09:45] andsteing commented on #231
Closing this issue with #1841

[2022-02-01 09:45] #231 closed

[2022-02-01 09:45] #572 closed

[2022-02-01 14:46] avital commented on #1839
I agree, those are useful. I don't know what the long term best place for them is, though. Maybe even outside of Flax? So I guess maybe it's fine to just keep them where they are for now (jax_utils is a bad package -- it doesn't describe what it's scope is... traverse_utils is almost descriptive in this case.) But I don't have strong feelings here.

[2022-02-03 14:54] avital opened #1849 "Can we get rid of the `sep` argument used in the "Model Surgery" HOWTO?"
In this HOWTO (https://flax.readthedocs.io/en/latest/howtos/model_surgery.html), we use this pattern:

[code]

But I think the use of `sep` here is misleading, making people think you need to use string keys. Instead, I would imagine that this would work and perhaps be clearer:
[code]

So I propose someone give a shot at this, filing a PR carefully changing that HOWTO and fixing all of the outputs

[2022-02-03 15:01] marcvanzee commented on #136
Closing due to inactivity.

[2022-02-03 15:01] #136 closed

[2022-02-03 15:03] marcvanzee commented on #166
It looks like @bohnetbd felt this wasn't worth adding due to the added complexity (given that this is an educational example). So I am closing this.

[2022-02-03 15:03] #166 closed

[2022-02-03 15:03] avital commented on #202
Closing because at this point there are many good Flax models implemented outside of the official flax/examples directory, and I think Scenic is probably the best place to look for one of these.

[2022-02-03 15:03] #202 closed

[2022-02-03 15:07] marcvanzee commented on #219
It seems like it is very hard to get agreement on this, and since there hasn't been much recent activity I'm closing this issue.

[2022-02-03 15:07] #219 closed

[2022-02-03 15:07] avital commented on #230
Looks like in #231 it's been decided that not all examples must use exactly the same directory structure, so it seems unlikely that we'll be able to guarantee that no two test directories contains the same filenames. So I don't know if we'll be able to resolve this. I'll mark it closed, but if people have thoughts on this please let us know!

[2022-02-03 15:13] avital opened #1850 "Write a guide, HOWTO and/or example that shows how to correctly deal with the last batch during eval"
See #264 for the original motivation -- many naive implementations of eval loop over a full dataset would incorrectly deal with the last batch, that may be smaller than the others, including most of our examples. A fully complete solution would add complexity to the examples, so depending on how educational they are, it may not be the right tradeoff. Instead, we should clearly document in one plac

[2022-02-03 15:14] #264 closed

[2022-02-03 15:15] marcvanzee opened #1851 "Add HOWTO explaining how to set up fully reproducible experiments"
While JAX's RNG design is motivated to enable fully reproducible runs, this is still not always trivial due to multi-host training, or interaction with other libraries such as TFDS, which use a different RNG setup.

It would be useful to explain general strategies on how to set up a fully reproducible experiment. (See also https://github.com/google/flax/issues/291)

[2022-02-03 15:16] marcvanzee commented on #291
It is really important to us (and JAX) to have fully reproducible experiments. In fact, this is one of the motivations of JAX's RNG design. However, it seems better to write a HOWTO on how to set up a fully reproducible experiment, rather than forcing all our examples to be fully reproducible. I have created a new issue https://github.com/google/flax/issues/1851 for this and I'm closing this one.

[2022-02-03 15:16] #291 closed

[2022-02-03 15:17] andsteing commented on #1850
See also #527 about computing metrics correctly in examples.

[2022-02-03 15:19] avital opened #1852 "Add a HOWTO showing how to get per-example gradients"
There was an initial attempt at #306 that wasn't completed. We'd like a side-by-side diff view of a simple model (like many of our other HOWTOs) simply showing how you can use `vmap` to get per-example gradients of a simple model while still also getting the mean gradient on the whole batch.

(A broader example would be an implementation of DP-SGD that'd build on top of this, but that's probably b

[2022-02-03 15:20] #1852 closed

[2022-02-03 15:27] marcvanzee commented on #319
It appears that we are now actually syncing the batch statistics across replicas during batch normalization, see here: https://github.com/google/flax/blob/811084f48fd6f1edb2cd4775e375df8edc8a06eb/examples/imagenet/train.py#L214

Closing this.

[2022-02-03 15:27] #319 closed

[2022-02-03 15:36] marcvanzee opened #1853 "Add HOWTO explaining how to load MNIST from torchvision and HuggingFace datasets"
According to #325, `torch` is as easy as replacing

[code]

With

[code]

For HuggingFace it should not be much more difficult.

Also we could like to this JAX tutorial, which is more general: https://jax.readthedocs.io/en/latest/notebooks/Neural_Network_and_Data_Loading.html

[2022-02-03 15:56] marcvanzee commented on #523
I'm closing this issue since I think the guided tour is actually in a great state. For the two remaining points:

- Model inspection:  see the [Model surgery HOWTO](https://flax.readthedocs.io/en/latest/howtos/model_surgery.html)
- More complicated layers: I am not sure if this is necessary for the guided tour. We can add those as HOWTOs if necessary, but right now I don't see a real need, I guess

[2022-02-03 15:56] #523 closed

[2022-02-03 16:02] marcvanzee commented on #527
@andsteing I wonder whether we should require this for all our examples (do we realistically think we have the bandwidth to fix this?), or just close this issue and only keep the HOWOT that @avital just opened. WDYT?

[2022-02-04 21:51] wdg3 commented on #1849
Agreed that removing `sep` makes more clear - PR raised.

[2022-02-05 05:54] NeilGirdhar opened #1857 "Feature request: ability to apply stop gradient to some parameters"
To motivate this feature request, I'll explain what I'm currently doing (without Flax), and the other solutions I've considered.  Then I'll suggest some Flax solution.

### Problem:

In the process of inferring one of my modules, I need to do something like this:
<details><summary>(click for long snippet)</summary>
<p>

[code]
</p>
</details>

### Non-solution:

I discussed this with @cgarciae and

[2022-02-05 06:07] #1713 closed

[2022-02-07 09:25] jheek commented on #1857
So in the haiku version of the code you are solving this "outside" of Haiku by operating on the variables dict directly and making 4 copies. In Flax you could do something similair for example by using `flax.travere_util.flatten_dict`. If you want to do this **inside** a linen Module you could use `nn.map_variables` where the mapping is basically identity but with stop_gradient applied to some or

[2022-02-07 09:29] jheek commented on #1857
Here's an sketch of what that would look like:
[code]

[2022-02-07 15:19] #1849 closed

[2022-02-07 15:34] cgarciae commented on #1857
@jheek the `map_variables` solution is great, I like it a lot!

A HOWTO about freezing parameters using this strategy would be great.

[2022-02-08 01:11] samuela commented on #122
That link is now a 404. Where is the current CIFAR10 example code?

[2022-02-08 01:12] NeilGirdhar opened #1866 "Add lifted value_and_grad?"
Would it be worthwhile to add a lifted version of `jax.value_and_grad`?  I imagine it would be pretty similar in implementation to the lifted `vjp`.

[2022-02-08 10:22] andsteing opened #1872 "Adding a new transposed convolution function (similar to `torch.nn.ConvTranspose2d()`)"
Adding a transposed convolution as proposed in
https://github.com/google/jax/pull/5772
would also be very useful when porting models from PyTorch to Flax (as in #1848).

[2022-02-08 19:06] avital commented on #1839
Just curious @n2cholas -- are you planning to work on this or did you file it for us to keep track of it (both answers are fine, just checking). If you don't want to work on this I'll add "pull requests encouraged" to it and maybe someone else wants to give it a shot.

[2022-02-09 05:48] n2cholas commented on #1839
I'd be happy to work on this, but what's the process to actually deprecate then remove this module? Do I just add deprecation warnings to all the functions?

[2022-02-09 21:39] matthias-wright commented on #1577
Is anyone working on this?

[2022-02-10 05:45] NeilGirdhar opened #1899 "Crash when using generic module class"
[code]
Gives
[code]
in CPython 3.10.1.

[2022-02-10 07:16] andsteing commented on #1577
No, it's up for grabs!

Happy to review it if you decide to update the guide.

[2022-02-10 15:35] n2cholas commented on #1839
Got it, will do next week!

[2022-02-11 00:40] NeilGirdhar opened #1904 "Opaque error message"
I got this stack trace:
[code]
Does it give any hint as to what I've done wrong?

I also  wanted to suggest that this is a fairly opaque error message.  Can it be improved?

[2022-02-11 07:47] NeilGirdhar commented on #1904
Found it: I overrode `__post_init__` in a module and forgot to call super.  I guess that's a pretty rare thing to do, so no worries about the message.

[2022-02-11 07:47] #1904 closed

[2022-02-11 08:04] NeilGirdhar opened #1907 "Expand lifted custom VJP"
I'm having two problems with custom VJP:

First, I'm getting "NotImplementedError: This transform does not yet support Modules that include other Modules passed as arguments."

Second, I don't know how (or if it's possible) to return [parameter cotangents](https://github.com/google/flax/discussions/1868).

This is unfortunately a complete blocker for my adoption of Flax.

@jheek Any ideas?

[2022-02-11 08:58] jheek commented on #1907
You can return parameter cotangents by making the params an explicit return of the forward_fn. e.g.:
[code]

This is a bit more tricky. You can try to avoid this by making sure the module that you transform doesn't share Modules passed as an argument to the Module constructor. We currently don't have an easy way to identify which Module is which so we restrict it to just the target Module being tr

[2022-02-11 09:46] NeilGirdhar commented on #1907
Thanks for the quick reply!  Could you elaborate a bit on this? "making sure the module that you transform doesn't share Modules passed as an argument to the Module constructor."   I can't seem to wrap my head around it.

[2022-02-11 09:52] NeilGirdhar commented on #1907
Also, I'm having trouble connecting what you're suggesting about parameter cotangents to my example.  Let P represent the model variables.
[code]

[2022-02-11 10:12] jheek commented on #1907
Actually I was confused: Returning params is for defining tangents with respect to params not returning a cotangent.

Let me rephrase to make sure I understand you correctly: When you call custom_vjp you want the return to include the tangents wrt to the variables?

In that case you should just use nn.vjp or nn.jvp in the caller

[2022-02-11 10:20] NeilGirdhar commented on #1907
No.  I tried to explain in my edits.

Essentially, every differentiated Jax function can be interpreted to have a primal output and a cotangent output.   For example,
[code]
The primal output is `y`, and the cotangent output is `x_bar`.  I want to write to the parameter cotangent output if possible.  Without using Flax, if `f` accepted weights `w`, I could use a custom VJP to write anything I want

[2022-02-11 10:28] jheek commented on #1907
So if we take the example given in the custom_vjp docstring:
[code]

Here params_t is the parameter cotangent you call params_bar, correct? And in the example it is manipulated such that it is quantized to one bit. Doesn't your problem reduce to replacing the line ` params_t = jax.tree_map(jnp.sign, params_t)` with your own custom logic to overwrite the cotangent?

[2022-02-11 10:33] NeilGirdhar commented on #1907
@jheek Yes, my apologies!!  I'll give this a shot tomorrow.  It's 5am now and I should probably sleep.

Would you mind illustrating what you mean by "making sure the module that you transform doesn't share Modules passed as an argument to the Module constructor."?  Maybe I'll figure it out tomorrow.

Thanks again!

[2022-02-11 12:49] #1899 closed

[2022-02-11 15:03] melissatan opened #1909 "Clarify expectations for `variables` dict in apply()"
Filing this to document some points for future reference, which came up while working on a fix for #1768.

#1768 is a case where a user unintentionally passed `variables={'params': {'params': ...}}`. This can be solved by adding a check inside apply().

There's a broader case to consider, of whether the library should enforce that the `variables` dict always contains a 'params' key. This would cat

[2022-02-11 17:58] zowen commented on #1617
I have a question that appears to be related to the above. I'm attempting to implement a multi-task model in flax, and running into trouble due to this lazy initialization. For a simple conceptual example say I have three types of entities: A, B, and C.  I would like to learn embeddings for each of these and I have data about the relationships between A and B and A and C. I have reason to believe

[2022-02-11 18:30] marcvanzee opened #1910 "Add Colabs to all HOWTOs"
Currently our HOWTOs often have nice side-by-side views, but they also hide some code.
It would be useful for users to be able to just copy/paste all code from a Colab and run it separately.

The idea is to then include a link to the Colab at the top of the HOWTO.

[2022-02-14 07:39] andsteing commented on #1910
This would also solve #1325

[2022-02-14 07:41] andsteing commented on #1325
Note that #1910 proposes to include links to Colabs for all HOWTOs. That way the HOWTOs themselves would be short and easy to read (i.e. without all the setup code), but users would only be one link away from a full Colab that contains all the code and runs it on some actual data.

(Of course with the disadvantage that the two files need to be kept in sync)

[2022-02-14 07:44] andsteing opened #1912 "Create Colab Snippets"
I find myself often copying setup code (e.g. for a simple MNIST-like example) when trying out new features.

It would be very handy to have specially crafted Snippets for Flax development for this purpose. We could provide these snippets as a normal Colab notebook that lives on Github and they would automatically get updated when we change the source. Users imply add them to their config as descri

[2022-02-14 10:06] jheek commented on #1617
This is indeed a downside of lazy initialization at times. The alternative case is that whether a certain Module is used or not is fixed by a hyper-parameter to the module and in this case only initialization what you use is a feature not a bug.

In your case I think you should indeed make a call that iterates over all modes during init. Because initializing for one or all modes are both valid ini

[2022-02-15 06:31] NeilGirdhar commented on #1857
I'm still trying to get this working.  Here's what I have now:
[code]
gives
[code]

[2022-02-15 09:17] jheek commented on #1857
Ah that's because map_variables makes collections immutable. You need to provide a function that maps back the variables on output or pass init=True such that during init the map_variables isn't called.

Can you try passing `init=True` to nn.map_variables? I think that should fix your issue. Actually I accidentally removed the init=True from the example I copied from the docstring :S

[2022-02-16 00:39] SarthakYadav commented on #1829
@jheek sorry to tag you directly, but can you please comment on this?

I'm not sure if this issue is better suited for the JAX repository, though I feel adding some validation check on output dimensions on the flax side makes sense.

[2022-02-16 09:44] jheek commented on #1829
We cannot do this because we support a batch free usage of all the linen layers so the batch dim isn't always there. In this case the first dim is a spatial dim and thus should be pooled over

I guess the second issue is whether pooling to size 0 is an error.

I think that is really a question about JAX semantics. You would expect this to be consistent for both conv and pool operations. Right now

[2022-02-17 11:44] #1866 closed

[2022-02-17 11:59] NeilGirdhar commented on #1857
@jheek Thanks, that gets it to run, but it's still reflecting a copy of x?  It outputs:
[code]
So `x` and `stop_gradient_all` are different.

[2022-02-18 19:42] marcvanzee opened #1923 "Rewrite the Linen Upgrade Guide doc as a HOWTO"
#1922 adds a link to the upgrade guide that is currently in a Google Doc, but it is nicer to just put this in our HOWTO format.

We can also add some more lessons learned easily here.

[2022-02-18 20:10] samuela opened #1924 "TensorFlow is not listed as a `setup.py` dependency but is required"
### Problem you have encountered:
`tensorflow` is not listed as a dependency in `setup.py` here:
https://github.com/google/flax/blob/35d5d8a4ff466f57bf6af4d0f8c147d472795743/setup.py#L27-L33
but is required by flax here:
https://github.com/google/flax/blob/aad0be1e9b20e3a571c9a6d7814bda7a9951ba5c/flax/training/checkpoints.py#L31

### What you expected to happen:
`tensorflow` to be listed as a requ

[2022-02-19 04:50] wztdream opened #1925 "Can not assign dict whos key is not string as module attribute"
Hi,
It seems current flax.linen not allow assign a dict with non-string keys to the module attribute.
See below simple example:
it will trigger error:
`AssertionError: A state dict must only have string keys.`

Questions:
1. Is it an intended behavior? Why?
2. If it is intended, is there any work around? As it is quite possible we need assign the information contained by a dict to the module, and

[2022-02-21 20:50] jatentaki opened #1930 "How to extract intermediate values from "underneath" `vmap`?"
I have a model (a simplified version below) which uses `vmap` to apply MHA Siamese-style (with weight sharing), in order to run a transformer decoder on two sequences jointly. I would now like to extract the attention weights to visualize what the model is doing but it seems that `vmap` "silences" everything underneath and makes things like `linen.Module.sow` fail; not even the `capture_intermedia

[2022-02-22 12:49] PhilipVinc commented on #1924
Please don't make flax depend on tensorflow.

[2022-02-22 12:58] SarthakYadav commented on #1829
Makes sense. Thanks for the clarification. Closing this one!

[2022-02-22 12:58] #1829 closed

[2022-02-22 19:56] samuela commented on #1924
Agreed, I think optimal solution here is to not use tensorflow.gfile at all.

[2022-02-23 10:24] jheek commented on #1924
I think what we should do is fall back to using python file API if tensorflow is not installed.

[2022-02-23 15:52] AdityaKane2001 commented on #1924
IMHO this should be the default method. One should need tf if and only if GCS is involved.

[2022-02-23 19:13] tttc3 opened #1936 "Incompatible variables for Tensorboard hparams are recast to strings but never returned"
### Core Problem
Tensorboard hparams only supports a subset of Python and Numpy variable types ([see hparams docstrings](https://github.com/tensorflow/tensorboard/blob/1204566da5437af55109f7a4af18f9f8b7c4f864/tensorboard/plugins/hparams/summary_v2.py)). The `flax.metrics.tensorboard.SummaryWriter` class's method `SummaryWriter.hparams()` should handle this behavior via the `flax.metrics.tensorboar

[2022-02-24 08:50] #1053 closed

[2022-02-24 08:51] andsteing commented on #1577
Part of #1357

[2022-02-24 08:51] #1577 closed

[2022-02-24 08:51] #1357 closed

[2022-02-24 09:41] marcvanzee commented on #1936
Thanks for noticing this. Indeed there seems to be a bug in our code, and we actually do nothing with `v` if it is `None`, `list` or `tuple`! Yes, it would be great if you could file this as a PR and I think your suggested change using `valid_types` is an improvement.

We should also run internals tests on this to make sure your change doesn't break anything.

[2022-02-27 23:13] brentyi opened #1947 "`typing.get_type_hints()` is broken for linen modules"
I have some serialization code that involves a recursive call to `get_type_hints()`, which breaks for flax modules:
[code]

The reason for this seems to be that forward references are (seemingly unnecessarily) used when fields are being dynamically added to the module dataclass, but the typing module tries to resolve these names in the wrong local namespace:
https://github.com/google/flax/blob/96c

[2022-02-28 07:57] marcvanzee commented on #1947
Nice catch, that forward reference is indeed unnecessary because it is only necessary when the class being defined is in the signature of the class method (see [PEP 484](https://www.python.org/dev/peps/pep-0484/#forward-references)).

I wasn't aware that this breaks `get_type_hints` though, but it seems to be a known issue. From the [typing documentation](https://docs.python.org/3/library/typing.h

[2022-02-28 14:07] #1947 closed

[2022-03-03 12:45] marcvanzee commented on #789
Closed after #1926, which contains a link to HuggingFace in our examples README. There are currently >5,000 JAX models in HuggingFace so it seems a bit excessive to link to all of them.

[2022-03-03 12:45] #789 closed

[2022-03-04 11:39] #1155 closed

[2022-03-04 18:42] Binbose opened #1966 "Flax much slower than pure Jax?"
Hey, for a project I am trying to code up a very simple MLP example, but I noticed that the implementation in flax is about 20 times slower than the pure jax implementation. What am I doing wrong here?

[code]

Which produces the output:

[code]

[2022-03-05 12:25] levskaya commented on #1966
I made a public colab that fixes your benchmark in a few ways:
https://colab.research.google.com/drive/13DYXLKmLCO3K2Pd0Z1x-hHjwaSmK7Ked?usp=sharing

Inlining the comments inside that colab here:

 - plain numpy was being used by accident in JAX NN code, this was fixed to use `jax.numpy` aka `jnp`
 - both JAX and esp. FLAX are designed around the assumption of using JIT (`jax.jit`) compilation to

[2022-03-06 23:33] Binbose commented on #1966
Oh you are right, thank you!
Maybe it makes sense to add the jit compilation line to the minimal examples on the Github page so that other dummies like me don't overlook that.

[2022-03-09 11:25] marcvanzee opened #1977 "Improve nn.scan arguments documentation"
(After feedback from @zhangqiaorjc)

Some `nn.scan` arguments are under-documented / make undocumented assumptions. In the example below, the scanning actually happens over the third argument of `body_fn` (`sub` and `layer_in` are ignored):

[code]

However, this is not made clear in the [current documentation](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.scan.html):

**in_axes**:

[2022-03-09 23:26] VolodyaCO commented on #859
Any progress on this?

[2022-03-10 07:55] marcvanzee commented on #859
No, but we happily accept PRs!
@VolodyaCO do you want to take this?

[2022-03-10 08:23] EyalRozenberg1 commented on #859
I think a more accurate form for _clipping gradients_ would be:
[code]

[2022-03-10 08:40] marcvanzee commented on #1977
#1980 improves some docstrings (also adds a variation of the example above in the `nn.scan` docstring). I added placeholders with `#1977` in that PR where docstrings should further be improved.

[2022-03-10 09:42] jheek commented on #859
Shouldn't this be part of optax?

[2022-03-10 10:04] EyalRozenberg1 commented on #859
Yes.
I actually just saw that there is an implementation there for what we discussed.
`optax.clip_by_global_norm()`

[2022-03-10 11:10] marcvanzee commented on #859
Ah good point @jheek. Closing this issue then (but please re-open if you think I'm wrong).

[2022-03-10 11:10] #859 closed

[2022-03-12 06:20] marcvanzee commented on #1422
@RohanVKashyap any  updates on this?

[2022-03-12 06:21] marcvanzee opened #1986 "Add HOWTO: Data-parallel training"
See #1982, this HOWTO will implement data-parallel training using pmap in the seq2seq example.

[2022-03-12 06:27] marcvanzee commented on #1986
@gmittal mentioned he would like to implement this based on #1982

[2022-03-12 13:20] RohanVKashyap commented on #1422
Hi,sorry for the delay.I was caught up in some work.I will raise a PR with the colab link for the CNN model in a couple of days and get that done.

[2022-03-13 16:02] marcvanzee commented on #1704
@sudhakarsingh27 any update on this?

[2022-03-14 08:00] marcvanzee opened #1991 "Improve documentation in flax.core"
Some functions in `flax.core` are not documented well and users who would like to use Flax for more advanced use cases have been complaining about this.

[2022-03-14 08:07] marcvanzee commented on #1991
Some functions do not have docstring at all (e.g., `pack`), while others do have good docstrings, but the code itself is almost entirely undocumented, which makes is quite difficult to follow (e.g. ,`vmap`, `scan`, `vjp`). I think both should be improved.

[2022-03-14 08:30] marcvanzee commented on #1991
#1992 improves some docstrings and fixes lint errors in a few `flax.core` files.

[2022-03-14 15:35] jheek commented on #1925
This should be fixed

[2022-03-14 15:37] jheek commented on #1907
This seems fixed, closing for now

[2022-03-14 15:37] #1907 closed

[2022-03-14 15:40] melissatan commented on #1909
Closing this for now because no opinions have been raised on either side of this discussion. But if any come in I'm happy to pick it back up.

[2022-03-14 15:40] #1909 closed

[2022-03-14 15:44] jheek commented on #1823
@marcvanzee is this related to the recent doc build failure?

[2022-03-14 15:45] jheek commented on #1721
This has been around for a while. Probably, won't fix

[2022-03-14 15:49] jheek commented on #1755
Unlike NumPy both JAX and Flax are very conservative about using double precision by default. We also don't allow settting these defaults globally because we believe it's bad practise (it doesn't work when libraries/user code implicilty depends on the global being set to a certain value). We are [changing](https://github.com/google/flax/blob/main/docs/flip/1777-default-dtype.md) the default dtype

[2022-03-14 15:50] jheek commented on #1746
@levskaya is this completly fixed now?

[2022-03-14 15:53] jheek commented on #1731
`XLA_FLAGS=--xla_gpu_force_compilation_parallelism=1`, so without this FLAG even the tests don't run?
If that's the case this bug should probably go into google/jax

[2022-03-15 09:07] sudhakarsingh27 commented on #1704
@marcvanzee I'm sorry, it completely slipped my mind after I faced issues in successfully completing the test run using `./tests/run_all_tests.sh`. But I realized, this change is more like a documentation change which shouldn't require complete test run. Nevertheless, I'm attaching the test run log along with the PR that I created above.
[test_run_log.txt](https://github.com/google/flax/files/8251

[2022-03-15 20:58] marcvanzee commented on #1704
@sudhakarsingh27 thanks! I think that error should be fixed at head now.

[2022-03-15 21:02] marcvanzee commented on #1823
@jheek could be, but I don't think so. The error seems to be about `flax_module`, which is a custom ReadTheDocs directive for displaying the Flax Modules correctly. It lives here: https://github.com/google/flax/blob/main/docs/_templates/autosummary/flax_module.rst

I don't understand this error actually, I just tried running `run_all_tests.sh` locally and I don't get the error. @mattiasmar could y

[2022-03-16 08:29] marcvanzee opened #1999 "Automatically generate Colabs from HOWTOs"
Currently we write Colabs manually for each HOWTO, which is error prone and a bit tedious. It should be possible to just take the code blocks in each HOWTO and convert it to a Colab directly.

Some considerations:

* This probably does not apply to every HOWTO. For instance, the HOWTOs explaining how to upgrade your codebase (e.g., to Linen), or how to convert a Pytorch model probably do not need

[2022-03-16 08:30] marcvanzee commented on #1422
Great! Just one question: I took a look at your Colab and the code is formatted with very little whitespace. We probably would want the layout of the Colab to match the layout in our HOWTO, so could you please make sure they match?

[2022-03-16 08:31] RohanVKashyap commented on #1422
Yes sure

[2022-03-16 11:06] untom opened #2000 "flax.linen.Conv needs better error checking of 'padding' argument."
Hi!

The following code leads to mysterious error message `RuntimeError: UNKNOWN: -:4:130: error: expected '['` :

[code]

The mistake here is that I was using `padding=(3, 3)` instead of `padding=((3, 3), (3, 3))`, but the error message is not informative. It would be great if that could be improved. Ideally, a simpler padding spec. like `padding=(3, 3)` or even `padding=3` could directly be supp

[2022-03-17 06:12] levskaya commented on #1746
I had forgotten to handle one other line doing a "name-check on scope" in #1745, but #2001 should resolve that and let us close this.

[2022-03-17 10:36] levskaya commented on #1746
#1745 and #2001 should fix this.

[2022-03-17 10:36] #1746 closed

[2022-03-17 10:43] marcvanzee commented on #1617
@billmark: @jheek is working on a Module lifecycle note that hopefully explains some of your confusions better!

[2022-03-17 10:47] marcvanzee commented on #1925
@jheek just tried this in a public Colab and installed flax from main, but the problem still seems to be there.

[2022-03-17 13:52] marcvanzee opened #2002 "Better document initialization functions"
(Note: original issue was raised by @patrickvonplaten after Flax/HuggingFace hackathon)

For some pretraining and fine-tuning tasks using the correct initialization scheme is very important to have correct model pretraining. E.g. some pretraining methods don't work at all with incorrect initialization. I've had quite a time-consuming time working with the JAX init functions this morning and think

[2022-03-18 14:36] levskaya commented on #1925
It's because we traverse any assignment looking for Module leaves and have overly strict requirements on the structure of the tree (e.g. string keys) for any leaf Module and that's spilling over as a constraint on any leaf type.

[2022-03-20 14:56] daniel-j-h opened #2005 "msgpack_serialize does not work with FrozenDict PyTree"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: jax 0.3.1, jaxlib 0.3.0+cuda11.cudnn82, flax 0.4.0
- Python version: 3.8.10
- GPU/TPU model and memory:
- CUDA version (if applicable):

Hey folks, I quickly wanted to save some flax.linen module params to disk. Because of https://gith

[2022-03-21 21:24] cgarciae commented on #1382
Been exploring this structure to understand it better:
[code]
Once initialized like this:
[code]
There are a couple of scenarios I tried out:
[code]
To answer the question, I mutable doesn't filter the `variable_upates` but rather yields an error if a Module wants to mutate a collection but said collection is not in the `mutable` list or `mutable` is not `True`.

Documentation for `apply` does sta

[2022-03-22 16:39] #1925 closed

[2022-03-23 14:19] ayaka14732 opened #2011 "How is `MultiHeadDotProductAttention` implemented?"
### Problem you have encountered:

The output of [`flax.linen.MultiHeadDotProductAttention`](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.MultiHeadDotProductAttention.html) seems unfathomable to me. I checked the documentation, but there is no formula for this.

Test script:

[code]

Output:

[code]

### What you expected to happen:

Manual calculation:

[code]

[code]

Equivalent

[2022-03-23 14:52] jheek commented on #2011
I think you have to reverse the src and dst arguments in model.apply `inputs_q  = dst` and `inputs_kv = src`

[2022-03-23 15:01] #2011 closed

[2022-03-24 11:02] #2000 closed

[2022-03-25 18:13] melissatan commented on #1139
I can pick this up, but would like to better understand the context. Currently
[code]
results in
[code]
Is that behavior not desired? Or is this issue obsolete?

[2022-03-28 14:48] melissatan commented on #1303
Additionally discovered that the example snippet in the docs for ScopeParamNotFoundError no longer seems to work, but with a different error than ScopeParamNotFound. Will update it.

[2022-03-28 18:08] #1303 closed

[2022-03-29 09:27] levskaya commented on #2005
Hey! sorry `msgpack_serialize` and `msgpack_restore` are low-level function entrypoints that are only intended to work with native python objects + numpy arrays.  To serialize/restore general things including user-registered types, use `serialization.to_bytes` and `serialization.from_bytes`

[2022-03-30 13:49] #1542 closed

[2022-03-31 10:09] melissatan commented on #853
@marcvanzee I could take this. To clarify before I start, is this what you had in mind:
[code]

and then define `tree_flatten` and `tree_unflatten` inside Module such that they raise an informative error? (Could be TypeError or I could also define a new error type in errors.py)

[2022-03-31 13:16] marcvanzee commented on #1139
Hmm maybe this was resolved already? Changing the top-level Module name should not matter (it is not part of the param tree anyway), and if you change the name of a submodule then this is caught by an error already, e.g.:

[code]

@jheek @levskaya  do you have more context on this?

[2022-03-31 13:46] levskaya opened #2022 "Updating subtree with `put_variable` doesn't update sub-scopes' references."
There are rare cases where we want to manually mess with the tree of variables at some point in a model.

If we try to use `get_variable` and `put_variable` to directly modify the variables in a collection, this works _locally_ for variables within a module, however if we try to mess with a sub-module's variables from a parent module, the mutation applied to the outer scope doesn't propagate into

[2022-04-01 17:31] daniel-j-h commented on #2005
Awesome, thanks this works! Maybe we should change the docs or even hide the internal functions then.

https://flax.readthedocs.io/en/latest/flax.serialization.html#flax.serialization.msgpack_serialize

[2022-04-01 17:31] #2005 closed

[2022-04-05 11:55] AdityaKane2001 commented on #1910
Requesting to close. See #1932

[2022-04-06 07:50] marcvanzee opened #2029 "Document default stride for pooling functions"
### Discussed in https://github.com/google/flax/discussions/2023

<div type='discussions-op-text'>

<sup>Originally posted by **dogeplusplus** April  3, 2022</sup>
A bit of a nitpick but I was wondering why the default behavior of pooling functions is to have stride 1 instead of the `window_shape`? I feel that for most use cases the stride would be the dimension of the kernel size as in other fram

[2022-04-06 09:22] marcvanzee commented on #853
@melissatan yes that is the idea 😄 .

[2022-04-06 09:45] melissatan opened #2031 "Recommended Approach for Gradient Accumulation"
Opening an issue for the discussion linked below.

The proposal that @marcvanzee and I discussed today is:
1. Create a minimal example (e.g. MNIST) that uses gradient accumulation, likely the Optax one.
2. In the example, try to demonstrate how it works -- display/explain the intermediate outputs, add more documentation where needed.
3. Based on the experience of creating and running the above, co

[2022-04-06 14:31] melissatan commented on #1139
As discussed offline issue is obsolete so closing.

[2022-04-06 14:31] #1139 closed

[2022-04-06 19:41] zjniu opened #2033 "Extracting Backbone Intermediates for Use in a FPN"
You would like to see a new example being implemented by the Flax core team or the community? Please let us know by filling the following template.

### Description of the model to be implemented

I am trying to build a Feature Pyramid Network (FPN) using an EfficientNetV2 or ResNet backbone. I have already written or found code for these two backbones, implemented as nn.Module. I would like to us

[2022-04-07 09:14] andsteing commented on #122
We removed the example because it was using the old API and we had nobody actively working on it and willing to port it.

You can see more examples in our examples README:
https://github.com/google/flax/tree/main/examples

Note that for example the `vision_transformer` codebase has example code to fine-tune a model on CIFAR10:
- https://github.com/google-research/vision_transformer
- https://colab

[2022-04-08 11:04] marcvanzee opened #2037 "Remove tree_multimap filterwarning once Jraph uses jax.tree_map instead of jax.tree_multimap"
Jraph uses `jax.tree_multimap`, which is deprecated and causes our tests to fail. Therefore I added a filterwarning in `pytest.ini`. We should remove this filter warning once Jraph fixes this.

[2022-04-08 18:07] shooguun opened #2040 "How to Implement MaxPooling2D with Ceil Mode in Flax?"
What is the equivalent code for maxpooling2d with ceil mode in PyTorch?

So for example in PyTorch we can code like this :
• nn.MaxPool2d(3, stride=2, padding=0, ceil_mode=True)
But in Flax, the framework only supports four parameters such as input, window_size, strides, and padding.

[2022-04-08 20:26] samuela commented on #122
@andsteing Is there any example code showing a simple resnet running on CIFAR10 that you know of?

[2022-04-11 06:38] andsteing commented on #122
You could switch the `imagenet2012` dataset with `cifar10` in our [`examples/imagenet`](https://github.com/google/flax/tree/main/examples/imagenet) - or you could download the pre-trained imagenet checkpoint and fine-tune it on `cifar10`

I'm not aware of a repo that simply trains a `resnet` on `cifar10`.

[2022-04-11 07:41] marcvanzee commented on #1034
This can be closed. Update guide is here: https://flax.readthedocs.io/en/latest/howtos/linen_upgrade_guide.html

[2022-04-11 07:41] #1034 closed

[2022-04-11 07:41] marcvanzee commented on #1576
This can be closed. Module lifecycle doc is here: https://flax.readthedocs.io/en/latest/design_notes/module_lifecycle.html

[2022-04-11 07:41] #1576 closed

[2022-04-11 09:21] pablo2909 opened #2041 "What is `replace` in `TrainState`"
Hello,

I am looking at the code of `TrainState` in `flax.training.train_state.py`. The function ` apply_gradients` calls `self.replace` that is not defined in `TrainState`, but in `PyTreeNode` that only raises a `NotImplementedError`. However when we run it, it does not raise it.
Am I missing something obvious ? I am not sure how this works.

Thank you very much

[2022-04-11 09:29] marcvanzee commented on #2041
`PyTreeNode` implements the [__init_subclass__](https://github.com/google/flax/blob/193f44e9f620ac493d662249741e9acc47d637cd/flax/struct.py#L198) method, which will converts the subclass (in this case `TrainState`) into a Flax dataclass, which does implement the [replace](https://github.com/google/flax/blob/193f44e9f620ac493d662249741e9acc47d637cd/flax/struct.py#L109) method.

We inherit from `PyT

[2022-04-11 09:31] pablo2909 commented on #2041
I see thank you very much !

[2022-04-11 09:31] #2041 closed

[2022-04-12 14:47] codeboy5 commented on #1872
Hey is this an active issue that is being worked on ?

[2022-04-13 04:49] wilson1yan opened #2047 "UNKNOWN error when calling Conv"
### System information
- TPU v3-8
- Ubuntu 20.04.3
- `jax==0.3.6`
- `jaxlib==0.3.6`
- `libtpu-nightly==0.1.dev20220412`
- `flax==0.4.1`

### Problem you have encountered:
When I run the following script:
[code]
It produces the following error. This issue is not unique to the jax version (has occurred for me for `0.3.4` and `0.3.5`), and has also occurred for me on GPUs.

[code]

[2022-04-13 04:55] wilson1yan commented on #2047
I don't think this is due to jax since the example script works fine (with various version of jax) if I revert to an older flax version, namely:
 `pip install git+https://github.com/google/flax.git@046174556fd7f4686fc8f15266e1a9479c1a1c5d`
(which I only happened to have due to an older conda env having a slightly older version of flax)

[2022-04-13 06:13] jheek commented on #2047
This was recently fixed. The next Flax release will support this syntax for now padding should be specified as padding=[(1, 1), (1, 1)] in this case.

[2022-04-13 06:20] wilson1yan commented on #2047
I see, thanks!

[2022-04-13 06:20] #2047 closed

[2022-04-13 06:54] marcvanzee commented on #1872
We actually have an implementation already: https://github.com/google/flax/blob/main/flax/linen/linear.py#L447

I don't really understand why we have this issue.

@andsteing can you please clarify?

[2022-04-13 07:01] codeboy5 commented on #1872
According to the docs :-

`torch.nn.ConvTranspose2d` and `nn.ConvTranspose` are not compatible. `nn.ConvTranspose` is a wrapper around `jax.lax.conv_transpose` which computes a fractionally strided convolution, while `torch.nn.ConvTranspose2d` computes a gradient based transposed convolution.

@marcvanzee this might be the reason and also why i created this issue.

[2022-04-13 07:04] codeboy5 commented on #1872
Yes, I will be interested to work on it.

[2022-04-13 07:06] marcvanzee commented on #1872
I just noticed this issue has the "blocked" label. @jheek could you please explain this? I suppose it is blocked on the JAX issue https://github.com/google/jax/pull/5772?

@codeboy5 In that case I guess we have to wait with working on this issue until that one is merged.

[2022-04-13 07:11] codeboy5 commented on #1872
Oh okay. I looked at that issue too, hasn't been any new updates for a year.
Thanks

[2022-04-13 07:12] marcvanzee commented on #1872
Hmm I see, maybe you can reply to that issue and ask whether they are planning to merge it soon? Otherwise you could ask them if you can pick up that issue if you are really interested!

[2022-04-14 08:10] marcvanzee opened #2049 "Start using positional-only parameters in Linen"
Some functions in our public API use positional arguments and keyword arguments in a way that is somewhat error prone. Two examples:

[code]

Calling this function with `variable('a', 'b', 'arg1', init_fn=fn)` will give two vaues to `init_fn`, which is wrong.

# Example 2 (module.py)
def init(self,
         rngs: Union[PRNGKey, RNGSequences],
         *args,
         method: Optional[Callable[...,

[2022-04-14 08:38] marcvanzee commented on #2049
This feature is available starting Python 3.8, but we are currently using Python 3.7 in our Github Action.

Upgrading to Python 3.8 is currently blocked on the following things:
* Public Colab is using Python 3.7.13
* HuggingFace is tested on Python 3.6.0
* We should also make sure our Cloud setup uses at least Python 3.8.

[2022-04-14 14:29] melissatan commented on #853
The naive approach described above doesn't seem to work, at least not out of the box. Upon investigation using a minimal test case
[code]
I observed that the "is not a valid JAX type" error is being logged from jax/_src/api.py
[code]

Here`_valid_jaxtype()` looks inside a hashmap called `pytype_aval_mappings` that lives in jax/interpreters/xla.py for a match.
However, that hashmap is different fro

[2022-04-15 12:15] ayaka14732 opened #2051 "Annotated MNIST: The implementation of `cross_entropy_loss` is incorrect"
Currently the `cross_entropy_loss` in the [Annotated MNIST](https://flax.readthedocs.io/en/latest/notebooks/annotated_mnist.html) example is implemented as follows:

[code]

The correct implementation should be:

[code]

Test:

[code]

[2022-04-15 17:04] denisyarats opened #2052 "nn.scan + nn.BatcnNorm"
Hi,

I'm trying to use `nn.scan` together with `nn.BatchNorm` but have some issues with setting `batch_stats` as variable_carry. I have this working example, which does the job:
[code]

But it I wrap up `nn.scan` into an `nn.Module` it suddenly stops working:
[code]
The code above returns the following error:
[code]

Any idea why these two similar pieces of code behave differently?

[2022-04-17 21:21] nestordemeure opened #2054 "integration with mup?"
Is there any interest in integrating [maximal update parametrization (mup)](https://www.microsoft.com/en-us/research/blog/%C2%B5transfer-a-technique-for-hyperparameter-tuning-of-enormous-neural-networks/) with Flax? It is a way to alter parameters initialization and the optimizer such that the optimal value of the hyperparameters (such as the learning rate) stays stable across model size. The work

[2022-04-19 07:02] jheek commented on #853
Normally you would use jax.jit(jitted_step_bad, static_argnums=(0,)) so the model is a static argument. You cannot pass a model as a normal arg because it's not a pytree.

[2022-04-19 07:17] jheek commented on #2052
The issue here is that JAX doesn't support a carry that changes structure within the loop. For `nn.scan` that means all variables should already exist when you scan for the first time. In your first example you only use scan during apply and not during init. For apply the batch stats are already initialized so this is not a problem. Eventually I would like to add some functionality to nn.scan that

[2022-04-19 07:56] andsteing commented on #2051
Thanks for opening this inquiry!

Note that the [Annotated MNIST](https://flax.readthedocs.io/en/latest/notebooks/annotated_mnist.html) example already returns `nn.log_softmax()` from the model:

[code]

Does this match your expecations?

[2022-04-19 08:45] melissatan commented on #853
Hi @jheek , yes I know that I cannot pass a model as a normal arg. `static_argnames` or `static_argnums` works fine. The concern I'm raising is that the currently proposed solution to this issue, does not appear to work :)

[2022-04-19 10:06] jheek commented on #853
@melissatan sorry I read the issue to quickly. I think your issue is that you need to register every Module subclass as a pytree rather than the Module class itself. So something like

[code]

[2022-04-19 13:45] ayaka14732 commented on #2051
@andsteing Actually I spotted this issue when I was investigating the quality of the implementations of cross entropy loss in JAX. Since Flax is one of the most popular NN libraries for JAX, and the Annotated MNIST is the default example in the Flax documentation, most users will just copy the code in this example into their projects, which will lead to wrong result.

For the implementation, I bel

[2022-04-19 16:16] andsteing commented on #2051
Thanks for the additional details, @ayaka14732 !

I didn't write the original example, so I'm not sure what was the motivation at that point. Before changing anything, I'd like to discuss these topics in more detail though. Maybe @levskaya @jheek @mtthss want to chime in.

The open questions are:

1. Should we rewrite [Annotated MNIST](https://flax.readthedocs.io/en/latest/notebooks/annotated_mnis

[2022-04-19 16:43] ayaka14732 commented on #2051
@jheek Wow! I haven't noticed this.

I can confirm the performances are almost identical on CPU, GPU and TPU.

<details>
  <summary>Test script:</summary>

[code]

</details>

[2022-04-19 16:48] ayaka14732 commented on #2051
Since @jheek points out that the one-hot solution will not affect the performance, I am now thinking that [`optax.softmax_cross_entropy`](https://optax.readthedocs.io/en/latest/api.html#optax.softmax_cross_entropy) is the best approach.

[2022-04-19 17:07] cgarciae commented on #2051
The `jax.vmap(getitem)` is a nice trick! However, IMO something like:

[code]
is easier to understand for beginners and experts alike.

[2022-04-20 18:18] cgarciae commented on #2052
@denisyarats This works:

[code]

@jheek per #652 it would be nice to have an easier mechanism to detect initialization, in this case its doubly tricky 😅

[2022-04-20 18:38] cgarciae commented on #2052
@denisyarats For now this works:

[code]
@jheek per #652 it would be nice to have an easier mechanism to know if we are inside `init`. Hopefully this can be solved within `nn.scan` itself.

[2022-04-20 19:00] denisyarats commented on #2052
Thanks @jheek and @cgarciae, verified this on my end as well. The trick is to not initialize nn.scan and give the same name i.e. `name="MLP"` as @cgarciae  suggested.

[2022-04-20 20:52] MatthewCaseres opened #2060 "Impure functions used in documentation without clarification"
### Description of the model to be implemented
In the JAX for the impatient section, they use an impure function which confused me as a beginner, because I just read about the dangers of this in the JAX docs. `mse` reads `predict` from the global state. Why is it okay to do this?
[code]

### Dataset the model could be trained on
No major changes needed.

### Specific points to consider
Clarify if

[2022-04-21 06:57] marcvanzee commented on #2060
This is not a side effect, because in your example `predict` comes from the global scope and it can't be modified by `mse` (you need to use the `global` keyword for that). `mse` would be impure if it would modify a variable in the outside scope.

[2022-04-21 06:57] #2060 closed

[2022-04-25 09:10] marcvanzee commented on #2051
@ayaka14732 thanks for the update. So It seems that on GPU/TPU the one-hot solution is preferred, and we can keep using the current implementation?

Is there anything actionable left in this issue, or do you think we can close it? Sorry if I missed anything!

[2022-04-25 12:53] #2029 closed

[2022-04-26 17:20] andsteing commented on #2051
Resolved in #2071.

@ayaka14732 thanks for the discussion, please feel free to continue the discussion on the PR...

[2022-04-26 17:20] #2051 closed

[2022-04-27 07:40] marcvanzee commented on #688
I am closing this issue since we haven't followed up on it on 1.5 year.

[2022-04-27 07:41] levskaya commented on #1924
#2073 is a WIP first draft at removing the TF-dependence for basic IO operations.   We can't shim something that will perform as well as the native gfile io calls, but we can break the dependency so things at least work in most simple use-cases without a TF install.

We would still have an implicit dependence on TF for our `metrics/tensorboard.py` tensorboard utility though.  The tensorboard peopl

[2022-04-27 07:41] marcvanzee commented on #719
This has been fixed alrady.

[2022-04-27 07:41] #719 closed

[2022-04-27 07:44] marcvanzee commented on #742
Closing this issue since we haven't acted on it in 1.5 year. I think our Github Discussions provide a lot of insight already, as well as our examples. We should continue to add things there, and if we have time we can add more documentation in terms of HOWTOs (but it seems we do not have this time).

[2022-04-27 07:44] #742 closed

[2022-04-27 07:52] marcvanzee commented on #332
@jheek given that we didn't do this in 2 years, do you think it is worth keeping the issue, or shall we close it due to inactivity?

[2022-04-27 07:52] marcvanzee commented on #332
@jheek assigned it to you so you can make a decision, feel free to unassign yourself once you decided what to do with it!

[2022-04-27 08:09] marcvanzee commented on #787
It appears the old howto branches are removed, and given that these HOWTOs we written pre-Linen, I don't see an easy way to add these. Also since we haven't acted on this in 1.5 I'm closing this issue.

[2022-04-27 08:09] #787 closed

[2022-04-27 08:10] marcvanzee commented on #786
It appears the old howto branches are removed, and given that these HOWTOs we written pre-Linen, I don't see an easy way to add these. Also since we haven't acted on this in 1.5 I'm closing this issue.

[2022-04-27 08:10] #786 closed

[2022-04-27 08:10] marcvanzee commented on #784
It appears the old howto branches are removed, and given that these HOWTOs we written pre-Linen, I don't see an easy way to add these. Also since we haven't acted on this in 1.5 I'm closing this issue.

[2022-04-27 08:10] #784 closed

[2022-04-27 08:10] marcvanzee commented on #747
Closing this due to inactivity.

[2022-04-27 08:10] #747 closed

[2022-04-27 08:11] marcvanzee commented on #656
@jheek is this still relevant?

[2022-04-27 08:12] marcvanzee commented on #689
Closing this since we now have the Flax philosophy, which seems similar in spirit: https://flax.readthedocs.io/en/latest/philosophy.html

[2022-04-27 08:12] #689 closed

[2022-04-27 08:58] onnoeberhard opened #2076 "Import all activation functions from linen.activations in linen.__init__"
I was trying to import the `selu` activation function from `flax.linen`, but found that it was not in the namespace. After inspection, it looks like `flax.linen.__init__` imports most, but not all, activation functions from `flax.linen.activations` (where they are in turn imported from `jax.nn`).

Is there a reason for why not all activation functions are imported? It seems odd to me that, when im

[2022-04-27 18:48] marcvanzee commented on #2076
The reason why we re-import these functions (and others) from JAX rather than importing them directly is so we can potentially change the implementation if we want to, while remaining backward compatible. Moreover, we can also add our own custom functions in the same place (e.g., `PreLU`).

As for the shortcut in `__init__`, we do this for quite a number of functions actually. For instance, for in

[2022-04-27 19:16] onnoeberhard commented on #2076
Oh I see, I had only been thinking about the activation functions and thought "if it's good enough for the `jax.nn` namespace, why not also `flax.linen`", but yeah if it also imports intializers and other functions, it might indeed get too crowded.

By the way, [here](https://github.com/google/jax/blob/main/jax/nn/__init__.py) is the list of functions imported into `jax.nn`. It's mostly just a few

[2022-04-27 19:28] marcvanzee commented on #782
Closing this since @jheek wrote the Module Lifecycle: https://flax.readthedocs.io/en/latest/design_notes/module_lifecycle.html

Also, I added a discussion where we can explain what shape inference means: https://github.com/google/flax/discussions/2077

[2022-04-27 19:28] #782 closed

[2022-04-27 19:32] marcvanzee commented on #749
I believe @levskaya recently merged a PR that allowed this, but it was later rolled back. #2028 .

I'm assigning this to him assuming he will still try to get it in at some point.

(@levskaya feel free to unassign if you think this is wrong!)

[2022-04-27 19:33] marcvanzee commented on #783
Closing this since the old HOWTOs are lost :(

[2022-04-27 19:33] #783 closed

[2022-04-27 19:55] marcvanzee commented on #1161
I am closing this issue due to inactivity.

[2022-04-27 19:56] marcvanzee commented on #1161
One second thought: this is still something we want to do at some point so let's keep the issue around.

[2022-04-27 19:57] marcvanzee commented on #1161
Keeping this issue open since it does feel like something we should do once we have time for it.

[2022-04-27 20:00] marcvanzee commented on #888
Closing this since this is pre-Linen

[2022-04-27 20:00] #888 closed

[2022-04-27 20:02] marcvanzee commented on #1355
@zpolina any updates on this?

[2022-04-27 20:06] marcvanzee commented on #1019
Assigning this to @cgarciae since he is working on this currently.

[2022-04-27 20:14] marcvanzee commented on #1355
Update: I just noticed that there is a FLIP for this, so I am closing this issue in favor of the FLIP: #1436

[2022-04-27 20:14] #1355 closed

[2022-04-27 20:26] marcvanzee commented on #1851
Closing this due to inactivity.

[2022-04-27 20:26] #1851 closed

[2022-04-27 20:30] marcvanzee commented on #1538
Duplicate of #1853

[2022-04-27 20:30] #1538 closed

[2022-04-27 20:36] marcvanzee commented on #1325
@n2cholas: @cgarciae and I are thinking to auto-generate Colabs from the HOWTOs, and include a "Open in Colab" button above each HOWTO. I believe this would solve your problem here, since if users would like to copy/paste code they can just go to the Colab.

I am therefore thinking we can close this issue in favor of #1910, what do you think?

[2022-04-27 20:39] marcvanzee commented on #1763
Hi @mattiasmar, we were considering of adding the WMT example with PJIT instead, since many people working on large language models are interested in it (and the models in language are usually much bigger than in vision). Would that work for you as well?

[2022-04-27 20:42] marcvanzee commented on #1731
@mattiasmar any updates?

[2022-04-27 20:43] marcvanzee commented on #1823
@mattiasmar any updates on this?

[2022-04-27 21:01] marcvanzee commented on #688
One

[2022-04-28 07:27] MatthewCaseres commented on #2060
It is like this example in "JAX: the sharp bits" from official docs.
[code]
but maybe this is nitpicky. Thanks for reply.

[2022-04-28 07:38] jheek commented on #2060
According to this logic jnp.mean and jnp.dot would be globals as well.
Closing over globals is not a problem as long as they don't change and aren't large arrays.
Especially for functions it is normally a bad practice to change them after definition.

[2022-04-28 07:50] MatthewCaseres commented on #2060
Great to know, thanks.

[2022-04-28 11:24] marcvanzee commented on #1436
@jheek ended up implementing custom solution that did not involve hooks, and shared it offline. I am therefore closing this issue.

[2022-04-28 11:24] #1436 closed

[2022-04-28 12:35] jheek commented on #332
Nowadays JAX has a lot more tools to do this. You can define a model with a virtual_batch_size and "schedule" it using pjit or xmap anyway you want. I don't think we need custom support for this in Flax anymore

[2022-04-28 12:35] #332 closed

[2022-04-28 12:36] cgarciae commented on #1910
👀

[2022-04-28 12:50] jheek commented on #656
Yes we are still using this workaround

[2022-04-28 18:09] mattiasmar commented on #1731
Oh, since January I haven't got to try it out again. Probably the repo has changed a lot since then anyway.

[2022-04-28 18:12] mattiasmar commented on #1823
I can get to this in maybe a month from now. If the problem still exists then, we could re-open the issue. Thanks.

[2022-04-28 18:15] mattiasmar commented on #1763
Yes, WMT would be a good example. A request only: Could you enter the pjit as high up in the code as possible? As a user I want to pjit as a large part as possible of my model/program. Ideally I would like to use pjit only once in my program.

[2022-04-28 18:54] marcvanzee commented on #1731
Alright, I will close it for now then.

[2022-04-28 18:54] #1731 closed

[2022-04-28 19:11] marcvanzee commented on #903
Closing this since @sgrigory implemented circular padding in #1661. Thanks @sgrigory!

[2022-04-28 19:12] marcvanzee commented on #897
Closing this since there has been no interest in this HOWTO.

[2022-04-28 19:12] #897 closed

[2022-04-28 23:12] felixzli opened #2093 "`traverse_util.flatten_dict` function works differently in two different python environments despite same version of flax being installed"
Hello,

I have two python environments both with flax 0.4.0 on two different VMs. In one of the python environments, `traverse_util.flatten_dict` cannot be used with the keyword argument `sep`. In the other python environment, `traverse_util.flatten_dict` works with the keyword argument `sep`. I have posted screenshots below showing this.
<img width="495" alt="image" src="https://user-images.githu

[2022-04-29 01:45] n2cholas commented on #1325
@marcvanzee sounds good, thank you!

[2022-04-29 01:45] #1325 closed

[2022-04-29 06:19] andsteing commented on #2093
You should install `flax==0.4.1` if you want to use `flatten_dict()` with the `sep=` param, see:
https://github.com/google/flax/compare/v0.4.0...v0.4.1

Your problem is probably that you installed a version between `0.4.0` and `0.4.1` releases in the first example above.

1. This works and prints `0.4.1`

[code]

2. This prints `0.4.0` and **fails**

[code]

3. This prints `0.4.0` and **works**

[

[2022-04-29 11:23] melissatan commented on #853
Thanks @jheek, this worked!
At first I tried to pass lambdas as args to `register_pytree_node()` and was getting a bunch of errors.
Explicitly defining the tree_flatten and tree_unflatten got rid of the error.

[2022-04-30 00:46] felixzli commented on #2093
Thanks for the help

[2022-04-30 00:46] #2093 closed

[2022-05-02 14:50] marcvanzee commented on #853
@jheek it seems like Melissa's change breaks your closure trick. Any ideas on how to resolve this?

[2022-05-03 08:03] jheek commented on #853
This error comes from the fact taht get_module_scopes should do a tree_map with `is_leaf=lambda x: isisntance(x, Module)` such that Modules are treated as leaves instead of nodes. (And maybe the same should happen in a few other places)

[2022-05-04 14:25] marcvanzee opened #2100 "We broke the 1:1 correspondence with attribute names and variable dict names"
from @levskaya:

[code]

[code]

The above used to break loudly, and it should!

Initial investigation by @avital:

Over the past 1.5 years (I ran a test against every single commit), we actually never had any commit where the following code raised an exception:

[code]

But we did, in the part, disallow entirely the use of `name=` for submodules defined within `setup`, which would have disallowed

[2022-05-04 16:47] cgarciae commented on #2100
Looking into this :eyes:

[2022-05-04 19:30] levskaya commented on #2100
I'm honestly afraid that this cat is already out of the bag.  Many users' models (and checkpoints!) now exploit the current freedom to set the name apart from python attribute name.  If we tried forcing it at this point we'd probably piss a lot of people off.

[2022-05-04 20:47] cgarciae commented on #2100
Based on @jheek's initial proposal I came up with this logic:

[code]
It will look for `val` on all collections, if it is found and `name` matches its good, if its found but no name matches you get a runtime error. However there are easy ways to get into trouble:

[code]
This one is a slight variation that is a bit worst:

[code]
### What to do?
"Value types" like small ints, strings, floats, etc,

[2022-05-05 21:40] cgarciae commented on #443
VSCode (pyright) has been working properly with Flax since `typing_extensions.dataclass_transform` was used.
Should we close this issue or leave it open once the PEP is accepted?

[2022-05-05 21:57] thomkeh commented on #443
The PEP has been [basically accepted](https://mail.python.org/archives/list/typing-sig@python.org/thread/JWMSWJ6JZJNNG3JKPBYDMQUUHZFD2FZL/) pending a few wording changes.

[2022-05-05 22:14] cgarciae commented on #652
In #2052 I had to use something like:

[code]
the module itself didn't have variables, initialization state depended on its sub-modules. This solution was very tricky (had to look for option in the Scope API), wondering if a method that checks if the module contain any variables at all would be easier to use and applicable in most common cases:

[code]
Alternatively `is_collection_empty` could be

[2022-05-06 06:49] marcvanzee opened #2107 "Improve Early Stopping API"
See discussion in #2090

[2022-05-06 12:57] marcvanzee commented on #1999
After chatting with @melissatan it seems it would even be better to start with a Python file and then generate both documentation and Colabs from that.

[2022-05-06 13:46] marcvanzee opened #2108 "Track Github metrics over time"
We currently have little insight into how well we are maintaining our Github page.

It would be useful to have some way of tracking some metrics over time, to see whether we are improving / getting worse.

Some things we could track:

* Issue resolution time (how long does it take before we close an issue) (e.g., as in isitmaintained.com)
* Number of open issues (isitmaintained.com)
* Issue respon

[2022-05-06 13:48] marcvanzee commented on #2108
Some suggestions from @cgarciae:
* We could write a script that gets statistics per month using the Github API.
* It could save the results in a CSV.
* We could then run a Github action as cronjob and retrieve these numbers automatically ever week/month.

[2022-05-06 13:50] marcvanzee commented on #2108
Assigning this to @cgarciae since he would like to look into this and ask some other folks who have experience with this.

[2022-05-06 18:18] cgarciae commented on #2108
Someone from the Numpy team recommended at this script:

https://github.com/scientific-python/devstats-data/blob/4c022961abc4ca6061f8719d9c3387e98734b90c/query.py

It feed this page where they have some stats:

https://devstats.scientific-python.org/

[2022-05-06 19:39] cgarciae commented on #2108
Adapting that script I could get the following info.

**Issues**
[code]
**PRs**
[code]
This is a very good start. We need to properly define what metrics we want to report. I'll create a couple of suggestions next.

[2022-05-06 19:53] cgarciae commented on #2108
## Metrics
During the last N (6?) months:

* `issue-response-time`: Time between creation and the first label assignment or conversion to a discussion. This means that if a regular user responds it doesn't count. (Can users select labels?)
* `issue-resolution-time`: Time between creation and closed. Not sure what happens to issues that are converted to discussion, maybe just ignore those and have

[2022-05-09 06:13] andsteing commented on #1999
see also how JAX is using [`jupytext`](https://jupytext.readthedocs.io/en/latest/) to keep notebooks & md/rst files in sync:
https://jax.readthedocs.io/en/latest/developer.html#update-notebooks

[2022-05-11 16:20] cgarciae commented on #524
After reading all the thread I got an alternative proposal:

* No ModuleList/Dict abstraction, users just use regular python lists/dicts.
* The `list -> tuple` and `dict -> FrozenDict` conversion can happen **after** `setup` finishes, this way the user can mutate the list/dicts inside setup.
* `__setattr__` can keep track of the set of fields that need to be frozen instead of doing on the stop.

[2022-05-11 18:11] levskaya opened #2114 "Switch to JAX's newer name-stack based named_call implementation by default."
#2063 added initial testing support for using JAX's new dynamic name-stack approach to implementing named_call for labelled profiles.

We'd like to switch this approach to the default and remove the `FLAX_PROFILE` environment variable config in the near future.

This is a tracking bug for that issue.

[2022-05-11 19:39] cgarciae commented on #652
@marksandler2 I was looking into this, `BatchNorm` defines initialization like this:

[code]
Which results in batch statistics not being updated because of:
[code]
@jheek from the outside it's not clear why making `params` mutable results for `BatchNorm` not training properly. If we want to avoid this issue maybe additional context information about whether we are inside `init` or not is necessary

[2022-05-11 20:10] marksandler2 commented on #652
Yes, it is obvious why it is not doing things properly. It is just  a very
sharp edge in flax (and not necessarily batchnorm specific). Re batch norm
specifically this could be fixed by checking if batch_stats 'mean' exists
instead. But overall i think it should be fixed at the API level.

Potentially i think the problem is that today `mutable` conflates two
different operations: "init" and "updat

[2022-05-11 20:55] cgarciae commented on #652
This was my first though but it has an edge case, which also happens to be an edge case for what I just proposed: if you have some pretrained parameters but want to initialize others currently it can be solved like this e.g:

[code]
Meaning you don't want a variable existing imply the Module is initialized (could slightly deteriorate your batch statistics if you pass a fake sample). Also, `init` c

[2022-05-11 21:06] marksandler2 commented on #652
I think the edge case is resolved pretty nicely if we update based on the
variable existing or not.

If a variable exists, then it should be updated, if the variable doesn't
exist then it should be initialized, but *not* updated.
Of course in practice checking for each variable independently is messy and
error prone, so the shortcut would be to check
a single variable and that could lead to invali

[2022-05-12 07:37] marcvanzee commented on #1986
@gmittal any updates on this?

[2022-05-12 07:38] marcvanzee commented on #1923
Done: https://flax.readthedocs.io/en/latest/howtos/linen_upgrade_guide.html

[2022-05-12 07:38] #1923 closed

[2022-05-12 07:42] marcvanzee opened #2116 "HOWTOS tracking issue"
This issue tracks which HOWTOs we would like to add.

## Process
- If you like to work on  HOWTO, please create a PR for it and mention this issue in the PR description, once it is merged we will check the box below.
- If you think we should add a HOWTO, please reply to this issue and we will add it to the list below.

## HOWTOs

- [ ] Data-parallel training (see #1982). @gmittal mentioned they wo

[2022-05-12 07:43] marcvanzee commented on #1986
FYI I am closing this issue in favor of #2116

[2022-05-12 07:43] #1986 closed

[2022-05-12 07:46] marcvanzee commented on #1853
Closing this in favor of #2116.

[2022-05-12 07:46] #1853 closed

[2022-05-12 07:48] marcvanzee commented on #1850
Closing this in favor of https://github.com/google/flax/issues/2116.

[2022-05-12 07:48] #1850 closed

[2022-05-12 07:48] marcvanzee commented on #1575
Closing this in favor of https://github.com/google/flax/issues/2116.

[2022-05-12 07:48] #1575 closed

[2022-05-12 07:49] marcvanzee commented on #1422
@RohanVKashyap any updates on this?

[2022-05-12 07:50] marcvanzee commented on #1087
Closing this in favor of https://github.com/google/flax/issues/2116.

[2022-05-12 07:50] #1087 closed

[2022-05-12 07:51] marcvanzee commented on #1065
This seems to be duplicate of #1567.

[2022-05-12 07:51] #1065 closed

[2022-05-12 07:53] marcvanzee commented on #886
Closing this since the PR fixing this does not seem to have any activity (#1528), and we actually have a minimal example in the docstring for early stopping now.

[2022-05-12 07:53] #886 closed

[2022-05-12 07:54] marcvanzee commented on #527
@andsteing gentle ping, maybe we should close this issue and focus on your HOWTO instead?

[2022-05-12 11:06] marcvanzee commented on #1449
Thanks for filing this issue! We decided that for now, we want to focus on making our core library excellent, and we are not planning to add new examples to our repo. This may change in the future, but for now I am closing this issue.

We do encourage you to let us know (e.g., through Github Discussions) when you have written examples in your own repo, and we gladly link to it!

@andsteing FYI

[2022-05-12 11:06] #1449 closed

[2022-05-12 11:06] marcvanzee commented on #1417
Thanks for filing this issue! We decided that for now, we want to focus on making our core library excellent, and we are not planning to add new examples to our repo. This may change in the future, but for now I am closing this issue.

We do encourage you to let us know (e.g., through Github Discussions) when you have written examples in your own repo, and we gladly link to it!

@andsteing FYI

[2022-05-12 11:06] #1417 closed

[2022-05-12 11:42] andsteing commented on #527
The current plan is to add the HOWTO and some utility functions at the same time in #2111, and then to use that utility function to rewrite some of the examples (but not all).

Once that's done, I'll close this issue.

Note that the example can only be rewritten once a new release is created that includes the change. Since this is not urgent, I'll simply wait for the next natural release to appear

[2022-05-12 11:45] andsteing commented on #1850
See also #2111

[2022-05-12 12:59] cgarciae commented on #652
To summarize: the entanglement between mutable state of `params` and initialization logic in `BatchNorm` silently brings issues, I have been bitten by this at least 2 times and its very confusing until you read the source code. It would be nice to solve this somehow.

[2022-05-12 13:47] marcvanzee commented on #652
Assinging this to @jheek for now since he has been thinking about this, but we will discuss this offline as well and might reassign.

[2022-05-12 17:28] marcvanzee opened #2119 "Add two aliases to activations import"
Add the JAX standardize alias for normalize as well, see #2088.

This is currently blocked since JAX just added these so we should add them once JAX rolls out a new verison.

[2022-05-12 20:31] yuanqing-wang opened #2120 "`pmap` state"
How should I broadcast a training state to multiple devices and `pmap`? I tried to follow this [example](https://colab.research.google.com/github/huggingface/notebooks/blob/master/examples/text_classification_flax.ipynb#scrollTo=EwRqMUxqzOKN) and had:

[code]

But got

[code]

[2022-05-13 06:35] marcvanzee commented on #2120
You should use `flax.jax_utils.replicate`. Also, it is safer to use `jax.device_count()` rather than hardcoding `8` in your array. Finally, the `Dense` layer expects at least two dimensions. This code should work:

[code]

[2022-05-16 09:46] marcvanzee opened #2124 "Improve SEO for Flax"
Github Discussions doesn't always seem to work well with Flax, which means some questions that are answerable do not show up in Google search.

Here is an example: Google search for "How to count the parameters in a Flax model?" returns just the Flax Basics doc, and some unrelated questions, while we have a Github Disucssions with _exactly_ this title: [How to count the parameters in a Flax model?

[2022-05-16 16:22] cgarciae opened #2125 "Test Notebooks during CI"
Currently notebooks are not tested which could lead to them breaking as the API changes or they simply contain errors that go unnoticed as happened recently in #2089. The basic idea would be to convert notebooks to python scripts and run these, if the notebook/script takes too long to run maybe some parameters (e.g. epochs, steps per epoch, etc) could be programmatically replaced to minimize this.

[2022-05-17 15:40] #593 closed

[2022-05-18 10:54] SupreethRao99 opened #2128 "link to Jax installation in Flax README is broken"
In the installation section of Flax, (https://flax.readthedocs.io/en/latest/installation.html), it says

The link to the JAX readme seems to be broken, it leads to a GitHub 404 error saying "this is not the webpage you are looking for".

An update in the link would be helpful.

[2022-05-18 13:59] marcvanzee commented on #1473
Hi @INF800, any updates on this issue?
Note I recently added a HOWTOs tracking issue #2116 where you could also add ideas.

[2022-05-18 14:38] jheek commented on #1571
This was implemented in #1949

[2022-05-18 14:38] #1571 closed

[2022-05-19 09:09] marcvanzee commented on #2116
Thanks @lkhphuc, I think that is a great suggestion and I added it to the list.

[2022-05-19 16:58] cgarciae opened #2131 "FLIP: Scope Flags"
# Scope Flags
I'll leave a basic idea here before creating the full FLIP.

This FLIP wants to propose a new mechanism called "flags" that enables a module to have access to some context information that might alter its behaviour, relieving the user from having to repeatedly propagate information down the call stack and enabling modules to get additional information that is not available to them in

[2022-05-19 17:14] andsteing commented on #2131
What exactly is this FLIP about? Thanks for adding a description & a priority.

[2022-05-19 18:29] cgarciae commented on #2131
@andsteing I extended a bit but this serves as a proto FLIP while I port it and add more details.

[2022-05-20 05:36] #2108 closed

[2022-05-23 01:34] lkhphuc commented on #652
Naive question, but is it not that a `self.is_initializing == True` means the module is called from inside the `module.init(rng, inputs, ...)` call, and `self.is_initializing == False` means it's called from `module.apply(...)`.

Then I think the behavior of `self.is_initializing` and `self.has_variable(...)` is orthogonal. One checks the `init()` or `apply()` calls, the other check the structure

[2022-05-23 14:29] PhilipVinc opened #2135 "Flax actually requires jax 0.3.2"
https://github.com/google/flax/blob/ef6bf4054c30271a58bfabb58f3d0049ef5d851a/flax/linen/initializers.py#L19

the constant initialiser was added in this commit https://github.com/google/jax/commit/86e8928e709ac07cc51c10e815db6284507c320e that was first included in jax 0.3.2

This came up in NetKet's automated oldest-version-dependencies testing.

[2022-05-23 14:40] jheek commented on #2135
Nice catch, we should do this too! Is there some kind of pip flag for this?

[2022-05-23 14:46] PhilipVinc commented on #2135
ahahahahahahahahahahahahahahahahahahaha

Sorry, pip is terrible so either I laugh or I cry.

No, I spent considerable time investigating and neither pip, nor `pip-tools` nor `pipenv` support this.
We use a kind-of-a hacky script:

https://github.com/netket/netket/blob/master/conf/compute_oldest_dependencies.py

and run a single runner in GitHub actions with thee variable `oldest_deps=True` with th

[2022-05-24 06:11] gmittal commented on #1986
@marcvanzee sorry for delay -- this is still in-progress and will have a PR for this in the next week.

[2022-05-24 10:12] #2135 closed, assigned to jheek

[2022-05-24 15:01] melissatan commented on #853
Thanks for responding @jheek, I took a quick look at the code and unfortunately it's not obvious to me yet.

Should the `is_leaf` tree_map be added to this block in get_module_scopes (below) or somewhere else?:

[code]

Do we have enough test coverage to catch those other places, given that the only test failure for this PR was the abovementioned doctest from module_lifecycle.rst? If not, could yo

[2022-05-25 07:56] jheek commented on #853
The is_leaf is passed to the tree_map below so you get:
`new_args, new_kwargs = jax.tree_map(get_arg_scope, (args, kwargs), is_leaf=lambda x: isinstance(x, nn.Module))`

There are 3 calls to tree_map in get_module_scopes and I think they all need the is_leaf check

[2022-05-25 18:28] cgarciae opened #2153 "New Sphinx Theme"
The idea is to get a new and shiny theme that makes Flax's RTD page standout a little more.

I've gathered a couple of options:

### [JAX's Theme](https://jax.readthedocs.io/en/latest/)
![Screenshot from 2022-05-25 13-16-27](https://user-images.githubusercontent.com/5862228/170337666-3fdac1a8-d6c6-45ad-805e-8c3723c487a3.png)
### [Pydata Sphinx Theme](https://pydata-sphinx-theme.readthedocs.io/en/l

[2022-05-25 20:27] marcvanzee commented on #2153
+1 to JAX
+1 to Furo

[2022-05-25 20:54] marcvanzee commented on #2131
Thanks a lot for writing this FLIP Cristian! 👍

Here's my 2 cents...

Re: use case 1
it seems to me the scope flags are slightly overkill, and I would prefer to just implement the `init` flag. I think we should not introduce complexity unnecessarily, and as long as we don't have a real need for more flags I would prefer to only add one. If it turns out we need more then we can always decide to imp

[2022-05-26 18:18] cgarciae commented on #2153
@marcvanzee Here are some samples from JAX's theme (sphinx_book_theme) and furo.

My 2 cents: I like furo a little better but they both look good.

## sphinx_book_theme
#### landing page
![Screenshot from 2022-05-26 13-11-47](https://user-images.githubusercontent.com/5862228/170550547-6617a4d2-abe0-49d7-a8c1-ab32d27290ac.png)
 #### module
![Screenshot from 2022-05-26 13-12-13](https://user-images.

[2022-05-26 18:57] cgarciae opened #2156 "Conv docs page doesn't show attribute/argument's description"
`Conv` and `ConvLocal` inherit from `_Conv` but their docstrings don't "re-expose" the `Attributes` section so Sphinx doesn't show the description of each attribute to the users. An easy solution would be to just duplicate these sections, else somehow dynamically modifying `{Conv, ConvLocal}.__docs__` to add the common attributes section *might* work.

![Screenshot 2022-05-26 at 13-59-08 flax line

[2022-05-26 23:27] levskaya opened #2157 "LazyRNG can accidentally have key sharing across layers."
User reported repo:
[code]

This occurs because we don't add a separator at:
https://github.com/google/flax/blob/main/flax/core/scope.py#L102

[2022-05-27 08:39] marcvanzee commented on #2153
Nice, I also like Furo! I'd also like to hear what @andsteing thinks when he gets back from vacation.

[2022-05-27 09:13] jheek commented on #2131
I agree we shouldn't directly expose this but I think it's worth thinking about a generalization regardless. This also helps think through edge cases like meta learning, hyper nets, and cache init where the initialization mode is not clearly a single separate stage

I also like the proposal that @levskaya mentioned about potentially separating initializable and mutable collections. This distinctio

[2022-05-27 15:29] PhilipVinc opened #2160 "tabulate does not exist?"
taken from the example

[code]

[2022-05-27 15:31] PhilipVinc commented on #2160
ah, my bad. It's not yet released

[2022-05-27 15:31] #2160 closed

[2022-05-29 05:00] marcvanzee opened #2161 "Test"
# Table

| one | two | three |
|---|---|---|
| [a](#error-message) | 5 | 6 |
| 7 | 8 | 9 |

A
B
C
D
A
B
C
DA
B
C
DA
B
C
DA
B
C
DA
B
C
DA
B
C
D

## error message

[2022-05-29 05:00] #2161 closed

[2022-06-02 07:54] sourabh2k15 opened #2170 "better support for RNN layers required"
We have a usecase where we're implementing DeepSpeech2 model in Flax. DeepSpeech2 is an older speech recognition model based on RNN style layers (Bi-LSTMs used commonly)

flax doesn't have Bi-LSTMs so we hacked a version of our own based on existing RNNCell but I messed up handling of paddings and this caused a long debugging loop

eventually we found a flax BiLSTM layer folks implemented that fli

[2022-06-02 07:55] marcvanzee commented on #2170
@cgarciae who is working on better RNN support #2126

[2022-06-02 22:37] #805 closed

[2022-06-06 23:44] marksandler2 commented on #652
I don't believe is_initializing is a thing in `flax.linen`

[2022-06-07 12:41] andsteing commented on #2131
wrt use case 2
since module creation is very cheap could you simply?

[code]

[2022-06-09 15:52] PhilipVinc opened #2179 "State sharing in `linen.map_Variables` between pre- and after- passes"
I would like to take an arbitrary flax Module containing arbitrary complex `params` and convert it to a module that only has real `params`(real and imaginary part), but when applied he automatically repacks the real and imaginary part.

I already have an handy function to do that which operates on pytrees: it's called [`netket.jax.tree_to_real`](https://netket.readthedocs.io/en/latest/api/_generat