[2022-06-09 15:56] PhilipVinc commented on #2179
edit: If you don't want to install netket, a smaller MWE is the following:

[code]

[2022-06-09 17:16] cgarciae commented on #2179
@PhilipVinc I am getting this error in your last example:

[code]

[2022-06-09 18:38] PhilipVinc commented on #2179
Yes exactly that's my point.
It errors when applying but not when initializing it, because the reco variable is not correctly setup.

I'd like to make it work on apply too...

Im in my phone now. I'll maybe try to better rephrase what my issue is later tonight

[2022-06-09 20:08] PhilipVinc commented on #2179
So, if you tun my example above without the last line, that is:

[code]

it runs fine, right?

Looking at the signature of [`linen.map_variables(target, mapped_collection, trans_in_fn , trans_out_fn)`](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.map_variables.html#flax.linen.map_variables), I eventually understood that the two `trans_in_fn` and `trans_out_fn` are vaguely equivale

[2022-06-10 13:50] cgarciae opened #2183 "Review Notebooks"
Recently #2166 was introduced to check notebooks on CI, it brought to light that some notebooks like `jax_for_the_impatient` are currently broken, and others like `annotated_mnist` are too slow for CI. It was also reported in #2181 that adding some missing `jit`s could improve execution times.

The proposals is fix `jax_for_the_impatient` and review all notebooks to opportunities to speed CI.

[2022-06-10 14:13] cgarciae opened #2184 "Speed up testing CI"
### Problem
Currently we have a single `build` that tests does various tasks:
1. Builds + tests the docs
2. Checks commit count
3. Runs tests + uploads to coverage

### Solutions
1 and 3 are specially slow and don't depend on each other. Here are a couple of improvements we can make:
* Create a separate job for 1, 2, and 3.
* `pytest` is already ran serially on different subset of test, we could t

[2022-06-10 16:14] cgarciae opened #2185 "Port HOWTOs to notebooks"
Currently HOWTO's are written in `.rst` which leverage the `.. testsetup::` directive to hide some code while keeping the document testable. There are a couple of downsides to this:

* We have 2 ways of writing tutorials (`.ipynb` and `.rst` files)
* You cannot (easily) generate a colab from this.

After #2166 is merged we can use `myst_nb` mechanisms for both hiding content and testing it on CI t

[2022-06-11 05:23] sunny2309 opened #2187 "Flax LSTM Layers taking a lot of RAM. Not able to train big datasets."
Hello,

I am trying to train an LSTM Network for the text classification tasks.  I am trying to use the AG NEWS dataset available from Torchtext. The network is simple consisting of only a single LSTM layer (code below). The memory usage by the network is increasing through the training process after the completion of each batch and epoch. I am seeing this issue whenever I use LSTM layers with Fla

[2022-06-12 21:46] nalzok opened #2190 "ModuleNotFoundError: No module named 'yaml'"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): GCP TRC TPU VM v3-8
```Linux t1v-n-5d019513-w-0 5.13.0-1023-gcp #28~20.04.1-Ubuntu SMP Wed Mar

[2022-06-13 15:06] cgarciae commented on #2187
Hey @sunny2309! Its not totally clear that its the LSTM layer that is at fault here. I would suggest the following:

1. Try to create a jited `train_step` function as shown in the [Annotated MNIST](https://flax.readthedocs.io/en/latest/notebooks/annotated_mnist.html#7.-Training-step) example. This can help lower memory consumption.
2. Try to use the [jax.profiler](https://jax.readthedocs.io/en/lat

[2022-06-13 15:18] cgarciae commented on #2190
Thank @nalzok for the report! Seems we need to make our dependency on `PyYAML` explicit. I'll push a fix soon.
In the mean time you can fix this by adding `PyYAML>=6.0` to your dependencies.

[2022-06-13 17:15] cgarciae opened #2194 "Make RNG name configurable in Dropout"
Currently `'dropout'` is hard-coded as an argument of `make_rng` inside `Dropout`. However, when implementing support for "recurrent dropout"  in an LSTMCell or similar you need two kinds of dropout:
1. A regular dropout which is applied to the inputs with a different mask at each step.
2. A "recurrent dropout" that is applied to the state with the same mask at each step.

To implement `2` a possi

[2022-06-13 21:02] gadgetsam opened #2195 "Porting PyTorch layer norm to Flax"
I'm trying to port the layer norm module from PyTorch to Flax. I transformed the state dict from PyTorch to flax yet the layer norm is still not producing the same results. I tried this on OSX 12.4 on M1, Ubuntu 20.04 and google colab and in all of them the outputs aren't equal.

I created a minimal example:
`import flax
import torch
import jax.numpy as jnp
import numpy as np

def test_layernorm()

[2022-06-14 00:39] cgarciae opened #2196 "Upstream patch to Sphinx"
#2167 adds a patch to Sphinx, ideally we could upstream this to sphinx as the change is fairly small to avoid having to maintain it.

[2022-06-14 07:34] marcvanzee commented on #2195
I don't think you can expect these to be the same since the weights are initialized with different seed. You should instead copy the weights from Flax to Pytorch after initializing (or the other way around). Then the results should be the same.

[2022-06-14 07:43] marcvanzee commented on #2195
Flax uses shape inference, so you do not have to provide the normalized shape as an input to the constructor for `LayerNorm`. Because you do provide an argument (`12`), this means `epsilon` will be set to 12. The following code should work:

[code]

[2022-06-14 15:02] marcociccone opened #2200 "Support for lifted nn.switch module"
Hi,  I think it would be useful to add a lifted version of `jax.lax.switch` to flax linen as done for other libraries such as haiku.
As a use case consider having a list of functions (in our case `nn` modules) and you want to apply them over an axis of your input. https://github.com/google/jax/issues/673#issuecomment-894955037

See the [original](https://colab.research.google.com/gist/tomhennigan/

[2022-06-14 15:55] jheek commented on #2194
It might be more efficient to compute the mask outside of the loop if you are going to share it. random.* operations are usually quite expensive compared to other operations

[2022-06-14 20:32] cgarciae commented on #2194
Its a good point. Maybe we need a `RNNCellBase.get_stochastic_mask` API and have cells optionally accept a `stochastic_mask` argument.

[2022-06-15 09:14] andsteing opened #2201 "Debug differences in `examples/nlp_seq`."
In #1916 we saw some strange updates in the metrics when doing a no-op refactoring.

This needs more investigation, maybe also a replacement of the dataset.

[2022-06-15 22:34] engmubarak48 commented on #686
I think Flax has to sort out this issue where you cannot initialize anything with the setup method just like __init__, or suggest a better alternative.

[2022-06-16 01:52] cgarciae opened #2202 "codediff section not respecting html container"
In the new `sphinx_book_theme` our custom `codediff` directive is rendering its content outside the container, overflowing until the end of the page. As shown in this screenshot, it appear to be rendered underneath the `contents` section because its not respecting its section boundaries:

![image](https://user-images.githubusercontent.com/5862228/173973531-5e548ee8-53f6-4978-9744-f9a3a54b5470.png)

[2022-06-17 11:06] marcvanzee commented on #2037
Update: Optax is fine now, but Jraph is still problematic.

[2022-06-20 18:27] younesbelkada opened #2210 "Adding `align_corners` to `jax.image.resize`"
Hi all!

I am currently trying to convert DPT (Dense Prediction Transformers) model on Flax to add it on `transformers` library 🚀
 https://github.com/huggingface/transformers/pull/17779
The model heavily relies on [`torch.nn.Upsample`](https://github.com/huggingface/transformers/blob/da27c4b398e607c161451f335367ad666de08497/src/transformers/models/dpt/modeling_dpt.py#L839) and [interpolation opera

[2022-06-20 22:05] cgarciae commented on #2210
Hey @younesbelkada! I did this simple test and can verify that `jax.image.resize` aligns corners by default:

[code]
Two suggestions:
1. Create/share a unit test comparing with the target implementation. That way we can help you a bit more.
2. If the problem is indeed in resize, create an issue in [google/jax](https://github.com/google/jax/issues/new/choose)

I'll be converting this to a discussio

[2022-06-21 13:22] younesbelkada opened #2214 "Adding `align_corners` to `jax.image.resize`"
Hi there !

I would like to reproduce the operations that are done under `torch.nn.Upsample()` with `flax` 🎉 . In PyTorch, it seems that the flag `align_corners` doesn't mean "align the corners" but rather "sample with equal spacing" cc @cgarciae ! Can we add this feature in `jax.image.resize`? 🙏

# Problem description:

Ideally:
[code]
I would like to match `output_torch_upsample_with_align_corne

[2022-06-21 23:34] cgarciae commented on #2190
Fixed by #2193

[2022-06-21 23:34] #2190 closed

[2022-06-21 23:35] cgarciae commented on #2190
Fix available in `0.5.2`.

[2022-06-22 14:57] cgarciae commented on #2214
Hey @younesbelkada! This issue belongs in the [google/jax](https://github.com/google/jax/issues) repo, please post it there, feel free to tag me as well. Also, if you think you can add the fix, it would be an amazing opportunity to contribute to JAX :slightly_smiling_face:

[2022-06-22 14:57] #2214 closed, assigned to nobody

[2022-06-22 15:01] younesbelkada commented on #2214
Great thanks ! just moved it at https://github.com/google/jax/issues/11206

[2022-06-22 15:21] cgarciae commented on #2200
Implemented in #2205.

[2022-06-22 15:21] #2200 closed

[2022-06-22 15:23] cgarciae commented on #2200
See example how to implement multi-head architecture here: https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.switch.html?highlight=switch#flax.linen.switch

[2022-06-22 15:59] jheek commented on #2200
Btw do keep in mind that if you vmap over the switch index than jax will rewrite the switch into a select meaning it will execute *all the branches for each input* so in this example the conditional doesn't actually avoid any computation

[2022-06-22 23:19] zhangqiaorjc opened #2232 "self.is_initializing and model.apply(..., mutable=True)"
It seems a Flax idiom to define

[code]

and use it in
[code]

However, `self.is_mutable_collection('params')` doesn't seem like a bullet-proof way to find out if we are inside model.init, because users may want to do

`model.apply(..., mutable=True)` in their unit tests for example.

I wonder if there's a more robust way to tell if we are inside model.init vs. model.apply.

[2022-06-23 01:13] zhangqiaorjc commented on #2232
Perhaps we should avoid `mutable=True` with `model.apply` since it makes params mutable and they may get mutated by accident.

But in general is `self.is_initializing = self.is_mutable_collection('params')` the best way to tell that we are inside `model.init`? It seems indirect.

Could nn.Module tag something and helps the users to avoid having to test if 'params' is mutable?

[2022-06-23 02:07] cgarciae commented on #2232
Hey @zhangqiaorjc! There is an ongoing discussion about this topic in #652 and #2131. The case you describe is very pathological because setting `mutable=True` often unintuitively triggers initialization logic which can result in e.g. batch statistics not updating.

@jheek brought an interesting idea of having "initializable collections", presumably you could get an API similar to:

[code]
I am ve

[2022-06-23 10:18] andsteing commented on #2232
See #2234

[2022-06-24 11:53] jheek commented on #2200
You could use an nn.scan together with an nn.cond but that only works efficiently if the heads are large enough and make efficient use of flops if they aren't batched together

[2022-06-25 14:26] WaterKnight1998 opened #2237 "[BUG] ReadTheDocs Documentation not properly rendered"
Hi,

I was looking at documentation and saw that formulas are not properly rendered. For example, [https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html#linear-regression-with-flax](https://flax.readthedocs.io/en/latest/notebooks/flax_basics.html#linear-regression-with-flax)

[2022-06-26 23:47] rabeehkarimimahabadi opened #2240 "How to share parameters across FLAX modules?"
Hi,  I want to pass an  extra shared parameter to  `setup` function of module A to share parameters across module Foo and A. Here is the minimal example, I am getting this error `TypeError: __init__() got an unexpected keyword argument 'param'` How can I pass extra parameters to the setup function in FLAX?

[code]

x = jnp.zeros((3,))
y = jnp.zeros((3,))
model = Foo()
variables = model.init(jax.ra

[2022-06-27 08:11] jheek commented on #2240
You could pass an optional shared param like this:
[code]

[2022-06-27 10:56] rabeehkarimimahabadi opened #2242 "How to share a parameter between modules in FLAX"
HI
Hi, I need to share a parameter between two modules,  I still could not make it work, my previous question (https://github.com/google/flax/issues/2240#issuecomment-1167026441) is closed so I reopen it here, I did as below, but I am getting `Invalid type annotation '<instance of Callable>' for param [invalid-annotation] Not a type`, what is the type for Module.param in FLAX? thanks!
[code]

[2022-06-27 11:22] rabeehkarimimahabadi commented on #2242
I think this should be of type jnp.DeviceArray? module.param has return type T ```def param(self, name: str, init_fn: Callable[..., T], *init_args) -> T:```  and if one uses jnp.zeros for init_fn, then it should be jnp.DeviceArray as return type, is this correct? thanks

[2022-06-27 11:30] jheek commented on #2242
The old issue was converted to a [discussion](https://github.com/google/flax/discussions/2241) please follow up there

[2022-06-27 11:30] #2242 closed

[2022-06-27 11:36] rabeehkarimimahabadi commented on #2242
Hi @jheek  please do not close this, as I am still looking for answer, the one I posted there did not work at the end! thanks

[2022-06-27 11:40] rabeehkarimimahabadi commented on #2242
thanks. Fixed

[2022-06-27 19:10] rabeehkarimimahabadi opened #2243 "simplyfing make_rng function in FLAX"
Hi
In FLAX one need to use make_rng(name) on a set of pre-defined names, one issue is that if a user needs this inside one inner function, they dont have access to the name defined during .apply, so one needs to hard code this in the code, then if initial name get change, things can break, and overall design is complicated, comparing this with haiku one would do haiku.next_rng_key() which is very

[2022-06-27 19:52] cgarciae commented on #2243
Hey @rabeehkarimimahabadi!

One of the main motivations for having named RNG groups vs no groups as in Haiku is that this lets you control how randomness behaves when using [Lifted Transformations](https://flax.readthedocs.io/en/latest/design_notes/lift.html) e.g. if you use [nn.vmap](https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.vmap.html) over a module with more than one RNG grou

[2022-06-28 11:57] mwitiderrick opened #2246 "nan in loss"
Just trying Flax and I have nans in the loss. Here is the gist to the complete code running on Colab

https://gist.github.com/mwitiderrick/67f3482cecb3408dd14db374fc87a85a

What am I doing wrong?

[2022-06-28 14:03] #2237 closed

[2022-06-28 19:32] mwitiderrick opened #2249 "You may not need to update to CUDA 11.1; cherry-picking the ptxas binary is often sufficient."
I am seeing this warning on Kaggle while using the latest version of Jax, Jaxlib, and Flax.

Is it something to be worried about?

[code]

[2022-06-29 01:20] cgarciae commented on #2249
Hey @mwitiderrick, these warning are produced by XLA, I am not familiar with the specific message but if its somehow blocking you I'd recommend posting in the [google/jax](https://github.com/google/jax) repo.

I'll be converting this to a discussion.

[2022-06-29 12:55] #2202 closed

[2022-06-30 21:19] #900 closed

[2022-07-01 03:32] mwitiderrick opened #2257 "IndexError: index 4 is out of bounds for axis 0 with size 4"
### Discussed in https://github.com/google/flax/discussions/2255

<div type='discussions-op-text'>

<sup>Originally posted by **mwitiderrick** June 30, 2022</sup>
I am trying to train a Flax model using an accelerator but I am getting this error. Please help, here is a link to my notebook https://www.kaggle.com/code/derrickmwiti/flax-gpu-tpu/notebook

[code]

[2022-07-01 06:41] marcvanzee commented on #2257
I suspect your are not feeding in the images in the right format. You should make sure that the shapes that you initialize your CNN with match those of the images you feed in when you run the forward pass. Did you check this?

[2022-07-01 08:58] mwitiderrick opened #2259 "ApplyScopeInvalidVariablesTypeError"
Trying Flax, got this error
[code]

Tried following the docs to fit it but wasn't successful. What am I doing wrong? Here is my code https://www.kaggle.com/code/derrickmwiti/new-flax-gpu/notebook

[2022-07-01 16:02] cgarciae commented on #2259
Hey @mwitiderrick can you please post a simplified example that reproduces the error? Its OK to share a notebook but if its super simple, full working examples are very hard to deal with.

I'll be converting this issue to a discussion since its unclear what the error is.

[2022-07-02 18:02] mwitiderrick opened #2263 "Slow training on TPU"
Does following this https://flax.readthedocs.io/en/latest/howtos/ensembling.html train the model on a GPU/TPU if you are connected to one on Google Colab?
I have these functions as per the docs above but the training seems to be very just slow just like in CPU
[code]

What am I missing?

[2022-07-04 06:57] andsteing commented on #2263
can you confirm that you called

[code]

?

(training models with lots of input data on Colab TPUs is unfortunately not as fast as it could be because Colab uses the legacy "TPU Node" setup, but it should for sure be a lot faster than running on CPU)

[2022-07-04 07:05] andsteing commented on #2263
When you say "training seems to be very just slow just like in CPU", can you quantify that?
(and contrast it to GPU)

[2022-07-04 07:07] mwitiderrick commented on #2263
It means that I am not seeing any difference, between that TPU setup and when I was using CPU. Haven't done any benchmarks, happy to close this.

[2022-07-06 14:45] luweizheng opened #2271 "linen.scan still have problem in latest release"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 18.04
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: jax:

[2022-07-07 07:01] marcvanzee opened #2273 "Remove flax.optim"
flax.optim is deprecated and unused but we still have it around. We should remove it in a new version to not confuse new users.

[2022-07-07 08:57] yklcs opened #2274 "`nn.tabulate` results in `KeyError: 'intermediates'` with methods that include transformations"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux x64
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: `flax=0.5.1`, `jax=0.3.13`, `jaxlib=0.3.10`
- Python version: 3.10.5
- GPU/TPU model and memory: RTX 3080 12GB
- CUDA version (if applicable): 11.7

### Problem you have encountered:

`nn.tabulate` results in KeyError: 'intermediates

[2022-07-07 15:54] cgarciae commented on #2274
Hey @RocketLL, thanks for minimal repro.

@jheek the `Cell` Module (`ScanLSTMCell_0`) is neither reporting its outputs nor the output of its submodules as shown here:

[code]
Is this expected?

For now I'll have to rethink the policy of how to detect submodules, there are two options:

1. Treat `ScanLSTMCell_0`, `hf`, etc, as submodules with no outputs.
2. Treat the whole `ScanLSTMCell_0` structur

[2022-07-07 17:57] grahamgower opened #2278 "Tuple[SomeType] type annotations should be Tuple[SomeType, ...]"
I noticed a `Tuple[int] = (16, 4)` in the Module docstring's example, which should instead be `Tuple[int, ...]`. A quick grep indicates this pattern is also used elsewhere (e.g. the examples folder).
https://flax.readthedocs.io/en/latest/flax.linen.html#module

[2022-07-07 23:26] fmscole opened #2279 "How to use nn.BatchNorm???"
My code is:
[code]

But ,get the errors:
[code]

[2022-07-08 16:37] #1543 closed

[2022-07-08 22:00] quanvuong commented on #1019
+1

[2022-07-10 04:30] nalzok commented on #1631
I think it makes sense to return an additional value indicating whether the restoration actually took place. Silent failures are the scariest.

[2022-07-10 21:25] thevasudevgupta opened #2285 "Would you like to add link to tutorial demonstrating Wav2Vec2 finetuning"
Hello @avital, @marcvanzee

I recently created a tutorial showing how to fine-tune wav2vec2 on full librispeech data (960h). You can find link to my work here: https://github.com/vasudevgupta7/speech-jax

This tutorial builds the data pipeline using `tf.data.Dataset` and shows how to use tensorflow datasets for streaming data to train FLAX models (specifically Wav2Vec2) on cloud TPUs.

Would you l

[2022-07-11 14:36] n-gao opened #2286 "IPython autoreload is not supported by flax"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: flax 0.4, jax 0.3.1, jaxlib 0.30 (cuda11)
- Python version:  3.8
- GPU/TPU model and memory: GTX 1080ti
- CUDA version (if applicable): 11

### Problem you have encountered:
If you want to prototype in a file and use the `autoreload` p

[2022-07-11 22:30] #2278 closed

[2022-07-11 22:37] cgarciae commented on #2285
Hey @vasudevgupta7! We might be able to reference it in [Community Examples](https://github.com/google/flax/blob/main/examples/README.md#community-examples) section. Feel free to send a PR or share it.

[2022-07-13 05:14] wookayin commented on #1155
`flax.nn.Sequential`: https://flax.readthedocs.io/en/latest/_autosummary/flax.linen.Sequential.html

[2022-07-14 22:54] levskaya opened #2295 "Lost scope mutations after a transform on self"
A user observed that attempting to mutate collections that had been "touched" by a previous transform would result in lost mutations.  I think post-transform some references within the scope graph get scrambled...

[code]

[2022-07-14 23:06] levskaya commented on #2295
Here's a pure "funcitonal core" repro:

[code]

[2022-07-15 01:27] levskaya commented on #2295
I think this might be another manifestation of the issue #2022

[2022-07-15 06:37] levskaya commented on #2022
minimal repro
[code]

[2022-07-15 18:16] mwitiderrick opened #2297 "Simple LSTM example"
Been going through https://github.com/google/flax/discussions/1283

Is there a place I can see a simple LSTM example? Something like
[code]

[2022-07-15 23:25] #2295 closed

[2022-07-15 23:25] #2022 closed

[2022-07-17 10:57] PhilipVinc commented on #1178
Yes indeed

[2022-07-18 17:18] cgarciae opened #2300 "Contributing policy for Community Examples"
Currently we have no policy for adding [Community Examples](https://github.com/google/flax/tree/main/examples#community-examples), as this list grows its important to have a policy so we can provide a minimal level of quality.

## Proposed Policy
* **Examples**: examples should contain a README that is helpful, clear, and makes it easy to run the code. The code itself should be easy to follow.
* *

[2022-07-19 04:44] fuyw opened #2305 "Typo in the PPO example"
https://github.com/google/flax/blob/830f2aec35b3ea690eca9a080181c143562f3b84/examples/ppo/ppo_lib.py#L343

A typo: return `state` instead of `train_state` here.

[2022-07-19 06:18] marcvanzee commented on #2305
Nice, thanks! Do you want to file a PR fixing this?

[2022-07-19 12:13] fuyw commented on #2305
Sure, PR #2306  needs a reviewer.

[2022-07-19 13:57] cgarciae commented on #2183
Fixed by #2231 and #2291.

[2022-07-19 13:57] #2183 closed

[2022-07-19 14:55] cgarciae commented on #2274
@jheek points out that this can be fixed by adding `intermediates` to `variable_axes`:

[code]
However the internal use of `capture_intermediates` is an implementation detail and the users shouldn't be required to be aware of this. I'll create a new issue to track this problem with `tabulate` and propose a more general solution.

[2022-07-19 20:39] levskaya commented on #2232
Fixed by #2234 - (further comments always welcome).

[2022-07-19 20:39] #2232 closed

[2022-07-19 20:41] levskaya commented on #652
#2234 adds an explicit check method `self.is_initializing` for the use of `nn.init(...)(...)` or `module.init(...)`.

[2022-07-20 13:17] #2305 closed

[2022-07-23 01:44] levskaya opened #2324 "Fix jax.tree_blahblah FutureWarning warnings due to jax symbol cleanup."
Newer versions of JAX moved all tree utility methods to `jax.tree_util` and emit warnings for using the old locations under `jax.`
We added a temporary warning exemption for these FutureWarnings, but we should fix our ~400 use sites of the old locations.

[2022-07-24 13:15] andylolu2 opened #2327 "System memory leak in Colab"
### System information (Google Colab free tier with T4 GPU)
- OS Platform and Distribution: Ubuntu 18.04.5 LTS
- Flax version: `0.5.2`
- Jax version: `0.3.14`
- Jaxlib version: `0.3.14+cuda11.cudnn805`
- Python version: `3.7.13`
- GPU/TPU model and memory: Tesla T4, 16 GB
- CUDA version (if applicable): `11.1`

### Problem you have encountered:

I have been trying to train some models on Google Co

[2022-07-25 15:51] jheek commented on #2327
Inside the loop you don't actually touch any Flax code because you are compiling fwd with jax.jit. I think this is an issue with either JAX or XLA

[2022-07-25 20:05] cgarciae opened #2331 "Improve Example section on RDT"
After #2177 is merged we should leverage the new `Examples` section to include the content from [examples/README.md](https://github.com/google/flax/blob/main/examples/README.md).

@andsteing mentions:

[2022-07-25 21:06] cgarciae opened #2332 "Improve Landing Page example"
@andsteing suggests:

- mention what `nn` is
- use shape inference
- use dataclass attributes
- personally I find "inline submodules" a bit cryptic

maybe something like this?
(feel free to change)

[code]

[2022-07-25 22:46] andylolu2 commented on #2327
Thanks for the reply! Unfortunately I really could not manage to reproduce the error with just JAX. I have further minimalised the example to the following:

[code]

Yet, the Flax version shows a memory leak, while the JAX version doesn't. It seems to suggest the issue is related to `self.param` but I am really out of ideas on how to further break it down.

Both `flax_apply` and `jax_apply` show t

[2022-07-26 08:57] jheek commented on #2327
I was able to reproduce the issue with pure JAX as follows:
[code]

so passing the params as input instead of closure

[2022-07-26 12:11] andylolu2 commented on #2327
Awesome, thank you! I'll move this issue to JAX then.

[2022-07-26 12:11] #2327 closed

[2022-07-26 13:16] jheek commented on #2179
Don't you essentially want this?

[code]

[2022-07-26 21:17] remic33 opened #2335 "SORRY This page does not exist yet / 404 on google query and logs"
Many google queries and some flax logs are linking to 404 pages.

Example with error :
flax.errors.InvalidRngError: Dropout_0 needs PRNG for "dropout" (https://flax.readthedocs.io/en/latest/flax.errors.html#flax.errors.InvalidRngError)

Example with flax google query:
Query: https://www.google.com/search?channel=fs&client=ubuntu&q=flax+linen+relu
404 page URL: https://flax.readthedocs.io/en/latest

[2022-07-27 05:08] levskaya commented on #2335
Sorry for the trouble!  We did just rearrange the organization of the docs.  I've added redirects to the old URLs, so hopefully most of the old links should work for now while we wait for google to rescan.  I'll close this now, but feel free to reopen if you encounter more breakage.  Thanks for the alert.

[2022-07-27 05:08] #2335 closed

[2022-07-27 20:11] #2324 closed

[2022-07-27 20:54] AlexIoannides opened #2341 "Pip install fails on macOS with Apple M1 and Python >= 3.9"
### System information

- **OS Platform and Distribution**: macOS 12.4 (Monterey) running on Apple M1 Max chipset.
- **Flax, jax, jaxlib versions**: Flax version 0.5.3
- **Python version**: `>= 3.9`
- **GPU/TPU model and memory**: NA
- **CUDA version (if applicable)**: NA

### Problem you have encountered:

I cannot install Flax into a virtual environment using Python 3.9 or greater. This problem

[2022-07-27 22:05] AlexIoannides commented on #2341
I can successfully install `flax==0.5.2`, so I'm attributing this issue solely to the addition of `tensorstore` in `setup.py` requirements, which first appeared in `flax==0.5.3`.

[2022-07-27 23:04] Chuxiaof commented on #2332
Nitpicking:

1. It's probably more conventional to use `(x.shape[0], -1)` instead of `[x.shape[0], -1]` as the argument to `reshape`.
2. Maybe use `x = jnp.empty((1, 28, 28, 1))` to stress the argument to `model.init` is fake data?
3. An empty line after `out_dims: int` would like great.

[2022-07-27 23:18] Chuxiaof opened #2342 "Inconsistent type annotation of `step` in `training.checkpoints`"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Any
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`:
[code]
- Python version: Python 3.8.10
- GPU/TPU model and memory: Any
- CUDA version (if applicable): N/A

### Problem you have encountered:

The argument `step` has inconsistent type annotation. For example, the docstring of `save_checkpoint`

[2022-07-28 04:20] IvyZX commented on #2341
The dependency of tensorstore was added in flax 0.5.3 to support multi-process checkpointing. I suppose we could either make it optional or pin down its installation at a safe version that works in every environment.

[2022-07-28 09:42] AlexIoannides commented on #2341
My personal preference would be to have it as an optional/extra dependency, until the Tensorstore project can provide a binary that works for all platforms.

[2022-07-28 22:04] #2342 closed

[2022-07-29 19:39] #2341 closed

[2022-08-01 05:09] fmscole opened #2352 "Program suddenly hangs"
Has anyone ever encountered a situation where a program that was originally running well suddenly hangs without any error messages and does not end or run. And when to hang is random.

What is the most likely problem in this situation? Memory is absolutely sufficient.

A friend on the Internet said that GPU was waiting for data, but the data did not enter GPU, so how to solve it?

[code](https://g

[2022-08-01 09:54] AlexIoannides commented on #2341
Thanks for doing this 🙏🏽

[2022-08-01 20:45] cgarciae opened #2354 "Scope.path names vs variables structure inconsistencies"
While developing #2316, `Scope.path`s where capture via a new mechanism made for `tabulate`, such mechanism assumes that there is a 1:1 correspondence between path names and variable structure, however a couple of workarounds had to be made as it was found that this breaks under certain circumstances.  Here are some minimal reproducible examples showing this unexpected behavior.

## 1. Lifted Modu

[2022-08-01 21:24] dsm-72 opened #2355 "ImportError: cannot import name 'isin' from"
Trying to use jax. Jax imports flax. Flax imports isin from the linen/module.py as `from jax._src.numpy.lax_numpy import isin`. According to StackOverflow that is the imporper way to do this. In any case it throws an error

[2022-08-02 13:20] marcvanzee opened #2358 "Some links on RTD do not work"
https://flax.readthedocs.io/en/latest/guides/jax_for_the_impatient.html
* Button "open in github" doesn't work
* "Open in Colab" also not

[2022-08-02 13:57] grahamgower opened #2359 "`nn.tabulate()` unexpectedly prints to the jupyter console"
### System information
flax 0.5.3
rich 11.2.0

### Problem you have encountered:
The new `tabulate()` function returns a string. It doesn't print the tabulation to the terminal. However, if the function is run inside a jupyter notebook, the table is printed to the jupyter console when the string is generated. This is problematic for me, because the table then appears inside jupyter-book documentat

[2022-08-02 17:46] cgarciae commented on #2359
Hey @grahamgower! Thanks for reporting this. I was checking `Console` and it seems there is a `force_jupyter` flag which when set to `False` might fix this issue, will test it and send a patch if works.

[2022-08-02 19:44] cgarciae commented on #2359
This should be fixed once #2316 is merged.

[2022-08-02 21:23] zhong1wan opened #2362 "Transpose Convolution module issue when used with circular padding and vmap"
### Problem you have encountered:
I'm simply trying to `vmap` a `ConvTranspose` layer with circular padding, and it results in a `jax._src.errors.TracerArrayConversionError`. I'm running things on GPU.

### Steps to reproduce:
Here is a minimum example that reproduces the error.
[code]
I'm moderately confident that this is a bug that is specific to the transpose convolution because I verified that

[2022-08-03 15:31] cgarciae commented on #2358
Fixed by #2363.

[2022-08-03 15:31] #2358 closed

[2022-08-03 16:03] cgarciae commented on #2362
Thanks @zhong1wan for reporting this! The issues was an incorrect use of `np.pad` for the circular case, this was converting JAX arrays into Numpy arrays which doesn't work for tracers (and its wrong anyways). I've pushed a patch to use `jnp.pad` instead.

[2022-08-03 16:14] cgarciae commented on #2354
Case 1 is part of the functional core API so its not really an error, just a mismatch between the functional API and the Module API.
Case 2 was fixed by #2360.

[2022-08-03 16:14] #2354 closed

[2022-08-03 16:55] cgarciae commented on #2332
@Chuxiaof thanks for the feedback, will include your suggestions :)
@andsteing  Maybe "create submodules inline" or "compact submodules"?

[2022-08-03 16:58] cgarciae commented on #2332
How about:

[code]

[2022-08-03 21:11] cgarciae commented on #2332
Should we should just remove the comment over `reshape` about the numpy api?

[2022-08-03 22:10] #2362 closed

[2022-08-04 00:03] levskaya commented on #2114
#2349 finishes this - we've kept `FLAX_PROFILE` as a config option, though it defaults to `true` now.  This was left as an option to help decrease the size of serialized HLOS.

[2022-08-04 00:03] #2114 closed

[2022-08-04 00:09] levskaya commented on #753
Closing this issue as we're moving to recommend the use of [optax](https://github.com/deepmind/optax) rather than internal optimizers (which does separate out weight decay from adam update).

[2022-08-04 00:09] #753 closed

[2022-08-04 01:17] levskaya commented on #725
With `py3.9` and `pytype==2022.8.3` pytype no longer seems to be failing on MacOS 12.15, so I'll close this issue for now.

[2022-08-04 01:21] levskaya commented on #620
This issue should hopefully be resolved by #1927 and the use of the standardized `dataclass_transform` decorator... closing for now.

[2022-08-04 01:21] #620 closed

[2022-08-04 01:22] levskaya commented on #652
closing this issue for now.

[2022-08-04 01:22] #652 closed

[2022-08-04 17:08] #2273 closed

[2022-08-05 01:07] #729 closed

[2022-08-05 17:00] 8bitmp3 commented on #753
Thanks @levskaya 👍

@kamalesh0406 fyi ⬇️

Optax repo: https://github.com/deepmind/optax
Optax docs: https://optax.readthedocs.io/en/latest/

Hope this helps

[2022-08-08 09:46] mar-muel opened #2384 "Half precision in flax models"
Hello team

I'm trying to run experiments in half precision (bfloat16) on TPU v3-8 VMs. I'm experiencing the following behaviour and I just wanted to check with you guys whether this expected?

[code]
Output:
[code]

I understand that it is somewhat uncommon to keep the model weights in half precision (especially for batch norm layers). But how would one force the model weights to be bfloat16 (say

[2022-08-08 09:51] mar-muel commented on #2384
Nevermind - I just found found the solution to use `param_dtype` on the modules! So using

[code]

Can be closed.

[2022-08-08 09:51] #2384 closed

[2022-08-11 17:42] cgarciae opened #2396 "RNN FLIP"
FLIP doc migrated to #2585

This flip proposes adding the `RNN` and `Bidirectional` classes that would help simplify code and handle some of the edge cases regarding padded bidirectional RNNs.

### Proposal Summary

**RNN**
[code]
**Bidirectional**
[code]
For the complete proposal see #2585.

[2022-08-16 04:58] nalzok opened #2400 "Add a reference implementation for Wide ResNet"
Currently, there are no example implementations for Wide ResNet in Flax:

+ We have [n2cholas/jax-resnet](https://github.com/n2cholas/jax-resnet), but it simply scales a ResNet up in width instead of following the parameterization of [the original paper](https://arxiv.org/abs/1605.07146). For example, it's not obvious how to make a ResNet-28-10 with this repository.
+ We have [google-research/goog

[2022-08-16 11:28] marcvanzee opened #2401 "Flax avg_pool also includes padding tokens when computing the mean"
I am not sure if this is an issue but it is definitely a cause of possible confusion: We currently implement `pooling.avg_pool` as `avg_pool(x) = lax.reduce_window(lax.add, x) / prod(window_size)`. If we use padding, we always divide by the full window size even if this contains padding tokens.

Example:

[code]

Is this what we want? the first result `(1+2)/2=1.5` makes sense, but the second resu

[2022-08-16 21:27] brettkoonce opened #2403 "imagenet demo not working out of the box"
Basically, flax 0.4.3 (current requirements.txt spec) no longer has the correct imports, things semi-work with the latest flax (eg cda7a4c85bbce744e412ab82e298ddf76d4770d2) but trying to pull things forward myself exposes various library dependency mismatches.

Is there a better way to upgrade this?  Testing ROCm 5.2 for https://github.com/google/jax/issues/2012.

[code]

[2022-08-17 06:16] andsteing commented on #2403
Thanks for flagging this. We first need to release the latest version `v0.6.0` in a pip package. Updating JAX/Flax versions in the examples should then solve the issue.

[2022-08-17 13:31] brettkoonce commented on #2403
no rush, thanks for looking into it! 🦾

[2022-08-17 17:43] andsteing commented on #2403
#2405 should fix this ... @brettkoonce you can already check it out if you want to run the imagenet example

[2022-08-18 00:00] brettkoonce commented on #2403
@andsteing thank you that seems to fix things!  i am hitting something in absl but i think that it is over here: https://github.com/google/jax/issues/11972

[2022-08-18 00:57] yklcs opened #2406 "Outdated `rich` dependency version"
The version of `rich` is currently limited to `rich~=11.1`, causing problems with `pip` dependency resolution when installing with other packages.

https://github.com/google/flax/blob/cda7a4c85bbce744e412ab82e298ddf76d4770d2/setup.py#L33

Should be a trivial fix since `flax.linen.summary` doesn't seem to need any changes, I'll open a PR.

[2022-08-18 05:46] #2403 closed

[2022-08-18 12:04] marcvanzee commented on #2401
Discussed this offline with @jheek and @cgarciae. We agreed that the current behavior is not desirable since we are assuming that padding tokens for avg_pool are 0's and we include them when counting the average, but we are not docuementing this anywhere. Tensorflow has chosen to implement this differently, namely by excluding the padding tokens, and similarly, they are not documenting this in the

[2022-08-18 12:44] #2406 closed

[2022-08-18 19:28] OhadRubin commented on #2273
fyi, entirely removing the documentation makes updating code from flax.optim to optax harder since I don't know what anything in flax.optim does....

[2022-08-18 19:31] brettkoonce commented on #2403
@andsteing confirmed working with a new jax build, thanks again!

[2022-08-19 21:14] Chuxiaof commented on #2332
The example looks great! I think the comment is fine, but it might be clearer to say something like "jax.numpy implements most of numpy's API".

[2022-08-21 18:14] mayureshagashe2105 commented on #1170
@marcvanzee To the best of my knowledge, the use of `flax.traverese_utils.Traversal` is now decrypted for `flax.optim`. So is there still the need of updating the `flax.traverese_utils` API? If yes, I would like to work on it.

[2022-08-22 06:39] andsteing commented on #2273
Good point. Activated v0.5.3 for reference of `flax.optim` API:

https://flax.readthedocs.io/en/v0.5.3/flax.optim.html

(Make also sure to read the update guide, which is still available in the `latest` version: https://flax.readthedocs.io/en/latest/advanced_topics/optax_update_guide.html )

[2022-08-22 22:15] zjoukhadar opened #2410 "Can we use TrainState with pad_shard_upad?"
I have a train_step that has TrainState as one of its argument
`def train_step(state: train_state.TrainState,metric,batch): #some code return state, metrics`

I am using pad_shard_unpad like this:

`train_step = jax_utils.pad_shard_unpad(train_step, static_argnums=(0,1), static_return=True)`

My state:TrainState has optax optimizer in it.

When I run my code. I am getting the following error:

`No

[2022-08-23 06:10] marcvanzee commented on #2410
Are you using any other JAX transformations in your code as well? This error happens when you are passing a JAX array as an argument to a jitted function,  but you have specified that this argument is static. JAX arrays should not be passed as compile-time constants since they cannot be hashed.

Here's a minimal example explaining what I mean:

[code]

[2022-08-23 06:28] zjoukhadar commented on #2410
Thanks @marcvanzee
I think I had a bug in my code. I was mistakenly passing rng which is jax.random.PRNGKey(seed) which is a devicearray and I was asking it to be static. devicearray cannot be passed as static arguments. I will close this issue now.

[2022-08-23 06:28] #2410 closed

[2022-08-23 08:59] melissatan opened #2412 "Test TransformedMethodReturnValueError for a returned Variable"
The linen_transforms_test file contains a unit test for TransformedMethodReturnValueError when a Module is returned (`test_returned_module_warning`), but doesn't yet cover the scenario where a Variable is returned.

[2022-08-23 20:40] LeonhardFeiner commented on #735
+1 I would be interested in lifted versions of `jacfwd`, `jacref`, `grad`, `value_and_grad` as well.

[2022-08-24 15:16] Conchylicultor opened #2416 "`__getattr__` and pytype checking"
Currently `nn.Module` implement `__getattr__`. This disable any type checking when making a typo in attribute:

[code]

It would be nice to wrap `__getattr__` in a `if not typing.TYPE_CHECKING:` so that pytype actually check the attribute types.

Note that `class Module` would have to be updated so that the `Module` fields are defined (note doing this today would also allow type checking on `modul

[2022-08-25 23:44] ppwwyyxx opened #2417 "BatchNorm does not correctly compute mean/variance across workers when they have different batch sizes"
### System information
Not relevant

### Problem you have encountered:
The code at
https://github.com/google/flax/blob/9fe386508e35c31ca3e1f151bf1a4a87d71486ae/flax/linen/normalization.py#L82-L93
shows that the cross-device mean is computed by the "mean of per-device mean". This is correct only if each device has the same number of elements to normalize over. If they have different batch sizes (or

[2022-08-26 14:38] cgarciae commented on #2416
I like the idea!

There is a type hint that enables static analysis for `Module.scope` inside `Module.__init_subclass__`:

https://github.com/google/flax/blob/90c08ca5fcb08b6e7c8cfb256f21df8d3d4ab858/flax/linen/module.py#L545

I don't think we want to add type annotations at the class level as this would mess up with the dataclass behaviour.

[2022-08-26 16:06] cgarciae commented on #2417
Hey @ppwwyyxx

To my knowledge there is no way of getting different array shapes per device in jax given the SPMD design. Is there a realistic scenario you have in mind?

[2022-08-26 16:53] cgarciae commented on #2400
We are currently avoiding adding too many examples to `examples/` as it increases the maintenance burden. Wondering if this could added to [n2cholas/jax-resnet](https://github.com/n2cholas/jax-resnet) as we already reference it in our [Community Examples](https://github.com/google/flax/tree/main/examples#community-examples).

[2022-08-26 22:05] ppwwyyxx commented on #2417
@cgarciae I'm new to jax so I might be wrong, but to my knowledge, when using `pmap` in a multi-host / multi-process set up, each host independently processes its own data and can have data with different shapes, e.g.:
[code]

[2022-08-27 06:49] Conchylicultor commented on #2416
When trying the naive fix, pytype complain:

[code]

So it looks somehow `scope` is not correctly inferred inside `__init_subclass__ `, which is why I suggested making the annotation explicit.
If pytype was correctly implemented, I don't think it should interfere with `dataclasses` as `Module` is a `@dataclass_transform` but not a `@dataclass`

Unfortunately I won't have time for a PR. Also submit

[2022-08-29 06:27] mwitiderrick opened #2419 "Custom node type mismatch: expected type: <class 'flax.core.frozen_dict.FrozenDict'>, value: Traced<ShapedArray(float32[256,14,14,3])>with<DynamicJaxprTrace(level=0/1)>."
Trying to implement batch norm, Am I doing something wrong?

[code]

[code]

[2022-08-29 08:37] marcvanzee commented on #2396
Thank you for this very comprehensive FLIP @cgarciae and @bastings, really impressive how much work you put into this and the proposal is extremely detailed.

### Thoughts / Questions

* **explain current API:** Overall, I think it could be useful to briefly explain the current state of our API. We currently have a single `RNNCellBase` and 4 subclasses `LSTMCell`, `OptimizedLSTMCell`, `GRUCell`, a

[2022-08-29 10:47] jheek commented on #2417
Each host compiles the program independently indeed. But correct behavior depends on each host compiling an identical program (same ops and shapes). It might sometimes work if you violate this assumption but it is by not garantueed.

[2022-08-29 11:52] #2274 closed

[2022-08-29 13:40] tflahaul opened #2421 "Unnecessary assert in `merge_param`"
https://github.com/google/flax/blob/14dffa6dbe3419acf4bc9ec9459a426cf61d6079/flax/linen/module.py#L1602

I believe this assert to be unnecessary as the check for `b` when `a` is None has already been done a few lines above.

[2022-08-30 11:31] #2359 closed

[2022-08-30 11:32] #2263 closed

[2022-08-30 17:30] cgarciae commented on #2421
Only reason I see to do this is because the type checker cannot infer `b` is of type `T` without that assert, else I agree that its not logically required.

[2022-08-30 21:45] 8bitmp3 commented on #2396
Thank you @bastings and @cgarciae

![image](https://user-images.githubusercontent.com/19637339/187549191-a39db35b-0134-499c-9958-8d450a9ef3b9.png)

[2022-08-31 10:14] jheek commented on #2179
Closing due to lack of activity, feel free to re-open if necessary

[2022-08-31 10:14] #2179 closed

[2022-09-01 10:23] marcvanzee opened #2428 "Re-introduce pre-Linen JAXPR based lazy init into Linen"
Various internal users have been hit by slowdown due to Linen's initialization logic: in Linen, we initialize a model and then require the user to `jit` it, relying one XLA's Dead Code Elimination logic to optimize this. However, this does not always work and it seem useful to bring back the pre-Linen way of initializing.

[2022-09-01 12:51] jheek commented on #2396
Thanks for writing this up!

Some thoughts:
- Could you add the benchmark so we can decide whether the pre-computed mask is worth the added complexity (compared to using split_rngs={"dropout": False})
- Please also consider making the carry a proper linnen variable. This would bring cells more in line with the rest of Flax because now carry acts as a manually tracked variable
- I wonder if we can

[2022-09-01 12:58] jheek commented on #2421
Indeed, if I recall correctly this was required for type inference with pytype. I'll close this for now as the assert itself doesn't hurt.

[2022-09-01 12:58] #2421 closed

[2022-09-01 14:51] ppwwyyxx commented on #2417
Fair enough, I'll close this then!

[2022-09-01 14:51] #2417 closed

[2022-09-04 09:56] mwitiderrick opened #2431 "pmap got inconsistent sizes for array axes to be mapped:"
What am I doing wrong here?

[code]

[code]

[2022-09-05 09:22] PhilipVinc opened #2433 "Support serialization for `jax.tree_util.Partial`"
`jax.tree_util.Partial` is a PyTree-aware version of `functors.partial` whose leaves (args and keyword args) are arrays.

Therefore, I believe it makes sense to make it `serialization`-aware. This allows to use `Partial` inside of structures that we use for checkpointing.
The definition would be as simple as the following:

[code]

Would you accept this to be contributed?

[2022-09-05 09:34] jheek commented on #2433
Looks like a nice improvement to me. Feel free to make a PR.

[2022-09-05 11:23] jheek opened #2434 "FLIP: Generalized metadata"
WIP

[2022-09-05 12:03] jheek commented on #735
We now have jvp and vjp which are general enough to support all gradient computations (jacfwd, jacref, grad, hessian, etc..)

[2022-09-05 13:30] #2300 closed

[2022-09-05 13:36] marcvanzee commented on #2416
We currently aren't enforcing pytype, which is something we should probably do!

As for this change, I think adding explicit dataclass attributes to Module could lead to problems, since the way we set up Modules attributes is a bit complex.

@levskaya: you probably has the most context here, do you think it is safe to continue with this change?

[2022-09-05 13:39] jheek commented on #1755
Closing because dtype behavior is now consistent since dropping the default float32 dtype

[2022-09-05 13:39] #1755 closed

[2022-09-05 13:41] #915 closed

[2022-09-05 13:42] jheek commented on #1620
Closing due to lack of activity

[2022-09-05 17:36] cgarciae commented on #513
Based on @jheek's [comment](https://github.com/google/flax/pull/638#issuecomment-769694245) in #638, how about we do the following:

1. Create a simple `ErrorHandler` dataclass, e.g:

[code]
2. Update `FrozenDict` to have a `_error_handlers` field and add logic to use the handler in a couple of places.
3. Add a `set_error_handlers` method to `FrozenDict` as proposed by @jheek which takes in the ha

[2022-09-05 22:01] cgarciae opened #2436 "serialization.from_bytes not checking shapes of loaded arrays w.r.t. target"
Currently `serialization.from_bytes` checks that all keys in `target` are present the loaded structure and filter out additional keys not present in `target`. However, currently shapes are not checked for consistency between the loaded structure and `target`, such check could be useful for detecting misconfigured Modules early. Could address #2110.

Example:

[code]

[2022-09-05 22:12] cgarciae commented on #2436
A proposal could be to add a `check_shapes: bool = False` argument to `from_bytes` that would optionally make such check fail with a list of paths that shapes don't match, to avoid breaking changes we set the default to `False`.

[2022-09-06 02:04] cgarciae commented on #2431
Hey @mwitiderrick! Its a bit hard to tell from your example but my guess is that the inputs  of `apply_model` have different shapes for their first dimension. See #9933.

[2022-09-06 06:32] Conchylicultor commented on #2416
Just for clarification, I'm not suggesting to make `nn.Module` a dataclass, but just to annotate the dynamic attributes:

[code]

This has NO runtime effect (`A().x` will raise an `AttributeError` unless `x` is initialised in the `__init__` somewhere). However, this is detected by type checkers. This is the official syntax to annotate attributes which are dynamically defined (e.g. through `setattr

[2022-09-06 06:40] marcvanzee commented on #2416
Under the hood, `nn.Module` is already a kind of dataclass (which is why you can define attributes on it like in a dataclass). Annotating the dynamic attributes as you suggest will likely have an affect on when these attributes are set on the Module, and that may or may not give problems in our Module initialization logic. I am just not sure if this is safe to do.

My suggestion would be to just t

[2022-09-06 08:49] marcvanzee commented on #2416
Related issue: #1816

[2022-09-06 10:42] marcvanzee commented on #573
Unassigning myself and adding "pull requests welcome"

[2022-09-06 10:43] #1205 closed

[2022-09-06 12:50] marcvanzee commented on #527
Closing this since #2111 is submitted. @andsteing please re-open if you think this is incorrect.

[2022-09-06 12:50] #527 closed

[2022-09-06 12:52] marcvanzee commented on #528
Closing this due to inactivity and since we aren't adding many new examples. I think @andsteing has done great work to harmonize our examples already.

@jheek please re-open if you think I am wrong.

[2022-09-06 12:52] #528 closed

[2022-09-06 12:59] marcvanzee commented on #709
@jheek is this something we are still planning on doing?

[2022-09-06 13:01] marcvanzee commented on #745
The JAX team is currently investing a lot into profiling and debugging. We should wait with a Colab until they have finished and see how we can add any value.

[2022-09-06 13:01] #745 closed

[2022-09-06 13:02] marcvanzee commented on #867
Closing this since Anselm write a guide (see comment Avital above).

[2022-09-06 13:02] #867 closed

[2022-09-06 13:04] marcvanzee commented on #1019
Closing this since @cgarciae has written [Module.tabulate](https://flax.readthedocs.io/en/latest/api_reference/flax.linen.html?highlight=tabulate#flax.linen.Module.tabulate), please check it out!

[2022-09-06 13:04] #1019 closed

[2022-09-06 13:05] jheek commented on #709
I'll close this for now, users can already "prefetch" something to a single device using `jax.device_put`. The use case seems somewhat niche and prefetching is mostly handled automatically or manually through JAX APIs these days.

[2022-09-06 13:05] #709 closed

[2022-09-06 13:12] marcvanzee commented on #1227
I don't understand this issue actually. @andsteing and @jheek, you both seem to agree that appending is the intended behavior, and the docstring is pretty clear about this as well. To me it also doesn't seem wrong to append the intermediate values if existing ones are found, I can imagine users might want to see the history of all intermediates.

So given that we all agree with this, what is the i

[2022-09-06 13:15] marcvanzee commented on #1422
Closing this due to inactivity.

[2022-09-06 13:15] marcvanzee commented on #1473
Closing this then!

[2022-09-06 13:15] #1473 closed

[2022-09-06 13:24] marcvanzee commented on #1503
Hello @manifest, many apologies for not replying to this, I suppose it got burried!

* Your `Checkpoint` abstraction seems very useful, and in fact @andsteing implemented something similar called `TrainState`, which we now use in all of our examples.
* Your abstractions `TrainLoop` and `EvalLoop` really go against the [Flax Philosophy](https://flax.readthedocs.io/en/latest/advanced_topics/philosop

[2022-09-06 13:25] marcvanzee commented on #1520
Thanks for the feedback @rongcuid, I have renamed this issue to clarify that we should improve the documentation of causal mask.

[2022-09-06 13:27] marcvanzee commented on #1567
@cgarciae who is working on a transfer learning example

[2022-09-06 13:27] andsteing commented on #1227
oh I think I should have closed this after #1228

[2022-09-06 13:27] #1227 closed

[2022-09-06 13:28] marcvanzee commented on #1676
Closing this after @cgarciae 's awesome improvements to RTD!! 🎉

[2022-09-06 13:29] marcvanzee commented on #1677
Assigning this to @cgarciae since he proposed the RNN Flip in #2396

[2022-09-06 13:32] marcvanzee commented on #1991
Closing this since we should probably use more specific issues instead.

[2022-09-06 13:32] #1991 closed

[2022-09-06 13:39] marcvanzee commented on #2031
Closing this since gradient accumulation can be done in Optax, and we should not explain how to use Optax in Flax. @jheek

[2022-09-06 13:39] #2031 closed

[2022-09-06 13:45] marcvanzee commented on #1677
Duplicate of #2170

[2022-09-06 13:45] #1677 closed

[2022-09-06 13:49] #2331 closed

[2022-09-06 13:50] marcvanzee commented on #2400
I agree with @cgarciae, we already have a Resnet, and having more specific Resnet is something that fits better in dedicated libraries. We are always happy to link to examples of course!

[2022-09-06 15:33] #1503 closed

[2022-09-06 17:51] cgarciae commented on #1014
I'd like to take this issue. A simple solution would be to customize the current error message to suggest calling `apply` if `self.scope is None`. I'll create a PR as this is a rather simple fix, if we want to tackle it a different way we can discuss there.

[2022-09-06 21:11] cgarciae commented on #667
### Update
Currently @avital's example does not work:
[code]
You now get the following error:
[code]
This behaviour is documented in [The Module lifecycle guide](https://flax.readthedocs.io/en/latest/advanced_topics/module_lifecycle.html#setup).

### Proposal
Wondering if recommending the use of `bind` for this use-case might be a better solution, even a bind with empty variables could work:

[cod

[2022-09-07 00:38] aldopareja opened #2443 "bug while fitting a multivariate normal"
I'm trying to fit a multivariate normal and it's not working. This should be trivial since I'm initializing at the optimum.

[code]

This is the output I'm getting:

[code]

weird enough, when printing the loss output of the found parameters and the optimal parameters it clearly shows that the optimal are better, but somehow the printed loss is different. What could be the problem?

[code]
[code]

[2022-09-07 00:40] aldopareja commented on #2443
sorry I had a bug in the code.

[2022-09-07 00:40] #2443 closed

[2022-09-07 03:58] fecet opened #2445 "Async save checkpoints not working"
I tried a few ways to try the `async_manager` future, however all of them seems not work and my task still block as usual, here is my minimal example
[code]

[2022-09-07 17:07] cgarciae commented on #2416
Tested adding adding annotations to `scope` and `name` in #2447 see [diff](https://github.com/google/flax/pull/2447/files).

**Good news** is that "it works" for python, Flax is reorders and remove these from the constructor successfully, all `pytest` tests pass. **Bad news** is that static analyzers are not happy about this as they now expect additional constructor arguments from the parent class

[2022-09-07 21:20] cgarciae commented on #1409
I was playing around with mixins to see how they interact with `Module`.  Following case works:

[code]
However, passing `setup` to `Mixin` fails:
[code]
This is again fixed if `Mixin` is passed to the front:
[code]
Also, you cannot define `compact` methods on mixins (this is probably expected?):
[code]
### Discussion
Based on these experiments the only insight I see is: don't define scope-depende

[2022-09-08 04:22] dslisleedh opened #2448 "Adding "count_include_pad" options to AvgPool layer"
as metioned in https://github.com/google/flax/issues/2401
Flax's pool layer divide window sum result including padded token but does not provide Pytorch options such as "count include pad".

However, since I needed this function to implement Poolformer(https://arxiv.org/abs/2111.11418) with flax, I made it myself. Hope this helps.

    class AvgPool2D(nn.Module):
        pool_window: int = 3

[2022-09-08 09:21] Conchylicultor commented on #2416
This seems to be a pylance bug I think.

Does the following also raise error ?:

[code]

Only `B` should be a `dataclass-like`, not `A` so only `B.__annotations__` should be added in `__init__`. This is similar to:

[code]

[2022-09-08 14:21] cgarciae commented on #2416
Thanks @Conchylicultor for posting this in the pylance repo! I don't have any insights into how pylance operates but I wonder if they can handle Flax-like use-cases where the dataclass field definitions are programmatically modified before creating the dataclass, take a look at the `_customized_dataclass_transform` classmethod that is called inside `__init_subclass__`:

https://github.com/google/f

[2022-09-08 14:32] cgarciae commented on #2445
Hey I simplified you example and could not find any errors:

[code]
Can you try to pin-point the error you are observing?

[2022-09-08 15:45] cgarciae commented on #2448
Hey @dslisleedh, additive pooling over 1s with 0-padding does seem like an easy way to create the counts, while there is probably a more efficient way to generate this "counts mask", we could probably use this implementation as a starting point. Curious what @marcvanzee and @jheek think about this?

[2022-09-08 21:05] cgarciae commented on #2445
I did ran very basic bechmark to find the impact of using `async_manager`.

<details><summary>Code</summary>

[code]
</details>

Using `async_manager` it takes **~3.5s** and without it it takes **~4s**, you will probably se more gains if heavier models. However, if you run `save_checkpoint` calls with `async_manager` consecutively you will not see any gains because as its stated in the docs:

[2022-09-08 21:38] cgarciae commented on #1685
Related to #513 and #1014.

[2022-09-08 22:12] cgarciae commented on #1386
I'll look into this. I'll document the signature for each and clarify that `bias_initializer`s don't work with the `variance_scaling` family.

[2022-09-09 06:07] marcvanzee commented on #2448
Thanks for proposing this @dslisleedh! I think this a good solution, it is exactly what I had in mind as well. Doing it more efficiently will most likely become quite complex so I recommend using this implementation and counting on XLA to do some optimizations for us if possible.

[2022-09-09 06:07] marcvanzee commented on #2448
@dslisleedh do you want to file a PR?

[2022-09-09 07:53] dslisleedh commented on #2448
Sure! Thank you for considering my suggestion and editing my comment to make it more readable. I'll make my request soon

[2022-09-09 13:32] #656 closed

[2022-09-10 04:56] lucaslingle opened #2452 "flax.linen.remat with concrete=True doesn't work with jax 0.3.17"
### Problem you have encountered:

This may already be on the Flax team's radar, but I noticed that when using flax.linen.remat, setting concrete=True doesn't work with Jax 0.3.17, for the reasons discussed [here](https://jax.readthedocs.io/en/latest/jep/11830-new-remat-checkpoint.html).

As of version 0.6.0: flax.linen.remat
(1) passes the argument ```concrete=True``` to ```jax.remat```, which le

[2022-09-10 17:28] muhd-umer opened #2453 "Distributed training on Cloud TPUs stuck at 0%"
Hi!
So, I've encountered this disordered state of training where it just would not go past 0%, despite waiting an hour. I used the exact training script with CPU/GPU and on both of these runtimes, the training started almost immediately. I more or less followed all of the ImageNet training example and am unable to pinpoint the root cause of this issue.
[code]

Below are the training and test steps

[2022-09-12 18:23] sudo-michael opened #2456 "Tensorflow Required Dependancy For Saving Checkpoint?"
Hi,

I tried following the example in https://github.com/google/flax/discussions/1876#discussioncomment-2143866 and ran into an ModuleNotFoundError. I was able to fix it by install tensorflow, but was wondering if tensorflow should be a required dependancy.

### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Flax, jax, jaxlib versions (obtain with `pip show flax ja

[2022-09-12 19:00] cgarciae commented on #2452
Hey @lucaslingle, thanks for bringing this up! I've opened #2457 with a fix for this.

[2022-09-13 20:02] cgarciae commented on #2456
There is work in progress to remove TensorFlow as a dependency in #2073 and #2444.
This should be solved in the future.

[2022-09-13 20:02] cgarciae commented on #2456
There is work in progress to remove TensorFlow as a dependency in #2073 and #2444.
This should be solved in the future.

[2022-09-14 13:00] NightMachinery opened #2463 "[Accessibility] Enable EPUB output on ReadTheDocs"
Currently there is only HTML output [enabled](https://readthedocs.org/projects/flax/downloads/). It would be great if EPUB and PDF could also be enabled.

[2022-09-14 15:25] cgarciae opened #2464 "Add tests for pooling.py"
We currently don't have any unit tests for `pooling.py`, we should add some as it makes harder to integrate new changes with confidence (e.g. #2451).

[2022-09-14 17:47] rsokl opened #2467 "Docs: Bug in Managing Parameters and State example"
On this page: https://flax.readthedocs.io/en/latest/guides/state_params.html#managing-parameters-and-state

I believe the `update_step` function (second code block on the page) should return `opt_state, params, updated_state`, instead of `opt_state, params, state`

[2022-09-14 20:03] #2452 closed

[2022-09-19 15:31] cgarciae commented on #2467
Thanks for pointing this out @rsokl! I've created #2473 with a fix.

[2022-09-19 16:38] cgarciae commented on #2464
Tests for `pooling.py` exist in `test_linen.py` under `TestPool`.

[2022-09-19 16:38] #2464 closed

[2022-09-19 18:24] #2467 closed

[2022-09-19 20:08] cgarciae opened #2474 "from_state_dict is too lenient"
I was checking #1261 and found this pattern:
[code]
However setting `target` to a regular `Module` subclass type in `from_bytes` just results in no checks being performed as state is returned as is for unregistered types:

https://github.com/google/flax/blob/6fd24460e88c833fa481228582937c692e9c182c/flax/serialization.py#L63-L64

Using an unregistered type just gives a false sense of security that

[2022-09-19 21:48] cgarciae commented on #2416
Current situation is:
* If we add the `typing.TYPE_CHECKING` around `__getattr__` then pytype will be unhappy about `scope`, `name`, and `parent`.
* If we add `scope`, `name`, and `parent` as type annotations to make pytype happy then IDEs (pylance) will be unhappy and user experience will be a nightmare.

Maybe we just keep it as is? Not ideal but the fix sounds worse.

[2022-09-19 22:54] #2156 closed

[2022-09-20 00:15] IvyZX commented on #2341
The original Tensorstore issue mentioned that arm64 should be supported now:

Alex @AlexIoannides , could you help us by running `pip install tensorstore` on Python 3.9 or greater and see if it works on your M1 now? Thank you!

[2022-09-20 08:52] Conchylicultor commented on #2416
Solution (1): What about my suggested solution from: https://github.com/google/flax/issues/2416#issuecomment-1240489780

[code]

This will work with both `pylance` and `pytype`.

Solution (2): This can be fixed if we made the dataclass keyword-only: `dataclass_transform(kw_only_default=True)`. This would be solution.
But otherwise, solution (1) would work without this change.

[2022-09-20 09:35] AlexIoannides commented on #2341
That works perfectly - thank you all 🙏🏽
<img width="947" alt="image" src="https://user-images.githubusercontent.com/5968486/191223490-d72951d2-c4d0-4f50-8a0f-4b823cb3249f.png">

[2022-09-20 12:13] jheek commented on #2474
Agree

[2022-09-20 15:39] #1014 closed

[2022-09-22 22:49] cgarciae commented on #2474
cc @patrickvonplaten

[2022-09-23 16:01] cgarciae opened #2478 "unbind API"
As suggested in https://github.com/google/flax/pull/2394#discussion_r978744557, its currently not clear for users that `clone` produces an unbounded copy of the module. To get hold of a submodule and its variables you currently have to use this pattern:

[code]
The new proposed `.unbind()` method provide more clarity on how to do this process:

[code]
Signature could be:
[code]

cc @jheek

[2022-09-23 18:02] ppwwyyxx opened #2479 "Unhelpful error message and a limitation of __post_init__"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  colab
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`:  latest head
- Python version: 3.9
- GPU/TPU model and memory:  TPU
- CUDA version (if applicable):

## Problem 1
My module has an attribute computed from another attribute. The below works:
[code]
However, if I remove `super().__post_init__

[2022-09-28 14:25] LeonhardFeiner commented on #735
@jheek I don't agree on the generality of jvp and vjp.
In my opinion, it is not possible to retrieve the square of the jacobian and multiply it with another vector, is it?

Here's a dummy calculation (without using flax) for that:
[code]
I think neither jvp nor vjp can be used instead of jacrev for this.
This is the case for every non-affine transformation of the jacobian.

[2022-09-29 23:44] zhangqiaorjc opened #2493 "nn.Sequential causes persistent GPU arrays across loop iterations"
A JAX GPU user reported seeing GPU OOM with a simple program that uses nn.Sequential in https://github.com/google/jax/issues/12575

If the repro doesn't use `model = nn.Sequential([nn.Dense(50)]` and does `model = nn.Dense(50)`, then the OOM goes away, and debugging info shows that persistent GPU arrays are gone as well.

nn.Sequential is quite simple, it's unclear what's holding onto the python r

[2022-09-29 23:44] zhangqiaorjc commented on #2493
@levskaya

[2022-10-01 23:24] zhangqiaorjc commented on #2493
@mattjj and I discovered that this `_caches` is leaking references.

https://github.com/google/flax/blob/main/flax/linen/module.py#L510-L511

cc @jheek as well

[2022-10-04 02:43] levskaya commented on #2493
closing for now - but we can re-open if this hasn't fixed the original memory issue.

[2022-10-04 02:43] #2493 closed

[2022-10-04 17:59] melsophos opened #2502 "Complex batch normalization"
I would be interested to see an implementation of batch normalization for complex neural networks, as defined in section 3.5 of [arXiv:1705.09792](https://arxiv.org/abs/1705.09792).

The paper argues that the usual batch normalization does not work for complex numbers. Naive use in Flax confirms this, since parameters are of type float32 (and I get various bugs which prevented me to make it work).

[2022-10-04 19:01] lucaslingle opened #2504 "Flax readthedocs website doesn't have any docs for ```save_checkpoint_multiprocess```."
The Flax readthedocs website references ```flax.training.checkpoints.save_checkpoint_multiprocess``` in the docs for ```flax.training.checkpoints.save_checkpoint```, and it appears in the source code linked by the readthedocs website, complete with a docstring.

However, Flax readthedocs website [doesn't](https://flax.readthedocs.io/en/latest/api_reference/flax.training.html) [have](https://flax.r

[2022-10-04 21:55] cgarciae commented on #2474
Proved more complex than expected to try to fix `from_state_dict` it feels as if there are two possible versions for this function, one which is lenient and is used extensively through the code base to check structures, another one which could be made more strict and could be targeted towards adding safety for end users when de-serializing. There is no easy way to reconcile both modes without sign

[2022-10-04 21:55] #2474 closed

[2022-10-05 12:29] cmoyacal opened #2506 "Error with save_checkpoint"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- OS: Ubuntu
- Flax version: 0.6.1
- Jax version: 0.3.17
- jaxlib version:  0.3.15+cuda11.cudnn805
- Python version: 3.7.14

### Problem you have encount

[2022-10-06 02:57] lucaslingle opened #2508 "GCS-related error during deletion of old checkpoints with save_checkpoint"
### System information
- OS Platform and Distribution: ```TPU VM```.
- Flax, jax, jaxlib versions: ```flax==0.6.1, jax==0.3.21, jaxlib==0.3.20```
- Python version: ```3.8.10```
- GPU/TPU model and memory: ```TPU v3-8```
- CUDA version (if applicable): ```N/A```

### Problem you have encountered:

When running ```flax.training.checkpoints.save_checkpoint```, I am encountering an error when flax att

[2022-10-06 03:03] lucaslingle commented on #2506
You can upgrade jax to 0.3.18 or newer, and the error should resolve itself!

The jax.Array type was introduced in that version, see https://jax.readthedocs.io/en/latest/changelog.html

[2022-10-06 16:33] cgarciae commented on #2506
This is correct, `jax` recently deprecated some APIs and created new ones, please upgrade to the latest version of `jax` and `flax`.

[2022-10-06 16:34] cgarciae commented on #2506
Closing the issue assuming this assessment is correct, but feel free to reopen it if you continue to face the problem.

[2022-10-06 16:34] #2506 closed

[2022-10-07 00:54] cgarciae opened #2512 "Add perturb example to the capture_intermediate guide"
Add an "Extracting gradients of intermediate values" section at the end of [Extracting intermediate values](https://flax.readthedocs.io/en/latest/guides/extracting_intermediates.html).

[2022-10-07 09:48] jheek commented on #2502
By default parameters are in float32 you can add a complex shift & scale by using `param_dtype=jnp.complex64`.
Perhaps you could elaborate what other issues you ran into?

[2022-10-10 13:58] coddiw0mple commented on #2463
Mind if I do it? It's a really small fix, just gotta add
[code]
To the .readthedocs.yml under `formats:`

[2022-10-10 14:00] #667 closed

[2022-10-10 20:49] #2463 closed

[2022-10-10 21:55] #2332 closed

[2022-10-10 23:35] #2508 closed

[2022-10-11 01:00] IvyZX commented on #2504
Great catch! Making https://github.com/google/flax/pull/2519 now.

[2022-10-11 17:05] #2504 closed

[2022-10-12 20:26] levskaya opened #2528 "Improve error message when calling `init` or `apply` on a module class instead of a module object."
A common mistake I see (and do myself frequently) is:
[code]

We could improve the error message here, instead of allowing the first argument to be treated as `self` accidentally, leading to a pretty mysterious error currently.

[2022-10-13 08:22] Conchylicultor commented on #2416
For update, it seems this has been fixed in pylance side: https://github.com/microsoft/pylance-release/issues/3304#issuecomment-1270549408

So when the new version is released and enough people have upgraded to the new version, the hack from https://github.com/google/flax/issues/2416#issuecomment-1252042926 could be removed.

[2022-10-14 14:03] deadsoul44 opened #2532 "mnist example flatten"
https://github.com/google/flax/blob/13fbace57ab3e1600aa3f8a2d596443c373f283d/examples/mnist/train.py#L47

The line above claims to flatten the array but it does nothing.
[code]
Forgive me if I am missing something very obvious.

[2022-10-14 17:38] cgarciae commented on #525
@levskaya should we close this issue?

[2022-10-14 22:00] #2528 closed

[2022-10-15 22:07] lucaslingle opened #2537 "AttributeError isn't raised correctly from properties of linen modules"
### System information
- OS Platform and Distribution: ```Any```
- Flax, jax, jaxlib versions ```flax==0.6.1, jax==0.3.23, jaxlib==0.3.22```
- Python version: ```3.10```
- GPU/TPU model and memory: ```N/A```
- CUDA version (if applicable): ```N/A```

### Problem you have encountered:
Linen modules do not seem to report ```AttributeError```s correctly for non-existent attributes accessed by propert

[2022-10-16 09:57] dslisleedh opened #2538 "Dropout should be fixed"
Described in PR: https://github.com/google/flax/pull/2510

versions:
flax: 0.6.1
jax: 0.3.16
jaxlib: 0.3.14

Dropout with rate 1. means not to update related layers. So when validate model, dropout with rate 1. must return output calculated by initialized weights not zero matrix. Pytorch's dropout layer opterated like said.

OR at least limits rate ragne to [0, 1) like Tensorflow.

    ValueError:

[2022-10-17 17:01] cgarciae commented on #2512
Fixed in #2515.

[2022-10-17 17:01] #2512 closed

[2022-10-17 17:21] cgarciae commented on #2537
@lucaslingle thanks for reporting this. Its not that we are not reporting an AttributeError for the incorrect attribute, it seems that we currently don't support properties at all. I'll look into this.

[2022-10-17 19:46] cgarciae commented on #2537
Update, after some digging, it seems this error will happen with any code that has the following properties:
* Class implements `__getattr__`
* The `property` raises a `AttributeError`

We will look a way to wrap properties to catch this attribute error an launch a custom error.

[2022-10-18 07:15] levskaya commented on #2479
re "Problem 1" we've added some clearer errors in #2535
"Problem 2" is considerably trickier to solve in general - unless we decided to basically create a new "pre-post-init" "hook" function that we'd direct people to override - much as you've done here.

[2022-10-18 08:25] zhywanna opened #2542 "An error happened but i just import checkpoints"
### System information
- OS Platform and Distribution:Linux Ubuntu
- Flax=0.6.1, jax=0.3.23, jaxlib=0.3.15 tensorflow=2.10.0
- Python version:3.8.8
- GPU/TPU model and memory: Quadro RTX 8000
- CUDA version (if applicable): 10.1

### Logs, error messages, etc:
![image](https://user-images.githubusercontent.com/47680024/196376527-5663f7b1-359b-446b-9de8-645b55e7fc77.png)

Is there any version miss

[2022-10-18 08:41] jheek commented on #2542
It looks like there is a version mismatch between NumPy and TensorFlow. Could you update NumPy and see if it works?

[2022-10-18 09:04] zhywanna commented on #2542
I solved it by `upgrade numpy to 1.23.4 and downgrade tensorflow to 2.9.2`. Thanks!

[2022-10-18 09:06] ppwwyyxx commented on #2479
Thanks for addressing it!

Yeah I don't have any concrete suggestions about Problem2 either.  I guess it's just an inflexibility of inheritance in general - subclasses can customize the overrided function, but cannot easily control when/where is called.

Closing this since `__do_post_init` seems like the best thing we can do.

[2022-10-18 09:06] #2479 closed

[2022-10-18 09:07] #2542 closed

[2022-10-18 12:28] dslisleedh opened #2543 "Dropout should be fixed"
Described in PR: https://github.com/google/flax/pull/2510

versions:
flax: 0.6.1
jax: 0.3.16
jaxlib: 0.3.14

Dropout with rate 1. means not to update related layers. So when validate model, dropout with rate 1. must return output calculated by initialized weights not zero matrix. Pytorch's dropout layer works like I said.

OR at least limit rate range in [0, 1) like Tensorflow.

    ValueError: Ex

[2022-10-18 15:19] #2194 closed

[2022-10-19 00:25] levskaya commented on #2401
I'm going to close this since the changes in #2448 seem to address the main point, feel free to reopen.

[2022-10-19 00:25] #2401 closed

[2022-10-19 05:21] #2543 closed

[2022-10-20 10:39] Gurvan opened #2547 "DynamicScale goes to infinity"
### System information
- OS Platform and Distribution: Linux 5.15.74-3-MANJARO
- Flax, jax, jaxlib versions: flax 0.6.0, jax 0.3.21, jaxlib 0.3.20+cuda11.cudnn82
- Python version: 3.10.4
- GPU/TPU model and memory: NVIDIA RTX 2060 Super 8GB
- CUDA version (if applicable): cuda11, cudnn82

### Problem you have encountered:
I adapted the gradient scaling code of the imagenet example in order to use

[2022-10-20 12:04] jheek commented on #2547
I think we should add an upper bound indeed, are you sure you are really computing in fp16? I'm a bit surprised that this is something you can actually hit in practice

[2022-10-20 17:08] cgarciae commented on #2286
We tried to reproduce some this issue but since no instructions where provided we tested with this setup:

[code]
[code]
We did find an issue that is being addressed in #2548 but its not the same as originally reported, after that was fixed no other issue was found. I'll be closing this issue for now as I didn't find anything. Feel free to re-open it if the issue is still there.

[2022-10-20 20:54] Gurvan commented on #2547
The model parameters are float16, the model inputs are int16 and I accumulate the loss in float32. Now that I think about it, since the loss is accumulated as float32, the grads are float32 (which probably explains why they don't become NaNs). Does it mean that all the backward pass is done in float32?

[2022-10-20 22:11] Gurvan commented on #2547
After checking more extensively, I figured out that part of my model inputs were actually float32. After fixing it the training is about twice as fast, so I wasn't computing in fp16 after all! Thank you for pointing it out.

In any case, it still might be useful to make sure that the scale never goes to infinity.

[2022-10-21 08:17] n-gao commented on #2286
@cgarciae Thanks for looking into this. After playing around a bit I noticed that the error is due to `nn.compact`. Here's an example to reproduce the issue:

[code]
[code]

Output:
[code]

[2022-10-24 14:05] #2547 closed

[2022-10-24 18:14] samuela opened #2554 "Test suite failures: `AttributeError: module 'jax.test_util' has no attribute 'check_eq'`"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: jax 0.3.23, jaxlib 0.3.22, flax 0.6.1
- Python version: 3.10.7
- GPU/TPU model and memory: n/a
- CUDA version (if applicable): n/a

### Problem you have encountered:
The test suite has failures, presumably due to updates in JAX.

### What you expec

[2022-10-25 20:50] cgarciae commented on #2554
Hey @samuela, the tests you are running are outdated somehow, the latest `checkpoints_test.py` defines `check_eq` at the top of the file instead of importing it:

https://github.com/google/flax/blob/3747c8775c49ff524138c5e209b5280a8a605c13/tests/checkpoints_test.py#L40-L42

[2022-10-25 21:06] samuela commented on #2554
Ah interesting... Maybe it's fixed on master but not on the 0.6.1 tag? Otherwise... I dunno haha

[2022-10-25 23:53] samuela commented on #2554
Ok, yeah `def check_eq` is not defined in the v0.6.1 version, but it appears it has been added since that release. looks like it was fixed in https://github.com/google/flax/commit/e0de630df68fcb78e11ab1b1da7bdd1f4ecfc35d

[2022-10-27 15:02] cgarciae commented on #2554
If possible test with `main`, releases can get outdated wrt tests very quickly.

[2022-10-27 22:31] wookayin commented on #2456
On Sep 16, d9e6e44b545b7805ab827be499b2afa689f7e673 (v0.6.1) has the tensorflow dependency. Just commenting that neither #2073 and #2444 (although not complete yet) is aware of this change, so we look forward to have the tensorflow dependency removed.

I can also provide a help by writing some PRs; it would be great to systemically prevent such accidental use of `tensorflo` (in setup.py).

[2022-10-27 23:49] 8bitmp3 commented on #2456
@sudo-michael @wookayin Check out the new Checkpointing guide by @IvyZX

https://github.com/google/flax/blob/main/docs/guides/use_checkpointing.ipynb

[2022-10-31 20:19] #2554 closed

[2022-11-02 09:36] mathisgerdes opened #2577 "Transpose convolution matching convolution with given kernel parameters"
In the current implementation, it appears to be quite challenging to compute the transpose convolution that actually corresponds to the *transpose* of a convolution *with given kernel weights*, at least when `padding='CIRCULAR'`.

In most cases, one can already achieve this by manually changing the kernel weights (flipping spacial dimensions and swapping channel axes for the kernel weights). This

[2022-11-02 18:31] gianlucadetommaso opened #2580 "Wrong output for flax.linen.Conv + jax.pure_callback in jit-ed function on GPU"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`:
    flax =

[2022-11-03 17:51] cgarciae commented on #2580
Hey @gianlucadetommaso, I tested you code and played a little with it: if you comment out `nn.Dense` you get very similar (but not exact) results, if you comment out `nn.Conv` you get identical results. As far as I know we don't do any interpreter magic inside `Conv`, I have a feeling this is a JAX issue. Can you try running `lax.conv_general_dilated` followed by a `jnp.dot` directly?

[2022-11-04 07:12] levskaya commented on #2580
Late to the party, I had made a pure jax repro:
[code]

The latter error confused me - aren't we supposed to be able to trace through a pure_callback?

[2022-11-05 07:42] h-terao opened #2590 "Pooling operations should support inputs with multiple batch dimensions."
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 22.04 (anaconda)
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`:

[2022-11-08 14:11] #2580 closed

[2022-11-08 15:45] cgarciae commented on #2184
Solved by #2458 which created a matrix that splits up tests into `doctest`, `pytest`, and `pytype`.

[2022-11-08 15:45] #2184 closed, assigned to cgarciae

[2022-11-09 11:13] cgarciae opened #2597 "Improve documentation for tabulate's console_kwargs"
As suggested by a user on [Twitter](https://twitter.com/nipun_batra/status/1590198081660026880), it would be useful to showcase how to configure `rich.console.Console` via `tabulate`'s `console_kwargs`.

[2022-11-10 01:19] jenkspt opened #2600 "Error checkpointing model after training for a while on TPU v3-32"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- TPU Version: `tpu-vm-base`
- TPU model: v3-32

### Problem you have encountered:
using `flax.checkpoints.save_checkpoint` with `keep=6` I save a checkp

[2022-11-11 13:12] deadsoul44 opened #2605 "cannot import name 'dataclass_transform' from 'typing_extensions' while using TPU"
### System information
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux 524ec3303516 5.15.65+ https://github.com/tensorflow/tensorflow/issues/1 SMP Thu Nov 10 10:13:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- Flax, jax, jaxlib versions (obtain with `pip show flax jax jaxlib`: flax -> 0.6.1, jax & jaxlib -> 0.3.24
- Python version: 3.7.12
- GPU/TPU model and memory: TPU v3-8 (kaggl

[2022-11-11 14:49] cgarciae commented on #2605
Hey @deadsoul44, I did get your error by running
[code]
followed by
[code]
However, just clicking on `Restart & clear all outputs` fixed it, I was able run `import flax` without errors.

[2022-11-12 01:22] IvyZX commented on #2600
This should be fixed by https://github.com/google/flax/pull/2518, which was not released yet. We probably should release another round...

Would you like to try installing Flax from head and see if this problem goes away? Just to make sure the PR solves your issue.

[2022-11-12 01:29] IvyZX opened #2606 "BatchNorm should ignore self.axis_name when not running under `pmap`"
Currently user need to pass `axis_name=None` when not running under pmap, otherwise BatchNorm will throw error. Ignoring it automatically when such axis is not available (i.e. not under pmap) will relieve user from the hassle.

[2022-11-12 09:23] deadsoul44 commented on #2605
Hi, thanks for the workaround. But it is not useful when saving and running the Kaggle notebook.

[2022-11-12 15:11] cgarciae commented on #2606
What if users have a typo and this is silently ignored?

[2022-11-12 15:14] cgarciae commented on #2605
Not sure exactly what causes this error but it has nothing to do with Flax per se, try reporting this to the Kaggle team.

[2022-11-12 15:45] deadsoul44 commented on #2605
Thanks a lot. I opened an issue in Kaggle repo. You can close this one if you think it is not related to Flax.

[2022-11-12 18:58] jenkspt commented on #2600
Sure! I'll give it a try.

[2022-11-12 22:05] #2605 closed

[2022-11-12 22:18] IvyZX commented on #2606
This is a fair point. We should at least log warning messages when ignoring an axis_name.

I wonder if there are better ways to see if we are inside a pmap - like only ignore the `axis_name` when there's no logical axis available at all. Perhaps I should ask JAX people if this idea makes sense.

[2022-11-14 18:15] cgarciae opened #2609 "Simplify submodule access from top-level Module"
Its common for users to want to get access to a submodule defined in `setup` from the outside, however they soon find out that `.setup` doesn't run upon construction and then they have to figure out how to get access to this. E.g:

[code]
Our current solution as proposed in the [Transfer Learning](https://flax.readthedocs.io/en/latest/guides/transfer_learning.html) guide is to use `nn.apply` with

[2022-11-15 02:53] cgarciae opened #2614 "Tabulate having issues with T5X"
This was reported by Boris offline, will try to get a repro.

[2022-11-15 16:38] cgarciae opened #2618 "nn.scan issues"
Boris feedback:

@levskaya feedback/ideas:

..scan changes the layout of the params in memory - ideally, prearrange in memory. How you run the model vs. how you save the model to disk.
🙂 There’s a doc somewhere in Anselm’s docs 🙂
This is context-dependent.

[2022-11-15 16:59] cgarciae opened #2619 "Show how to launch Flax examples with Vertex"
Improve #2598 to use Vertex. Per @andsteing comment: "can you add the commands to launch the Flax imagenet example fro a specific repo/branch?"

[2022-11-15 20:34] HarrisonWilde commented on #2341
Sorry to necro but thought I'd mention that I am experiencing a similar issue trying to install `tensorstore` in Python 3.11 on an M1 mac:

[code]

[2022-11-15 22:09] cgarciae opened #2620 "Use new CI runners"
Use larger test runners provided by Google. Figure out how to config `build.yaml` to use them.
@levskaya says:

something like "runs on" directive
it's in the docs somewhere but I've forgotten the line

[2022-11-16 13:12] marcvanzee commented on #688
Sure, done!

[2022-11-17 03:57] chiamp opened #2624 "Add explicit warning if flax.io is using default Python I/O operations"
Are native operations really slower than tensorflow?
Maybe worth pointing out that any access to GCS (i.e. "gs://" paths) will fail. Being explicit about this failure mode might also be a good idea inside below functions (e.g. when a program runs fine in one environment, but then crashes in another environment, it might not be obvious to the user that the 2nd invocation has crashed because it was

[2022-11-17 08:29] marcvanzee opened #2627 "Proposal: New RTD content structure"
## Motivation

RTD has really improved a lot of the past half year (thanks a lot @cgarciae and @8bitmp3  -- this was all you!), but there are still a number of things that I think can be improved further.

The main problem is that I think the difference between "Guides", "Advanced Topics" and "Sharp Bit" isn't always very clear.

Some examples:

* "Dealing with module arguments" is in Advanced, bu

[2022-11-17 08:50] andsteing commented on #2627
I think this proposal will lead to a documentation that is much easier to navigate!

Maybe we can find a way to make our examples & the Github discussions also accessible from the documentation?

Users will often be looking for an answer in the documentation, and they might forget to also search the discussions (or even open issues).

Similarly, the examples contain a lot of "flax bites" like info

[2022-11-17 16:05] cgarciae commented on #2627
Love the idea, a first actionable step could be improve the Getting Started section to actually include installation instructions and include some of the information from Flax basics as suggested. Maybe how to use Flax with Google Cloud could be a separate Tutorial? (seems too specific for the Getting Started guide).

[2022-11-17 21:04] cgarciae commented on #2620
Additionally, run `pytype` tests in parallel via bash sub-processes to leverage the additional cores.

[2022-11-18 16:42] #2125 closed

[2022-11-21 01:21] brentyi opened #2636 "`typing.get_type_hints()` broken for linen modules"
Basically the same issue as #1947, but re-surfaced in `flax==0.6.2`.

This breaks:
[code]

This should probably be considered a Python typing design issue; the culprit seems to be [this otherwise valid forward reference](https://github.com/google/flax/blob/3b27a692cf65a48022d4b91c7d6846db74384d12/flax/linen/module.py#L531).

This is easy to work around (by importing `from flax.linen import Module`

[2022-11-21 13:46] marcvanzee commented on #2125
@cgarciae this actually came up during a chat I had today with @gnecula who asked if we are currently testing our notebooks. Could you please add a link to the PR that enables this to this issue? Then we can always find it back easily later on.

[2022-11-21 13:50] cgarciae commented on #2125
This issue was addressed in #2166.

[2022-11-22 15:17] melsophos commented on #2502
Sorry for not getting back to you sooner, I am very busy now and did not find time to make an appropriate explanation. Let me come back to you later.

[2022-11-22 17:59] marcvanzee commented on #2478
How about `unbind()`?

[2022-11-22 18:24] felixchalumeau opened #2648 "Issue with mkdocstrings since recent changes on struct.dataclass"
Hi :wave:

I just wanted to notify that the [recent PR about `struct.dataclass`](https://github.com/google/flax/pull/2505) has an impact on auto-docstrings generation of classes that inherits from PyTreeNode.

### System information
- Linux Ubuntu 18.04:
- Flax version: 0.6.2 (and 0.3.15<=jax, jaxlib<=0.3.25)
- Python version: 3.8.15

### Problem you have encountered:
Recently, our documentation s

[2022-11-23 11:59] marcvanzee commented on #2648
Assigning this to @cgarciae who merged the original PR.

[2022-11-23 12:00] marcvanzee commented on #2648
And apologies for breaking your documentation @felixchalumeau! We'll try fixing this soon.

[2022-11-23 12:13] cgarciae commented on #2648
Will take a look! Another possible culprit is #2468 that recently refactored the dataclass definition process.

[2022-11-23 12:43] marcvanzee opened #2653 "Improve `Module.init()` docstring"
Right now the docstring of [`Module.init()`](https://github.com/google/flax/blob/df7fa7eed9965ab5117a50eee2813b8dc7c90426/flax/linen/module.py#L1351) is very short. It should explain much more and give more examples, including:

* Explain that users can pass both `{"params": rng}` as well as `rng` in case the only RNG used is the one for variable collection `params` (also link to the [Variables](h

[2022-11-23 19:55] cgarciae commented on #2648
Hey @felixchalumeau, I created a very simple project but could not reproduce the error with the current `main` branch:

[code]
[code]
[code]
**Result**
![Screenshot 2022-11-23 at 14-50-48 My Docs](https://user-images.githubusercontent.com/5862228/203634618-b5863593-ec05-49b2-ab35-9426c589d269.png)

Can you try to get a minimal repro? Maybe I am missing something.

[2022-11-23 23:51] cgarciae commented on #1616
@zaxtax @chiamp

[2022-11-24 02:05] chiamp opened #2656 "Mac M1 chip does not support 'float128', 'f16', 'complex256' and 'c32' dtypes"
Mac M1 chip does not support `float128`, `f16`, `complex256` and `c32` dtypes, which are used by the test function `test_numpy_serialization` in `tests/serialization_test.py`

[2022-11-24 18:34] #2636 closed

[2022-11-25 03:41] minqi opened #2660 "nn.scan vs. lax.scan and autograd performance"
I understand the lifted version, `nn.scan`, allows wrapping `LSTMCell` in a new module `LSTM`, which then handles the state required for performing a `scan`-style rollout over a sequence. However, aside from this syntactic benefit, is there any expected performance improvement?

[2022-11-28 10:32] cadama opened #2663 "Error when running lift example"
I am trying to build on the lift example reported [here](https://flax.readthedocs.io/en/latest/advanced_topics/lift.html). In particular the stateful one. Yet when I run the example:

[code]
I get

Traceback (most recent call last):
  File "/Users/cdalmaso/Library/Caches/pypoetry/virtualenvs/multi-task-YYPKsy_k-py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3378, in run_

[2022-11-28 12:31] marcvanzee commented on #2663
If you are new to JAX and Flax, I recommend starting with some beginner material before diving into transforms. The [JAX 101 tutorial](https://jax.readthedocs.io/en/latest/jax-101/index.html) is pretty great, and for Flax we have [Flax basics](https://flax.readthedocs.io/en/latest/guides/flax_basics.html) which is good to start with.

In your case, as the error message says, you should pass the kw

[2022-11-28 12:31] #2663 closed, assigned to nobody

[2022-11-28 12:52] marcvanzee commented on #2627
Yes, good idea!

I am not sure, check out what Pytorch does, I think it is quite neat: https://pytorch.org/get-started/locally/

We could also just link to the [Google Cloud JAX tutorial](https://cloud.google.com/tpu/docs/run-calculation-jax), and possibly use some of Andreas' `launch_gce` script in the future (see #2598).

[2022-11-28 22:40] Noahyt commented on #2341
Same as @HarrisonWilde -- tried specifying `tensorstore==0.1.24` that worked for python 3.9 but this failed with a similar error.

[2022-11-30 01:43] RissyRan opened #2672 "Issue during removing checkpoint on TPU"
Provide as much information as possible. At least, this should include a description of your issue and steps to reproduce the problem. If possible also provide a summary of what steps or workarounds you have already tried.

### System information
- TPU Version: tpu-vm-base
- TPU model: v2-8, v3-8

### Problem you have encountered:
Followed the [instruction](https://github.com/google/flax/tree/main

[2022-11-30 02:26] 8bitmp3 commented on #2653
Add me as a reviewer @zaxtax . We currently have to remind/teach users how to use `init` and `apply` in our notebooks/guides, while referencing the API docs for both (which don't go further i.t.o. explaining). This is a great Issue @marcvanzee .

[2022-11-30 07:07] #2590 closed

[2022-11-30 10:17] marcvanzee commented on #2672
@IvyZX could you please take a look at this?

[2022-11-30 19:30] IvyZX commented on #2672
Thanks for raising the bug. It seems like `io.rmtree` and `io.remove` behaves differently on GCS. I will make a fix today and test it out on gcloud. Meanwhile feel free to use the current official release version (as from `pip install -U flax`).

[2022-11-30 21:50] 8bitmp3 commented on #2627
Thanks @marcvanzee ! As discussed:

**1) Get started** 👍

+1.

**2)  Tutorials** 👍

...with Transfer Learning, etc.

... and maybe include **Advanced tutorials** here?

and inside tutorials:

TODO: For Flax Basics, @8bitmp3 - to prepare one tutorial that replaces several intro notebooks (with an Intro to Linen, Linen `Module`s, Optax optimizers/schedulers/etc, training with `TrainState`, etc.)

**